<%
  content_for(:title, 'Login')
%>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
<% end %>

<div class="page-wrapper auth">
	<div class="page-inner bg-brand-gradient">
		<div class="page-content-wrapper bg-transparent m-0">
			<div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
				<div class="d-flex align-items-center container p-0">

					<div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
						<a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
						<%= image_tag 'smartadmin/logo.png', alt: "#{Rails.configuration.app} WebApp", aria: {roledescription: 'logo'} %>
						<span class="page-logo-text mr-1"><%= Rails.configuration.app_name %></span>
						</a>
					</div>
					<span class="text-white opacity-50 ml-auto mr-2 hidden-sm-down">
						Already a member?
					</span>
					<%= link_to 'Secure Login', page_page_login_path, class: 'btn-link text-white ml-auto ml-sm-0' %>
				</div>
			</div>
			<div class="flex-1" style="background: url('<%= image_path 'smartadmin/svg/pattern-1.svg' %>') no-repeat center bottom fixed; background-size: cover;">
				<div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
					<div class="row">

						<div class="col-xl-12">
							<h2 class="fs-xxl fw-500 mt-4 text-white text-center">
								Thank you registrering! Please check your email.
								<small class="h3 fw-300 mt-3 mb-5 text-white opacity-70 hidden-sm-down">
									We’ve sent a message to <strong><%= Rails.configuration.email %></strong> with a link to activate your account.
								</small>
							</h2>
						</div>

						<div class="col-xl-6 ml-auto mr-auto">
							<div class="card p-4 rounded-plus bg-faded">

								<div class="alert alert-primary text-dark" role="alert">
									<strong>Heads Up!</strong> Due to server maintenance from 9:30GTA to 12GTA, the verification emails could be delayed by up to 10 minutes. 
								</div>

								<a href="javascript:void(0);" class="h4">
									<i class="<%= Rails.configuration.icon_prefix %> fa-chevron-right mr-2"></i> Didn’t get an email?
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
					<%= Rails.configuration.copyright_inverse %>
				</div>
			</div>
		</div>
	</div>
</div>
