<%
  content_for(:title, 'Login')
%>

<div class="page-wrapper auth">
	<div class="page-inner bg-brand-gradient">
		<div class="page-content-wrapper bg-transparent m-0">
			<div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
				<div class="d-flex align-items-center container p-0">

					<div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
						<a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
						<%= image_tag 'smartadmin/logo.png', alt: "#{Rails.configuration.app} WebApp", aria: {roledescription: 'logo'} %>
						<span class="page-logo-text mr-1"><%= Rails.configuration.app_name %></span>
						</a>
					</div>
					<span class="text-white opacity-50 ml-auto mr-2 hidden-sm-down">
						Already a member?
					</span>
					<%= link_to 'Secure Login', page_page_login_path, class: 'btn-link text-white ml-auto ml-sm-0' %>
				</div>
			</div>
			<div class="flex-1" style="background: url('<%= image_path 'smartadmin/svg/pattern-1.svg' %>') no-repeat center bottom fixed; background-size: cover;">
				<div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
					<div class="row">

						<div class="col-xl-12">
							<h2 class="fs-xxl fw-500 mt-4 text-white text-center">
								"My dog ate my password"
								<small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
								Not a problem, happens to the best of us. Just use the form below to reset it!
								</small>
							</h2>
						</div>

						<div class="col-xl-6 ml-auto mr-auto">
							<div class="card p-4 rounded-plus bg-faded">

								<%= form_tag root_path, method: :get, id: 'js-login', novalidate: true do %>

									<div class="form-group">
										<label class="form-label" for="lostaccount">Your username or email</label>
										<input type="email" id="lostaccount" class="form-control" placeholder="Recovery email" required>
										<div class="invalid-feedback">No, you missed this one.</div>
										<div class="help-block">We will email you the instructions</div>
									</div>
									<div class="row no-gutters">
										<div class="col-md-4 ml-auto text-right">
											<button id="js-login-btn" type="submit" class="btn btn-danger">Recover</button>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div class="d-block text-center text-white">
					<%= Rails.configuration.copyright_inverse %>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :scripts_block do %>
  <script>
    $("#js-login-btn").click(function(event) {
  
      // Fetch form to apply custom Bootstrap validation
      var form = $("#js-login")
  
      if (form[0].checkValidity() === false) {
        event.preventDefault()
        event.stopPropagation()
      }
  
      form.addClass('was-validated');
      // Perform ajax submit here...
    });
  </script>
<% end %>
