<div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
  <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
		<span class="mr-2">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar.service_url, class: 'rounded-circle profile-image', alt: 'Avatar' %>
      <% else %>
        <%= image_tag Rails.configuration.default, class: 'rounded-circle profile-image', alt: 'Dr. Codex Lantern' %>
      <% end %>
		</span>
    <div class="info-card-text">
      <div class="fs-lg text-truncate text-truncate-lg"><%= current_user.username %></div>
      <span class="text-truncate text-truncate-md opacity-80"><%= current_user.email %></span>
    </div>
  </div>
</div>
<%= link_to customer_root_path, class: 'dropdown-item' do %>
  <span data-i18n="drpdwn.print"><%= t('views.header.dashboard')  %></span>
<% end %>
<div class="dropdown-divider m-0"></div>
<%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item fw-500 pt-3 pb-3' do %>
  <span data-i18n="drpdwn.page-logout"><%= t('views.shared.user_profile.signout') %></span>
  <span class="float-right fw-n">&commat;<%= current_user.username %></span>
<% end %>