svg#Layer_1[data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"]
  g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1" 
    g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"  
      path d="M14.6154,17.0638q-.0588.3805-.1152.7057c1.2421.3775,2.0638,1.0271,2.0638,1.7663,0,1.1669-2.0434,2.1128-4.564,2.1128s-4.564-.9459-4.564-2.1128c0-.7391.8215-1.3887,2.0635-1.7663q-.0563-.3248-.1152-.7056c-2.1941.5047-3.7209,1.6239-3.7209,2.9245C5.6634,21.7618,8.5,23.2,12,23.2s6.3366-1.4377,6.3366-3.2111C18.3366,18.6878,16.81,17.5685,14.6154,17.0638Z" fill="#000000" fill-rule="nonzero" opacity="0.3"
      path d="M10.0664,17.6242a7.6155,7.6155,0,0,0,.5947,2.3642h2.6773a7.6038,7.6038,0,0,0,.5949-2.3642,9.4,9.4,0,0,0-3.8669,0Z"
      path d="M14.0432,16.949c.1008-.6522.2082-1.4388.32-2.3925a3.38,3.38,0,0,0,.6677-1.077,17.4032,17.4032,0,0,0,.2559-5.7911s-.2707-.6765-2.7569-1.0993a2.9739,2.9739,0,0,1-1.0538-.0009c-2.4916.4227-2.7621,1.1-2.7621,1.1A17.365,17.365,0,0,0,8.97,13.48a3.3634,3.3634,0,0,0,.6663,1.077c.1117.9537.2192,1.74.32,2.3925a12.2451,12.2451,0,0,1,4.0868,0Z"
      path d="M12,16.7773a12.0491,12.0491,0,0,0-2.0436.1717q.0565.3654.11.6752a9.4,9.4,0,0,1,3.8669,0q.0534-.31.11-.6752A12.0443,12.0443,0,0,0,12,16.7773Z"
      path d="M14.634,3.4269a2.6277,2.6277,0,1,0-3.1606,2.5724c.1421-.0233.2864-.0463.4408-.0676l.04-.0055h.0917l.04.0055c.1569.0217.3036.045.4478.0686A2.6269,2.6269,0,0,0,14.634,3.4269Z" 
      path d="M12.0456,5.9262h-.0917l-.04.0055c-.1544.0213-.2987.0443-.4408.0676A2.65,2.65,0,0,0,12.533,6c-.1442-.0236-.2909-.0469-.4478-.0686Z" 