svg height="24px" version="1.1" viewbox=("0 0 24 24") width="24px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
  g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1" 
    g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1" 
      path d="M18.5712,6.58a.7608.7608,0,0,0-.7419-.5951c-.0157,0-.0314,0-.0471.0013l-4.57.2789a.7616.7616,0,0,0-.4652.1963l-.1868.17-.2-.1816a.7614.7614,0,0,0-.5112-.1974H6.11a.761.761,0,0,0-.743.5951L4.02,12.8851a.7614.7614,0,0,0,.7424.9268.772.772,0,0,0,.0959-.0062l1.8059-.2288L11.49,17.3441l.5.4665a.8815.8815,0,0,0,1.1247-.0116L16.5774,14.57l1.7111-1.5625.5984.1768a.7605.7605,0,0,0,.9584-.8952ZM8.4548,13.9925a.3826.3826,0,0,0,.0812-.0731l.1706-.2123.4012-.5a.381.381,0,0,0-.0585-.5348L8.5105,12.24a.3806.3806,0,0,0-.535.0585l-.3335.4156-.2383.2959,0,.0016a.3753.3753,0,0,0-.0661.1254l-.4543-.355-.2123.0271-1.9083.2418L6.11,7.013h5.7383l.1451.1319.0617.056L10.8645,8.6833l-.4885.6083a.82.82,0,0,0-.2079.5372.5112.5112,0,0,0,.1391.309c.4365.4787,1.434.1093,1.434.1093l1.2411-1.481a1.0966,1.0966,0,0,1,.4467-.3184l4.3575,3.9544-.9314.8688a.3419.3419,0,0,0-.0373-.042l-3.26-3.0091a.38.38,0,1,0-.5161.5591l3.26,3.0083-.2394.2234-.5361.5-.0043-.0068a.3687.3687,0,0,0-.0623-.0742l-2.708-2.411a.38.38,0,0,0-.5058.5683l2.7075,2.4111.0152.011.013.0095-.7874.7343a.2141.2141,0,0,0-.014-.0235.3713.3713,0,0,0-.0742-.094l-2.218-1.9749a.38.38,0,1,0-.5058.5683l2.2175,1.9749a.3589.3589,0,0,0,.0341.0247.3375.3375,0,0,0,.0292.02l-.3606.3363c-.0043-.0132-.0108-.026-.0163-.039a.3764.3764,0,0,0-.1077-.1418l-.5388-.433a.3807.3807,0,0,0-.535.0585l-.3888.4839-.02.0251-.3222-.2512.0428-.0534.38-.4732a.3805.3805,0,0,0-.0585-.535l-.5383-.4327a.3806.3806,0,0,0-.535.0582l-.313.39-.1229.1527-.3227-.2523.1451-.1806.392-.4879a.38.38,0,0,0-.0584-.5348l-.5389-.4329a.38.38,0,0,0-.5344.0582l-.3249.4042-.2253.2805-.196-.1532L8.4434,14Z"
      path d="M4.6047,6.5075a.3812.3812,0,0,0-.2968-.1421H.8688a.38.38,0,0,0-.38.38v7.7665a.38.38,0,0,0,.38.38H2.5962a.38.38,0,0,0,.3715-.2986L4.6794,6.8276A.3807.3807,0,0,0,4.6047,6.5075Z" fill="#000000" opacity="0.3"
      path d="M23.1312,6.0478H19.6921a.38.38,0,0,0-.3715.4621l1.7117,7.7666a.38.38,0,0,0,.3715.2986h1.7274a.38.38,0,0,0,.38-.3807V6.4282A.38.38,0,0,0,23.1312,6.0478Z" fill="#000000" opacity="0.3"