<%= ff.hidden_field :id %>
<%= ff.hidden_field :addressable_id %>
<%= ff.hidden_field :addressable_type, value: 'client' %>
<%= ff.hidden_field :principal, value: true %>
<%= ff.hidden_field :address_type_ids, class: 'address_type_ids' %>

<div class="form-group row">
  <div class="col-md-6">
    <%= ff.input :name, placeholder: t('activerecord.attributes.address.name'), input_html: { title: t('views.admin.clients.instructions.name'), data: { toggle: "tooltip", placement: "top" } } %>
  </div>
  <div class="col-md-6">
    <%= ff.input :street, placeholder: t('activerecord.attributes.address.street'), input_html: { title: t('views.admin.clients.instructions.street'), data: { toggle: "tooltip", placement: "top" } } %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-3">
    <%= ff.input :interior_number, placeholder: t('activerecord.attributes.address.interior_number'), input_html: { title: t('views.admin.clients.instructions.interior_number'), data: { toggle: "tooltip", placement: "top" } } %>
  </div>
  <div class="col-md-3">
    <%= ff.input :outdoor_number, placeholder: t('activerecord.attributes.address.outdoor_number') %>
  </div>
  <div class="col-md-6 hide-element" id="colony">
    <%= ff.input :colony, placeholder: t('activerecord.attributes.address.colony') %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6">
    <%= ff.input :zip_code, placeholder: t('activerecord.attributes.address.zip_code') %>
  </div>
  <div class="col-md-6">
    <%= ff.input :city, placeholder: t('activerecord.attributes.address.city') %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6">
    <%= ff.input :country do %>
      <%= ff.select :country, options_for_select(Country.all.collect { |c| [c.name, c.name] }), { prompt: t('views.shared.prompt.country') }, { class: 'form-control', data: { 'live-search': "true" } } %>
    <% end %>
  </div>
  <div class="col-md-6 hide-element" id="state">
    <%= ff.association :state, prompt: t('views.shared.prompt.state'), label_method: :name, value_method: :id, input_html: { class: 'form-control' } %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-9">
    <%= ff.label :assign_type_ids, {class: 'form-label'}%>
    <%= ff.select :assign_type_ids, options_for_select(AddressType.all.collect {|st| [t("enums.address.type_address.#{st.name}"), st.id]}), { prompt: t('views.admin.clients.shared.prompt.type_address') }, { class: 'select2-placeholder-multiple form-control', multiple: 'multiple' } %>
  </div>
</div>

<% count = 0 %>
<% phones = [] %>
<% 2.times do %>
  <% phones << ff.object.phones.build %>
<% end %>
<%= ff.simple_fields_for :phones, phones do |phone| %>
  <%= phone.hidden_field :id %>
  <%= phone.hidden_field :phoneable_id %>
  <%= phone.hidden_field :phoneable_type, value: 'Address' %>
  <%= phone.hidden_field :code, class: "code_#{count}" %>
  <%= phone.hidden_field :type_phone, class: "type_phone_#{count}" %>
  <div class="form-group row">
    <div class="col-md-4">
      <%= phone.label :number, class: "label_phone_number_#{count}" %>
      <%= phone.input :number, label: false, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: "phone_number_#{count}" } %>
    </div>
    <div class="col-md-4" id="extension_<%= count %>">
      <%= phone.input :extension, placeholder: t('activerecord.attributes.phone.extension') %>
    </div>
    <div class="col-md-4">
      <div class="form-group mt-5">
        <div class="custom-control custom-switch">
          <%= phone.input_field :principal, label: false, as: :boolean, class: "custom-control-input principal_#{count}" %>
          <%= phone.label :principal, class: 'custom-control-label' %>
        </div>
      </div>
    </div>
  </div>
  <% count = count + 1 %>
<% end %>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
  <script>
      $(document).ready(function () {

          $(".select2-placeholder-multiple").select2({
              placeholder: "Selecccione tipo"
          });

          $("#extension_1").addClass('hide-element');
          $(".address_type_ids").val([1]);
          $(".contact_address_type_ids").val([1]);
          $(".type_phone_0").val("permanent");
          $(".type_phone_1").val("mobile");

          $("#client_contacts_attributes_0_addresses_attributes_0_phones_attributes_0_type_phone").val("permanent");
          $("#client_contacts_attributes_0_addresses_attributes_0_phones_attributes_1_type_phone").val("mobile");
          $(".label_phone_number_1").text("<%= t('activerecord.attributes.phone.mobile_number') %>");

          // click principal 0
          $(".principal_0").on("click", function () {
              console.log("click principal 0");
              const chk = document.getElementById('client_addresses_attributes_0_phones_attributes_0_principal').checked;
              console.log(chk);

              if (chk) {
                  $(".principal_1").attr("disabled", true);
                  // copy check
                  $( "#client_contacts_attributes_0_addresses_attributes_0_phones_attributes_0_principal").prop('checked', true);
                  // copy check
              } else {
                  $(".principal_1").removeAttr("disabled");
                  // copy check
                  $( "#client_contacts_attributes_0_addresses_attributes_0_phones_attributes_0_principal").prop('checked', false);
                  // copy check
              }
          });

          // click principal 1
          $(".principal_1").on("click", function () {
              console.log("click principal 1");
              const chk = document.getElementById('client_addresses_attributes_0_phones_attributes_1_principal').checked;
              console.log(chk);
              if (chk) {
                  $(".principal_0").attr("disabled", true);
                  // copy check
                  $( "#client_contacts_attributes_0_addresses_attributes_0_phones_attributes_1_principal").prop('checked', true);
                  // copy check
              } else {
                  $(".principal_0").removeAttr("disabled");
                  // copy check
                  $( "#client_contacts_attributes_0_addresses_attributes_0_phones_attributes_1_principal").prop('checked', false);
                  // copy check
              }
          });

          $("#client_addresses_attributes_0_name").blur(function () {
              $("#client_contacts_attributes_0_addresses_attributes_0_name").val($("#client_addresses_attributes_0_name").val());
          });

          $("#client_addresses_attributes_0_street").blur(function () {
              $("#client_contacts_attributes_0_addresses_attributes_0_street").val($("#client_addresses_attributes_0_street").val());
          });

          $("#client_addresses_attributes_0_interior_number").blur(function () {
              $("#client_contacts_attributes_0_addresses_attributes_0_interior_number").val($("#client_addresses_attributes_0_interior_number").val());
          });

          $("#client_addresses_attributes_0_outdoor_number").blur(function () {
              $("#client_contacts_attributes_0_addresses_attributes_0_outdoor_number").val($("#client_addresses_attributes_0_outdoor_number").val());
          });

          $("#client_addresses_attributes_0_zip_code").blur(function () {
              $("#client_contacts_attributes_0_addresses_attributes_0_zip_code").val($("#client_addresses_attributes_0_zip_code").val());
          });

          $("#client_addresses_attributes_0_colony").blur(function () {
              $("#client_contacts_attributes_0_addresses_attributes_0_colony").val($("#client_addresses_attributes_0_colony").val());
          });

          $("#client_addresses_attributes_0_city").blur(function () {
              $("#client_contacts_attributes_0_addresses_attributes_0_city").val($("#client_addresses_attributes_0_city").val());
          });

          $('#client_addresses_attributes_0_state_id').on('change', function () {
              $("#client_contacts_attributes_0_addresses_attributes_0_state_id").val($(this).val());
          });

          $("#client_addresses_attributes_0_phones_attributes_0_number").blur(function () {
              $("#client_contacts_attributes_0_addresses_attributes_0_phones_attributes_0_number").val($("#client_addresses_attributes_0_phones_attributes_0_number").val());
          });

          $("#client_addresses_attributes_0_phones_attributes_0_extension").blur(function () {
              $("#client_contacts_attributes_0_addresses_attributes_0_phones_attributes_0_extension").val($("#client_addresses_attributes_0_phones_attributes_0_extension").val());
          });

          $("#client_addresses_attributes_0_phones_attributes_1_number").blur(function () {
              $("#client_contacts_attributes_0_addresses_attributes_0_phones_attributes_1_number").val($("#client_addresses_attributes_0_phones_attributes_1_number").val());
          });
      });
  </script>
<% end %>