<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
<% end %>

<div id="address_list">
  <%= render 'admin/clients/addresses/accordion_addresses' %>
</div>
<div id="address_form">
</div>

<% content_for :scripts_block do %>
  <script>
      $(document).ready(function () {
          console.log($('input[type=radio][name=addressesview]'));

          $('input[type=radio][name=addressesview]').change(function() {
              console.log("ENTRO 2");
              console.log(this.value);
              if (this.value == 'grid') {
                  $('#js-addresses .card').removeClassPrefix('mb-').addClass('mb-g');
                  $('#js-addresses .col-xl-12').removeClassPrefix('col-xl-').addClass('col-xl-4');
                  $('#js-addresses .js-expand-btn').addClass('d-none');
                  $('#js-addresses .card-body + .card-body').addClass('show');

              } else if (this.value == 'table') {
                  $('#js-addresses .card').removeClassPrefix('mb-').addClass('mb-1');
                  $('#js-addresses .col-xl-4').removeClassPrefix('col-xl-').addClass('col-xl-12');
                  $('#js-addresses .js-expand-btn').removeClass('d-none');
                  $('#js-addresses .card-body + .card-body').removeClass('show');
              }

          });

          //initialize filter
          initApp.listFilter($('#js-addresses'), $('#js-filter-addresses'));
      });
  </script>
<% end %>
