<div class="form-group row">
  <div class="col-md-6 hide-element" id="cfdi">
    <%= f.association :cfdi, prompt: t('views.shared.prompt.cfdi') %>
  </div>
  <div class="col-md-6">
    <%= f.input :rfc, placeholder: t('activerecord.attributes.client.rfc') %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6 hide-element" id="way_pay">
    <%= f.association :way_pay, prompt: t('views.shared.prompt.way_pay') %>
  </div>
  <div class="col-md-6 hide-element" id="payment_method">
    <%= f.association :payment_method, prompt: t('views.shared.prompt.payment_method'), label_method: :code %>
  </div>
</div>