<div class="form-group row">
  <div class="col-md-6">
    <%= f.input :name, placeholder: t('activerecord.attributes.client.name'), input_html: { title: t('views.admin.clients.instructions.first_name'), data: { toggle: "tooltip", placement: "top" } } %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6">
    <%= f.input :website, placeholder: t('activerecord.attributes.client.website') %>
  </div>
  <div class="col-md-6">
    <%= f.association :currency, label_method: :code, prompt: t('views.shared.prompt.currency') %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-4">
    <div class="custom-control custom-switch">
      <%= f.input_field :advanced_parameters, label: false, as: :boolean, class: 'custom-control-input' %>
      <%= f.label :advanced_parameters, class: 'custom-control-label' %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="custom-control custom-switch">
      <%= f.input_field :has_credit, label: false, as: :boolean, class: 'custom-control-input' %>
      <%= f.label :has_credit, class: 'custom-control-label' %>
    </div>
  </div>

</div>

<div class="form-group row hide-element advanced-parameters">
  <div class="col-md-4">
    <%= f.association :parent_entity, prompt: t('views.admin.clients.shared.prompt.parent_entity'), input_html: { data: { 'live-search': "true" } } %>
  </div>
  <div class="col-md-4">
    <%= f.association :middleman, prompt: t('views.shared.prompt.middleman'), input_html: { data: { 'live-search': "true" } } %>
  </div>
</div>