<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/notifications/sweetalert2/sweetalert2.bundle', media: 'screen, print' %>
<% end %>

<div id="client_documents">
  <%= render 'admin/clients/client_documents/collection' %>
</div>

<div id="client_documents">
</div>

<% content_for :scripts_block do %>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support -->
  <%= javascript_include_tag 'smartadmin/notifications/sweetalert2/sweetalert2.bundle' %>
<% end %>