<div class="modal fade" id="edit-address-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title"><%= t("views.admin.addresses.edit.title") %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-edit-address-container">
          <%= render 'admin/clients/addresses/edit_address_form' %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_close_modal" type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal"><%= t('views.shared.buttons.cancel') %></button>
        <button id="btn_submit_modal" type="button" class="btn btn-success font-weight-bold" onclick="updateAddressButton()"><%= t("views.shared.buttons.update") %></button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>

  <script>
      $(document).ready(function () {
        $('#address_address_type_ids').select2();
        $('#address_country').select2();
        $('#address_country').on('change', function() {
            if ($(this).val() == "Mexico"){
                if ($('#colony').hasClass('hide-element')) {
                    $('#colony').removeClass('hide-element');
                }
            }
            else{
                if (!$('#colony').hasClass('hide-element')) {
                    $('#colony').addClass('hide-element');
                }
            }
            $.ajax({
                url: "/admin/clients/filter_states/" + $(this).val(),
                type: "get",
                success: function (data) {
                    if (jQuery.isEmptyObject(data)) {
                        if (!$(".address_state").hasClass('hide-element')) {
                            $(".address_state").addClass('hide-element');
                        }
                    }
                    else {
                        if ($(".address_state").hasClass('hide-element')) {
                            $(".address_state").removeClass('hide-element');
                        }
                        var listitems = ["<option value=''>Seleccione un estado</option>"];
                        $.each(data,function(key, value) {
                            listitems += '<option value="' + value.id+ '">' + value.name + '</option>';
                        });
                        $("#address_state_id").empty().append(listitems);
                    }
                },
                error: function (data) {
                }
            })
        });
      });

      function updateAddressButton() {

          $.ajax({
              type: "post",
              url: "/admin/clients/" + $("#client_id").val() + "/update_address",
              data: {
                  address: {
                      addressable_type: $('#edit-address-modal #address_addressable_type').val(),
                      addressable_id: $('#edit-address-modal #address_addressable_id').val(),
                      name: $('#edit-address-modal #address_name').val(),
                      street: $('#edit-address-modal #address_street').val(),
                      interior_number: $('#edit-address-modal #address_interior_number').val(),
                      outdoor_number: $('#edit-address-modal #address_outdoor_number').val(),
                      country: $('#edit-address-modal #address_country').val(),
                      state_id: $('#edit-address-modal #address_state_id').val(),
                      zip_code: $('#edit-address-modal #address_zip_code').val(),
                      city: $('#edit-address-modal #address_city').val(),
                      colony: $('#edit-address-modal #address_colony').val(),
                      address_type_ids: $('#edit-address-modal #address_address_type_ids').val()
                  },
                  address_id: $('#edit-address-modal #address_id').val()
              },
              success:  function (data) {
                  $('#v-pills-addresses-information-tab').trigger("click");
                  $('#form_address')[0].reset()
              }
          });
      }
  </script>
<% end %>