<div class="modal fade" id="edit-client-product-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title"><%= t("views.admin.client_products.edit.title") %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-edit-client-product-container">
          <%= render 'admin/clients/client_products/form' %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_close_modal" type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal"><%= t('views.shared.buttons.cancel') %></button>
        <button id="btn_submit_modal" type="button" class="btn btn-success font-weight-bold" onclick="updateClientProductButton()"><%= t("views.shared.buttons.update") %></button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>

  <script>
      function updateClientProductButton() {
          $.ajax({
              type: "post",
              url: "/admin/clients/" + $("#client_id").val() + "/update_client_product",
              data: {
                  client_product: {
                      client_id: $('#edit-client-product-modal #client_product_client_id').val(),
                      image: $('#edit-client-product-modal #client_product_image').val(),
                      product_id: $('#edit-client-product-modal #client_product_product_id').val(),
                      tariff_fraction: $('#edit-client-product-modal #client_product_tariff_fraction').val()
                  },
                  product_id: $('#edit-client-product-modal #product_id').val()
              },
              success:  function (data) {

              }
          });
      }
  </script>
<% end %>