<div class="modal fade" id="edit-sender-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title"><%= t("views.admin.senders.edit.title") %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-edit-sender-container">
          <%= render 'admin/clients/senders/edit_sender_form' %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_close_modal" type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal"><%= t('views.shared.buttons.cancel') %></button>
        <button id="btn_submit_modal" type="button" class="btn btn-success font-weight-bold" onclick="updateSenderButton()"><%= t("views.shared.buttons.update") %></button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>

  <script>
      function updateSenderButton() {
          $.ajax({
              type: "post",
              url: "/admin/clients/" + $("#client_id").val() + "/update_sender",
              data: {
                  sender: {
                      senderable_type: $('#edit-sender-modal #sender_senderable_type').val(),
                      senderable_id: $('#edit-sender-modal #sender_senderable_id').val(),
                      name: $('#edit-sender-modal #sender_name').val(),
                      rfc: $('#edit-sender-modal #sender_rfc').val(),
                      email: $('#edit-sender-modal #sender_email').val(),
                      contact: $('#edit-sender-modal #sender_contact').val(),
                      sender_types: $('#edit-sender-modal #sender_type_ids').val(),
                  },
                  sender_id: $('#edit-sender-modal #sender_id').val(),
              },
              success:  function (data) {
                  $('#v-pills-senders-information-tab').trigger("click");
              }
          });
      }
  </script>
<% end %>