<div class="modal fade" id="contact-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title"><%= t("views.admin.contacts.new.title") %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-new-contact-container">
          <%= render 'admin/clients/contacts/new_contact_form' %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_close_modal" type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal"><%= t('views.shared.buttons.cancel') %></button>
        <button id="btn_submit_modal" type="button" class="btn btn-success font-weight-bold" onclick="addNewContact()"><%= t("views.shared.buttons.save") %></button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
  <%= javascript_include_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker' %>

  <script>
      function addNewContact() {
          $.ajax({
              type: "POST",
              url: "/admin/clients/" + $("#client_id").val() + "/add_contact",
              data: {
                  contact: {
                      contactable_type: document.getElementById("contact_contactable_type").value,
                      contactable_id: document.getElementById("contact_contactable_id").value,
                      name: document.getElementById("contact_name").value,
                      email: document.getElementById("contact_email").value,
                      birth_date: document.getElementById("contact_birth_date").value,
                      area: document.getElementById("contact_area").value,
                      job: document.getElementById("contact_job").value
                  },
                  address: {
                      id: 1
                  }
              },
              success:  function (data) {
                  $('#v-pills-contacts-information-tab').trigger("click");
                  $('#form_contact')[0].reset()
              }
          });
      }
  </script>
<% end %>