<div class="modal fade" id="address-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title"><%= t("views.admin.addresses.new.title") %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-new-address-container">
          <%= render 'admin/clients/addresses/new_address_form' %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_close_modal" type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal"><%= t('views.shared.buttons.cancel') %></button>
        <button id="btn_submit_modal" type="button" class="btn btn-success font-weight-bold" onclick="addNewAddress()"><%= t("views.shared.buttons.save") %></button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
    <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
    <%= javascript_include_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker' %>

  <script>
      $(document).ready(function () {

        $('#address_address_type_ids').select2({
        });

        $('#address_country').select2();

        $('#address_country').on('change', function() {
            if ($(this).val() == "Mexico"){
                if ($('#colony').hasClass('hide-element')) {
                    $('#colony').removeClass('hide-element');
                }
            }
            else{
                if (!$('#colony').hasClass('hide-element')) {
                    $('#colony').addClass('hide-element');
                }
            }
            $.ajax({
                url: "/admin/clients/filter_states/" + $(this).val(),
                type: "get",
                success: function (data) {
                    if (jQuery.isEmptyObject(data)) {
                        if (!$(".address_state").hasClass('hide-element')) {
                            $(".address_state").addClass('hide-element');
                        }
                    }
                    else {
                        if ($(".address_state").hasClass('hide-element')) {
                            $(".address_state").removeClass('hide-element');
                        }
                        var listitems = ["<option value=''>Seleccione un estado</option>"];
                        $.each(data,function(key, value) {
                            listitems += '<option value="' + value.id+ '">' + value.name + '</option>';
                        });
                        $("#address_state_id").empty().append(listitems);
                    }
                },
                error: function (data) {
                }
            })
        });
      });

      function addNewAddress() {
          var selected = [];
          for (var option of document.getElementById('address_address_type_ids').options)
          {
              if (option.selected) {
                  selected.push(option.value);
              }
          }
          $.ajax({
              type: "POST",
              url: "/admin/clients/" + $("#client_id").val() + "/add_address",
              data: {
                  address: {
                      addressable_type: document.getElementById("address_addressable_type").value,
                      addressable_id: document.getElementById("address_addressable_id").value,
                      name: document.getElementById("address_name").value,
                      street: document.getElementById("address_street").value,
                      interior_number: document.getElementById("address_interior_number").value,
                      outdoor_number: document.getElementById("address_outdoor_number").value,
                      country: document.getElementById("address_country").value,
                      state_id: document.getElementById("address_state_id").value,
                      zip_code: document.getElementById("address_zip_code").value,
                      city: document.getElementById("address_city").value,
                      colony: document.getElementById("address_colony").value,
                      address_type_ids: selected
                  }
              },
              success:  function (data) {
                  $('#v-pills-addresses-information-tab').trigger("click");
                  $('#new_address')[0].reset()
              }
          });
      }
  </script>
<% end %>