<div class="modal fade" id="sender-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title"><%= t("views.admin.senders.new.title") %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-new-sender-container">
          <%= render 'admin/clients/senders/new_sender_form' %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_close_modal" type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal"><%= t('views.shared.buttons.cancel') %></button>
        <button id="btn_submit_modal" type="button" class="btn btn-success font-weight-bold" onclick="addNewSender()"><%= t("views.shared.buttons.save") %></button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>

  <script>
      function addNewSender() {
          $.ajax({
              type: "POST",
              url: "/admin/clients/" + $("#client_id").val() + "/add_sender",
              data: {
                  sender: {
                      senderable_type: document.getElementById("sender_senderable_type").value,
                      senderable_id: document.getElementById("sender_senderable_id").value,
                      name: document.getElementById("sender_name").value,
                      rfc: document.getElementById("sender_rfc").value,
                      email: document.getElementById("sender_email").value,
                      contact: document.getElementById("sender_contact").value
                      //sender_type_ids: document.getElementById("sender_sender_type_ids").value
                  }
              },
              success:  function (data) {
                  $('#v-pills-senders-information-tab').trigger("click");
                  $('#form_sender')[0].reset()
              }
          });
      }
  </script>
<% end %>