<div class="row">
  <div class="col-md-5">
    <h2 class="hidden-sm-down ml-1">
      <i class="fal fa-user-alt"></i> <%= t('views.admin.clients.show.tabs.personal.subtitle')%>
    </h2>
  </div>

  <div class="col-md-7 bg-light text-right">
    <%= link_to admin_clients_path, class: 'btn btn-secondary btn-sm ml-2' do %>
      <%= t('views.shared.buttons.back') %>
    <% end %>
    <% if @readonly %>
      <%#= link_to update_readonly_admin_client_path(@client.id, readonly: false), class: 'btn btn-secondary btn-sm ml-2', 'data-remote': true do %>
        <%#= t('views.shared.buttons.cancel') %>
      <%# end %>
      <button id="updatePersonalInformation" onclick="updatePersonalInformationButton()" class="btn btn-success btn-sm ml-2"> <%= t('views.shared.buttons.update')%></button>
    <% else %>
      <%#= link_to t('views.shared.buttons.edit'), update_readonly_admin_client_path(@client.id, readonly: true), id: 'editPersonalInformation', class: 'btn btn-success btn-sm ml-2', 'data-remote': true %>
      <button id="editPersonalInformation" onclick="editPersonalInformationButton(true)" class="btn btn-success btn-sm ml-2"> <%= t('views.shared.buttons.edit')%></button>
    <% end %>
  </div>
</div>
<%= simple_form_for [:admin, @client], html: { class: "mt-3", id: 'form_client' }, method: :patch, remote: true do |f| %>
  <%= f.hidden_field :id, value: @client.id %>
  <div class="form-group row">
    <%= f.label :name, t('activerecord.attributes.client.name'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :name, label: false, placeholder: t('activerecord.attributes.client.name'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :rfc, t('activerecord.attributes.client.rfc'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :rfc, label: false, placeholder: t('activerecord.attributes.client.rfc'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :website, t('activerecord.attributes.client.website'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :website, label: false, placeholder: t('activerecord.attributes.client.website'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :parent_entity, t('activerecord.attributes.client.parent_entity'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :parent_entity, label: false, prompt: t('views.admin.clients.shared.prompt.parent_entity'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :currency, t('activerecord.attributes.client.currency'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :currency, label: false, prompt: t('views.admin.clients.shared.prompt.currency'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :middleman, t('activerecord.attributes.client.middleman'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :middleman, label: false, prompt: t('views.admin.clients.shared.prompt.middleman'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :team, t('activerecord.attributes.client.team'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :team, label: false, prompt: t('views.shared.prompt.team'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12 col-lg-8">
      <h4 class="hidden-sm-down ml-1">
        <i class="fal fa-file-invoice"></i> <%= t('views.admin.users.show.tab_panes.personal_information.section3')%>
      </h4>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :cfdi, t('activerecord.attributes.client.cfdi'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :cfdi, label: false, prompt: t('views.admin.clients.shared.prompt.cfdi'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :way_pay, t('activerecord.attributes.client.way_pay'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :way_pay, label: false, prompt: t('views.admin.clients.shared.prompt.way_pay'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :payment_method, t('activerecord.attributes.client.payment_method'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :payment_method, label: false, prompt: t('views.admin.clients.shared.prompt.payment_method'), input_html: { disabled: !@readonly } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 bg-light text-right">
      <%= f.submit 'data', class: 'btn btn-success hide-element', id: 'btnPersonalInformation'%>
    </div>
  </div>
<% end %>

<% content_for :scripts_block do %>
  <script>
    function editPersonalInformationButton(readonly){
        $.ajax({
            method: "GET",
            url: "/admin/clients/"+  $("#client_id").val() + "/update_readonly/" + readonly,
        });
    }
    function updatePersonalInformationButton(){
        document.forms['form_client'].submit();
    }

  </script>
<% end %>