<div class="row">
  <div class="col-md-5">
    <h2 class="hidden-sm-down ml-1">
      <i class="fab fa-buffer"></i> <%= t('views.admin.clients.show.tabs.phone.subtitle')%>
    </h2>
  </div>

  <div class="col-md-7 bg-light text-right">
    <button id="newPhoneButton" onclick="newPhone()" class="btn btn-success btn-sm ml-2">
      <%= t('views.shared.buttons.new') %>
    </button>
  </div>
</div>
<% unless @phones.blank? %>
  <div id="phone_list"> <%= render 'admin/clients/phones/collection' %></div>
<% else %>
  <div class="not-register">
    <%= "#{t('views.shared.text.not_records')} de #{t('activerecord.models.phones.other')}." %>
  </div>
<% end %>
<div id="phone_form"></div>

<% content_for :scripts_block do %>
  <script>
      function newPhone() {
          $.ajax({
              type: "GET",
              url: "/admin/clients/" + $("#client_id").val() + "/new_phone",
              success: function (data) {
                  $('#v-pills-phones-information-tab').trigger("click");
              }
          });
      }
  </script>
<% end %>