<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/dropzone/dropzone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/datagrid/datatables/datatables.bundle', media: 'screen, print' %>
<% end %>

<%

  @quotes = MaritimeQuote.where(client_id: @client.id)
%>
<div class="row">
  <div class="col-lg-12 col-xl-12 order-lg-11 order-xl-11">
    <div class="card mb-g rounded-top">
      <div class="card-title">
        <h2 class="hidden-sm-down ml-1">
          <i class="fal fa-file-invoice-dollar"></i> <%= t('views.sidebar.quotes')%>
        </h2>
      </div>
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col-lg-12 col-xl-12">
            <table id="" class="table table-bordered table-hover table-striped w-100">
              <thead>
                <tr>
                  <th><%= t('views.dashboard.customer.my_quotes.id')%></th>
                  <th><%= t('views.dashboard.customer.my_quotes.route')%></th>
                  <th><%= t('views.dashboard.customer.my_quotes.shipment_type')%></th>
                  <th><%= t('views.dashboard.customer.my_quotes.created_at')%></th>
                </tr>
              </thead>
              <tbody>
                <% unless @quotes.blank? %>
                  <% @quotes.each do |quote| %>
                    <%
                      origin = Port.find(quote.origin_route_id)
                      destination = Port.find(quote.destination_route_id)
                    %>
                    <tr>
                      <td><%= link_to quote.number, admin_quote_path(quote.id) %></td>
                      <td><%= "#{origin.identifier}, #{origin.name}" " - #{destination.identifier}, #{destination.name}" %></td>
                      <td><%= quote.freight_type.code %></td>
                      <td><%= quote.created_at.nil? ? '' : quote.created_at.strftime("%d-%m-%Y") %></td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td colspan="4" class="text-center"><%= t('views.dashboard.customer.my_quotes.not_found') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <%= javascript_include_tag 'smartadmin/formplugins/dropzone/dropzone' %>

  <script>

  </script>
<% end %>
