<div class="modal fade" id="show-contact-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title"><%= t("views.admin.contacts.show.title") %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-show-contact-container">
          <%= render 'admin/clients/contacts/show' %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_close_modal" type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal"><%= t('views.shared.buttons.close') %></button>
      </div>
    </div>
  </div>
</div>
