<% if @contact.errors.empty?  %>
  $("#contacts").html("<%= j render partial: 'admin/clients/contacts/accordion_contacts' %>");
  $("#contact-modal").modal("toggle");
<% else %>
  $("#modal-container").html("<%= j render partial: "admin/clients/contacts/form", locals: { action_controller: 'add_contact'} %>");
<% end %>