<% if @sender.errors.empty? %>
  $("#senders").html("<%= j render :partial => 'admin/clients/senders/collection' %>");
  $("#sender-modal").modal("toggle");
<% else %>
  $("#modal-new-sender-container").html("<%= j render partial: "admin/clients/senders/form", locals: { action_controller: 'add_sender'} %>");
<% end %>