<% if @create == true %>
  <% if @is_contact == 'true' %>
    $("#addresses_list").html("<%= j render :partial => 'admin/clients/contacts/addresses_list_contact', locals: { action_controller: 'add_contact'} %>");
  <% else %>
    $("#address_list").html("<%= j render :partial => 'admin/clients/addresses/accordion_addresses' %>");
  <% end %>
  $("#address-modal").modal("toggle");
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
  $("#modal-new-address-container").html("<%= j render partial: "admin/clients/addresses/new_address_form", locals: { action_controller: 'add_address'} %>");
<% end %>