$('#v-pills-products-information-tab').trigger("click");
$("#product_form").hide();
$("#product_list").show();
$("#edit-client-product-modal").modal("show");
$(".modal-edit-client-product-container").html("<%= j render partial: "admin/clients/client_products/form", locals: { action_controller: 'update_client_product' } %>");