<%
  content_for(:title, t('views.admin.clients.new.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.clients'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-user-headset'></i> <%= t('views.sidebar.clients') %>
<% end %>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/theme-demo', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker', media: 'screen, print' %>

  <!-- page related CSS below -->
  <%= stylesheet_link_tag 'smartadmin/formplugins/select2/select2.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.clients.new.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_clients_path, class: 'btn btn-secondary btn-sm' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <!-- form start -->
          <%= render 'form', button: t('views.shared.buttons.save') %>
          <!-- form end -->
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
  <%= javascript_include_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker' %>

  <script>

      $("label[for=client_rfc]").html("VAT");
      $("#client_rfc").attr("placeholder", "VAT");

      $('#client_service_mode_ids').select2();
      $('#client_parent_entity_id').select2();
      $('#client_addresses_attributes_0_country').select2();
      $('#client_addresses_attributes_0_state_id').select2();

      // Class definition
      var controls = {
          leftArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-left" style="font-size: 1.25rem"></i>',
          rightArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-right" style="font-size: 1.25rem"></i>'
      }

      var runDatePicker = function () {
          // input group layout
          $('#client_contacts_attributes_0_birth_date').datepicker({
              todayHighlight: true,
              orientation: "bottom left",
              templates: controls
          });
      }

      function checkValue(value,arr){
          var status = false;

          for(var i=0; i<arr.length; i++){
              var name = arr[i];
              if(name == value){
                  status = true;
                  break;
              }
          }
          return status;
      }

      $(document).ready(function () {
          runDatePicker();

          $('#client_service_mode_ids').change(function() {
              const service_mode_ids = $(this).val();

              if (checkValue("1", service_mode_ids)) {
                  console.log("Maritimos seleccionado");
                  $(".scac").removeClass('hide-element');
              } else {
                  console.log("Maritimos deseleccionado");
                  $(".scac").addClass('hide-element');
              }

              if (checkValue("2", service_mode_ids)) {
                  console.log("Aereos seleccionado");
                  $(".iata").removeClass('hide-element');
              } else {
                  console.log("Aereos deseleccionado");
                  $(".iata").addClass('hide-element');
              }

              if (checkValue("4", service_mode_ids)) {
                  console.log("Terrestres seleccionado");
                  $(".caat").removeClass('hide-element');
              } else {
                  console.log("Terrestres deseleccionado");
                  $(".caat").addClass('hide-element');
              }
          });

          $('#client_addresses_attributes_0_country').on('change', function () {

              $("#client_contacts_attributes_0_addresses_attributes_0_country").val($(this).val());
              console.log("PAIS:");
              console.log($("#client_addresses_attributes_0_country").val());
              const country = $("#client_addresses_attributes_0_country").val();
              // Unhide section billing
              if (country === "Mexico") {
                  console.log("Es Mexico");
                  if ($('#colony').hasClass('hide-element')) {
                      console.log("Tiene class hide");
                      $('#colony').removeClass('hide-element');
                  }
                  $("label[for=client_rfc]").html("RFC");
                  $("#client_rfc").attr("placeholder", "RFC");
                  $("#cfdi").removeClass("hide-element");
                  $("#way_pay").removeClass("hide-element");
                  $("#payment_method").removeClass("hide-element");

              } else {
                  console.log("NO Es Mexico");
                  if (!$('#colony').hasClass('hide-element')) {
                      console.log("No tiene class hide");
                      $('#colony').addClass('hide-element');
                  }
                  $("label[for=client_rfc]").html("VAT");
                  $("#client_rfc").attr("placeholder", "VAT");
                  $("#cfdi").addClass("hide-element");
                  $("#way_pay").addClass("hide-element");
                  $("#payment_method").addClass("hide-element");
              }

              // change state select
              $.ajax({
                  url: "/admin/clients/filter_states/" + $(this).val(),
                  type: "get",
                  success: function (data) {
                      console.log("encontro");
                      console.log(data);
                      if (jQuery.isEmptyObject(data)) {
                          if (!$("#state").hasClass('hide-element')) {
                              $("#state").addClass('hide-element');
                          }
                      } else {
                          if ($("#state").hasClass('hide-element')) {
                              $("#state").removeClass('hide-element');
                          }
                          var listitems = ["<option value=''>Seleccione un estado</option>"];
                          $.each(data, function (key, value) {
                              listitems += '<option value="' + value.id + '">' + value.name + '</option>';
                          });
                          console.log(listitems);

                          $("#client_addresses_attributes_0_state_id").empty().append(listitems);
                      }
                  },
                  error: function (data) {
                  }
              });
          });

      });

  </script>
<% end %>


