<% if @update == true %>
  $("#senders").html("<%= j render :partial => 'admin/clients/senders/collection' %>");
  $("#edit-sender-modal").modal("toggle");
<% else %>
  $("#modal-edit-sender-container").html("<%= j render partial: "admin/clients/addresses/edit_sender_form"%>");
<% end %>