<% if @update == true %>
  $("#contacts").html("<%= j render :partial => 'admin/clients/contacts/accordion_contacts' %>");
  $("#edit-contact-modal").modal("toggle");
<% else %>
  $("#modal-container").html("<%= j render partial: "admin/clients/addresses/form", locals: { action_controller: 'update_contact' } %>");
<% end %>