<% if @product.errors.empty? %>
  $("#product_list").html("<%= j render :partial => 'admin/clients/client_products/collection' %>");
  $("#edit-client-product-modal").modal("toggle");
<% else %>
  $("#modal-client-product-container").html("<%= j render partial: "admin/clients/client_products/form", locals: { action_controller: 'update_client_product' } %>");
<% end %>