<%= simple_form_for [:admin, @service] do |f| %>
  <div class="form-group row">
    <div class="col-md-4">
      <%= f.input :code, placeholder: t('activerecord.attributes.service.code') %>
    </div>
    <div class="col-md-4">
      <%= f.label :service_type, t('activerecord.attributes.service.service_type') %>
      <%= f.select :service_type, options_for_select(Service.service_types.map { |key, value| [t("enums.services.service_type.#{key.downcase}"), key] }), {}, { class: 'form-control', data: { 'live-search': "true" } } %>
    </div>
    <div class="col-md-4">
      <%= f.association :service_mode, label_method: :name, prompt: t('views.shared.prompt.service_mode') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <%= f.input :price, placeholder: t('activerecord.attributes.service.price') %>
    </div>
    <div class="col-md-4">
      <%= f.association :currency, label_method: :name, prompt: t('views.shared.prompt.currency') %>
          </div>
    <div class="col-md-4">
      <%= f.association :tax, label_method: :code, prompt: t('views.shared.prompt.tax') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <%= f.input :description, placeholder: t('activerecord.attributes.service.description') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="custom-control custom-checkbox">
      <%= f.input :has_cost, type: 'checkbox', class: 'custom-control-input' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>
