<div class="row">
  <div class="col-xl-12 col-lg-6">
    <div id="panel-1" class="panel panel-locked" data-panel-lock="false" data-panel-close="false" data-panel-fullscreen="false" data-panel-color="false" data-panel-locked="false" data-panel-refresh="false" data-panel-reset="false">
      <div class="panel-hdr">
        <i class='fas fa-money-bill'></i> <h2 class="ml-1"><%= t('views.shared.shipments.tabs.bill') %></h2>
      </div>
      <div class="panel-container show">
        <div class="panel-content">

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12 col-lg-6"></div>
</div>