<table id="maritime_shipments" class="table table-bordered table-hover table-striped w-100">
  <thead style="background-color: #0360bb; color: white;">
    <tr>
      <th><%= t('activerecord.attributes.maritime_shipment.number')%></th>
      <th><%= t('activerecord.attributes.maritime_shipment.status')%></th>
      <th><%= t('activerecord.attributes.maritime_shipment.origin')%></th>
      <th><%= t('activerecord.attributes.maritime_shipment.destination')%></th>
      <th><%= t('activerecord.attributes.maritime_shipment.shipping_line')%></th>
      <th><%= t('activerecord.attributes.maritime_shipment.arrival_time')%></th>
      <th><%= t('activerecord.attributes.maritime_shipment.earliest_to_latest')%></th>
      <th><%= t('activerecord.attributes.maritime_shipment.created_at')%></th>
    </tr>
  </thead>
  <tbody>
    <% unless @maritime_shipments.blank? %>
      <% @maritime_shipments.each do |shipment| %>
        <tr>
          <td style="width: 12%" class="text-center"><%= link_to shipment.number, admin_maritime_shipment_path(shipment.id) %></td>
          <td style="width: 18%">
            <% if shipment.status == 'at_origin' %>
              <div class="badge-fs" style="background-color: rgb(130, 77, 178);">
                <i class="fas fa-anchor"></i> <%= "#{t("enums.maritime_shipment.status.#{shipment.status}")}" %>
              </div>
            <% end %>
            <% if shipment.status == 'in_transit' %>
              <div class="badge-fs" style="background-color: rgb(68, 105, 175);">
                <i class="fas fa-ship"></i> <%= "#{t("enums.maritime_shipment.status.#{shipment.status}")}" %>
              </div>
            <% end %>
            <% if shipment.status == 'reached_destination' %>
              <div class="badge-fs" style="background-color: rgb(67, 177, 49);">
                <i class="fas fa-map-marker-check"></i> <%= "#{t("enums.maritime_shipment.status.#{shipment.status}")}" %>
              </div>
            <% end %>
            <% if shipment.status == 'completed' %>
              <div class="badge-fs" style="background-color: rgb(141, 160, 199);">
                <i class="fas fa-check-circle"></i> <%= "#{t("enums.maritime_shipment.status.#{shipment.status}")}" %>
              </div>
            <% end %>
            <% if shipment.status == 'delayed' %>
              <div class="badge-fs" style="background-color: rgb(233, 74, 65);">
                <i class="fas fa-calendar-times"></i> <%= "#{t("enums.maritime_shipment.status.#{shipment.status}")}" %>
              </div>
            <% end %>
            <% if shipment.status == 'on_hold' %>
              <div class="badge-fs" style="background-color: rgb(223, 193, 47);">
                <i class="fas fa-pause-circle"></i> <%= "#{t("enums.maritime_shipment.status.#{shipment.status}")}" %>
              </div>
            <% end %>
          </td>
          <td style="width: 14%"><%= flag_icon(shipment.origin.country.code.downcase) %> <%= shipment.origin.name %></td>
          <td style="width: 14%"><%= flag_icon(shipment.destination.country.code.downcase) %> <%= shipment.destination.name %></td>
          <td><%= shipment.shipping_line.name %></td>
          <td><%= shipment.arrival_time.nil? ? '' : shipment.arrival_time %></td>
          <td><%= shipment.earliest_to_latest.nil? ? '' : shipment.earliest_to_latest %></td>
          <td><%= shipment.created_at.nil? ? '' : shipment.created_at.strftime("%d-%m-%Y") %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3"><%= t('controllers.maritime_shipments.not') %></td>
      </tr>
    <% end %>
  </tbody>
</table>