
<style>
    .icon-fs {
        height: 2rem;
        width: 2rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        background-color: #153586;
        color: rgb(59, 130, 246);
    }
    .card-fs {
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
    }

    .header-fs {
        background-color: #005CB9;
        color: #fff;
        padding: 20px;
        text-align: left;
        font-size: 18px;
    }

    .body-fs {
        padding: 20px;
    }

    .skill {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .skill-name {
        width: 120px;
        font-size: 16px;
    }

    .skill-level {
        width: 160px;
        height: 10px;
        background-color: #eee;
        border-radius: 10px;
        overflow: hidden;
        margin-left: 20px;
    }

    .skill-percent {
        background-color: #333;
        height: 100%;
    }

    .skill-percent-number {
        margin-left: 20px;
        font-size: 16px;
    }
</style>

<div class="card-fs">
  <div class="header-fs">
    <h5><%= t('activerecord.attributes.maritime_shipment.shipping_line') %>: <%= @shipment.shipping_line.name %></h5>
  </div>
  <div class="body-fs">
    <div class="skill">
      <div class="skill-name"><%= t('activerecord.attributes.maritime_shipment.origin') %>: <%= @shipment.origin.name %></div>
    </div>
    <div class="skill">
      <div class="skill-name"><%= t('activerecord.attributes.maritime_shipment.destination') %>: <%= @shipment.destination.name %></div>
    </div>
    <div class="skill">
      <div class="skill-name"><%= t('activerecord.attributes.maritime_shipment.incoterm') %>: <%= @shipment.incoterm.code %></div>
    </div>
    <div class="skill">
      <div class="skill-name"><%= t('activerecord.attributes.maritime_shipment.team') %>: <%= @shipment.team.blank? ? '' : @shipment.team.name  %></div>
    </div>
    <div class="skill">
      <div class="skill-name"><%= t('activerecord.attributes.maritime_shipment.seller') %>: <%= @shipment.seller.blank? ? '' : @shipment.seller.name %></div>
    </div>
    <div class="skill">
      <div class="skill-name"><%= t('activerecord.attributes.maritime_shipment.sales_executive') %>: <%= @shipment.sales_executive.blank? ? '' : @shipment.sales_executive.name %></div>
    </div>
    <div class="skill">
      <div class="skill-name"><%= t('activerecord.attributes.maritime_shipment.operator') %>: <%= @shipment.operator.blank? ? '' : @shipment.operator.name %></div>
    </div>
  </div>
</div>
