<%= simple_form_for [:admin, @shipment] do |f| %>
  <div class="form-group row">
    <div class="col-md-4">
      <%= f.input :bl_number, placeholder: t('activerecord.attributes.maritime_shipment.bl_number') %>
    </div>
    <div class="col-md-4">
      <%= f.input :container_number, placeholder: t('activerecord.attributes.maritime_shipment.container_number') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.association :origin, placeholder: t('activerecord.attributes.maritime_shipment.origin') %>
    </div>
    <div class="col-md-6">
      <%= f.association :destination, placeholder: t('activerecord.attributes.maritime_shipment.destination') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <%= f.association :shipping_line, placeholder: t('activerecord.attributes.maritime_shipment.shipping_line') %>
    </div>
    <div class="col-md-4">
      <%= f.association :incoterm, placeholder: t('activerecord.attributes.maritime_shipment.incoterm'), label_method: :code %>
    </div>
    <div class="col-md-4">
      <%= f.association :client, placeholder: t('activerecord.attributes.maritime_shipment.client') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.association :team, placeholder: t('activerecord.attributes.maritime_shipment.team') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <%= f.association :seller, placeholder: t('activerecord.attributes.maritime_shipment.seller') %>
    </div>
    <div class="col-md-4">
      <%= f.association :sales_executive, placeholder: t('activerecord.attributes.maritime_shipment.sales_executive') %>
    </div>
    <div class="col-md-4">
      <%= f.association :operator, placeholder: t('activerecord.attributes.maritime_shipment.operator') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :arrival_time, as: :date, html5: true, placeholder: t('activerecord.attributes.maritime_shipment.arrival_time') %>
    </div>
    <div class="col-md-6">
      <%= f.input :earliest_to_latest, as: :date, html5: true, placeholder: t('activerecord.attributes.maritime_shipment.earliest_to_latest') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>
