<div id="panel-1" class="panel">
  <div class="panel-container show">
    <div class="panel-content">

      <%= form_tag(admin_maritime_shipments_path, method: :get, id: "filter-form") do %>
        <div class="radio-group-fs mb-4" style="width: 100%">
          <input type="radio" id="radio1" name="status" value="total_shipments" checked>
          <label class="c02115" for="radio1">
            <span style="color: rgb(33, 142, 233);"><%= @total_shipments %></span>
            <br>
            <span><%= t('views.admin.shipments.index.filters.total_shipments') %></span>
          </label>

          <input type="radio" id="radio2" name="status" value="at_origin">
          <label class="c02115" for="radio2">
            <span style="color: rgb(130, 77, 178);"><%= @total_at_origin %></span>
            <br>
            <span><%= t('views.admin.shipments.index.filters.at_origin') %></span>
          </label>

          <input type="radio" id="radio3" name="status" value="in_transit">
          <label class="c02115" for="radio3">
            <span style="color: rgb(68, 105, 175);"><%= @total_in_transit %></span>
            <br>
            <span><%= t('views.admin.shipments.index.filters.in_transit') %></span>
          </label>

          <input type="radio" id="radio4" name="status" value="transshipment">
          <label class="c02115" for="radio4">
            <span style="color: rgb(195, 83, 171);">0</span>
            <br>
            <span><%= t('views.admin.shipments.index.filters.transshipment') %></span>
          </label>

          <input type="radio" id="radio5" name="status" value="reached_destination">
          <label class="c02115" for="radio5">
            <span style="color: rgb(67, 177, 49);"><%= @total_reached_destination %></span>
            <br>
            <span><%= t('views.admin.shipments.index.filters.reached_destination') %></span>
          </label>

          <input type="radio" id="radio6" name="status" value="completed">
          <label class="c02115" for="radio6">
            <span style="color: rgb(141, 160, 199);"><%= @total_completed %></span>
            <br>
            <span><%= t('views.admin.shipments.index.filters.completed') %></span>
          </label>

          <input type="radio" id="radio7" name="status" value="delayed">
          <label class="c02115" for="radio7" style="border-left: 2px solid #ccc">
            <span style="color: rgb(233, 74, 65);"><%= @total_delayed %></span>
            <br>
            <span><%= t('views.admin.shipments.index.filters.delayed') %></span>
          </label>

          <input type="radio" id="radio8" name="status" value="on_hold">
          <label class="c02115" for="radio8">
            <span style="color: rgb(223, 193, 47);"><%= @total_on_hold %></span>
            <br>
            <span><%= t('views.admin.shipments.index.filters.on_hold') %></span>
          </label>
        </div>
      <% end %>
      <div class="row mb-3">
        <div class="col-xl-6 col-sm-12"></div>
        <div class="col-xl-6 col-sm-12 text-right">

          <button type="button" id="show-contact-modal-button" class="btn btn-freightspot-primary ml-2">
            <span class="text-white"><i class="fas fa-file-export"></i> <%= t('views.shared.buttons.export') %></span>
          </button>
          <button type="button" class="btn btn-warning ml-2" data-toggle="modal" data-target=".import-shipment">
            <span class="text-white"><i class="fas fa-file-import"></i> <%= t('views.shared.buttons.import') %></span>
          </button>
          <%= link_to new_admin_maritime_shipment_path, class: 'btn btn-success ml-2' do %>
            <span class="text-white"><i class="fas fa-plus"></i> <%= t('views.shared.buttons.new') %></span>
          <% end %>
        </div>
      </div>
      <%= render 'admin/maritime_shipments/collection' %>
      <!-- datatable end -->


    </div>
  </div>
</div>

<!-- Modal Right -->
<div class="modal fade import-shipment" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-right">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4">
          <i class="fas fa-file-upload"></i> <%= t('views.shared.text.shipments_upload') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card mb-5">
          <div class="card-body p-3">
            <%= link_to download_sample_admin_maritime_shipments_path do %>
              <span><i class="fas fa-file-download"></i> <%= t('views.shared.buttons.download_sample') %></span>
            <% end %>
          </div>
        </div>
        <div class="card mb-g">
          <div class="card-body p-3">
            <h5 class="text-danger"><%= t('views.shared.text.upload_excel') %></h5>
            <div class="text-left fw-400 ">
              <div class="fs-sm d-flex align-items-center">
                <%= form_tag import_admin_maritime_shipments_path, multipart: true do %>
                  <div class="form-group mb-0">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="file" name="file">
                      <label class="custom-file-label" for="file">Choose file</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success waves-effect waves-themed mt-2"><%= t('views.shared.buttons.import') %></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t('views.shared.buttons.close') %></button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Right Small -->

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/dropzone/dropzone' %>

  <script>
      $(document).ready(function () {
          $('input[type=radio][name=status]').change(function() {
              $('#filter-form').submit();
              window.addEventListener('DOMContentLoaded', function() {
                $(this).prop('checked', true);
              });
          });

      });
  </script>
<% end %>
