<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div id="panel-1" class="panel panel-locked" data-panel-lock="false" data-panel-close="false" data-panel-fullscreen="false" data-panel-color="false" data-panel-locked="false" data-panel-refresh="false" data-panel-reset="false">
      <div class="panel-hdr">
        <i class='fas fa-ship'></i> <h2 class="ml-1"><%= t('views.shared.shipments.tabs.shipment') %></h2>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="row">
            <div class="mx-auto col-10 col-md-8 col-lg-6">

              <%= simple_form_for [:admin, @shipment], html: { class: "", id: 'form_client' } do |f| %>
                <div class="form-group row">
                  <%= f.label :bl_number, t('activerecord.attributes.maritime_shipment.bl_number'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.input :bl_number, label: false, placeholder: t('activerecord.attributes.maritime_shipment.bl_number'), input_html: { disabled: true } %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :container_number, t('activerecord.attributes.maritime_shipment.container_number'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.input :container_number, label: false, placeholder: t('activerecord.attributes.maritime_shipment.container_number'), input_html: { disabled: true } %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :number, t('activerecord.attributes.maritime_shipment.number'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.input :number, label: false, placeholder: t('activerecord.attributes.maritime_shipment.number'), input_html: { disabled: true } %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :origin, t('activerecord.attributes.maritime_shipment.origin'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.association :origin, label: false, placeholder: t('activerecord.attributes.maritime_shipment.origin'), input_html: { disabled: true } %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :destination, t('activerecord.attributes.maritime_shipment.destination'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.association :destination, label: false, placeholder: t('activerecord.attributes.maritime_shipment.destination'), input_html: { disabled: true } %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :shipping_line, t('activerecord.attributes.maritime_shipment.shipping_line'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.association :shipping_line, label: false, placeholder: t('activerecord.attributes.maritime_shipment.shipping_line'), input_html: { disabled: true } %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :incoterm, t('activerecord.attributes.maritime_shipment.incoterm'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.association :incoterm, label_method: :code, label: false, placeholder: t('activerecord.attributes.maritime_shipment.incoterm'), input_html: { disabled: true } %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :client, t('activerecord.attributes.maritime_shipment.client'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.association :client, label: false, placeholder: t('activerecord.attributes.maritime_shipment.client'), input_html: { disabled: true } %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :team, t('activerecord.attributes.maritime_shipment.team'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.association :team, label: false, placeholder: t('activerecord.attributes.maritime_shipment.team'), input_html: { disabled: true } %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :seller, t('activerecord.attributes.maritime_shipment.seller'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.association :seller, label: false, placeholder: t('activerecord.attributes.maritime_shipment.seller'), input_html: { disabled: true } %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :sales_executive, t('activerecord.attributes.maritime_shipment.sales_executive'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.association :sales_executive, label: false, placeholder: t('activerecord.attributes.maritime_shipment.sales_executive'), input_html: { disabled: true } %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :operator, t('activerecord.attributes.maritime_shipment.operator'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.association :operator, label: false, placeholder: t('activerecord.attributes.maritime_shipment.operator'), input_html: { disabled: true } %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :arrival_time, t('activerecord.attributes.maritime_shipment.arrival_time'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.input :arrival_time, as: :date, html5: true, label: false, placeholder: t('activerecord.attributes.maritime_shipment.arrival_time'), input_html: { disabled: true } %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :earliest_to_latest, t('activerecord.attributes.maritime_shipment.earliest_to_latest'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
                  <div class="col-12 col-lg-8">
                    <%= f.input :earliest_to_latest, as: :date, html5: true, label: false, placeholder: t('activerecord.attributes.maritime_shipment.earliest_to_latest'), input_html: { disabled: true } %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>