<%
  content_for(:title, t('views.admin.shipments.show.subtitle1'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.shipments'))
%>

<% content_for :head_block do %>

  <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
  <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/miscellaneous/reactions/reactions', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/miscellaneous/fullcalendar/fullcalendar.bundle', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/miscellaneous/jqvmap/jqvmap.bundle', media: 'screen, print' %>
<% end %>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-ship'></i> <%= @shipment.number %>
<% end %>

<div class="row">
  <div class="col-xl-4 col-lg-6 col-sm-12">
    <%= render 'admin/maritime_shipments/details' %>
  </div>

  <div class="col-xl-4 col-lg-12 col-sm-12">
    <div id="panel-1" class="panel panel-locked" data-panel-lock="false" data-panel-close="false" data-panel-fullscreen="false" data-panel-color="false" data-panel-locked="false" data-panel-refresh="false" data-panel-reset="false">
      <div class="panel-hdr">
        <h2>Route</h2>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <%= render 'admin/maritime_shipments/tracking' %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-4 col-sm-12">
    <div id="panel-2" class="panel panel-locked" data-panel-lock="false" data-panel-close="false" data-panel-fullscreen="false" data-panel-collapsed="false" data-panel-color="false" data-panel-locked="false" data-panel-refresh="false" data-panel-reset="false">
      <div class="panel-hdr">
        <h2>Map</h2>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div id='map' style='width: 400px; height: 512px;'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <script type="text/javascript">
      /* Activate smart panels */
      $('#js-page-content').smartPanel();
  </script>

  <script>
      longitudeOriginPort = <%= @shipment.origin.longitude %>;
      latitudeOriginPort = <%= @shipment. origin.latitude %>;

      longitudeDestinyPort = <%= @shipment.destination.longitude %>;
      latitudeDestinyPort = <%= @shipment.destination.latitude %>;

      longitudCenter = (longitudeOriginPort + longitudeDestinyPort)/2
      latitudCenter = (latitudeOriginPort + latitudeDestinyPort)/2

      mapboxgl.accessToken = 'pk.eyJ1IjoiYXJvZHJpZ3VlejkyIiwiYSI6ImNrbjh1cWp3OTExZ3kyb2xnaGNiaDRzeGQifQ.j7QBl9gTvpmdm7jwAmiCZA';
      const map = new mapboxgl.Map({
          container: 'map', // container ID
          style: 'mapbox://styles/mapbox/streets-v11', // style URL
          center: [longitudCenter, latitudCenter], // starting position [lng, lat]
          zoom: 1, // starting zoom
      });

      const origin = [longitudeOriginPort, latitudeOriginPort];
      const destiny = [longitudeDestinyPort, latitudeDestinyPort];

      const route = {
          'type': 'FeatureCollection',
          'features': [{
              'type': 'Feature',
              'geometry': {
                  'type': 'LineString',
                  'coordinates': [origin, destiny]
              }
          }]
      }

      // Coordinates are initially set to origin.
      var point = {
          'type': 'FeatureCollection',
          'features': [
              {
                  'type': 'Feature',
                  'properties': {},
                  'geometry': {
                      'type': 'Point',
                      'coordinates': origin
                  }
              }
          ]
      };

      // Calculate the distance in kilometers between route start/end point.
      var lineDistance = turf.length(route.features[0]);

      var arc = [];

      var steps = 500;

      // Draw an arc between the `origin` & `destination` of the two points
      for (var i = 0; i < lineDistance; i += lineDistance / steps) {
          var segment = turf.along(route.features[0], i);
          arc.push(segment.geometry.coordinates);
      }

      route.features[0].geometry.coordinates = arc;

      map.on('load', function () {
          // Add a source and layer displaying a point which will be animated in a circle.
          map.addSource('route', {
              'type': 'geojson',
              'data': route
          });

          map.addSource('point', {
              'type': 'geojson',
              'data': point
          });

          map.addLayer({
              'id': 'route',
              'source': 'route',
              'type': 'line',
              'paint': {
                  'line-width': 2,
                  'line-color': '#ff671d'
              }
          });

          map.addLayer({
              'id': 'point',
              'source': 'point',
              'type': 'symbol',
              'layout': {
                  'icon-image': 'airport-15',
                  'icon-rotate': ['get', 'bearing'],
                  'icon-rotation-alignment': 'map',
                  'icon-allow-overlap': true,
                  'icon-ignore-placement': true
              }
          });
      });

  </script>

  <!-- The order of scripts is irrelevant. Please check out the plugin pages for more details about these plugins below: -->
  <%= javascript_include_tag 'smartadmin/dependency/moment/moment' %>
  <%= javascript_include_tag 'smartadmin/miscellaneous/fullcalendar/fullcalendar.bundle' %>
  <%= javascript_include_tag 'smartadmin/statistics/sparkline/sparkline.bundle' %>
  <%= javascript_include_tag 'smartadmin/statistics/easypiechart/easypiechart.bundle' %>
  <%= javascript_include_tag 'smartadmin/statistics/flot/flot.bundle' %>
  <%= javascript_include_tag 'smartadmin/miscellaneous/jqvmap/jqvmap.bundle' %>

<% end %>