<%= simple_form_for [:admin, @port] do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :identifier, placeholder: t('activerecord.attributes.port.identifier') %>
    </div>
    <div class="col-md-6">
      <%= f.input :name, placeholder: t('activerecord.attributes.port.name') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :city, placeholder: t('activerecord.attributes.port.city') %>
    </div>
    <div class="col-md-6">
      <%= f.association :country, placeholder: t('activerecord.attributes.port.country') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :latitude, placeholder: t('activerecord.attributes.port.latitude') %>
    </div>
    <div class="col-md-6">
      <%= f.input :longitude, placeholder: t('activerecord.attributes.port.longitude') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :transportation_method, placeholder: t('activerecord.attributes.port.transportation_method'), prompt: t('views.shared.prompt.transportation_method'), input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :inactive, placeholder: t('activerecord.attributes.port.inactive') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>
