<tr id="<%= dom_id(port) %>">
  <td><%= port.identifier %></td>
  <td><%= link_to port.name, admin_port_path(port.id) %></td>
  <td class="text-center"><%= port.city %></td>
  <td class="text-center"><%= flag_icon(port.country.code.downcase) %> <%= port.country.name %></td>
  <td class="text-center"><%= port.latitude %></td>
  <td class="text-center"><%= port.longitude %></td>
</tr>