<%
  content_for(:title, t('views.admin.roles.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.ports'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-anchor'></i>  <%= t('views.sidebar.ports') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12 col-xl-12">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.ports.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_ports_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
          <%= link_to({ action: :destroy, id: @port.id }, class: "btn btn-primary btn-sm ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
            <%= t('views.shared.buttons.destroy') %>
          <% end %>
          <%= link_to edit_admin_port_path(@port.id), class: 'btn btn-info btn-sm ml-2' do %>
            <%= t('views.shared.buttons.edit') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="frame-wrap p-0 border-0 m-0">
            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.port.identifier') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @port.identifier %></span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.port.name') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @port.name %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.port.city') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @port.city %></span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.port.country') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= flag_icon(@port.country.code.downcase) %> <%= @port.country.name %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.port.latitude') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @port.latitude %>°</span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.port.longitude') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @port.longitude %>°</span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.port.transportation_method') %>:</span>
              <% service_mode = ServiceMode.find_by(variable: @port.transportation_method.to_s) %>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= service_mode.name %></span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.port.inactive') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @port.inactive == false ? t('views.shared.buttons.no') : t('views.shared.buttons.yes') %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.container.created_at') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @port.created_at %>°</span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.container.updated_at') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @port.updated_at %>°</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>