- if action_controller == 'add_contact'
    = select :address, :id, options_for_select(Address.where("addressable_id = ? AND addressable_type = ?", @supplier.id, 'Supplier').collect { |address| [address.name, address.id] }), {prompt: t('views.shared.prompt.address')}, {class: 'form-control', data: {'live-search': "true"}}
- else
    - if @contact.addresses.blank?
        = select :address, :id, options_for_select(Address.where("addressable_id = ? AND addressable_type = ?", @supplier.id, 'Supplier').collect { |address| [address.name, address.id] }), {prompt: t('views.shared.prompt.address')}, {class: 'form-control', data: {'live-search': "true"}}
    - else
        - supplier_address = Address.where("addressable_type = ? AND street = ? AND interior_number = ? AND colony = ? AND country = ? AND state_id = ? AND zip_code = ?", 'Supplier', @contact.addresses.first.street, @contact.addresses.first.interior_number, @contact.addresses.first.colony, @contact.addresses.first.country, @contact.addresses.first.state_id, @contact.addresses.first.zip_code) unless @contact.addresses.nil?
        = select :address, :id, options_for_select(Address.where("addressable_id = ? AND addressable_type = ?", @supplier.id, 'Supplier').collect { |address| [address.name, address.id] }, supplier_address.first.id), {prompt: t('views.shared.prompt.address')}, {class: 'form-control', data: {'live-search': "true"}}