<%= simple_form_for @contact, url: url_for(controller: 'admin/suppliers', action: 'update_contact'), html: {id: 'form_contact'}, remote: true do |f|%>
  <%= render 'admin/suppliers/contacts/form' , f: f%>
<%  end %>
