.nested-fields
  = f.hidden_field :id
  = f.hidden_field :phoneable_id
  = f.hidden_field :code
  = f.hidden_field :phoneable_type, value: phoneable_type
  = f.hidden_field :principal, value: true
  .row
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.input :type_phone, collection: Phone.type_phones, placeholder: t('activerecord.attributes.phone.type_phone'), prompt: t('views.admin.suppliers.shared.prompt.type_phone'), input_html: { class: 'form-control-sm type_phone_contact' }
    .col-xl-6.col-sm-12.hide-element#country-code-contact
      = f.label :mobile_number
      = f.input :mobile_number, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: 'country-code-tel-contact form-control-sm ' }, label: false
    .col-xl-3.hide-element#phone-code-contact
      .form-group.fv-plugins-icon-container
        = f.input :number, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: 'extension-code-tel-contact form-control-sm ' }
    .col-xl-3.hide-element#extension-code-contact
      .form-group.fv-plugins-icon-container
        = f.input :extension, placeholder: t('activerecord.attributes.phone.extension'), input_html: { class: 'extension-code-number-contact form-control-sm ' }
javascript:
    $(document).ready(function () {
        const input = $(".country-code-tel-contact");
        $('.type_phone_contact').on('change', function () {
            if ($('.type_phone_contact').val() == '') {
                $('#country-code-contact').addClass('hide-element');
                $('#extension-code-contact').addClass('hide-element');
                $('#phone-code-contact').addClass('hide-element');
                $('.extension-code-tel-contact').val('');
                $('.extension-code-number-contact').val('');
                $(".country-code-tel-contact").val('');
            } else if ($('.type_phone_contact').val() == 'permanent') {
                if (!$("#country-code-contact").hasClass('hide-element')) {
                    $('#country-code-contact').addClass('hide-element');
                    $(".country-code-tel-contact").val('');
                }
                $('#extension-code-contact').removeClass('hide-element');
                $('#phone-code-contact').removeClass('hide-element');
            } else {
                input.intlTelInput({
                    formatOnInit: true,
                    separateDialCode: false,
                    placeholderNumberType: 'MOBILE',
                    initialCountry: "mx",
                    nationalMode: false,
                    hiddenInput: "full",
                });
                if (!$("#extension-code-contact").hasClass('hide-element')) {
                    $('#extension-code-contact').addClass('hide-element');
                    $('#phone-code-contact').addClass('hide-element');
                    $('.extension-code-tel-contact').val('');
                    $('.extension-code-number-contact').val('');
                }
                $('#country-code-contact').removeClass('hide-element')
            }
        });

        $("#new_contact").submit(function () {
            let countryData = $('#contact_phones_attributes_0_mobile_number').intlTelInput("getSelectedCountryData");
            let countryCode = countryData.dialCode
            $('#contact_phones_attributes_0_code').val(countryCode);
        });
    });
