<%= simple_form_for [:admin, @supplier] do |f| %>
  <div class="accordion accordion-hover" id="accordion-supplier">
    <div class="card">
      <div class="card-header">
        <a href="javascript:void(0);" class="card-title" data-toggle="collapse" data-target="#collapse-supplier" aria-expanded="true">
          <i class="<%= Rails.configuration.icon_prefix %> fa-id-card width-2 fs-xl"></i>
          <%= t('views.admin.suppliers.new.sections.supplier') %>
          <span class="ml-auto">
            <span class="collapsed-reveal">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-up fs-xl"></i>
            </span>
            <span class="collapsed-hidden">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-down fs-xl"></i>
            </span>
          </span>
        </a>
      </div>
      <div id="collapse-supplier" class="collapse show" data-parent="#accordion-supplier">
        <div class="card-body">
          <%= render 'admin/suppliers/supplier_data', f: f %>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion accordion-hover mt-5" id="accordion-address">
    <div class="card">
      <div class="card-header">
        <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#collapse-address" aria-expanded="false">
          <i class="<%= Rails.configuration.icon_prefix %> fa-map-marked width-2 fs-xl"></i>
          <%= t('views.admin.suppliers.new.sections.address') %>
          <span class="ml-auto">
            <span class="collapsed-reveal">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-up fs-xl"></i>
            </span>
            <span class="collapsed-hidden">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-down fs-xl"></i>
            </span>
          </span>
        </a>
      </div>
      <div id="collapse-address" class="collapse" data-parent="#accordion-address">
        <div class="card-body">
          <%= f.simple_fields_for :addresses do |address| %>
            <%= render 'admin/suppliers/address_data', ff: address %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion accordion-hover mt-5" id="accordion-contact">
    <div class="card">
      <div class="card-header">
        <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#collapse-contact" aria-expanded="false">
          <i class="<%= Rails.configuration.icon_prefix %> fa-user-friends width-2 fs-xl"></i>
          <%= t('views.admin.suppliers.new.sections.contact') %>
          <span class="ml-auto">
            <span class="collapsed-reveal">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-up fs-xl"></i>
            </span>
            <span class="collapsed-hidden">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-down fs-xl"></i>
            </span>
          </span>
        </a>
      </div>
      <div id="collapse-contact" class="collapse" data-parent="#accordion-contact">
        <div class="card-body">
          <%= f.simple_fields_for :contacts do |contact| %>
            <%= render 'admin/suppliers/contact_data', contact: contact %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion accordion-hover mt-5 hide-element" id="accordion-credit">
    <div class="card">
      <div class="card-header">
        <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#collapse-credit" aria-expanded="false">
          <i class="<%= Rails.configuration.icon_prefix %> fa-analytics width-2 fs-xl"></i>
          <%= t('views.admin.suppliers.new.sections.credit') %>
          <span class="ml-auto">
            <span class="collapsed-reveal">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-up fs-xl"></i>
            </span>
            <span class="collapsed-hidden">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-down fs-xl"></i>
            </span>
          </span>
        </a>
      </div>
      <div id="collapse-credit" class="collapse" data-parent="#accordion-credit">
        <div class="card-body">
          <%= render 'admin/suppliers/credit_data', f: f %>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion accordion-hover mt-5 hide-element" id="accordion-billing">
    <div class="card">
      <div class="card-header">
        <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#collapse-billing" aria-expanded="false">
          <i class="<%= Rails.configuration.icon_prefix %> fa-money-bill-wave width-2 fs-xl"></i>
          <%= t('views.admin.suppliers.new.sections.billing') %>
          <span class="ml-auto">
            <span class="collapsed-reveal">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-up fs-xl"></i>
            </span>
            <span class="collapsed-hidden">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-down fs-xl"></i>
            </span>
          </span>
        </a>
      </div>
      <div id="collapse-billing" class="collapse" data-parent="#accordion-billing">
        <div class="card-body">
          <%= render 'admin/suppliers/billing_data', f: f %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>

<% content_for :scripts_block do %>
  <script>
      $(document).ready(function () {
          const checked_has_credit = document.getElementById('supplier_has_credit').checked;

          if (checked_has_credit) {
              console.log(checked_has_credit);
              $("#accordion-credit").removeClass("hide-element");
          } else {
              console.log(checked_has_credit);
              $("#accordion-credit").addClass("hide-element");
          }

          $("#supplier_has_credit").on("click", function () {
              const chk = document.getElementById('supplier_has_credit').checked;
              console.log(chk);
              if (chk) {
                  $("#accordion-credit").removeClass("hide-element");
              } else {
                  $("#accordion-credit").addClass("hide-element");
              }
          });

          const checked_advanced_parameters = document.getElementById('supplier_advanced_parameters').checked;

          if (checked_advanced_parameters) {
              $(".advanced-parameters").removeClass("hide-element");
          } else {
              $(".advanced-parameters").addClass("hide-element");
              $('#supplier_parent_entity_id').val('');
          }

          $("#supplier_advanced_parameters").on("click", function () {
              console.log("click");
              const chk = document.getElementById('supplier_advanced_parameters').checked;
              console.log(chk);
              if (chk) {
                  $(".advanced-parameters").removeClass("hide-element");
              } else {
                  $(".advanced-parameters").addClass("hide-element");
                  $('#supplier_parent_entity_id').val('');
              }
          });
      });

  </script>
<% end %>