<div class="col-lg-4 col-xl-3 order-lg-1 order-xl-1">
  <div id="panel-7" class="panel">
    <div class="panel-hdr">
      <h2>
        <span class="fw-300"><%= @supplier.name %></span>
      </h2>
      <div class="panel-toolbar">
        <button class="btn btn-toolbar-master" data-toggle="dropdown">
          <i class="<%= Rails.configuration.icon_prefix %> fa-ellipsis-v"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-animated dropdown-menu-right">
          <button class="dropdown-item"  data-toggle="modal" data-target="#address-modal">
            <%= t('views.admin.addresses.new.title') %>
          </button>
          <button class="dropdown-item"  data-toggle="modal" data-target="#contact-modal">
            <%= t('views.admin.contacts.new.title') %>
          </button>
          <button class="dropdown-item" data-toggle="modal" data-target="#sender-modal" onclick="newSender()">
            <%= t('views.admin.senders.new.title') %>
          </button>
          <button class="dropdown-item" onclick="newClientProduct()">
            <%= t('views.admin.client_products.new.title') %>
          </button>
        </div>
      </div>
    </div>
    <div class="panel-container show">
      <div class="panel-content">
        <div class="row no-gutters row-grid">
          <div class="col-12">
            <div class="d-flex flex-column align-items-center justify-content-center p-4">
              <% if @supplier.logo.attached? %>
                <%= image_tag(@supplier.logo.service_url, class: 'rounded-circle shadow-2 img-thumbnail', alt: '') %>
              <% else %>
                <%= image_tag('building.png', class: 'rounded-circle shadow-2 img-thumbnail', alt: '') %>
              <% end %>

              <h5 class="mb-0 fw-700 text-center mt-3">
                <%= @supplier.name %>
                <small class="text-muted mb-0"><%= @supplier.website %></small>
              </h5>
              <% if @supplier.authorized? %>
                <span class="label label-light-success label-inline.font-weight-bold"><%= "#{t("enums.client.status.#{@supplier.status}")}" %> </span>
              <% elsif @supplier.pending? %>
                <span class="label label-light-warning label-inline font-weight-bold"><%= "#{t("enums.client.status.#{@supplier.status}")}" %> </span>
              <% else %>
                <span class="label label-light-danger label-inline font-weight-bold"><%= "#{t("enums.client.status.#{@supplier.status}")}" %> </span>
              <% end %>

              <div class="p-4">
                <a href="#" class="mt-1 d-block fs-sm fw-400 text-dark">
                  <i class="fas fa-mobile-alt text-muted mr-2"></i> <%= @supplier.rfc %></a>
                <a href="#" class="mt-1 d-block fs-sm fw-400 text-dark">
                  <i class="fas fa-mouse-pointer text-muted mr-2"></i> <%= @supplier.name %></a>
                <address class="fs-sm fw-400 mt-2 text-muted">
                  <i class="fas fa-map-pin mr-2"></i> 15 Charist St, Detroit, MI, 48212, USA
                </address>
              </div>

              <div class="mt-2 text-center demo">
                <a href="javascript:void(0);" class="fs-xl" style="color:#3b5998">
                  <i class="fab fa-facebook"></i>
                </a>
                <a href="javascript:void(0);" class="fs-xl" style="color:#38A1F3">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="javascript:void(0);" class="fs-xl" style="color:#db3236">
                  <i class="fab fa-google-plus"></i>
                </a>
                <a href="javascript:void(0);" class="fs-xl" style="color:#0077B5">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="javascript:void(0);" class="fs-xl" style="color:#000000">
                  <i class="fab fa-reddit-alien"></i>
                </a>
                <a href="javascript:void(0);" class="fs-xl" style="color:#00AFF0">
                  <i class="fab fa-skype"></i>
                </a>
                <a href="javascript:void(0);" class="fs-xl" style="color:#0063DC">
                  <i class="fab fa-flickr"></i>
                </a>
              </div>
            </div>


            <div class="col-12">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-profile-summary-tab" data-toggle="pill" href="#v-pills-personal-information" role="tab" aria-controls="v-pills-summary" aria-selected="true">
                  <i class="fal fa-user-circle"></i>
                  <span class="hidden-sm-down ml-1"><%= t('views.admin.clients.show.tabs.personal.subtitle') %></span>
                </a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-credit-information" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                  <i class="fal fa-credit-card"></i>
                  <span class="hidden-sm-down ml-1"><%= t('views.admin.clients.show.tabs.credit.title') %></span>
                </a>
                <a class="nav-link" id="v-pills-addresses-information-tab" data-toggle="pill" href="#v-pills-addresses-information" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                  <i class="fal fa-map-marked"></i>
                  <span class="hidden-sm-down ml-1"><%= t('views.admin.clients.show.tabs.address.subtitle') %></span>
                </a>
                <a class="nav-link" id="v-pills-phones-information-tab" data-toggle="pill" href="#v-pills-phones-information" role="tab" aria-controls="v-pills-password" aria-selected="false">
                  <i class="fal fa-phone-alt"></i>
                  <span class="hidden-sm-down ml-1"><%= t('views.admin.clients.show.tabs.phone.subtitle') %></span>
                </a>
                <a class="nav-link" id="v-pills-contacts-information-tab" data-toggle="pill" href="#v-pills-contacts-information" role="tab" aria-controls="v-pills-password" aria-selected="false">
                  <i class="fal fa-users"></i>
                  <span class="hidden-sm-down ml-1"><%= t('views.admin.clients.show.tabs.contact.subtitle') %></span>
                </a>
                <a class="nav-link" id="v-pills-documents-information-tab" data-toggle="pill" href="#v-pills-documents-information" role="tab" aria-controls="v-pills-password" aria-selected="false">
                  <i class="fal fa-file"></i>
                  <span class="hidden-sm-down ml-1"><%= t('views.admin.clients.show.tabs.document.title') %></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<% content_for :scripts_block do %>
  <script>
      function newContact(){
          $('#form_contact')[0].reset()
      }
      function newSender(){
          $('#form_sender')[0].reset()
      }

      function newClientProduct() {
          $.ajax({
              type: "GET",
              url: "/admin/clients/" + $("#client_id").val() + "/new_client_product",
              success: function (data) {
                  $('#v-pills-products-information-tab').trigger("click");
                  $("#product_form").show();
                  $("#product_list").hide();
              }
          });
      }
  </script>
<% end %>