<%
  content_for(:title, t('views.admin.suppliers.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.suppliers'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-user-headset'></i>  <%= t('views.sidebar.suppliers') %>
<% end %>

<% content_for :subheader_block do %>
  <%= render 'dashboard_header' %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="tab-content py-3">
  <div class="tab-pane fade" id="tab_dashboard" role="tabpanel">
    Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.
  </div>
  <div class="tab-pane fade show active" id="tab_general_data" role="tabpanel">
    <%= render 'admin/suppliers/general_data' %>
  </div>
  <div class="tab-pane fade" id="tab_quotes" role="tabpanel">
    <%= render 'admin/suppliers/quotes' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-xl-6">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.suppliers.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_suppliers_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
          <%= link_to({ action: :destroy, id: @supplier.id }, class: "btn btn-primary btn-sm ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
            <%= t('views.shared.buttons.destroy') %>
          <% end %>
          <%= link_to edit_admin_supplier_path(@supplier.id), class: 'btn btn-info btn-sm ml-2' do %>
            <%= t('views.shared.buttons.edit') %>
          <% end %>
        </div>
      </div>
      <ul class="dashboard-tabs nav nav-pills nav-primary row row-paddingless m-0 p-0" role="tablist">
        <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
          <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center active" data-toggle="pill" href="#tab_dashboard">
            <span class="nav-icon py-2 w-auto">
              <span class="svg-icon svg-icon-3x">
                <%= render 'shared/icons/dashboard' %>
              </span>
            </span>
          </a>
        </li>

        <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
          <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center active" data-toggle="pill" href="#tab_general">
            <span class="nav-icon py-2 w-auto">
              <span class="svg-icon svg-icon-3x">
                <%= render 'shared/icons/general' %>
              </span>
            </span>
          </a>
        </li>

        <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
          <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center active" data-toggle="pill" href="#tab_rates">
            <span class="nav-icon py-2 w-auto">
              <span class="svg-icon svg-icon-3x">
                <%= render 'shared/icons/currency' %>
              </span>
            </span>
          </a>
        </li>

        <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
          <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center active" data-toggle="pill" href="#tab_quotes">
            <span class="nav-icon py-2 w-auto">
              <span class="svg-icon svg-icon-3x">
                <%= render 'shared/icons/calculator' %>
              </span>
            </span>
          </a>
        </li>

        <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
          <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center active" data-toggle="pill" href="#tab_shipments">
            <span class="nav-icon py-2 w-auto">
              <span class="svg-icon svg-icon-3x">
                <i class="fas fa-ship fa-4x"></i>
              </span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>