<%
  content_for(:title, 'Profile')
  content_for(:category_1, 'Page Views')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-plus-circle'></i>  Profile
<% end %>

<% content_for :pagedescription do %>
  Profile layout
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-6 col-xl-3 order-lg-1 order-xl-1">
    <!-- profile summary -->
    <div class="card mb-g rounded-top">
      <div class="row no-gutters row-grid">
        <div class="col-12">
          <div class="d-flex flex-column align-items-center justify-content-center p-4">
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar.service_url, class: 'rounded-circle shadow-2 img-thumbnail', alt: 'Avatar' %>
            <% else %>
              <%= image_tag Rails.configuration.default, class: 'rounded-circle shadow-2 img-thumbnail', alt: 'Dr. Codex Lantern' %>
            <% end %>
            <h5 class="mb-0 fw-700 text-center mt-3">
              <%= @user.employee.name %>
              <small class="text-muted mb-0"><%= @user.employee.department.name %></small>
            </h5>
            <div class="mt-4 text-center demo">
              <a href="javascript:void(0);" class="fs-xl" style="color:#3b5998">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#38A1F3">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#db3236">
                <i class="fab fa-google-plus"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#0077B5">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#000000">
                <i class="fab fa-reddit-alien"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#00AFF0">
                <i class="fab fa-skype"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#0063DC">
                <i class="fab fa-flickr"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="p-3 text-center">
            <a href="javascript:void(0);" class="btn-link font-weight-bold">Follow</a> <span class="text-primary d-inline-block mx-3">&#9679;</span>
            <a href="javascript:void(0);" class="btn-link font-weight-bold">Message</a> <span class="text-primary d-inline-block mx-3">&#9679;</span>
            <a href="javascript:void(0);" class="btn-link font-weight-bold">Connect</a>
          </div>
        </div>
      </div>
    </div>
    <%= render 'contacts' %>
  </div>

  <div class="col-lg-6 col-xl-3 order-lg-2 order-xl-3">
    <!-- add : -->
    <div class="card mb-2">
      <div class="card-body">
          <div class="d-flex flex-row align-items-center">
            <div class='icon-stack display-3 flex-shrink-0'>
              <i class="<%= Rails.configuration.icon_prefix %> fa-circle icon-stack-3x opacity-100 color-primary-400"></i>
              <i class="fas fa-key icon-stack-1x opacity-100 color-primary-500"></i>
            </div>
            <div class="ml-3">
            <strong>
              <%= t('views.shared.change_password') %>
            </strong>
          </div>
          </div>
        <br>
          <div>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>

                <%= f.input :password,
                            hint: "leave it blank if you don't want to change it",
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :current_password,
                            hint: "we need your current password to confirm your changes",
                            required: true,
                            input_html: { autocomplete: "current-password" } %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, t("views.shared.buttons.update"), class: "btn btn-success waves-effect waves-themed left" %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
    <div class="card mb-g">
      <div class="card-body">
        <div class="d-flex flex-row align-items-center">
          <div class='icon-stack display-3 flex-shrink-0'>
            <i class="<%= Rails.configuration.icon_prefix %> fa-circle icon-stack-3x opacity-100 color-warning-400"></i>
            <i class="fas fa-user-edit icon-stack-1x opacity-100 color-warning-500"></i>
          </div>
          <div class="ml-3">
            <strong>
              <%= t('views.shared.edit_profile') %>
            </strong>
          </div>
        </div>
        <br>
        <div>

        </div>
      </div>
    </div>
    <!-- rating -->
    <div class="card mb-g">
      <div class="row row-grid no-gutters">
        <div class="col-12">
          <div class="p-3">
            <h2 class="mb-0 fs-xl">
              <%= t('views.shared.development')%>
            </h2>
          </div>
        </div>
        <div class="col-12">
          <div class="p-3 d-flex text-primary align-items-center fs-xl">
            <i class="fas fa-star mr-1"></i>
            <i class="fas fa-star mr-1"></i>
            <i class="fas fa-star mr-1"></i>
            <i class="fas fa-star mr-1"></i>
            <i class="<%= Rails.configuration.icon_prefix %> fa-star mr-1"></i>

            <span class="ml-auto">4/5 Stars</span>
          </div>
        </div>
        <div class="col-12">
          <div class="p-3">
            <div class="fw-500 fs-xs">Staff</div>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-primary-300 bg-primary-gradient" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="p-3">
            <div class="fw-500 fs-xs">Punctuality</div>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-primary-300 bg-primary-gradient" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="p-3">
            <div class="fw-500 fs-xs">Helpfulness</div>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-primary-300 bg-primary-gradient" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="p-3">
            <div class="fw-500 fs-xs">Knowledge</div>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-primary-300 bg-primary-gradient" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="p-3">
            <div class="fw-500 fs-xs">Bedside manners</div>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-danger-300 bg-warning-gradient" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="p-3 text-center">
            <a href="javascript:void(0);" class="btn-link font-weight-bold">View all</a>
          </div>
        </div>
      </div>
    </div>

    <!-- skills -->
    <div class="card mb-g">
      <div class="row row-grid no-gutters">
        <div class="col-12">
          <div class="p-3">
            <h2 class="mb-0 fs-xl">
              <%= t('views.shared.development')%>
            </h2>
          </div>
        </div>
        <div class="col-12">
          <div class="p-3">
            <h5 class="text-danger">
              Xray improvement algorythm
              <small class="mt-0 mb-3 text-muted">
                Migration of new API to local servers
              </small>
              <span class="badge badge-danger fw-n position-absolute pos-top pos-right mt-3 mr-3">Delayed</span>
            </h5>
            <div class="row fs-b fw-300">
              <div class="col text-left">
                Progress
              </div>
              <div class="col text-right">
                26%
              </div>
            </div>
            <div class="progress progress-xs d-flex mb-2 mt-1">
              <span class="progress-bar bg-danger-500 progress-bar-striped" role="progressbar" style="width: 26%" aria-valuenow="26" aria-valuemin="0" aria-valuemax="100"></span>
            </div>
            <div class="fw-300 mb-3">
              <div class="row">
                <div class="col">
                  Budget
                </div>
                <div class="col text-right text-danger">
                  -$155,473.70
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="p-3">
            <h5>
              Radioactive Isotope Research
              <small class="mt-0 mb-3 text-muted">
                Accelerator based methods of Technetium99m production – target preparation and processing and beam monitoring technologies
              </small>
              <span class="badge badge-primary fw-n position-absolute pos-top pos-right mt-3 mr-3">A</span>
            </h5>
            <div class="row fs-b fw-300">
              <div class="col text-left">
                Progress
              </div>
              <div class="col text-right">
                90%
              </div>
            </div>
            <div class="progress progress-xs d-flex mb-2 mt-1">
              <span class="progress-bar bg-primary-500 progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></span>
            </div>
            <div class="fw-300 mb-0">
              <div class="row">
                <div class="col">
                  Budget
                </div>
                <div class="col text-right">
                  $1,325,987.30
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="p-3 text-center">
            <div class="text-left fw-400 ">
              <div class="text-secondary mb-1">Project Owners</div>
              <div class="fs-sm d-flex align-items-center">
                <a href="#" class="btn-m-s">
                  <%= image_tag 'smartadmin/demo/avatars/avatar-a.png', class: 'profile-image-sm rounded-circle', alt: 'aa' %>
                </a>
                <a href="#" class="btn-m-s">
                  <%= image_tag 'smartadmin/demo/avatars/avatar-b.png', class: 'profile-image-sm rounded-circle', alt: 'aa' %>
                </a>
                <a href="#" class="btn-m-s">
                  <%= image_tag 'smartadmin/demo/avatars/avatar-c.png', class: 'profile-image-sm rounded-circle', alt: 'aa' %>
                </a>
                <a href="#" class="btn-m-s">
                  <%= image_tag 'smartadmin/demo/avatars/avatar-e.png', class: 'profile-image-sm rounded-circle', alt: 'aa' %>
                </a>
                <a href="#" class="btn-m-s">
                  <%= image_tag 'smartadmin/demo/avatars/avatar-h.png', class: 'profile-image-sm rounded-circle', alt: 'aa' %>
                </a>
                <a href="#" class="btn-m-s">
                  <%= image_tag 'smartadmin/demo/avatars/avatar-k.png', class: 'profile-image-sm rounded-circle', alt: 'aa' %>
                </a>
                <a href="#" class="btn-m-s fs-xs">
									<span data-hasmore="+7" class="rounded-circle profile-image-sm">
										<%= image_tag 'smartadmin/demo/avatars/avatar-j.png', class: 'profile-image-sm rounded-circle', alt: 'aa' %>
									</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<% content_for :scripts_block do %>
  <script>
      $(document).ready(function () {

      });
  </script>
<% end %>
