<%
  content_for(:title, 'Login')
%>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
<% end %>

<div class="page-wrapper auth">
  <div class="page-inner bg-brand-gradient">
    <div class="page-content-wrapper bg-transparent m-0">
      <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
        <div class="d-flex align-items-center container p-0">

          <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
            <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
              <%= image_tag 'smartadmin/logo.png', alt: "#{Rails.configuration.app} WebApp", aria: { roledescription: 'logo' } %>
              <span class="page-logo-text mr-1"><%= Rails.configuration.app_name %></span>
            </a>
          </div>
          <span class="text-white opacity-50 ml-auto mr-2 hidden-sm-down">
						Already a member?
					</span>
          <%#= link_to 'Secure Login', page_page_login_path, class: 'btn-link text-white ml-auto ml-sm-0' %>
        </div>
      </div>
      <div class="flex-1" style="background: url('<%= image_path 'smartadmin/svg/pattern-1.svg' %>') no-repeat center bottom fixed; background-size: cover; ">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
          <div class="row">

            <div class="col-xl-6 ml-auto mr-auto">
              <div class="card p-6 rounded-plus bg-faded">

                <%= simple_form_for(resource, as: resource_name, html: { id: 'js-login' }, url: registration_path(resource_name)) do |f| %>
                  <%= f.simple_fields_for :contact do |ff| %>
                    <%= ff.hidden_field :contactable_type, value: 'Client' %>
                    <%= ff.hidden_field :email %>
                    <%= hidden_field_tag :is_contact, true %>

                    <div class="form-group row">
                      <div class="col-12 pr-1">
                        <%= ff.input :name, required: true, autofocus: true, input_html: { class: "form-control-lg", placeholder: t('activerecord.attributes.contact.first_name') } %>
                        <div class="invalid-feedback">No, you missed this one.</div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-12 pl-1">
                        <%= ff.input :last_name, input_html: { class: "form-control-lg", placeholder: t('activerecord.attributes.contact.last_name') } %>
                        <div class="invalid-feedback">No, you missed this one.</div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-12 pl-1">
                        <%= f.input :email, required: true, input_html: { class: "form-control-lg", placeholder: t('activerecord.attributes.contact.email')} %>
                        <div class="invalid-feedback">No, you missed this one.</div>
                      </div>
                    </div>

                    <%= ff.fields_for :phones_attributes do |phone| %>
                      <div class="form-group row">
                        <div class="col-12 pl-1">
                          <%= render 'shared/mobile_phone_field', f: phone, phoneable_type: 'Contact', type_phone: 'mobile' %>
                        </div>
                      </div>
                    <% end %>

                    <div class="form-group row">
                      <div class="col-12 pl-1">
                        <%= f.input :accept_terms_of_service_and_privacy_policies, { class: "custom-control-input" } %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-12 text-right">
                        <%= f.button :submit, t('views.shared.buttons.continue'), class: 'btn btn-primary font-weight-bolder font-size-h6 px-4 py-4 my-3 mr-3', style:'display: inline-block !important; width: 100% !important; min-width: 150px !important; border-radius: 5px !important; border: none !important;' %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
          <%= Rails.configuration.copyright_inverse %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <script>
      $("#js-login-btn").click(function (event) {

          // Fetch form to apply custom Bootstrap validation
          var form = $("#js-login")

          if (form[0].checkValidity() === false) {
              event.preventDefault()
              event.stopPropagation()
          }

          form.addClass('was-validated');
          // Perform ajax submit here...
      });
  </script>
<% end %>
