
<style>
    .timeline {
        list-style: none;
        padding: 20px 0 20px;
        position: relative;
    }
    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }
    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }
    .timeline > li:before,
    .timeline > li:after {
        content: " ";
        display: table;
    }
    .timeline > li:after {
        clear: both;
    }
    .timeline > li:before,
    .timeline > li:after {
        content: " ";
        display: table;
    }
    .timeline > li:after {
        clear: both;
    }
    .timeline > li > .timeline-panel {
        width: 46%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }
    .timeline > li > .timeline-panel:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " ";
    }
    .timeline > li > .timeline-panel:after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";
    }
    .timeline > li > .timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -25px;
        background-color: rgb(33, 142, 233);
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
    }
    .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline-badge.primary {
        background-color: #2e6da4 !important;
    }
    .timeline-badge.success {
        background-color: #3f903f !important;
        color: white;
    }
    .timeline-badge.warning {
        background-color: rgb(68, 105, 175) !important;
        color: white;
    }
    .timeline-badge.danger {
        background-color: rgb(67, 177, 49) !important;
        color: white;
    }
    .timeline-badge.info {
        background-color: #5bc0de !important;
    }
    .timeline-title {
        margin-top: 0;
        color: inherit;
    }
    .timeline-body > p,
    .timeline-body > ul {
        margin-bottom: 0;
    }
    .timeline-body > p + p {
        margin-top: 5px;
    }
</style>

<ul class="timeline">
  <li>
    <div class="timeline-badge" style="color: white"><%= image_tag('svg/flags/at origin.svg') %></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Port of Loading: <%= @shipment.origin.name %></h4>
        <p><small class="text-muted"><i class="fas fa-ship"></i> 11 hours ago via Twitter</small></p>
      </div>
      <div class="timeline-body">
        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipisci</p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge warning" style="color: white"><%= image_tag('svg/flags/transshipment.svg') %></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Mussum ipsum cacilds</h4>
      </div>
      <div class="timeline-body">
        <p>Mussum ipsum cacilds, vidis litro abertis.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge danger" style="color: white"><%= image_tag('svg/flags/reached pod.svg') %></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Discharge Port: <%= @shipment.destination.name %></h4>
      </div>
      <div class="timeline-body">
        <p>Mussum ipsum cacilds, vidis litro abertis.</p>
      </div>
    </div>
  </li>
</ul>