<%
  content_for(:title, t('views.admin.shipments.show.subtitle1'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.shipments'))
%>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/miscellaneous/reactions/reactions', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/miscellaneous/fullcalendar/fullcalendar.bundle', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/miscellaneous/jqvmap/jqvmap.bundle', media: 'screen, print' %>
<% end %>

<% content_for :heading do %>
  <div class="row">
    <div class="col-lg-6">
      <i class='subheader-icon fal fa-ship'></i> <%= @shipment.number %>
    </div>
    <div class="col-lg-6 text-right">
      <%= link_to customer_maritime_shipments_path, class: 'btn btn-secondary btn-sm ml-2' do %>
        <%= t('views.shared.buttons.back') %>
      <% end %>
    </div>
  </div>
<% end %>

<ul class="nav nav-pills mb-3" style="display: flex; justify-content: center;" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button style="height: 100px" class=" btn-lg nav-link active" id="pills-activity-tab" data-toggle="pill" data-target="#pills-activity" type="button" role="tab" aria-controls="pills-activity" aria-selected="true">
      <i class='fas fa-rss'></i> <span class="ml-1"><%= t('views.shared.shipments.tabs.activity') %></span>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button style="height: 100px" class="btn-lg nav-link" id="pills-shipment-tab" data-toggle="pill" data-target="#pills-shipment" type="button" role="tab" aria-controls="pills-shipment" aria-selected="false">
      <i class='fas fa-ship'></i> <span class="ml-1"><%= t('views.shared.shipments.tabs.shipment') %></span>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button style="height: 100px" class="btn-lg nav-link" id="pills-document-tab" data-toggle="pill" data-target="#pills-document" type="button" role="tab" aria-controls="pills-document" aria-selected="false">
      <i class='fas fa-file'></i> <span class="ml-1"><%= t('views.shared.shipments.tabs.document') %></span>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button style="height: 100px" class="btn-lg nav-link" id="pills-commoditie-tab" data-toggle="pill" data-target="#pills-commoditie" type="button" role="tab" aria-controls="pills-commoditie" aria-selected="false">
      <i class='fas fa-boxes'></i> <span class="ml-1"><%= t('views.shared.shipments.tabs.commodity') %></span>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button style="height: 100px" class="btn-lg nav-link" id="pills-purchase-order-tab" data-toggle="pill" data-target="#pills-purchase-order" type="button" role="tab" aria-controls="pills-purchase-order" aria-selected="false">
      <i class='fas fa-shopping-cart'></i> <span class="ml-1"><%= t('views.shared.shipments.tabs.purchase_order') %></span>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button style="height: 100px" class="btn-lg nav-link" id="pills-quote-tab" data-toggle="pill" data-target="#pills-quote" type="button" role="tab" aria-controls="pills-quote" aria-selected="false">
      <i class='fas fa-file-invoice-dollar'></i> <span class="ml-1"><%= t('views.shared.shipments.tabs.quotes') %></span>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button style="height: 100px" class="btn-lg nav-link" id="pills-invoice-tab" data-toggle="pill" data-target="#pills-invoice" type="button" role="tab" aria-controls="pills-invoice" aria-selected="false">
      <i class='fas fa-money-bill'></i> <span class="ml-1"><%= t('views.shared.shipments.tabs.bill') %></span>
    </button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-activity" role="tabpanel" aria-labelledby="pills-activity-tab">
    <%= render 'customer/maritime_shipments/activity' %>
  </div>
  <div class="tab-pane fade" id="pills-shipment" role="tabpanel" aria-labelledby="pills-shipment-tab">
    <%= render 'customer/maritime_shipments/shipment' %>
  </div>
  <div class="tab-pane fade" id="pills-document" role="tabpanel" aria-labelledby="pills-document-tab">
    <%= render 'customer/maritime_shipments/document' %>
  </div>
  <div class="tab-pane fade" id="pills-commoditie" role="tabpanel" aria-labelledby="pills-commoditie-tab">
    <%= render 'customer/maritime_shipments/commodity' %>
  </div>
  <div class="tab-pane fade" id="pills-purchase-order" role="tabpanel" aria-labelledby="pills-purchase-order-tab">
    <%= render 'customer/maritime_shipments/purchase_order' %>
  </div>
  <div class="tab-pane fade" id="pills-quote" role="tabpanel" aria-labelledby="pills-quote-tab">
    <%= render 'customer/maritime_shipments/quotes' %>
  </div>
  <div class="tab-pane fade" id="pills-invoice" role="tabpanel" aria-labelledby="pills-invoice-tab">
    <%= render 'customer/maritime_shipments/bill' %>
  </div>
</div>

<% content_for :scripts_block do %>
  <script type="text/javascript">
      /* Activate smart panels */
      $('#js-page-content').smartPanel();
  </script>

  <!-- The order of scripts is irrelevant. Please check out the plugin pages for more details about these plugins below: -->
  <%= javascript_include_tag 'smartadmin/dependency/moment/moment' %>
  <%= javascript_include_tag 'smartadmin/miscellaneous/fullcalendar/fullcalendar.bundle' %>
  <%= javascript_include_tag 'smartadmin/statistics/sparkline/sparkline.bundle' %>
  <%= javascript_include_tag 'smartadmin/statistics/easypiechart/easypiechart.bundle' %>
  <%= javascript_include_tag 'smartadmin/statistics/flot/flot.bundle' %>
  <%= javascript_include_tag 'smartadmin/miscellaneous/jqvmap/jqvmap.bundle' %>

<% end %>