<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/selectize/selectize', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/selectize/selectize.bootstrap4', media: 'screen, print' %>
<% end %>

<%= render 'customer/products/form' %>

<%= simple_form_for [:customer, @client_product] do |f| %>
  <%= f.association :client, label: false, selected: @client.id, input_html: { class: 'hide-element' } %>
  <div class="form-group text-center" data-uppy="client_product[image]">
    <%= f.label :image %>
    <div>
      <% if @client_product.image.attached? %>
        <%= image_tag @client_product.image, width: 200, data: { behavior: 'uppy-preview' } %>
      <% else %>
        <%= image_tag 'product.png', class: 'shadow-2 img-thumbnail', width: "200", 'data-behavior': "uppy-preview" %>
      <% end %>
    </div>
    <%= link_to t('views.shared.buttons.upload'), "#", data: { behavior: "uppy-trigger" } %>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.association :product, placeholder: t('activerecord.attributes.client_product.product'), input_html: { class: "selectize" } %>
    </div>
    <div class="col-md-6">
      <%= f.input :tariff_fraction, placeholder: t('activerecord.attributes.client_product.tariff_fraction') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <%= f.input :description, placeholder: t('activerecord.attributes.client_product.description'), input_html: { class: 'text-description' } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/selectize/selectize' %>
  <script>
      $(document).ready(function () {
          var selectizeCallback = null;

          $(".product-modal").on("hide.bs.modal", function(e) {
              if (selectizeCallback != null) {
                  selectizeCallback();
                  selecitzeCallback = null;
              }

              $("#new_product").trigger("reset");
              // $.rails.enableFormElements($("#new_product"));
          });


          $("#new_product").on("submit", function(e) {
              e.preventDefault();
              $.ajax({
                  method: "POST",
                  url: $(this).attr("action"),
                  data: $(this).serialize(),
                  success: function(response) {
                      selectizeCallback({ value: response.id, text: response.name});
                      selectizeCallback = null;

                      $(".product-modal").modal('toggle');
                  }
              });
          });

          $(".selectize").selectize({
              create: function(input, callback) {
                  selectizeCallback = callback;

                  $(".product-modal").modal();
                  $("#product_name").val(input);
              }
          });

          console.log(document.querySelector("[data-uppy]"));

          let element= document.querySelector("[data-uppy]");

          setupUppy(element);

          function setupUppy(element) {
              let trigger = element.querySelector('[data-behavior="uppy-trigger"]')
              let form = element.closest('form')
              let direct_upload_url = document.querySelector("meta[name='direct-upload-url']").getAttribute("content")
              let field_name = element.dataset.uppy

              trigger.addEventListener("click", (event) => event.preventDefault())

              let uppy = Uppy({
                  locale: Spanish,
                  autoProceed: true,
                  allowMultipleUploads: false,
                  logger: Uppy.debugLogger,
                  restrictions: {
                      allowedFileTypes: ['image/*'],
                  }
              })

              uppy.use(ActiveStorageUpload, {
                  directUploadUrl: direct_upload_url
              })

              uppy.use(Dashboard, {
                  trigger: trigger,
                  closeAfterFinish: true,
              })

              uppy.use(GoogleDrive, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })
              uppy.use(Dropbox, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })
              uppy.use(Box, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })
              uppy.use(OneDrive, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })

              uppy.on('complete', (result) => {
                  // Rails.ajax
                  // or show a preview:
                  element.querySelectorAll('[data-pending-upload]').forEach(element => element.parentNode.removeChild(element))

                  result.successful.forEach(file => {
                      appendUploadedFile(element, file, field_name)
                      setPreview(element, file)
                  })

                  uppy.reset()
              })
          }

          function appendUploadedFile(element, file, field_name) {
              const hiddenField = document.createElement('input')

              hiddenField.setAttribute('type', 'hidden')
              hiddenField.setAttribute('name', field_name)
              hiddenField.setAttribute('data-pending-upload', true)
              hiddenField.setAttribute('value', file.response.signed_id)

              element.appendChild(hiddenField)
          }

          function setPreview(element, file) {
              let preview = element.querySelector('[data-behavior="uppy-preview"]')
              if (preview) {
                  let src = (file.preview) ? file.preview : "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpj0DBTVsaja01_xWh37bcutvpd7rh7zEd528HD0d_l6A73osY"
                  preview.src = src
              }
          }
      });
  </script>
<% end %>
