<%
  content_for(:title, t('views.admin.products.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.products'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-cubes'></i>  <%= t('views.sidebar.products') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12 col-xl-6">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.products.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to customer_client_products_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
          <%= link_to({ action: :destroy, id: @client_product.id }, class: "btn btn-primary btn-sm ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
            <%= t('views.shared.buttons.destroy') %>
          <% end %>
          <%= link_to edit_customer_client_product_path(@client_product.id), class: 'btn btn-info btn-sm ml-2' do %>
            <%= t('views.shared.buttons.edit') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="frame-wrap p-0 border-0 m-0">
            <div class="mb-4">
              <% if @client_product.image.attached? %>
                <%= image_tag @client_product.image, width: 200, data: { behavior: 'uppy-preview' } %>
              <% else %>
                <%= image_tag 'product.png', class: 'shadow-2 img-thumbnail', width: "200", 'data-behavior': "uppy-preview" %>
              <% end %>
            </div>
            <span class="text-dark-50 flex-root font-weight-bold"><%= t('activerecord.attributes.client_product.description') %></span>
            <div class="font-size-sm mb-6"><%= @client_product.description %></div>
            <div></div>
            <div class="row">
              <div class="col-lg-6">
                <div class="d-flex mb-3">
                  <span class="text-dark-50 flex-root font-weight-bold"><%= t('activerecord.attributes.client_product.product') %>: &nbsp</span>
                  <span class="text-dark flex-root"><%= @client_product.product.name %></span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="d-flex mb-3">
                  <span class="text-dark-50 flex-root font-weight-bold"><%= t('activerecord.attributes.client_product.hs_code') %>: &nbsp</span>
                  <span class="text-dark flex-root"><%= @client_product.hs_code %></span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="d-flex mb-3">
                  <span class="text-dark-50 flex-root font-weight-bold"><%= t('activerecord.attributes.client_product.tariff_fraction') %>: &nbsp</span>
                  <span class="text-dark flex-root"><%= @client_product.tariff_fraction %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>