<%
  content_for(:title, 'Responsive Alternative')
  content_for(:category_1, 'Datatables')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-table'></i> DataTables: <span class='fw-300'>Responsive Alternative</span> <sup class='badge badge-primary fw-500'>ADDON</sup>
<% end %>

<% content_for :pagedescription do %>
  Create headache free searching, sorting and pagination tables without any complex configuration
<% end %>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/datagrid/datatables/datatables.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
	<div class="col-xl-12">
		<div id="panel-1" class="panel">
			<div class="panel-hdr">	
				<h2>
					Example <span class="fw-300"><i>Table</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">	
					<!-- datatable start -->								
					<table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
						<thead>
							<tr>
								<th>OrderID</th>
								<th>Recipient</th>
								<th>Shipping.Address</th>
								<th>Shipping.Country</th>
								<th>Shipping.City</th>
								<th>Agent</th>
								<th>Company</th>
								<th>OrganizationID</th>
								<th>Latitude</th>
								<th>Longitude</th>
								<th>Shipping.Date</th>
								<th>Delivery.Date</th>
								<th>Payment.Date</th>
								<th>Timezone</th>
								<th>Payment</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Status</th>
								<th>Admin Controls</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>298728508</td>
								<td>Samuel A. Townsend</td>
								<td>Ap #376-4611 Et St.</td>
								<td>Togo</td>
								<td>Monceau-sur-Sambre</td>
								<td>Dorian Mcintyre</td>
								<td>Gravida Molestie PC</td>
								<td>00439892299</td>
								<td>17.61388</td>
								<td>96.86623</td>
								<td>2019-10-06 21:27:12</td>
								<td>30/05/18</td>
								<td>2019-04-19 09:08:30</td>
								<td>PDT</td>
								<td>$36158.32</td>
								<td>euismod.mauris.eu@purusactellus.com</td>
								<td>511-7454</td>
								<td>1</td>
								<td></td>
							</tr>
							<tr>
								<td>398199588</td>
								<td>Clare C. Perkins</td>
								<td>1191 Sodales Avenue</td>
								<td>Costa Rica</td>
								<td>Mersin</td>
								<td>Robert Howe</td>
								<td>Gravida Molestie Arcu Ltd</td>
								<td>31305907399</td>
								<td>-68.29001</td>
								<td>100.86604</td>
								<td>2018-07-09 17:17:55</td>
								<td>05/08/18</td>
								<td>2020-02-08 16:49:29</td>
								<td>PDT</td>
								<td>$37471.19</td>
								<td>dictum.Proin.eget@sed.ca</td>
								<td>611-8302</td>
								<td>1</td>
								<td></td>
							</tr>
							<tr>
								<td>419738638</td>
								<td>Perry I. Gonzales</td>
								<td>4895 Vel, Rd.</td>
								<td>United States</td>
								<td>Paglieta</td>
								<td>Nita Taylor</td>
								<td>Lobortis Ultrices Vivamus Corp.</td>
								<td>55848451599</td>
								<td>-76.12256</td>
								<td>-71.3302</td>
								<td>2019-12-17 05:39:26</td>
								<td>15/05/19</td>
								<td>2018-05-06 13:26:42</td>
								<td>PDT</td>
								<td>$70959.34</td>
								<td>ut@sitametluctus.ca</td>
								<td>750-0429</td>
								<td>2</td>
								<td></td>
							</tr>
							<tr>
								<td>63227196</td>
								<td>Jelani L. Phelps</td>
								<td>P.O. Box 632, 1009 Erat. St.</td>
								<td>Myanmar</td>
								<td>Moorsele</td>
								<td>Rhona Contreras</td>
								<td>Arcu Foundation</td>
								<td>05775245799</td>
								<td>-77.54682</td>
								<td>132.85627</td>
								<td>2019-10-19 14:01:20</td>
								<td>22/11/18</td>
								<td>2019-07-04 18:52:44</td>
								<td>PDT</td>
								<td>$49125.35</td>
								<td>aliquet.diam.Sed@Nullam.edu</td>
								<td>409-6605</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>93816161</td>
								<td>Xerxes T. Conner</td>
								<td>776-2061 Sodales Rd.</td>
								<td>Faroe Islands</td>
								<td>Santander</td>
								<td>Stephen Frye</td>
								<td>Ligula LLC</td>
								<td>15462873499</td>
								<td>24.54806</td>
								<td>65.87806</td>
								<td>2020-03-08 21:29:49</td>
								<td>05/09/18</td>
								<td>2018-07-25 00:28:16</td>
								<td>PST</td>
								<td>$18967.68</td>
								<td>nec@euodioPhasellus.org</td>
								<td>257-0999</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>163796139</td>
								<td>Candice L. Donaldson</td>
								<td>4589 Augue St.</td>
								<td>Congo (Brazzaville)</td>
								<td>Peñalolén</td>
								<td>Adam Lyons</td>
								<td>Ullamcorper LLP</td>
								<td>68866776699</td>
								<td>-41.32</td>
								<td>-65.2217</td>
								<td>2018-11-05 11:41:22</td>
								<td>27/06/18</td>
								<td>2018-09-11 23:52:20</td>
								<td>PST</td>
								<td>$50588.44</td>
								<td>Duis.cursus.diam@Aenean.co.uk</td>
								<td>1-852-753-2487</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>437801703</td>
								<td>Hyacinth P. Carson</td>
								<td>1892 Et, St.</td>
								<td>Korea, North</td>
								<td>Beaumaris</td>
								<td>Lawrence Powell</td>
								<td>Aliquam Eros Foundation</td>
								<td>06430069899</td>
								<td>54.39702</td>
								<td>-149.16263</td>
								<td>2018-09-16 21:33:18</td>
								<td>18/01/20</td>
								<td>2019-08-31 08:43:58</td>
								<td>PDT</td>
								<td>$90455.68</td>
								<td>ac@duisemperet.edu</td>
								<td>1-868-762-5439</td>
								<td>2</td>
								<td></td>
							</tr>
							<tr>
								<td>29387302K</td>
								<td>Omar E. Morrison</td>
								<td>4901 Donec Avenue</td>
								<td>Mali</td>
								<td>Kansas City</td>
								<td>Dai Walters</td>
								<td>Est Ac Mattis Corporation</td>
								<td>79969224599</td>
								<td>-56.95423</td>
								<td>-176.51121</td>
								<td>2019-07-27 18:19:38</td>
								<td>24/07/19</td>
								<td>2019-06-04 10:14:46</td>
								<td>PDT</td>
								<td>$51246.35</td>
								<td>vehicula.risus@accumsanneque.com</td>
								<td>1-914-907-0932</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>24438546K</td>
								<td>Dora H. Mcmillan</td>
								<td>230-6443 Sed Rd.</td>
								<td>Angola</td>
								<td>Joliet</td>
								<td>Kyla Perry</td>
								<td>Interdum Associates</td>
								<td>91465277899</td>
								<td>-9.27641</td>
								<td>168.93885</td>
								<td>2020-01-18 04:40:04</td>
								<td>05/08/19</td>
								<td>2018-12-21 13:58:27</td>
								<td>PST</td>
								<td>$66645.66</td>
								<td>sem.elit.pharetra@molestiesodalesMauris.ca</td>
								<td>1-186-429-8809</td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>236288242</td>
								<td>Howard J. Watkins</td>
								<td>9532 Ut Avenue</td>
								<td>United States</td>
								<td>Cannock</td>
								<td>Ora Patterson</td>
								<td>Eu Incorporated</td>
								<td>63202631099</td>
								<td>-71.62815</td>
								<td>104.40843</td>
								<td>2018-10-28 19:14:38</td>
								<td>21/09/18</td>
								<td>2019-03-24 09:04:54</td>
								<td>PST</td>
								<td>$06463.36</td>
								<td>mi@indolor.org</td>
								<td>515-1656</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>78251840</td>
								<td>Peter E. Riggs</td>
								<td>5178 Phasellus Avenue</td>
								<td>Cyprus</td>
								<td>Litueche</td>
								<td>Tallulah Booker</td>
								<td>Faucibus Corporation</td>
								<td>46695699299</td>
								<td>-7.23908</td>
								<td>-130.77606</td>
								<td>2020-03-14 14:56:34</td>
								<td>13/04/20</td>
								<td>2019-02-23 10:15:53</td>
								<td>PST</td>
								<td>$77593.22</td>
								<td>mi@Ut.ca</td>
								<td>874-9462</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>69169546</td>
								<td>Armand X. Roberson</td>
								<td>318-3022 Adipiscing Av.</td>
								<td>Switzerland</td>
								<td>Doues</td>
								<td>Willa Hensley</td>
								<td>Vehicula LLP</td>
								<td>25972471299</td>
								<td>-36.95449</td>
								<td>35.7161</td>
								<td>2019-03-23 11:36:19</td>
								<td>13/04/20</td>
								<td>2020-01-12 17:36:13</td>
								<td>PDT</td>
								<td>$72178.30</td>
								<td>ut.molestie.in@loremvitae.ca</td>
								<td>631-6228</td>
								<td>6</td>
								<td></td>
							</tr>
							<tr>
								<td>465099461</td>
								<td>Reese Y. Wagner</td>
								<td>9248 Hendrerit Ave</td>
								<td>Canada</td>
								<td>Bellevue</td>
								<td>Jade Thomas</td>
								<td>Magna Corp.</td>
								<td>89884508899</td>
								<td>-21.19867</td>
								<td>-90.01975</td>
								<td>2019-07-21 23:16:57</td>
								<td>04/09/18</td>
								<td>2018-07-14 03:01:55</td>
								<td>PDT</td>
								<td>$52335.19</td>
								<td>sem@porttitorvulputateposuere.co.uk</td>
								<td>289-9705</td>
								<td>5</td>
								<td></td>
							</tr>
							<tr>
								<td>398720431</td>
								<td>Cassandra N. Gross</td>
								<td>141-6837 Amet, Ave</td>
								<td>Oman</td>
								<td>Guardia Sanframondi</td>
								<td>Thor Powell</td>
								<td>Non Ante Inc.</td>
								<td>82480723199</td>
								<td>70.98602</td>
								<td>82.79917</td>
								<td>2020-03-15 20:24:27</td>
								<td>26/10/19</td>
								<td>2018-11-04 08:06:56</td>
								<td>PDT</td>
								<td>$16708.05</td>
								<td>tristique.neque.venenatis@libero.co.uk</td>
								<td>1-781-822-1852</td>
								<td>1</td>
								<td></td>
							</tr>
							<tr>
								<td>9036359K</td>
								<td>Ishmael Y. Clayton</td>
								<td>483-6510 Primis Rd.</td>
								<td>Sint Maarten</td>
								<td>Genzano di Lucania</td>
								<td>Murphy Wolf</td>
								<td>In Hendrerit Consectetuer Limited</td>
								<td>63909733499</td>
								<td>89.58444</td>
								<td>76.23368</td>
								<td>2019-03-21 13:00:20</td>
								<td>27/10/18</td>
								<td>2018-05-20 19:01:31</td>
								<td>PDT</td>
								<td>$84047.92</td>
								<td>luctus.Curabitur.egestas@Crasconvallisconvallis.edu</td>
								<td>1-461-193-0112</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>389772283</td>
								<td>Stuart C. Joyce</td>
								<td>Ap #131-985 Integer Av.</td>
								<td>Bouvet Island</td>
								<td>Leersum</td>
								<td>Denise Barry</td>
								<td>Suspendisse Aliquet Sem LLP</td>
								<td>34887383999</td>
								<td>-88.78717</td>
								<td>28.97232</td>
								<td>2018-05-03 01:23:46</td>
								<td>20/08/18</td>
								<td>2020-03-18 23:38:00</td>
								<td>PST</td>
								<td>$88461.01</td>
								<td>egestas@inmolestietortor.net</td>
								<td>597-2871</td>
								<td>5</td>
								<td></td>
							</tr>
							<tr>
								<td>81446695</td>
								<td>Willa I. George</td>
								<td>942-2277 Semper Avenue</td>
								<td>Tokelau</td>
								<td>Greenwich</td>
								<td>Grace Butler</td>
								<td>Eros Incorporated</td>
								<td>12979293099</td>
								<td>56.21428</td>
								<td>12.63295</td>
								<td>2019-12-09 14:40:36</td>
								<td>26/02/19</td>
								<td>2019-07-31 11:14:30</td>
								<td>PDT</td>
								<td>$12197.07</td>
								<td>mi.eleifend.egestas@risus.com</td>
								<td>389-0900</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>500685816</td>
								<td>Carlos U. Reyes</td>
								<td>Ap #815-3108 Conubia Road</td>
								<td>Falkland Islands</td>
								<td>Itajaí</td>
								<td>Dean Sherman</td>
								<td>Libero Integer LLP</td>
								<td>15847671499</td>
								<td>5.8307</td>
								<td>-74.93198</td>
								<td>2019-06-15 17:44:54</td>
								<td>29/09/19</td>
								<td>2020-03-01 19:37:04</td>
								<td>PDT</td>
								<td>$43345.74</td>
								<td>eleifend.nec@vitaesodalesat.ca</td>
								<td>455-7113</td>
								<td>5</td>
								<td></td>
							</tr>
							<tr>
								<td>457242182</td>
								<td>Hermione B. Lee</td>
								<td>Ap #422-1839 Rutrum Rd.</td>
								<td>Rwanda</td>
								<td>PiŽtrain</td>
								<td>Howard Valdez</td>
								<td>Sollicitudin Limited</td>
								<td>80426922499</td>
								<td>-9.01342</td>
								<td>68.71341</td>
								<td>2020-01-14 15:53:18</td>
								<td>04/10/18</td>
								<td>2019-09-28 18:27:51</td>
								<td>PDT</td>
								<td>$49349.89</td>
								<td>eleifend.nec.malesuada@molestiearcuSed.org</td>
								<td>655-7290</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>183731130</td>
								<td>Nelle T. Humphrey</td>
								<td>889-6097 Erat Av.</td>
								<td>Moldova</td>
								<td>Fort St. John</td>
								<td>Phoebe Roy</td>
								<td>Luctus Et Ultrices Associates</td>
								<td>71218005699</td>
								<td>80.81534</td>
								<td>-23.54473</td>
								<td>2018-08-06 00:30:48</td>
								<td>28/07/18</td>
								<td>2019-07-20 18:58:39</td>
								<td>PST</td>
								<td>$20426.08</td>
								<td>non@sedestNunc.com</td>
								<td>1-217-489-4334</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>434423244</td>
								<td>Cooper M. Estes</td>
								<td>4438 Et, Road</td>
								<td>Colombia</td>
								<td>Viesville</td>
								<td>Quentin Kent</td>
								<td>Ut Tincidunt Orci Foundation</td>
								<td>22577824199</td>
								<td>88.14995</td>
								<td>10.13151</td>
								<td>2019-09-27 05:13:59</td>
								<td>17/06/19</td>
								<td>2020-02-19 16:46:00</td>
								<td>PDT</td>
								<td>$00479.64</td>
								<td>pede.malesuada@magnis.com</td>
								<td>120-2740</td>
								<td>1</td>
								<td></td>
							</tr>
							<tr>
								<td>173142277</td>
								<td>Odette A. Contreras</td>
								<td>Ap #595-976 Mauris Av.</td>
								<td>Cuba</td>
								<td>Charny</td>
								<td>Mara Goodwin</td>
								<td>Pellentesque LLC</td>
								<td>12418581499</td>
								<td>-27.97145</td>
								<td>-66.93835</td>
								<td>2018-09-13 17:16:23</td>
								<td>28/02/19</td>
								<td>2019-12-03 15:10:20</td>
								<td>PDT</td>
								<td>$03195.51</td>
								<td>lorem.vitae@aultriciesadipiscing.com</td>
								<td>563-1027</td>
								<td>1</td>
								<td></td>
							</tr>
							<tr>
								<td>329934357</td>
								<td>Keelie H. Nicholson</td>
								<td>P.O. Box 699, 2608 Tortor, Road</td>
								<td>Russian Federation</td>
								<td>Trollhättan</td>
								<td>Silas Diaz</td>
								<td>Mollis Associates</td>
								<td>63700729899</td>
								<td>79.61691</td>
								<td>-83.95099</td>
								<td>2019-11-28 18:58:15</td>
								<td>16/03/20</td>
								<td>2019-07-17 08:19:36</td>
								<td>PDT</td>
								<td>$53207.42</td>
								<td>ipsum.Suspendisse.sagittis@sem.org</td>
								<td>1-559-904-1886</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>474872939</td>
								<td>Cecilia H. Frank</td>
								<td>839-1282 Nec Road</td>
								<td>Northern Mariana Islands</td>
								<td>San Giovanni Lipioni</td>
								<td>Paloma Dean</td>
								<td>At Corp.</td>
								<td>24891310699</td>
								<td>30.42826</td>
								<td>-142.47665</td>
								<td>2019-05-24 17:49:35</td>
								<td>26/09/19</td>
								<td>2019-12-05 11:34:22</td>
								<td>PST</td>
								<td>$10381.16</td>
								<td>Donec.tempus@enim.ca</td>
								<td>1-767-599-5793</td>
								<td>2</td>
								<td></td>
							</tr>
							<tr>
								<td>237732855</td>
								<td>Melinda V. Hancock</td>
								<td>Ap #935-5278 Ut, Av.</td>
								<td>French Polynesia</td>
								<td>Saint-Denis</td>
								<td>Vanna Weber</td>
								<td>Vulputate Dui Corporation</td>
								<td>93847126699</td>
								<td>-35.24843</td>
								<td>139.47048</td>
								<td>2020-04-01 01:53:34</td>
								<td>27/08/19</td>
								<td>2019-09-12 09:58:48</td>
								<td>PDT</td>
								<td>$02518.53</td>
								<td>tempus.risus@arcuNunc.com</td>
								<td>629-3462</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>36599904K</td>
								<td>Sandra W. Mcclain</td>
								<td>Ap #685-944 Suspendisse Rd.</td>
								<td>French Guiana</td>
								<td>Chiari</td>
								<td>Kennan Blanchard</td>
								<td>Nisi A Odio Industries</td>
								<td>34600392099</td>
								<td>0.3617</td>
								<td>-21.78242</td>
								<td>2020-02-10 06:28:52</td>
								<td>23/09/19</td>
								<td>2018-09-04 04:51:27</td>
								<td>PDT</td>
								<td>$14114.00</td>
								<td>et.netus@laciniaorci.net</td>
								<td>477-8047</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>391273049</td>
								<td>Leah T. Henson</td>
								<td>426-927 Metus. Av.</td>
								<td>Switzerland</td>
								<td>Fabro</td>
								<td>Jolie Orr</td>
								<td>Scelerisque Dui Suspendisse Ltd</td>
								<td>81751496899</td>
								<td>47.77387</td>
								<td>47.75601</td>
								<td>2018-06-04 17:50:17</td>
								<td>21/11/19</td>
								<td>2019-10-28 20:19:02</td>
								<td>PDT</td>
								<td>$44936.48</td>
								<td>mauris.ut@tempusrisusDonec.edu</td>
								<td>212-2265</td>
								<td>1</td>
								<td></td>
							</tr>
							<tr>
								<td>381714640</td>
								<td>Samuel A. Anthony</td>
								<td>1778 Proin St.</td>
								<td>Nepal</td>
								<td>Aisemont</td>
								<td>Xavier Hoover</td>
								<td>Per Ltd</td>
								<td>75946837399</td>
								<td>-15.41389</td>
								<td>142.52182</td>
								<td>2020-03-02 13:37:26</td>
								<td>28/01/19</td>
								<td>2018-06-01 01:45:55</td>
								<td>PDT</td>
								<td>$26708.66</td>
								<td>Duis@Donecnibhenim.co.uk</td>
								<td>753-2322</td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>466825212</td>
								<td>Tanner Q. Powers</td>
								<td>675-5189 Donec Ave</td>
								<td>Mauritania</td>
								<td>Ucluelet</td>
								<td>Molly Cain</td>
								<td>Imperdiet Non Inc.</td>
								<td>43623678899</td>
								<td>34.17445</td>
								<td>-60.66068</td>
								<td>2020-01-12 07:09:57</td>
								<td>20/09/19</td>
								<td>2018-10-01 10:15:46</td>
								<td>PST</td>
								<td>$29941.26</td>
								<td>nibh@sedfacilisisvitae.net</td>
								<td>709-3504</td>
								<td>2</td>
								<td></td>
							</tr>
							<tr>
								<td>306059262</td>
								<td>Gemma S. Donaldson</td>
								<td>815-4374 Sodales Rd.</td>
								<td>Mongolia</td>
								<td>Stirling</td>
								<td>Sonya Charles</td>
								<td>Donec Tempus Lorem Foundation</td>
								<td>96492478299</td>
								<td>-84.75575</td>
								<td>30.85759</td>
								<td>2019-07-16 16:20:57</td>
								<td>26/08/18</td>
								<td>2019-06-21 04:38:33</td>
								<td>PDT</td>
								<td>$12765.79</td>
								<td>velit.Pellentesque.ultricies@orciconsectetuereuismod.org</td>
								<td>1-196-679-5398</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>498097030</td>
								<td>Devin P. Cline</td>
								<td>168-5287 Libero Ave</td>
								<td>Hungary</td>
								<td>Akşehir</td>
								<td>Cailin Bruce</td>
								<td>Mauris Corporation</td>
								<td>16200595699</td>
								<td>76.59449</td>
								<td>114.27132</td>
								<td>2018-12-13 16:48:11</td>
								<td>12/04/20</td>
								<td>2018-10-31 09:13:51</td>
								<td>PDT</td>
								<td>$85822.90</td>
								<td>risus.Donec.nibh@adipiscingelitAliquam.org</td>
								<td>1-231-949-2611</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>120249843</td>
								<td>Zeph P. Garcia</td>
								<td>Ap #104-7705 Per Avenue</td>
								<td>Liechtenstein</td>
								<td>Valkenburg aan de Geul</td>
								<td>Hiram Fleming</td>
								<td>Placerat Velit Quisque Institute</td>
								<td>63398162499</td>
								<td>88.30805</td>
								<td>-89.04727</td>
								<td>2019-01-12 23:49:31</td>
								<td>09/03/20</td>
								<td>2018-06-30 05:01:18</td>
								<td>PDT</td>
								<td>$25462.41</td>
								<td>iaculis.odio@Suspendisseacmetus.org</td>
								<td>1-603-762-9764</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>50846806</td>
								<td>Kellie Q. Charles</td>
								<td>Ap #435-5911 Quis St.</td>
								<td>South Africa</td>
								<td>Merzig</td>
								<td>Hermione Carney</td>
								<td>Mollis Nec Cursus Corporation</td>
								<td>84996045699</td>
								<td>76.79126</td>
								<td>-83.45942</td>
								<td>2018-08-21 21:48:00</td>
								<td>11/02/20</td>
								<td>2018-09-21 15:54:57</td>
								<td>PDT</td>
								<td>$30914.84</td>
								<td>blandit@interdum.org</td>
								<td>1-255-356-5084</td>
								<td>6</td>
								<td></td>
							</tr>
							<tr>
								<td>37342868K</td>
								<td>Marny E. Shelton</td>
								<td>P.O. Box 942, 5733 Augue Street</td>
								<td>Moldova</td>
								<td>Treppo Carnico</td>
								<td>Teagan Haley</td>
								<td>Volutpat Nulla LLC</td>
								<td>39216464299</td>
								<td>-59.09746</td>
								<td>148.31371</td>
								<td>2019-08-10 01:18:23</td>
								<td>15/11/19</td>
								<td>2019-01-21 15:46:43</td>
								<td>PST</td>
								<td>$81585.15</td>
								<td>in.tempus@metusInlorem.org</td>
								<td>820-8296</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>383281571</td>
								<td>Kaye K. Velazquez</td>
								<td>Ap #797-9673 Lorem, Ave</td>
								<td>Panama</td>
								<td>Québec City</td>
								<td>Natalie Jensen</td>
								<td>Purus Ac Tellus Corporation</td>
								<td>87769235299</td>
								<td>-75.81824</td>
								<td>-164.53735</td>
								<td>2019-11-26 16:13:50</td>
								<td>19/10/18</td>
								<td>2018-04-26 02:36:22</td>
								<td>PDT</td>
								<td>$60217.84</td>
								<td>in@nunc.org</td>
								<td>1-470-907-7287</td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>137423448</td>
								<td>David Z. Allison</td>
								<td>2852 Dictum Road</td>
								<td>India</td>
								<td>Rachecourt</td>
								<td>Ryder Mays</td>
								<td>Nulla Facilisis Suspendisse Incorporated</td>
								<td>37662209799</td>
								<td>-86.46214</td>
								<td>-10.41009</td>
								<td>2019-05-30 13:41:44</td>
								<td>26/10/18</td>
								<td>2020-04-09 06:16:15</td>
								<td>PDT</td>
								<td>$12094.43</td>
								<td>Nullam.ut.nisi@vitaenibhDonec.ca</td>
								<td>1-780-194-9652</td>
								<td>1</td>
								<td></td>
							</tr>
							<tr>
								<td>484358303</td>
								<td>Alea W. Myers</td>
								<td>9068 Aptent Rd.</td>
								<td>Georgia</td>
								<td>Milwaukee</td>
								<td>Ayanna Bradshaw</td>
								<td>Est Mauris Industries</td>
								<td>84505303699</td>
								<td>-41.82831</td>
								<td>-78.13223</td>
								<td>2019-12-11 19:41:42</td>
								<td>18/07/19</td>
								<td>2020-01-15 16:43:56</td>
								<td>PST</td>
								<td>$36288.42</td>
								<td>Quisque@augueeutempor.co.uk</td>
								<td>463-1143</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>251222134</td>
								<td>Igor E. House</td>
								<td>Ap #684-4781 Ut Ave</td>
								<td>Bhutan</td>
								<td>Todi</td>
								<td>Kaseem Nash</td>
								<td>Bibendum Sed Incorporated</td>
								<td>91393836599</td>
								<td>10.53105</td>
								<td>-160.14301</td>
								<td>2018-09-14 12:02:53</td>
								<td>08/11/19</td>
								<td>2019-02-01 07:53:03</td>
								<td>PDT</td>
								<td>$30489.03</td>
								<td>arcu.Nunc@vulputateduinec.ca</td>
								<td>174-5351</td>
								<td>5</td>
								<td></td>
							</tr>
							<tr>
								<td>423102993</td>
								<td>Sasha X. Sherman</td>
								<td>7260 Nunc Street</td>
								<td>New Zealand</td>
								<td>Sokoto</td>
								<td>Lev Alvarado</td>
								<td>Sociis Natoque Penatibus Associates</td>
								<td>02707597499</td>
								<td>80.09698</td>
								<td>28.94072</td>
								<td>2019-08-18 17:03:45</td>
								<td>21/05/19</td>
								<td>2018-10-19 11:13:06</td>
								<td>PDT</td>
								<td>$14243.46</td>
								<td>lorem@Cumsociis.com</td>
								<td>1-982-499-2446</td>
								<td>2</td>
								<td></td>
							</tr>
							<tr>
								<td>408702941</td>
								<td>Signe T. Witt</td>
								<td>Ap #753-6683 Id, Road</td>
								<td>Mexico</td>
								<td>Roio del Sangro</td>
								<td>Julian Brooks</td>
								<td>Eleifend Non Dapibus Associates</td>
								<td>97265820799</td>
								<td>69.91254</td>
								<td>74.32922</td>
								<td>2018-08-31 05:37:45</td>
								<td>20/09/18</td>
								<td>2019-03-07 09:37:10</td>
								<td>PST</td>
								<td>$33073.34</td>
								<td>gravida@sedpede.net</td>
								<td>176-3692</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>167181678</td>
								<td>Nevada P. Mccoy</td>
								<td>Ap #559-1017 Dignissim. Ave</td>
								<td>Bonaire, Sint Eustatius and Saba</td>
								<td>Vigo</td>
								<td>Wyoming Robles</td>
								<td>Ultricies Ligula Nullam Inc.</td>
								<td>62802708699</td>
								<td>23.91274</td>
								<td>100.39545</td>
								<td>2018-09-17 05:24:52</td>
								<td>23/09/19</td>
								<td>2019-09-15 08:55:27</td>
								<td>PDT</td>
								<td>$18285.53</td>
								<td>Nulla.semper.tellus@seddui.net</td>
								<td>644-8477</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>255498665</td>
								<td>Aiko P. Benton</td>
								<td>4916 Pede. Av.</td>
								<td>Canada</td>
								<td>Relegem</td>
								<td>Dora Atkinson</td>
								<td>Risus Associates</td>
								<td>03529162299</td>
								<td>-56.22161</td>
								<td>110.98359</td>
								<td>2019-11-01 08:13:20</td>
								<td>27/09/18</td>
								<td>2020-03-04 03:14:35</td>
								<td>PST</td>
								<td>$60809.24</td>
								<td>eget@elementumduiquis.edu</td>
								<td>636-9430</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>371567968</td>
								<td>Sade P. Bartlett</td>
								<td>903-9013 A Avenue</td>
								<td>Northern Mariana Islands</td>
								<td>Castiglione di Sicilia</td>
								<td>Hamilton Merrill</td>
								<td>Suspendisse Institute</td>
								<td>27982457699</td>
								<td>-30.66337</td>
								<td>175.47112</td>
								<td>2018-12-16 10:03:04</td>
								<td>20/03/20</td>
								<td>2018-06-09 12:12:32</td>
								<td>PST</td>
								<td>$14895.94</td>
								<td>velit@nonummyultricies.edu</td>
								<td>1-987-651-5664</td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>322994877</td>
								<td>Fredericka H. Landry</td>
								<td>P.O. Box 342, 1285 Elit. Rd.</td>
								<td>Albania</td>
								<td>Sankt Wendel</td>
								<td>Theodore Jordan</td>
								<td>Ac Associates</td>
								<td>22783898699</td>
								<td>-29.9656</td>
								<td>104.55726</td>
								<td>2018-06-08 06:59:35</td>
								<td>01/06/19</td>
								<td>2019-07-18 00:34:48</td>
								<td>PST</td>
								<td>$52855.11</td>
								<td>dolor.quam@viverraDonectempus.co.uk</td>
								<td>615-9888</td>
								<td>1</td>
								<td></td>
							</tr>
							<tr>
								<td>277976412</td>
								<td>Indira H. Fletcher</td>
								<td>6264 Curae; Rd.</td>
								<td>India</td>
								<td>Genval</td>
								<td>Gage Church</td>
								<td>Molestie Dapibus Ligula LLP</td>
								<td>42843400299</td>
								<td>21.96031</td>
								<td>-0.31619</td>
								<td>2019-07-18 22:57:54</td>
								<td>15/12/19</td>
								<td>2018-09-14 04:35:23</td>
								<td>PDT</td>
								<td>$46095.22</td>
								<td>Nulla.eu.neque@ac.org</td>
								<td>1-413-621-4698</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>372757892</td>
								<td>Blythe X. Avery</td>
								<td>Ap #603-8246 Nunc Av.</td>
								<td>Guyana</td>
								<td>Whyalla</td>
								<td>Lee Pittman</td>
								<td>Convallis Erat PC</td>
								<td>41227267999</td>
								<td>-42.87923</td>
								<td>58.47521</td>
								<td>2020-03-12 08:50:50</td>
								<td>30/03/19</td>
								<td>2018-10-11 09:21:57</td>
								<td>PDT</td>
								<td>$51743.81</td>
								<td>tincidunt.congue@arcu.co.uk</td>
								<td>533-7409</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>378410142</td>
								<td>Armando N. Ferrell</td>
								<td>579-9743 In, Avenue</td>
								<td>Slovenia</td>
								<td>Dehri</td>
								<td>Stephanie Gallegos</td>
								<td>Tempor LLC</td>
								<td>14402742299</td>
								<td>58.59807</td>
								<td>-27.38365</td>
								<td>2018-06-26 06:44:44</td>
								<td>19/09/19</td>
								<td>2018-07-07 17:34:04</td>
								<td>PST</td>
								<td>$00006.09</td>
								<td>Nullam@sitametdiam.com</td>
								<td>1-921-435-9660</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>359626215</td>
								<td>Dorian O. Bates</td>
								<td>P.O. Box 917, 4670 Et Road</td>
								<td>Swaziland</td>
								<td>Dolceacqua</td>
								<td>Cassandra Mcclure</td>
								<td>Erat Nonummy Consulting</td>
								<td>88439344999</td>
								<td>-68.67631</td>
								<td>-114.51021</td>
								<td>2019-08-30 04:35:48</td>
								<td>27/07/19</td>
								<td>2018-09-30 03:39:41</td>
								<td>PST</td>
								<td>$92574.36</td>
								<td>elit.erat@sedorcilobortis.org</td>
								<td>1-523-322-1092</td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>393869526</td>
								<td>Caleb D. Vance</td>
								<td>4891 Scelerisque Street</td>
								<td>Laos</td>
								<td>Devon</td>
								<td>Amal Massey</td>
								<td>Iaculis Enim Industries</td>
								<td>60601484499</td>
								<td>-28.89288</td>
								<td>-151.24472</td>
								<td>2019-07-28 15:44:18</td>
								<td>19/10/19</td>
								<td>2019-08-19 17:01:20</td>
								<td>PST</td>
								<td>$00327.19</td>
								<td>augue.porttitor@nuncidenim.co.uk</td>
								<td>1-919-235-9223</td>
								<td>5</td>
								<td></td>
							</tr>
							<tr>
								<td>191576322</td>
								<td>Amy I. Bradley</td>
								<td>7609 Non, St.</td>
								<td>Niue</td>
								<td>Austin</td>
								<td>Brandon Douglas</td>
								<td>Fermentum Metus Aenean Limited</td>
								<td>96234657299</td>
								<td>-42.88492</td>
								<td>88.77296</td>
								<td>2019-08-05 13:59:19</td>
								<td>13/03/19</td>
								<td>2019-05-10 06:36:17</td>
								<td>PDT</td>
								<td>$98908.88</td>
								<td>elementum.sem@eleifend.org</td>
								<td>1-221-812-3627</td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>274109173</td>
								<td>Wendy B. Riley</td>
								<td>1043 Etiam St.</td>
								<td>Moldova</td>
								<td>Lac-Serent</td>
								<td>Cain Kaufman</td>
								<td>Non Limited</td>
								<td>38737016799</td>
								<td>-89.07199</td>
								<td>130.00282</td>
								<td>2019-02-20 21:19:39</td>
								<td>15/09/19</td>
								<td>2018-07-14 17:39:56</td>
								<td>PDT</td>
								<td>$98870.17</td>
								<td>ac.tellus.Suspendisse@quamelementumat.edu</td>
								<td>1-431-279-9222</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>342230571</td>
								<td>Holmes K. Dean</td>
								<td>P.O. Box 584, 1226 Nulla Av.</td>
								<td>Isle of Man</td>
								<td>Cochrane</td>
								<td>Griffin Barker</td>
								<td>Et Tristique Incorporated</td>
								<td>76916715299</td>
								<td>58.53424</td>
								<td>-164.90836</td>
								<td>2018-12-19 17:43:52</td>
								<td>02/09/18</td>
								<td>2020-02-07 01:54:26</td>
								<td>PDT</td>
								<td>$94095.01</td>
								<td>enim@Phasellus.com</td>
								<td>541-1278</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>400751277</td>
								<td>Shea R. Haley</td>
								<td>274-7179 Conubia Street</td>
								<td>Serbia</td>
								<td>Richmond Hill</td>
								<td>Brent Mullen</td>
								<td>Aliquet Odio Inc.</td>
								<td>11716056699</td>
								<td>16.77936</td>
								<td>88.80543</td>
								<td>2019-12-24 12:38:31</td>
								<td>07/12/18</td>
								<td>2020-04-09 15:56:09</td>
								<td>PDT</td>
								<td>$31939.82</td>
								<td>Nullam.lobortis.quam@turpis.net</td>
								<td>534-8076</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>456710905</td>
								<td>Delilah K. Spencer</td>
								<td>992-9720 Commodo Road</td>
								<td>Togo</td>
								<td>NeuprŽ</td>
								<td>Kevin Mann</td>
								<td>Tristique Pharetra Quisque Corporation</td>
								<td>02721953099</td>
								<td>81.27888</td>
								<td>52.6698</td>
								<td>2018-08-29 00:13:36</td>
								<td>02/02/20</td>
								<td>2019-08-12 20:56:42</td>
								<td>PDT</td>
								<td>$73532.60</td>
								<td>consequat@accumsan.edu</td>
								<td>446-8816</td>
								<td>2</td>
								<td></td>
							</tr>
							<tr>
								<td>408012252</td>
								<td>Colorado B. Horne</td>
								<td>P.O. Box 876, 286 Tortor. St.</td>
								<td>Saint Barthélemy</td>
								<td>Aix-en-Provence</td>
								<td>Lillith Compton</td>
								<td>Erat Sed Consulting</td>
								<td>28779013599</td>
								<td>24.69341</td>
								<td>143.42428</td>
								<td>2018-09-18 23:29:18</td>
								<td>30/01/19</td>
								<td>2020-01-24 01:14:13</td>
								<td>PST</td>
								<td>$99619.10</td>
								<td>magna.a@Cum.ca</td>
								<td>1-132-237-7856</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>57079681</td>
								<td>Kameko N. Castillo</td>
								<td>342-6582 Ipsum. Street</td>
								<td>Norfolk Island</td>
								<td>Maiduguri</td>
								<td>Georgia Whitney</td>
								<td>Interdum Company</td>
								<td>21781388199</td>
								<td>-70.7838</td>
								<td>63.30322</td>
								<td>2019-04-18 07:16:38</td>
								<td>07/11/18</td>
								<td>2019-09-30 20:14:40</td>
								<td>PDT</td>
								<td>$42950.54</td>
								<td>malesuada.vel@ametdapibusid.org</td>
								<td>219-9153</td>
								<td>5</td>
								<td></td>
							</tr>
							<tr>
								<td>291463509</td>
								<td>Hedy I. Burnett</td>
								<td>7880 Ac Rd.</td>
								<td>Israel</td>
								<td>Muridke</td>
								<td>Emerald Morrow</td>
								<td>Cras Lorem PC</td>
								<td>48202005899</td>
								<td>67.76944</td>
								<td>98.63072</td>
								<td>2019-11-29 12:53:58</td>
								<td>15/05/18</td>
								<td>2018-06-28 01:55:13</td>
								<td>PDT</td>
								<td>$73491.65</td>
								<td>blandit.viverra@Maecenasornareegestas.co.uk</td>
								<td>1-623-197-9498</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>233746428</td>
								<td>Rama P. Garner</td>
								<td>P.O. Box 582, 9264 Scelerisque Av.</td>
								<td>Svalbard and Jan Mayen Islands</td>
								<td>Mignanego</td>
								<td>Ashton Vazquez</td>
								<td>Rutrum PC</td>
								<td>11815293899</td>
								<td>-61.68378</td>
								<td>-164.07959</td>
								<td>2020-01-03 22:49:21</td>
								<td>29/01/19</td>
								<td>2019-09-13 07:38:05</td>
								<td>PDT</td>
								<td>$96546.65</td>
								<td>elit.Nulla@Loremipsum.ca</td>
								<td>215-2924</td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>212851345</td>
								<td>Christian G. Hooper</td>
								<td>P.O. Box 141, 9652 Fusce Road</td>
								<td>Haiti</td>
								<td>Montebelluna</td>
								<td>Hilary Justice</td>
								<td>Nec Tempus Scelerisque LLP</td>
								<td>92511588599</td>
								<td>-60.01603</td>
								<td>-90.7262</td>
								<td>2018-04-19 07:35:50</td>
								<td>22/10/19</td>
								<td>2019-09-14 13:45:10</td>
								<td>PDT</td>
								<td>$49560.33</td>
								<td>consequat.nec@Duisacarcu.com</td>
								<td>1-862-649-4581</td>
								<td>6</td>
								<td></td>
							</tr>
							<tr>
								<td>431791277</td>
								<td>Isabelle B. Beach</td>
								<td>P.O. Box 416, 8092 Mollis. Street</td>
								<td>Azerbaijan</td>
								<td>Whitewater Region Township</td>
								<td>Kalia Knight</td>
								<td>Vel Pede Blandit Limited</td>
								<td>48782180399</td>
								<td>-83.18442</td>
								<td>2.56926</td>
								<td>2019-09-07 22:49:42</td>
								<td>28/05/18</td>
								<td>2019-09-16 01:12:12</td>
								<td>PDT</td>
								<td>$50666.20</td>
								<td>sit.amet@adipiscingenim.org</td>
								<td>975-6200</td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>196830774</td>
								<td>Melyssa Y. Guy</td>
								<td>1110 Pharetra Rd.</td>
								<td>Nigeria</td>
								<td>Hard</td>
								<td>Brian Fischer</td>
								<td>Cursus Vestibulum Mauris Corporation</td>
								<td>67789976099</td>
								<td>42.12955</td>
								<td>-130.52365</td>
								<td>2019-04-16 23:40:07</td>
								<td>10/09/19</td>
								<td>2018-11-13 21:12:59</td>
								<td>PDT</td>
								<td>$88840.77</td>
								<td>Lorem.ipsum@Quisquenonummy.com</td>
								<td>816-4009</td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>356045890</td>
								<td>Fulton W. Kline</td>
								<td>Ap #831-1201 Gravida Rd.</td>
								<td>Armenia</td>
								<td>Borriana</td>
								<td>Blake Joyce</td>
								<td>Et Tristique Pellentesque LLC</td>
								<td>06560054099</td>
								<td>-26.95097</td>
								<td>-135.27855</td>
								<td>2018-09-23 08:18:00</td>
								<td>21/03/19</td>
								<td>2018-05-30 15:52:33</td>
								<td>PDT</td>
								<td>$92651.56</td>
								<td>turpis.egestas@mi.ca</td>
								<td>1-946-874-1445</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>11346755K</td>
								<td>Henry F. Torres</td>
								<td>P.O. Box 151, 2738 Dolor Street</td>
								<td>Saint Pierre and Miquelon</td>
								<td>Campofelice di Fitalia</td>
								<td>Dane Elliott</td>
								<td>Rutrum Institute</td>
								<td>60438798999</td>
								<td>-80.73091</td>
								<td>85.75828</td>
								<td>2018-11-09 00:09:09</td>
								<td>22/01/20</td>
								<td>2018-06-08 06:48:11</td>
								<td>PDT</td>
								<td>$46351.80</td>
								<td>tellus.Aenean@sedconsequatauctor.co.uk</td>
								<td>1-973-715-9723</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>350649417</td>
								<td>Felix T. Gallegos</td>
								<td>4770 Adipiscing Road</td>
								<td>Burundi</td>
								<td>Redruth</td>
								<td>Jack Mays</td>
								<td>Ullamcorper Company</td>
								<td>01976412099</td>
								<td>61.98608</td>
								<td>-150.62073</td>
								<td>2018-10-04 04:14:22</td>
								<td>24/08/18</td>
								<td>2018-12-19 05:56:20</td>
								<td>PDT</td>
								<td>$22480.04</td>
								<td>mus.Proin.vel@etnetuset.co.uk</td>
								<td>1-744-820-0736</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>30779909K</td>
								<td>Melissa U. Mcfadden</td>
								<td>6899 Mollis. St.</td>
								<td>Palau</td>
								<td>Sant'Agapito</td>
								<td>Uma Guy</td>
								<td>At Pede Cras Associates</td>
								<td>25735286799</td>
								<td>33.18624</td>
								<td>-124.29807</td>
								<td>2018-10-25 07:59:24</td>
								<td>04/07/19</td>
								<td>2018-11-01 16:20:05</td>
								<td>PST</td>
								<td>$29101.24</td>
								<td>molestie.arcu.Sed@vitae.ca</td>
								<td>1-363-821-2178</td>
								<td>6</td>
								<td></td>
							</tr>
							<tr>
								<td>297351664</td>
								<td>Dolan M. Simon</td>
								<td>Ap #923-3239 Tincidunt Rd.</td>
								<td>Argentina</td>
								<td>San Marcello</td>
								<td>Holly Decker</td>
								<td>Semper Rutrum Foundation</td>
								<td>66927043999</td>
								<td>81.70433</td>
								<td>28.52344</td>
								<td>2020-03-26 16:06:06</td>
								<td>18/09/19</td>
								<td>2020-02-22 07:25:06</td>
								<td>PDT</td>
								<td>$30526.50</td>
								<td>metus.facilisis@etrutrumnon.ca</td>
								<td>1-862-334-4124</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>302691711</td>
								<td>Pamela G. Velazquez</td>
								<td>9109 Ultrices Avenue</td>
								<td>Hong Kong</td>
								<td>Siliguri</td>
								<td>Aladdin Hensley</td>
								<td>Leo In Ltd</td>
								<td>42238471399</td>
								<td>74.13009</td>
								<td>-144.03328</td>
								<td>2019-02-16 19:14:42</td>
								<td>29/10/18</td>
								<td>2019-07-07 23:21:19</td>
								<td>PST</td>
								<td>$09762.36</td>
								<td>venenatis.vel@rhoncusDonecest.net</td>
								<td>1-450-434-6560</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>156635804</td>
								<td>Xenos F. Mejia</td>
								<td>329-1131 Luctus St.</td>
								<td>Zimbabwe</td>
								<td>Milford Haven</td>
								<td>Jameson Norton</td>
								<td>Posuere Vulputate Lacus Corp.</td>
								<td>40240466699</td>
								<td>-46.5055</td>
								<td>-135.17906</td>
								<td>2019-07-05 07:30:30</td>
								<td>05/08/19</td>
								<td>2019-01-09 21:32:41</td>
								<td>PST</td>
								<td>$85792.90</td>
								<td>amet@tortornibh.edu</td>
								<td>1-771-235-5891</td>
								<td>1</td>
								<td></td>
							</tr>
							<tr>
								<td>197525797</td>
								<td>Tasha U. Holder</td>
								<td>666-9190 Sodales St.</td>
								<td>Guinea-Bissau</td>
								<td>Bath</td>
								<td>Deacon Fowler</td>
								<td>Nascetur Associates</td>
								<td>41346740999</td>
								<td>21.73457</td>
								<td>138.78628</td>
								<td>2018-09-06 20:18:02</td>
								<td>28/07/18</td>
								<td>2020-02-09 17:58:11</td>
								<td>PST</td>
								<td>$12108.78</td>
								<td>vitae@vulputate.org</td>
								<td>1-886-372-2849</td>
								<td>6</td>
								<td></td>
							</tr>
							<tr>
								<td>263771753</td>
								<td>Rajah K. Daugherty</td>
								<td>P.O. Box 192, 7868 Dis Av.</td>
								<td>Cocos (Keeling) Islands</td>
								<td>Strijtem</td>
								<td>Kerry Stephens</td>
								<td>Tincidunt Corp.</td>
								<td>34332164799</td>
								<td>59.48021</td>
								<td>33.62045</td>
								<td>2019-05-27 15:10:27</td>
								<td>17/01/19</td>
								<td>2019-10-11 18:53:11</td>
								<td>PDT</td>
								<td>$52461.05</td>
								<td>cursus.et@malesuadamalesuada.org</td>
								<td>424-9734</td>
								<td>1</td>
								<td></td>
							</tr>
							<tr>
								<td>106965641</td>
								<td>Michelle H. Skinner</td>
								<td>P.O. Box 978, 3432 Nisi Rd.</td>
								<td>Saint Barthélemy</td>
								<td>Newark</td>
								<td>Ferdinand Parker</td>
								<td>Eu Industries</td>
								<td>62866798899</td>
								<td>-25.10953</td>
								<td>-132.46452</td>
								<td>2018-05-22 19:19:38</td>
								<td>29/09/18</td>
								<td>2019-01-31 07:46:53</td>
								<td>PDT</td>
								<td>$16582.56</td>
								<td>Lorem@felisadipiscingfringilla.com</td>
								<td>981-0922</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>348176331</td>
								<td>Baker D. Garza</td>
								<td>3482 Commodo Av.</td>
								<td>Taiwan</td>
								<td>Río Negro</td>
								<td>Marah Lang</td>
								<td>Erat Corp.</td>
								<td>23846522099</td>
								<td>80.77497</td>
								<td>123.63235</td>
								<td>2020-03-17 22:44:02</td>
								<td>16/01/19</td>
								<td>2020-01-29 07:34:30</td>
								<td>PDT</td>
								<td>$77648.21</td>
								<td>velit@Sed.ca</td>
								<td>1-629-220-5441</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>290604451</td>
								<td>Leilani H. Kennedy</td>
								<td>Ap #485-8020 Quisque Av.</td>
								<td>Poland</td>
								<td>Warszawa</td>
								<td>Lilah Huber</td>
								<td>Ut Company</td>
								<td>43368861099</td>
								<td>-54.6438</td>
								<td>129.1365</td>
								<td>2018-04-21 04:24:36</td>
								<td>15/08/19</td>
								<td>2019-07-23 12:31:59</td>
								<td>PDT</td>
								<td>$27262.43</td>
								<td>viverra.Donec@In.ca</td>
								<td>446-1788</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>504288811</td>
								<td>Cullen C. Johns</td>
								<td>832-6525 Molestie Av.</td>
								<td>French Polynesia</td>
								<td>Montese</td>
								<td>Eleanor Hendrix</td>
								<td>Laoreet Posuere Enim Company</td>
								<td>53307858899</td>
								<td>-38.52022</td>
								<td>82.43909</td>
								<td>2019-06-03 09:37:39</td>
								<td>27/08/18</td>
								<td>2019-06-26 11:54:35</td>
								<td>PST</td>
								<td>$55270.92</td>
								<td>erat@auctornon.net</td>
								<td>346-1401</td>
								<td>2</td>
								<td></td>
							</tr>
							<tr>
								<td>39649812K</td>
								<td>Britanni M. Campos</td>
								<td>Ap #841-4250 Amet, Av.</td>
								<td>Thailand</td>
								<td>Armadale</td>
								<td>Emma Dotson</td>
								<td>Nisi Aenean Eget Corp.</td>
								<td>99422696899</td>
								<td>58.96752</td>
								<td>-117.58278</td>
								<td>2020-01-14 18:05:02</td>
								<td>15/10/19</td>
								<td>2019-02-16 09:17:26</td>
								<td>PDT</td>
								<td>$95060.19</td>
								<td>vitae@mollis.net</td>
								<td>856-5406</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>201184517</td>
								<td>Victor I. Barlow</td>
								<td>P.O. Box 837, 9273 Massa St.</td>
								<td>Zimbabwe</td>
								<td>Paiguano</td>
								<td>Denise Mcfadden</td>
								<td>Dui Semper Company</td>
								<td>57591149599</td>
								<td>-87.43323</td>
								<td>133.70405</td>
								<td>2019-04-30 20:07:29</td>
								<td>22/03/20</td>
								<td>2020-04-08 11:57:22</td>
								<td>PDT</td>
								<td>$12600.21</td>
								<td>Donec.dignissim@Curabitur.com</td>
								<td>654-8676</td>
								<td>2</td>
								<td></td>
							</tr>
							<tr>
								<td>217082536</td>
								<td>Nina L. Cruz</td>
								<td>604-3821 Nunc, Av.</td>
								<td>Cocos (Keeling) Islands</td>
								<td>Contulmo</td>
								<td>James Hodges</td>
								<td>Id Enim Curabitur Associates</td>
								<td>00578882199</td>
								<td>-18.78253</td>
								<td>32.04073</td>
								<td>2019-08-14 13:38:26</td>
								<td>13/10/19</td>
								<td>2020-01-30 14:15:52</td>
								<td>PST</td>
								<td>$68693.77</td>
								<td>Lorem@ligulaAeneaneuismod.net</td>
								<td>741-8918</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>95620175</td>
								<td>Donovan N. Sutton</td>
								<td>8559 Etiam Rd.</td>
								<td>Kenya</td>
								<td>Gresham</td>
								<td>Thomas Sullivan</td>
								<td>Sit Amet Lorem LLC</td>
								<td>80795428099</td>
								<td>-27.63251</td>
								<td>-147.24252</td>
								<td>2020-03-16 16:58:30</td>
								<td>06/07/19</td>
								<td>2018-12-25 15:25:12</td>
								<td>PDT</td>
								<td>$84085.99</td>
								<td>et.netus@erat.com</td>
								<td>876-9862</td>
								<td>2</td>
								<td></td>
							</tr>
							<tr>
								<td>116265168</td>
								<td>Scarlett G. Floyd</td>
								<td>P.O. Box 856, 189 Nec, St.</td>
								<td>Pakistan</td>
								<td>Phoenix</td>
								<td>Mikayla Hernandez</td>
								<td>Tincidunt Incorporated</td>
								<td>52498659299</td>
								<td>-20.46478</td>
								<td>-21.85605</td>
								<td>2018-04-27 01:07:57</td>
								<td>07/12/18</td>
								<td>2019-09-06 11:40:44</td>
								<td>PDT</td>
								<td>$07155.39</td>
								<td>vulputate.posuere.vulputate@velitdui.edu</td>
								<td>717-2598</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>150986923</td>
								<td>Linus D. Wells</td>
								<td>9103 Ipsum St.</td>
								<td>Russian Federation</td>
								<td>Oudenaken</td>
								<td>Isadora Howard</td>
								<td>Sem Nulla Institute</td>
								<td>71572161799</td>
								<td>-85.00485</td>
								<td>23.60684</td>
								<td>2019-01-08 11:11:32</td>
								<td>14/09/18</td>
								<td>2019-06-22 16:22:00</td>
								<td>PST</td>
								<td>$48920.57</td>
								<td>blandit.enim@tristique.co.uk</td>
								<td>1-667-983-4018</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>496997859</td>
								<td>Paula D. Navarro</td>
								<td>Ap #882-360 Mus. Avenue</td>
								<td>Guinea-Bissau</td>
								<td>Salihli</td>
								<td>Daquan Weaver</td>
								<td>Dignissim Lacus Aliquam Corporation</td>
								<td>15966325399</td>
								<td>85.43281</td>
								<td>-27.56574</td>
								<td>2020-01-09 22:41:08</td>
								<td>15/09/19</td>
								<td>2019-10-07 07:57:50</td>
								<td>PST</td>
								<td>$53235.64</td>
								<td>tincidunt.aliquam.arcu@inconsectetueripsum.org</td>
								<td>1-829-166-6033</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>492337595</td>
								<td>Malcolm T. Baxter</td>
								<td>568-5550 Cursus Rd.</td>
								<td>French Southern Territories</td>
								<td>Newport</td>
								<td>Susan Russo</td>
								<td>Vestibulum Industries</td>
								<td>92231061699</td>
								<td>67.64055</td>
								<td>-98.58401</td>
								<td>2019-04-07 02:56:54</td>
								<td>17/10/19</td>
								<td>2019-11-10 06:16:33</td>
								<td>PDT</td>
								<td>$57094.07</td>
								<td>placerat@erateget.ca</td>
								<td>1-709-877-9930</td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>362241030</td>
								<td>Kai Y. Mueller</td>
								<td>P.O. Box 244, 6602 Duis Street</td>
								<td>Martinique</td>
								<td>Fayetteville</td>
								<td>Nell Nelson</td>
								<td>Torquent Per Consulting</td>
								<td>37548800899</td>
								<td>-86.35769</td>
								<td>64.80714</td>
								<td>2020-03-28 03:36:50</td>
								<td>31/10/19</td>
								<td>2018-05-12 17:54:37</td>
								<td>PST</td>
								<td>$78636.66</td>
								<td>dignissim.lacus.Aliquam@utpharetra.com</td>
								<td>610-9694</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>244637906</td>
								<td>Alice D. Holloway</td>
								<td>177-8463 Urna. Rd.</td>
								<td>Guam</td>
								<td>Tramutola</td>
								<td>Blake Holt</td>
								<td>Erat Industries</td>
								<td>16787961299</td>
								<td>-47.37492</td>
								<td>-129.1421</td>
								<td>2018-12-13 18:28:08</td>
								<td>28/09/19</td>
								<td>2018-07-27 08:03:43</td>
								<td>PST</td>
								<td>$98904.29</td>
								<td>Curae.Donec.tincidunt@variuseteuismod.ca</td>
								<td>788-7780</td>
								<td>2</td>
								<td></td>
							</tr>
							<tr>
								<td>268052593</td>
								<td>Desirae U. Cameron</td>
								<td>642-5058 Nam St.</td>
								<td>Belgium</td>
								<td>GŽrouville</td>
								<td>Hayden Acosta</td>
								<td>Ornare Incorporated</td>
								<td>84373060799</td>
								<td>-81.46518</td>
								<td>-38.09689</td>
								<td>2018-08-14 02:36:06</td>
								<td>18/07/18</td>
								<td>2019-01-12 15:31:04</td>
								<td>PDT</td>
								<td>$58216.70</td>
								<td>Donec.egestas.Duis@eu.co.uk</td>
								<td>1-548-329-0615</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>23298905K</td>
								<td>Abdul V. Howard</td>
								<td>742 Dolor Avenue</td>
								<td>Morocco</td>
								<td>Itanagar</td>
								<td>Beatrice Maldonado</td>
								<td>Lobortis LLC</td>
								<td>13895800199</td>
								<td>10.65608</td>
								<td>58.87606</td>
								<td>2019-08-15 11:55:39</td>
								<td>19/12/18</td>
								<td>2019-03-22 19:07:37</td>
								<td>PDT</td>
								<td>$58997.02</td>
								<td>sed.pede@egestashendrerit.ca</td>
								<td>1-932-948-6613</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>189845170</td>
								<td>Zachery P. Calderon</td>
								<td>P.O. Box 138, 8385 Metus Av.</td>
								<td>Tajikistan</td>
								<td>Grand-Hallet</td>
								<td>Zephania Strickland</td>
								<td>Mauris Limited</td>
								<td>91974798799</td>
								<td>67.79569</td>
								<td>-120.92694</td>
								<td>2019-05-25 11:20:14</td>
								<td>17/02/19</td>
								<td>2019-01-12 08:41:41</td>
								<td>PDT</td>
								<td>$21806.93</td>
								<td>amet.ornare.lectus@ante.edu</td>
								<td>958-6027</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>162386190</td>
								<td>Kenyon H. Dunn</td>
								<td>Ap #739-8095 Amet, Road</td>
								<td>Venezuela</td>
								<td>Eisden</td>
								<td>Kylynn Britt</td>
								<td>Ut Nulla Ltd</td>
								<td>20286466599</td>
								<td>54.02909</td>
								<td>-108.08149</td>
								<td>2019-01-13 01:11:42</td>
								<td>12/07/19</td>
								<td>2019-03-28 11:44:18</td>
								<td>PST</td>
								<td>$81447.86</td>
								<td>nunc.nulla@id.co.uk</td>
								<td>935-5653</td>
								<td>4</td>
								<td></td>
							</tr>
							<tr>
								<td>396568225</td>
								<td>Shay X. Bond</td>
								<td>1463 Cras St.</td>
								<td>Botswana</td>
								<td>Saarlouis</td>
								<td>Dakota Maldonado</td>
								<td>Rhoncus Company</td>
								<td>84815855899</td>
								<td>12.03054</td>
								<td>-37.46236</td>
								<td>2019-05-12 13:49:29</td>
								<td>04/07/18</td>
								<td>2018-08-15 09:50:20</td>
								<td>PST</td>
								<td>$91929.76</td>
								<td>pede@Maurisvel.edu</td>
								<td>980-1327</td>
								<td>2</td>
								<td></td>
							</tr>
							<tr>
								<td>197834013</td>
								<td>Harlan T. Barr</td>
								<td>Ap #924-6404 Neque Rd.</td>
								<td>Iraq</td>
								<td>Kolkata</td>
								<td>Valentine Duran</td>
								<td>Semper Foundation</td>
								<td>34938043999</td>
								<td>56.3716</td>
								<td>-131.82047</td>
								<td>2018-08-05 14:15:57</td>
								<td>23/03/20</td>
								<td>2018-10-11 20:09:56</td>
								<td>PDT</td>
								<td>$48412.35</td>
								<td>Aliquam.auctor.velit@pedeac.co.uk</td>
								<td>543-9056</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>169854424</td>
								<td>Eleanor T. Owens</td>
								<td>P.O. Box 651, 1956 Tortor Av.</td>
								<td>Malaysia</td>
								<td>Campomorone</td>
								<td>Reece Contreras</td>
								<td>Orci Donec Nibh Industries</td>
								<td>85688141099</td>
								<td>-41.53144</td>
								<td>157.53845</td>
								<td>2019-02-14 05:03:54</td>
								<td>24/03/20</td>
								<td>2019-11-13 07:28:22</td>
								<td>PDT</td>
								<td>$46136.81</td>
								<td>eu.odio.Phasellus@Namtempor.com</td>
								<td>1-272-761-8005</td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>506446694</td>
								<td>Quentin U. Atkins</td>
								<td>P.O. Box 243, 7126 Lacinia. Rd.</td>
								<td>India</td>
								<td>Zeist</td>
								<td>Malik Bartlett</td>
								<td>Luctus Company</td>
								<td>27368620499</td>
								<td>-76.99374</td>
								<td>30.11273</td>
								<td>2019-10-21 19:05:14</td>
								<td>09/11/18</td>
								<td>2018-12-19 10:38:59</td>
								<td>PST</td>
								<td>$13611.13</td>
								<td>per.inceptos@eleifendnunc.net</td>
								<td>1-906-639-6116</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>430229516</td>
								<td>Leilani C. Clayton</td>
								<td>Ap #973-2701 Urna. Ave</td>
								<td>Saint Kitts and Nevis</td>
								<td>Recklinghausen</td>
								<td>George Rhodes</td>
								<td>Nascetur Ridiculus Mus Associates</td>
								<td>39908301199</td>
								<td>40.4669</td>
								<td>-147.11366</td>
								<td>2018-07-11 16:44:14</td>
								<td>14/01/19</td>
								<td>2019-09-20 11:55:00</td>
								<td>PST</td>
								<td>$46316.60</td>
								<td>accumsan@Integerid.com</td>
								<td>1-818-141-9416</td>
								<td>1</td>
								<td></td>
							</tr>
							<tr>
								<td>456183557</td>
								<td>Daniel C. Callahan</td>
								<td>1393 Eleifend, St.</td>
								<td>Equatorial Guinea</td>
								<td>Zamość</td>
								<td>Abigail Glass</td>
								<td>Arcu Eu Consulting</td>
								<td>53594464399</td>
								<td>-30.23054</td>
								<td>149.10508</td>
								<td>2019-10-31 04:54:26</td>
								<td>31/12/19</td>
								<td>2018-11-11 07:21:21</td>
								<td>PDT</td>
								<td>$79838.04</td>
								<td>eget@est.ca</td>
								<td>1-481-364-8674</td>
								<td>7</td>
								<td></td>
							</tr>
							<tr>
								<td>322543123</td>
								<td>Quynn N. Bridges</td>
								<td>Ap #521-2543 Adipiscing St.</td>
								<td>Netherlands</td>
								<td>Rocca San Felice</td>
								<td>Celeste Roy</td>
								<td>Iaculis Lacus Pede Company</td>
								<td>41719070899</td>
								<td>68.67888</td>
								<td>-74.04999</td>
								<td>2018-07-27 03:00:18</td>
								<td>10/02/20</td>
								<td>2019-07-10 23:45:34</td>
								<td>PDT</td>
								<td>$24960.97</td>
								<td>sed@massaQuisqueporttitor.co.uk</td>
								<td>1-622-378-0763</td>
								<td>2</td>
								<td></td>
							</tr>
							<tr>
								<td>173158629</td>
								<td>Dale Q. Hurst</td>
								<td>P.O. Box 169, 4784 Quis Av.</td>
								<td>Germany</td>
								<td>Golspie</td>
								<td>Lester Dixon</td>
								<td>Est Mauris Corporation</td>
								<td>14718185099</td>
								<td>-11.00683</td>
								<td>15.52299</td>
								<td>2019-04-20 07:28:31</td>
								<td>13/08/18</td>
								<td>2019-08-05 07:55:38</td>
								<td>PDT</td>
								<td>$67839.71</td>
								<td>rutrum@quamPellentesque.co.uk</td>
								<td>1-818-551-0019</td>
								<td>8</td>
								<td></td>
							</tr>
							<tr>
								<td>309440242</td>
								<td>Cameron H. Hopper</td>
								<td>8862 Feugiat Street</td>
								<td>Sudan</td>
								<td>Dehri</td>
								<td>Nigel Bishop</td>
								<td>Donec Tincidunt Donec Incorporated</td>
								<td>47472714199</td>
								<td>20.55127</td>
								<td>161.71389</td>
								<td>2018-12-24 00:43:22</td>
								<td>06/03/19</td>
								<td>2020-02-10 05:01:43</td>
								<td>PST</td>
								<td>$88963.52</td>
								<td>Suspendisse@rhoncusidmollis.com</td>
								<td>916-1391</td>
								<td>5</td>
								<td></td>
							</tr>
							<tr>
								<td>268602054</td>
								<td>Keiko X. Boone</td>
								<td>P.O. Box 375, 8461 Elit, Road</td>
								<td>Algeria</td>
								<td>Langenburg</td>
								<td>Tatyana Mcdowell</td>
								<td>Ut Mi Incorporated</td>
								<td>48332450299</td>
								<td>-89.57767</td>
								<td>165.03676</td>
								<td>2019-01-06 20:50:32</td>
								<td>23/06/18</td>
								<td>2018-10-04 09:36:04</td>
								<td>PDT</td>
								<td>$94003.71</td>
								<td>sociis@leo.org</td>
								<td>1-481-947-2083</td>
								<td>5</td>
								<td></td>
							</tr>
							<tr>
								<td>441605153</td>
								<td>Boris A. Mccoy</td>
								<td>P.O. Box 648, 7647 A Avenue</td>
								<td>Bolivia</td>
								<td>East Gwillimbury</td>
								<td>Patricia Hoffman</td>
								<td>Lobortis Quis Pede Foundation</td>
								<td>26794376499</td>
								<td>64.54821</td>
								<td>-136.91975</td>
								<td>2019-08-17 13:21:51</td>
								<td>28/04/19</td>
								<td>2019-06-09 17:39:05</td>
								<td>PST</td>
								<td>$88189.21</td>
								<td>dui.lectus@massaQuisqueporttitor.co.uk</td>
								<td>1-235-205-2996</td>
								<td>3</td>
								<td></td>
							</tr>
							<tr>
								<td>168445156</td>
								<td>Plato H. Dickerson</td>
								<td>6938 Volutpat. Ave</td>
								<td>Philippines</td>
								<td>Täby</td>
								<td>Jayme Hamilton</td>
								<td>Nec Cursus A PC</td>
								<td>25275627899</td>
								<td>78.49747</td>
								<td>-39.54536</td>
								<td>2020-02-05 07:40:16</td>
								<td>24/09/19</td>
								<td>2019-09-09 00:29:58</td>
								<td>PST</td>
								<td>$11099.41</td>
								<td>Nulla.tincidunt@eleifend.co.uk</td>
								<td>157-9201</td>
								<td>6</td>
								<td></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>OrderID</th>
								<th>Recipient</th>
								<th>Shipping.Address</th>
								<th>Shipping.Country</th>
								<th>Shipping.City</th>
								<th>Agent</th>
								<th>Company</th>
								<th>OrganizationID</th>
								<th>Latitude</th>
								<th>Longitude</th>
								<th>Shipping.Date</th>
								<th>Delivery.Date</th>
								<th>Payment.Date</th>
								<th>Timezone</th>
								<th>Payment</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Status</th>
								<th>Admin Controls</th>
							</tr>
						</tfoot>
					</table>
					<!-- datatable end -->
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :scripts_block do %>
  <!-- datatble responsive bundle contains: 
    + jquery.dataTables.js
    + dataTables.bootstrap4.js
    + dataTables.autofill.js              
    + dataTables.buttons.js
    + buttons.bootstrap4.js
    + buttons.html5.js
    + buttons.print.js
    + buttons.colVis.js
    + dataTables.colreorder.js              
    + dataTables.fixedcolumns.js              
    + dataTables.fixedheader.js            
    + dataTables.keytable.js            
    + dataTables.responsive.js              
    + dataTables.rowgroup.js              
    + dataTables.rowreorder.js              
    + dataTables.scroller.js              
    + dataTables.select.js              
    + datatables.styles.app.js
    + datatables.styles.buttons.app.js -->
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <script>
    $(document).ready( function () {
      // initialize datatable
      $('#dt-basic-example').dataTable({
        responsive: {
        details: {
            display: $.fn.dataTable.Responsive.display.modal( {
              header: function ( row ) {
                var data = row.data();
                return 'Details for '+data[0]+' '+data[1];
              }
            } ),
            renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
              tableClass: 'table table-responsive'
            } )
          }
        },
        columnDefs: [
          {
            targets: -1,
            title: 'Admin Controls',
            orderable: false,
            render: function(data, type, full, meta) {
              
              /*
              -- ES6
              -- convert using https://babeljs.io online transpiler
              return `
              <div class='d-flex mt-2'>
                <a href='javascript:void(0);' class='btn btn-sm btn-outline-danger mr-2' title='Delete Record'>
                  <i class="<%= Rails.configuration.icon_prefix %> fa-times"></i> Delete Record
                </a>
                <a href='javascript:void(0);' class='btn btn-sm btn-outline-primary mr-2' title='Edit'>
                  <i class="<%= Rails.configuration.icon_prefix %> fa-edit"></i> Edit
                </a>
                <div class='dropdown d-inline-block'>
                  <a href='#'' class='btn btn-sm btn-outline-primary mr-2' data-toggle='dropdown' aria-expanded='true' title='More options'>
                    <i class="<%= Rails.configuration.icon_prefix %> fa-plus"></i>
                  </a>
                  <div class='dropdown-menu'>
                    <a class='dropdown-item' href='javascript:void(0);'>Change Status</a>
                    <a class='dropdown-item' href='javascript:void(0);'>Generate Report</a>
                  </div>
                </div>
              </div>`;
                
              ES5 example below:  
  
              */
              return "\n\t\t\t\t\t\t<div class='d-flex mt-2'>\n\t\t\t\t\t\t\t<a href='javascript:void(0);' class='btn btn-sm btn-outline-danger mr-2' title='Delete Record'><i class=\"<%= Rails.configuration.icon_prefix %> fa-times\"></i> Delete Record</a>\n\t\t\t\t\t\t\t<a href='javascript:void(0);' class='btn btn-sm btn-outline-primary mr-2' title='Edit'><i class=\"<%= Rails.configuration.icon_prefix %> fa-edit\"></i> Edit</a>\n\t\t\t\t\t\t\t<div class='dropdown d-inline-block'>\n\t\t\t\t\t\t\t\t<a href='#'' class='btn btn-sm btn-outline-primary mr-2' data-toggle='dropdown' aria-expanded='true' title='More options'><i class=\"<%= Rails.configuration.icon_prefix %> fa-plus\"></i></a>\n\t\t\t\t\t\t\t\t<div class='dropdown-menu'>\n\t\t\t\t\t\t\t\t\t<a class='dropdown-item' href='javascript:void(0);'>Change Status</a>\n\t\t\t\t\t\t\t\t\t<a class='dropdown-item' href='javascript:void(0);'>Generate Report</a>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>";
            },
          },
          {
            targets: 17,
            /*  The `data` parameter refers to the data for the cell (defined by the
              `data` option, which defaults to the column being worked with, in this case `data: 16`.*/
            render: function(data, type, full, meta) {
              var badge = {
                1: {'title': 'Pending', 'class': 'badge-warning'},
                2: {'title': 'Delivered', 'class': 'badge-success'},
                3: {'title': 'Canceled', 'class': 'badge-secondary'},
                4: {'title': 'Attempt #1', 'class': 'bg-danger-100 text-white'},
                5: {'title': 'Attempt #2', 'class': 'bg-danger-300 text-white'},
                6: {'title': 'Failed', 'class': 'badge-danger'},
                7: {'title': 'Attention!', 'class': 'badge-primary'},
                8: {'title': 'In Progress', 'class': 'badge-success'},
              };
              if (typeof badge[data] === 'undefined') {
                return data;
              }
              return '<span class="badge ' + badge[data].class + ' badge-pill">' + badge[data].title + '</span>';
            },
          }
        ],      
      });
    });
  </script>
<% end %>
