<%= simple_form_for [:admin, @tax] do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :code, placeholder: t('activerecord.attributes.tax.code') %>
    </div>
    <div class="col-md-6">
      <%= f.input :name, placeholder: t('activerecord.attributes.tax.name') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :value, placeholder: t('activerecord.attributes.tax.value') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>
