<%= simple_form_for [:admin, @membership_plan] do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :code, placeholder: t('activerecord.attributes.membership_plan.code') %>
    </div>
    <div class="col-md-6">
      <%= f.input :name, placeholder: t('activerecord.attributes.membership_plan.name') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :price, placeholder: t('activerecord.attributes.membership_plan.price') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <%= f.input :description, placeholder: t('activerecord.attributes.membership_plan.description') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>
