<%= simple_form_for [:admin, changelog, comment] do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.hidden_field :commentable_id, value: changelog.id %>
  <%= f.hidden_field :commentable_type, value: 'Changelog' %>
  <%= f.input :body, label: false, placeholder: 'Write a reply', input_html: { rows: 3, class: "rounded-top border-bottom-left-radius-0 border-bottom-right-radius-0 border" } %>
  <div class="d-flex align-items-center py-2 px-2 bg-white border border-top-0 rounded-bottom">
    <div class="btn-group dropup">
    </div>
    <button type="button" class="btn btn-icon fs-lg">
    </button>
    <div class="custom-control custom-checkbox custom-control-inline ml-auto hidden-sm-down">
    </div>
    <button class="btn btn-primary btn-sm ml-auto ml-sm-0">
      <%= t('views.shared.buttons.send') %>
    </button>
  </div>
<% end %>

<% content_for :scripts_block do %>
  <script>
      $(document).ready(function () {
      });
  </script>
<% end %>