<%
  content_for(:title, t('views.sidebar.changelog'))
  content_for(:category_1, 'Dashboard')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-code-branch'></i> <%= t('views.sidebar.changelog') %>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-container show">
        <div class="panel-content body-changelog">
          <h1 class="fs-2hx fw-bold text-gray-900 letter-spacing mb-5">Changelog</h1>
          <div class="fs-4 fw-semibold text-gray-800">
            Freightspot is constantly being updated with new features and improvements and here you can always view the most recent update information
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2 mb-3" style="border-right: 1px dashed #e1e3ea;">
              <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                <% @changelogs.each do |changelog| %>
                  <li class="nav-item">                 <!---        8.2.0-tab                                               8.2.0                                                         8.2.0                             --->
                    <a class="nav-link-changelog" id="version-<%= changelog.version_number.tr('.', '') %>-tab" data-toggle="tab" href="#version-<%= changelog.version_number.tr('.', '') %>" role="tab" aria-controls="version-<%= changelog.version_number.tr('.', '') %>" aria-selected="true">v<%= changelog.version_number %> - <%= changelog.released_at.nil? ? '' : changelog.released_at.strftime("%d %b, %Y") %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-10">
              <div class="tab-content" id="myTabContent">
                <% @changelogs.each do |changelog| %>

                  <% @comments = Comment.where("commentable_type = ? AND commentable_id = ?", 'Changelog', changelog.id).order("created_at DESC") %>
                  <div class="tab-pane fade" id="version-<%= changelog.version_number.tr('.', '') %>" role="tabpanel" aria-labelledby="version-<%= changelog.version_number.tr('.', '') %>-tab">
                    <div class="row justify-content-center">
                      <div class="offset-1 col-xl-11 col-sm-12">
                        <div class="d-flex flex-column mb-6 ">
                          <h1 class="text-gray-900 fw-bold mb-2 letter-spacing" style="font-size: 1.75rem; font-family: Inter,Helvetica,sans-serif;">
                            Freightspot v<%= changelog.version_number %> - <%= changelog.released_at.nil? ? '' : changelog.released_at.strftime("%d %b, %Y") %>
                          </h1>
                          <span class="text-gray-600 fw-semibold fs-6"><%= changelog.description %></span>
                        </div>
                        <% changelog.feature_improvements.each do |feature| %>
                          <div class="mb-5 mb-lg-10">
                            <h3 class="text-gray-800 fs-4 fw-bold mb-5">
                              <span class="badge badge-<%= feature.category %>"><%= t("enums.feature_improvement.category.#{feature.category}") %></span>
                            </h3>
                            <ul class="list-style-none mb-0">
                              <li class="py-2">
                                <span class="d-flex align-items-start">
                                  <span class="bullet bullet-dot bg-gray-600 w-6px h-6px me-5" style="margin-top: 0.55rem"></span>
                                  <span>
                                    <span class="fs-6 text-gray-700 fw-semibold">
                                      <span class="changelog-label"><%= feature.title %></span>
                                      <span><%= feature.description %></span>
                                    </span>
                                    <span></span>
                                  </span>
                                </span>
                              </li>
                            </ul>
                          </div>
                        <% end %>
                      </div>
                    </div>

                    <div class="row">
                      <%= render 'admin/dashboard/comments', comments: @comments, changelog: changelog %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <!-- /.col-md-8 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>