<% unless @products.blank?
     @products.each_slice(3) do |group| %>
    <div class="row mb-2">
      <% group.each do |client_product| %>
        <div class="col-md-4">
          <%= render 'admin/clients/client_products/product', client_product: client_product %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="not-register">
    <%= "#{t('views.shared.text.not_records')} de #{t('activerecord.models.product.other')}." %>
  </div>
<% end %>