= render 'admin/products/form'
= simple_form_for @product, url: url_for(controller: 'admin/clients', action: "add_client_product"), remote: true do |f|
  = hidden_field_tag :product_id, @product.id
  = f.submit 'Save', id: 'btn-submit-form', style: "display: none;"
  = f.association :client, label: false, selected: @client.id, input_html: { class: 'hide-element' }
  .row
    .col-xl-12
      = f.label :image
  .row
    .col-lg-12
      .image-input.image-input-outline.avatar-default-product#kt_profile_avatar_product
        - if @product.image.attached?
          .image-input-wrapper style="background-image: url(#{@product.image.service_url})"
        - else
          .image-input-wrapper
        label.btn.btn-xs.btn-icon.btn-circle.btn-white.btn-hover-text-primary.btn-shadow data-action="change" data-toggle="tooltip" data-original-title="Change avatar"
          i.flaticon2-pen.icon-sm.text-muted
          = f.file_field :image, input_html: { accept: ".png, .jpg, .jpeg" }
  .row.mt-2
    .col-xl-6
      = f.association :product, prompt: t('views.shared.prompt.product')
    .col-xl-6
      = f.input :tariff_fraction, placeholder: t('activerecord.attributes.client_product.tariff_fraction')
  / .row
  /   .col-xl-6
  /     = f.label t('activerecord.attributes.client.tag_list')
  /     = f.input :tag_list, label: false, placeholder: t('activerecord.attributes.client.tag_list')
  = f.submit 'data', class: 'btn btn-success hide-element', id: 'btnProductInformation'

javascript:
    ;(function () {
        // $('#client_product_tag_list').tagify({
        //     duplicates: false,
        //     delimiters: ","
        // });

        $('#btn_submit_modal').click(function () {
            $('#v-pills-products-information-tab').trigger("click");
        });

        $("#btnCancelProduct").click(function () {
            $("#product_form").hide();
            $('#v-pills-products-information-tab').trigger("click");
        });

        $("#btnProduct").click(function () {
            $.ajax({
                type: "POST",
                url: "/admin/clients/" + $("#client_id").val() + "/add_client_product",
                data: {
                    client_product: {
                        client_id: document.getElementById("client_product_client_id").value,
                        product_id: document.getElementById("client_product_product_id").value,
                        tariff_fraction: document.getElementById("client_product_tariff_fraction").value,
                    },
                    product_id: document.getElementById("product_id").value
                },
                success: function (data) {
                    $('#v-pills-products-information-tab').trigger("click");
                    $('#form_address')[0].reset()
                }
            });

        });

        //avatar = new KTImageInput('kt_profile_avatar_product');

        const $doc = $(document);

        $("#client_product_product_id").removeClass();
        // $('#client_product_product_id').selectize({
        //     create: function (input, callback) {
        //         $(".product-modal").modal("show");
        //         $("#new_product").trigger("reset");
        //         $("#product_name").val(input);
        //         $("#new_product").on("submit", function (e) {
        //             e.preventDefault();
        //             $.ajax({
        //                 method: "POST",
        //                 url: $(this).attr("action"),
        //                 data: $(this).serialize(),
        //                 success: function (response) {
        //                     console.log(response);
        //                     callback({value: response.id, text: response.name});
        //                     $(".product-modal").modal("toggle");
        //                     $("#btnProductForm").attr("disabled", false);
        //                 }
        //             });
        //         });
        //     }
        // });
    })()
