.card.card-custom.card-stretch#product_form
  .card-header.py-3
    .card-title.align-items-start.flex-column
      h3.card-label.font-weight-bolder.text-dark = t('views.admin.client_products.new.title')
    .card-toolbar
      button.mr-2 id="btnCancelProduct" class="btn btn-danger" = t('views.shared.buttons.cancel')
      button id="btnProduct" class="btn btn-success" = @button
  .card-body
    = render 'admin/clients/client_products/form', action_controller: 'add_client_product', action: 'create', title: t('views.admin.client_products.new.title'), button: t('views.shared.buttons.save')