doctype html
html
  head
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
  body
    label = "#{t('activerecord.attributes.user.email')}: #{@user.email}"
    label = "#{t('activerecord.attributes.user.password')}: #{@password}"
    = link_to 'Inicia Sesión', @url