<% unless @client_documents.blank? %>
  <div class="card mb-g">
    <div class="row row-grid no-gutters">
      <div class="col-12">
        <div class="p-3">
          <h2 class="mb-0 fs-xl"><%= t('activerecord.models.document.other') %></h2>
        </div>
      </div>
      <% @client_documents.each do |client_document| %>
        <div class="col-4">
          <div class="text-center p-3 d-flex flex-column hover-highlight">
            <span class="profile-image d-block m-auto" style="background-image: url('<%= image_path 'smartadmin/demo/files/css.svg' %>'); background-size: cover;"></span>
            <span class="d-block text-truncate text-muted fs-xs mt-1"><%= client_document.document.name.capitalize %></span>
            <span class="d-block text-truncate text-muted fs-xs mt-1">
              <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm btn-icon" onclick="deleteDocument(<%= @client.id %>, <%= client_document.id %>)">
                <i class="<%= Rails.configuration.icon_prefix %> fa-trash-alt"></i>
              </a>
            </span>
          </div>
        </div>
      <% end %>
      <div class="col-12">
        <div class="p-3 text-center">
          <a href="javascript:void(0);" class="btn-link font-weight-bold">View all</a>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="alert alert-danger alert-dismissible fade show">
    <div class="d-flex align-items-center">
      <div class="alert-icon width-8">
        <span class="icon-stack icon-stack-xl">
          <i class="base-7 icon-stack-3x color-danger-400"></i>
          <i class="fal fa-times icon-stack-2x text-white"></i>
        </span>
      </div>

      <div class="flex-1 pl-1">
        <span class="h2">
          <%= "#{t('activerecord.models.document.other')} #{t('views.shared.text.not_found')}" %>
        </span>
        <br>
        <%= "#{t('views.shared.text.not_records')} de #{t('activerecord.models.document.other').downcase}." %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts_block do %>
  <script>
    function deleteDocument(client_id, document_id) {
        var swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-primary",
                cancelButton: "btn btn-danger mr-2"
            },
            buttonsStyling: false
        });
        swalWithBootstrapButtons
            .fire({
                title: "<%= t('views.shared.text.are_you_ok?') %>",
                text: "<%= t('views.shared.text.do_you_want_to_delete') %>",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                reverseButtons: true
            })
            .then(function (result) {
                if (result.value) {
                    $.ajax({
                        // admin/clients/:id/destroy_client_document
                        method: "DELETE",
                        url: "/admin/clients/" + $("#client_id").val() + "/destroy_client_document",
                        data: { document_id: document_id},
                        success: function (result) {
                            $('#v-pills-documents-information-tab').trigger("click");
                            swalWithBootstrapButtons.fire(
                                "<%= t('views.shared.text.deleted') %>",
                                "<%= t('activerecord.models.document.one') %> <%= t('views.shared.text.successfully_removed') %>.",
                                "success"
                            );
                        },
                        error: function (data) {
                        }
                    });
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        "<%= t('views.shared.text.cancelled') %>",
                        "<%= t('activerecord.models.document.one')%> <%= t('views.shared.text.not_deleted') %>",
                        "error"
                    );
                }
            });
    }
  </script>
<% end %>
