<%= simple_form_for [:admin, @charge] do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :code, placeholder: t('activerecord.attributes.charge.code') %>
    </div>
    <div class="col-md-6">
      <%= f.input :name, placeholder: t('activerecord.attributes.charge.name') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :active, placeholder: t('activerecord.attributes.charge.active') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>
