<% content_for :head_block do %>
  <%= stylesheet_link_tag 'freightspot/admin/quotes/user_activity', media: 'screen, print' %>
<% end %>

<div class="col-lg-6">
  <div id="panel-2" class="panel" data-panel-fullscreen="false">
    <div class="panel-hdr">
      <h2><%= t('views.shared.text.activity_registers') %></h2>
    </div>
    <div class="panel-container show">
      <div class="panel-content">
        <% if @quote.activity_registers.empty? %>
          <div class="mb-2 row">
            <div class="col">
              <h6 class="m-b-5"><%= t('views.shared.text.not_activity_registers') %></h6>
            </div>
          </div>
        <% else %>
          <% @quote.activity_registers.each do |activity_register| %>
            <div class="mb-2 row">
              <div class="col-auto p-r-0">
                <div class="u-img"> <img src=" https://i.imgur.com/UIhwGhr.jpg" alt="user image" class="img-radius cover-img"> <img src="https://img.icons8.com/ultraviolet/40/000000/active-state.png" alt="user image" class="img-radius profile-img"> </div>
              </div>
              <div class="col">
                <h6 class="m-b-5"><%= activity_register.activity %></h6>
                <p class="text-muted m-b-0"><i class="mdi mdi-timer feather icon-clock m-r-10"></i><%= time_ago_in_words(activity_register.created_at) %></p>
              </div>
            </div>
          <% end %>
          <div class="text-center"> <a href="#!" class="b-b-primary text-primary" data-abc="true">View all Activities</a> </div>
        <% end %>
      </div>
    </div>
  </div>
</div>