<%= simple_form_for @quote, url: url_for(controller: 'customer/quotes', action: 'create') do |f| %>
  <%= f.hidden_field :organization_id, value: 1 %>
  <%= f.hidden_field :quoted_at, value: Time.now %>
  <%= f.hidden_field :client_id, value: @client.id %>
  <%= f.hidden_field :freight_type_id, value: FreightType.find_by(code: "FCL").id %>

  <div class="form-group row">
    <div class="col-md-4">
      <%= f.input :operation_type, prompt: t('views.shared.prompt.operation_type'), :input_html => { class: 'selectpicker form-control' } %>
    </div>
    <div class="col-md-4" >
      <%= f.association :incoterm, prompt: t('views.shared.prompt.incoterm'), label_method: :code, value_method: :id, input_html: { class: 'selectpicker form-control', 'data-live-search': "true" }%>
    </div>
    <div class="col-md-4 hide-element service_type" >
      <%= f.input :service_type, readonly: true%>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4" >
      <%= f.input :origin_route, input_html: { class: 'form-control selectpicker', data: { 'live-search': "true" } }%>
    </div>
    <div class="col-md-4" >
      <%= f.input :destination_route, input_html: { class: 'form-control selectpicker', data: { 'live-search': "true" } } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>

<% content_for :scripts_block do %>
  <script>
      $(document).ready(function() {
          // $('#quote_origin_route_attributes_origin_port_id').on('change', function () {
          //   $.ajax({
          //       url: "/customer/quotes/get_port_coordinates/" + this.value,
          //       type: "get",
          //       success: function (data) {
          //           console.log(data);
          //           longitudeOriginPort = data['longitude'];
          //           latitudeOriginPort = data['latitude'];
          //
          //           marker1.setLngLat([longitudeOriginPort, latitudeOriginPort])
          //               .addTo(map);
          //       },
          //       error: function (data) {
          //       }
          //   })
          // });
          //
          // $('#quote_destiny_route_attributes_destiny_port_id').on('change', function () {
          //     $.ajax({
          //         url: "/customer/quotes/get_port_coordinates/" + this.value,
          //         type: "get",
          //         success: function (data) {
          //             console.log(data);
          //             longitudeDischargePort = data['longitude'];
          //             latitudeDischargePort = data['latitude'];
          //
          //             marker2.setLngLat([longitudeDischargePort, latitudeDischargePort])
          //                 .addTo(map);
          //     },
          //     error: function (data) {
          //     }
          //   })
          // });

          $('#maritime_quote_incoterm_id').on('change', function () {
              var operation_type = document.getElementById("maritime_quote_operation_type").value;
              if (operation_type) {
                  $.ajax({
                      url: "/customer/quotes/search_service_type_by_incoterm/" + this.value + "/" + operation_type,
                      type: "GET",
                      success: function (data) {
                          if (jQuery.isEmptyObject(data)) {
                              if (!$(".service_type").hasClass('hide-element')) {
                                  $(".service_type").addClass('hide-element');
                              }
                          } else {
                              if ($(".service_type").hasClass('hide-element')) {
                                  $(".service_type").removeClass('hide-element');
                              }
                              document.getElementById("maritime_quote_service_type").value = data['name'];
                          }
                      },
                      error: function (data) {
                      }
                  })
              }
          });

          $('#maritime_quote_operation_type').on('change', function () {
              var incoterm_id =document.getElementById("maritime_quote_incoterm_id").value;
              console.log(incoterm_id);
              if (incoterm_id) {
                  $.ajax({
                      url: "/customer/quotes/search_service_type_by_operation_type/" + this.value + "/" + incoterm_id,
                      type: "GET",
                      success: function (data) {
                          if (jQuery.isEmptyObject(data)) {
                              if (!$(".service_type").hasClass('hide-element')) {
                                  $(".service_type").addClass('hide-element');
                              }
                          } else {
                              if ($(".service_type").hasClass('hide-element')) {
                                  $(".service_type").removeClass('hide-element');
                              }
                              document.getElementById("maritime_quote_service_type").value = data['name'];
                          }
                      },
                      error: function (data) {
                      }
                  })
              }
          });

      });
  </script>
<% end %>