<div class="freight-type-partial">
  <div class="form-group row align-items-center">
    <div class="col-3">
      <span class="col-form-label col-12 col-lg-4 form-label text-md-right"><%= t('activerecord.attributes.quote.freight_type') %></span>
    </div>
      <div class="btn-group btn-group-toggle col-md-8" data-toggle="buttons">
        <label class="btn btn-lg btn-outline-info">
          <span class="<%= Rails.configuration.icon_prefix %> fa-container-storage mr-1"></span>
          <input type="radio" name="options" id="option1" value="<%= FreightType.find_by(code: "FCL").id %>"><%= t('enums.quote.freight_type.fcl') %>
        </label>
        <label class="btn btn-lg btn-outline-info">
          <span class="<%= Rails.configuration.icon_prefix %> fa-container-storage mr-1"></span>
          <input type="radio" name="options" id="option2"  value="<%= FreightType.find_by(code: "LCL").id %>"> <%= t('enums.quote.freight_type.lcl') %>
        </label>
      </div>
  </div>
</div>