  <% unless @quote.blank? %>
    <div class="card mb-g border shadow-0">
      <div class="card-header p-0">
        <div class="row no-gutters row-grid align-items-stretch">
          <div class="col-12 col-md">
            <div class="text-uppercase text-muted py-2 px-3"><%= t('views.customer.quotes.new.optional_services') %></div>
          </div>
          <div class="col-sm-6 col-md-2 hidden-md-down">
          <div class="text-uppercase text-muted py-2 px-3">Costo</div>
        </div>
        </div>
      </div>
      <% @quote.quote_optional_services.each do |optional_service| %>
        <div class="card-body p-0">
          <div class="row no-gutters row-grid">
            <!-- thread -->
            <div class="col-12">
              <div class="row no-gutters row-grid align-items-stretch">
                <div class="col-md">
                  <div class="p-3">
                    <div class="d-flex">
                      <div class="d-inline-flex flex-column">
                        <label class="fs-lg fw-500 d-block"><%= optional_service.optional_service.name_label %></label>
                       <% if optional_service.optional_service.name === 'insured_merchandise' %>
                          <div class="d-block text-muted fs-md">
                              <%= number_to_currency(@quote.declared_value)%>
                          </div>
                        <% end %>
                        <% if optional_service.optional_service.name === 'collection_at_origin' %>
                          <div class="d-block text-muted fs-md">
                            <%= @quote.collection_address %>
                          </div>
                        <% end %>
                        <% if optional_service.optional_service.name === 'delivery_at_destination' %>
                          <div class="d-block text-muted fs-md">
                            <%= @quote.delivery_address %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2 hidden-md-down">
                  <div class="p-3 p-md-3">
                    <label class="d-block text-muted"> <%=  optional_service.charge.nil? ? "Por definir" : number_to_currency(optional_service.charge) %></label>
                  </div>
                </div>
              </div>
            </div>
            <!-- thread -end -->
          </div>
        </div>
      <% end %>
    </div>
  <% end %>