<% unless rate.nil? %>
  <div id="<%= "#{type}-#{rate.id}" %>" class="card border shadow-0 mb-g shadow-sm-hover filterDiv
<%= rate.transshipments.exists? ? t('views.shared.text.scales') : t('views.shared.text.direct') %>">
    <% unless ribbon == :normal_tariff %>
      <% if ribbon == :minimal_cost %>
        <div class="ribbon-fs ribbon-fs-top-left"><span><i class="fas fa-tags"></i></span></div>
      <% end %>
      <% if ribbon == :cost_benefit %>
        <div class="ribbon-fs ribbon-fs-top-left"><span><i class="fas fa-balance-scale"></i></span></div>
      <% end %>
    <% end %>
    <div class="card-header">
      <div class="d-flex flex-row col-12 justify-content-center" style="overflow: auto" style="overflow: auto">
        <div class="d-flex flex-column justify-content-center align-items-end col-md-1" style="overflow: auto">
          <button class="btn btn-info btn-icon rounded-circle" data-toggle="collapse" data-target="#<%= "#{type}-#{rate.id}" %>> .card-body" aria-expanded="false">
            <span class="collapsed-hidden"><i class="fal fa-chevron-down"></i></span>
            <span class="collapsed-reveal"><i class="fal fa-chevron-up"></i></span>
          </button>
        </div>
        <div class="d-flex flex-row col-md-8" style="overflow: auto">
          <div class="d-flex flex-row justify-content-center align-items-center col-md-3">
          <span class="p-1">
          <% if rate.shipping_line.logo.attached? %>
            <%= image_tag(rate.shipping_line.logo.service_url, class: 'rounded-circle shadow-2 img-thumbnail', alt: '') %>
          <% else %>
            <div class='icon-stack fa-5x'>
              <i class="base base-7 icon-stack-3x opacity-100 color-info-500"></i>
              <i class="base base-7 icon-stack-2x opacity-100 color-info-50"></i>
              <i class="fal fa-ship icon-stack-1x opacity-100 color-white"></i>
            </div>
          <% end %>
            </span>
            <span class="fw-400">
            <%= "#{rate.shipping_line.name}" %>
          </span>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center col-md-2">
          <span class="text-muted p-1">
            <%= t('activerecord.attributes.maritime_quote.origin') %>
          </span>
            <span class="text-muted">
            <%= flag_icon(rate.origin.country.code.downcase) %>
             </span>
            <span class="text-muted">
            <%= "#{rate.origin.name}" %>
          </span>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center col-md-2">
            <% if rate.transshipments.exists? %>
              <a class="tip">
                <% if rate.transshipments.length > 1 %>
                  <%= "#{rate.transshipments.length} #{t('views.shared.text.transshipments')}" %>
                <% else %>
                  <%= "#{rate.transshipments.length} #{t('views.shared.text.transshipment')}" %>
                <% end %>
                <span>
                  <div class="d-flex flex-column justify-content-center align-items-left p-2">
                  <% rate.transshipments.each do |transshipment| %>
                             <label class="text-muted">
                               <%= " #{transshipment.port.identifier} - #{transshipment.port.name}" %>
                             </label>
                  <% end %>
                    </div>
                </span>
              </a>
              <span>
              <div class="container d-flex justify-content-center align-items-center">
                <% for a in 1..rate.transshipments.length do %>
                  <div class="progresses">
                    <span class="line"></span>
                    <div class="steps"><span><i class="<%= Rails.configuration.icon_prefix %> fa-dot-circle"></i></span> </div>
                  </div>
                <% end %>
                <span class="line" width="10%"></span>
              </div>
            </span>
            <% else %>
            <span class="text-muted">
              <%= t('views.shared.text.direct') %>
            </span>
              <span>
              <div class="container d-flex justify-content-center align-items-center">
                  <div class="progresses">
                    <span class="line"></span>
                  </div>
              </div>
            </span>
            <% end %>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center col-md-2">
          <span class="text-muted p-2">
            <%= t('activerecord.attributes.maritime_quote.destination') %>
          </span>
            <span class="text-muted">
            <%= flag_icon(rate.destination.country.code.downcase) %>
            </span>
            <span class="text-muted">
            <%= "#{rate.destination.name}" %>
          </span>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center col-md-3">
            <div class="d-flex flex-row justify-content-center align-items-center">
              <span class="text-muted"><i class="fal fa-ship fa-2x"></i></span>
              <div class="d-flex flex-column">
                <span class="text-muted"><%= t('views.shared.text.transite_time_estimation') %></span>
                <span class="text-muted">
                  <%= "#{rate.transit_time.to_s} #{t('views.shared.text.days')}" %>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center border-left col-md-3 p-4" style="overflow: auto">
          <span class="d-flex flex-row justify-content-center align-items-center">
            <span class="text-muted"><%= Currency.find(rate.currency_id).code %></span>
            <h1 class="fw-500"><%= number_to_currency(rate.freight_rate, unit: '$', format: '%u %n') %></h1>
          </span>
          <div class="row justify-content-center">
            <span class="text-muted"><i class="fal fa-calendar-alt fa-2x p-2"></i></span>
            <div class="d-flex flex-column">
          <span class="text-muted">
            <%= "#{t('activerecord.attributes.maritime_quote.departure_date')}" %>
          </span>
              <span class="text-muted">
            <%= "#{rate.departure_date.strftime("%d-%m-%Y")}" %>
          </span>
            </div>
          </div>
          <span>
            <%= link_to t('views.shared.buttons.select'), wizard_path(:optional_services, rate_id: rate.id, rate_ids: rate_ids, freight_rate: rate.freight_rate, quote_id: @quote.id),
                        class: 'btn btn-info btn-pills btn-block waves-effect waves-themed' %>
          </span>
        </div>
      </div>

    </div>
    <div class="card-body p-0 collapse">
      <div class="row">
        <div class="col-lg-12 col-xl-12 order-lg-1 order-xl-1">
          <div class="row row-grid no-gutters">
            <div class="col-4">
              <div class="p-3">
                <h5 class="text-danger">
                  <%= rate.departure_date.strftime("%d-%m-%Y") %>
                  <small class="mt-0 mb-3 text-muted">
                    <%= t('activerecord.attributes.maritime_rate.departure_date') %>
                    : <%= rate.departure_date.strftime("%d-%m-%Y") %>
                  </small>
                  <small class="mt-0 mb-3 text-muted">
                    <%= t('activerecord.attributes.maritime_rate.rate_validity_start') %>
                    : <%= rate.rate_validity_start.strftime("%d-%m-%Y") %>
                  </small>
                  <small class="mt-0 mb-3 text-muted">
                    <%= t('activerecord.attributes.maritime_rate.rate_validity_end') %>
                    : <%= rate.rate_validity_end.strftime("%d-%m-%Y") %>
                  </small>
                  <small class="mt-0 mb-3 text-muted">
                    <%= t('activerecord.attributes.maritime_rate.cargo_type') %>
                    : <%= rate.cargo_type ? rate.cargo_type.name : "" %>
                  </small>
                  <span class="badge badge-danger fw-n position-absolute pos-top pos-right mt-3 mr-3">Delayed</span>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="p-3">
              <h5 class="text-danger">
                <small class="mt-0 mb-3 text-muted">
                  <%= t('activerecord.attributes.maritime_rate.shipper') %>:<%= rate.shipping_line ? rate.shipping_line.name : "" %>
                </small>
                <small class="mt-0 mb-3 text-muted">
                  <%= t('activerecord.attributes.maritime_rate.freight_type') %>: <%= rate.freight_type.name %>
                </small>
                <small class="mt-0 mb-3 text-muted">
                  <%= t('activerecord.attributes.maritime_rate.container') %>:
                  <div class="column">
                    <% @quote.maritime_quote_units.each do |container_unit| %>
                      <span><%= container_unit.container.code unless container_unit.container.nil? %></span>
                    <% end %>
                  </div>
                </small>
                <small class="mt-0 mb-3 text-muted">
                  <%= t('activerecord.attributes.maritime_rate.cargo_type') %>: <%= rate.cargo_type.name %>
                </small>
              </h5>
            </div>
            <div class="col-4">
              <div class="p-3">
                <h5 class="text-danger">
                  <small class="mt-0 mb-3 text-muted">
                    <%= t('activerecord.attributes.maritime_rate.currency') %>
                    : <%= Currency.find(rate.currency_id).code %>
                  </small>
                  <small class="mt-0 mb-3 text-muted">
                    <%= t('activerecord.attributes.maritime_rate.free_days') %>: <%= rate.free_days %>
                  </small>
                  <small class="mt-0 mb-3 text-muted">
                    <%= t('activerecord.attributes.maritime_rate.guarantee_letter') %>: <%= rate.guarantee_letter %>
                  </small>
                  <small class="mt-0 mb-3 text-muted">
                    <%= t('activerecord.attributes.maritime_rate.remarks') %>: <%= rate.remarks %>
                  </small>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-12 order-lg-1 order-xl-1">
            <div class="row fs-b fw-300">
              <div class="col text-left">
                <%= flag_icon(rate.origin.country.code.downcase) %>
                <%= rate.origin.name %>
              </div>
              <% rate.transshipments.each do |transshipment| %>
                <div class="col text-center">
                  <%= flag_icon(transshipment.port.country.code.downcase) %>
                  <%= transshipment.port.name %>
                </div>
              <% end %>

              <div class="col text-right">
                <%= flag_icon(rate.destination.country.code.downcase) %>
                <%= rate.destination.name %>
              </div>
            </div>
            <div class="progress progress-xs d-flex mb-2 mt-1">
              <span class="progress-bar bg-danger-500 progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="26" aria-valuemin="0" aria-valuemax="100"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>