<div class="service-mode-partial ">
  <div class="form-group row align-items-center">
    <div class="col-3">
    <span class="col-form-label col-12 col-lg-4 form-label text-md-right"><%= t('activerecord.attributes.quote.service_mode') %></span>
    </div>
      <div class="btn-group btn-group-toggle col-md-8" data-toggle="buttons">
        <label class="btn btn-lg btn-outline-info" >
          <span class="<%= Rails.configuration.icon_prefix %> fa-ship mr-1" ></span>
          <input type="radio" name="options" id="maritime" checked="checked" >  <%= t('enums.quote.service_mode.maritime') %>
        </label>
        <label class="btn btn-lg btn-outline-info disabled" >
          <span class="<%= Rails.configuration.icon_prefix %> fa-plane-departure mr-1"></span>
          <input type="radio" name="options" id="aerial">  <%= t('enums.quote.service_mode.aerial') %>
        </label>
        <label class="btn btn-lg btn-outline-info disabled">
          <span class="<%= Rails.configuration.icon_prefix %> fa-truck-container"></span>
          <input type="radio" name="options" id="land" disabled="disabled">  <%= t('enums.quote.service_mode.land') %>
        </label>
      </div>
  </div>
</div>