<div class="row">
  <% if @quote.freight_type.code == "FCL" %>
    <%= render 'shared/quotes/container_totals_card' %>
  <% else %>
    <%= render 'shared/quotes/unit_totals_card' %>
  <% end %>
</div>
<div class="row">
  <div class="col-sm-12 col-xl-6">
    <% if @quote.freight_type.code == "FCL" %>
      <%= render 'shared/quotes/quote_container_detail' %>
    <% else %>
      <%= render 'shared/quotes/quote_unit_detail' %>
    <% end %>
  </div>
  <div class="col-sm-12 col-xl-6">
    <%= render 'customer/quotes/optional_services_detail' %>
  </div>
</div>