<%
  content_for(:title, t('views.admin.quotes.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.quotes'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-shipping-fast'></i>  <%= t('views.sidebar.quotes') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>

  <%= stylesheet_link_tag 'smartadmin/notifications/sweetalert2/sweetalert2.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.quotes.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to customer_quotes_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
          <%= link_to reject_customer_quote_path(@quote.id, @approval[:id]), class: 'btn btn-danger btn-sm ml-2' do %>
            <%= t('views.shared.buttons.reject') %>
          <% end %>
          <%= link_to approve_customer_quote_path(@quote.id, @approval[:id]), class: 'btn btn-success btn-sm ml-2' do %>
            <%= t('views.shared.buttons.approve') %>
          <% end %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div id="panel-1" class="panel">
          <div class="panel-hdr">
            <h2><%= t('views.shared.text.preview_changes') %></h2>
          </div>
          <% freight_type = FreightType.find(@preview_changes[:freight_type_id].to_i)  %>
          <% maritime_rate = MaritimeRate.find(@preview_changes[:maritime_rate_id].to_i)  %>
          <div class="panel-container show">
            <div class="panel-content">
              <div class="frame-wrap p-0 border-0 m-0">
                <div class="form-group row my-2">
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.quote.number') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @preview_changes[:number] %></span>
                  <label class="col-3 col-form-label"><%= t('activerecord.attributes.quote.service_mode') %>:</label>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= freight_type.service_mode.name %></span>
                </div>

                <div class="form-group row my-2">
                  <label class="col-3 col-form-label"><%= t('activerecord.attributes.quote.freight_type') %>:</label>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= freight_type.name %></span>
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_rate.cargo_type') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.cargo_type.name %></span>
                </div>

                <div class="form-group row my-2">
                  <label class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_rate.shipping_line') %>:</label>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.shipping_line.name %></span>
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_rate.transit_time') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.transit_time %></span>
                </div>

                <div class="form-group row my-2">
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.quote.free_day_of_delay') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.free_days %></span>
                </div>

                <div class="form-group row my-2">
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_rate.origin') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.origin.name %></span>

                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_rate.destination') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.destination.name %></span>
                </div>

                <div class="form-group row my-2">
                  <label class="col-3 col-form-label"><%= t('activerecord.attributes.quote.expired_at') %>:</label>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.rate_validity_end.strftime("%d-%m-%Y") %></span>

                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_rate.departure_date') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.departure_date.strftime("%d-%m-%Y") %></span>
                </div>

                <div class="form-group row my-2">
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_quote.number_of_transshipments') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= route_or_scale?(maritime_rate.transshipments.size) %></span>

                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_quote.status') %>:</span>

                  <span class="col-3 col-form-label control-plaintext font-weight-bolder">
                    <span class="badge <%= badge_quote_status(@quote.status) %>"><%= t("enums.quote.status.#{@quote.status}") %></span>
                  </span>
                </div>
                <br>
                <div class="form-group row my-2">
                  <div class="col-12">
                    <h3><%= t('views.shared.text.total_commodities') %></h3>
                  </div>
                </div>
                <div class="form-group row my-2">
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.quote.total_pieces') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @preview_changes[:total_pieces] %></span>

                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.quote.total_weight') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder">
                    <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @preview_changes[:total_weight] %></span>
                  </span>
                </div>

                <div class="form-group row my-2">
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.quote.total_volume') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @preview_changes[:total_volume] %></span>

                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.quote.total_weight_volume') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @preview_changes[:total_chargeable_weight] %></span>
                </div>

                <div class="form-group row my-2">
                  <div class="col-12">
                    <h3><%= t('views.shared.text.commodities') %></h3>
                  </div>
                </div>

                <% @preview_changes[:maritime_quote_units].each do |commoditie| %>
                  <div class="form-group row my-2">
                    <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_quote_unit.number_units') %>:</span>
                    <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= commoditie[:number_units] %></span>

                    <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_quote_unit.height') %>:</span>
                    <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= commoditie[:height] %></span>
                  </div>
                  <div class="form-group row my-2">
                    <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_quote_unit.width') %>:</span>
                    <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= commoditie[:width] %></span>

                    <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_quote_unit.length') %>:</span>
                    <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= commoditie[:length] %></span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div id="panel-1" class="panel">
          <div class="panel-hdr">
            <h2><%= t('views.shared.text.recent_changes') %></h2>
          </div>
          <% freight_type = FreightType.find(@recent_changes[:freight_type_id].to_i)  %>
          <% maritime_rate = MaritimeRate.find(@recent_changes[:maritime_rate_id].to_i)  %>

          <div class="panel-container show">
            <div class="panel-content">
              <div class="frame-wrap p-0 border-0 m-0">

                <div class="form-group row my-2">
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.quote.number') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @recent_changes[:number] %></span>
                  <label class="col-3 col-form-label"><%= t('activerecord.attributes.quote.service_mode') %>:</label>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= freight_type.service_mode.name %></span>
                </div>

                <div class="form-group row my-2">
                  <label class="col-3 col-form-label"><%= t('activerecord.attributes.quote.freight_type') %>:</label>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= freight_type.name %></span>
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_rate.cargo_type') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.cargo_type.name %></span>
                </div>

                <div class="form-group row my-2">
                  <label class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_rate.shipping_line') %>:</label>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.shipping_line.name %></span>
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_rate.transit_time') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.transit_time %></span>
                </div>

                <div class="form-group row my-2">
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.quote.free_day_of_delay') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.free_days %></span>
                </div>

                <div class="form-group row my-2">
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_rate.origin') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.origin.name %></span>

                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_rate.destination') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.destination.name %></span>
                </div>

                <div class="form-group row my-2">
                  <label class="col-3 col-form-label"><%= t('activerecord.attributes.quote.expired_at') %>:</label>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.rate_validity_end.strftime("%d-%m-%Y") %></span>

                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_rate.departure_date') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= maritime_rate.departure_date.strftime("%d-%m-%Y") %></span>
                </div>

                <div class="form-group row my-2">
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_quote.number_of_transshipments') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= route_or_scale?(maritime_rate.transshipments.size) %></span>

                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_quote.status') %>:</span>

                  <span class="col-3 col-form-label control-plaintext font-weight-bolder">
                    <span class="badge <%= badge_quote_status(@quote.status) %>"><%= t("enums.quote.status.#{@quote.status}") %></span>
                  </span>
                </div>
                <br>
                <div class="form-group row my-2">
                  <div class="col-12">
                    <h3><%= t('views.shared.text.total_commodities') %></h3>
                  </div>
                </div>

                <div class="form-group row my-2">
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.quote.total_pieces') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @recent_changes[:total_pieces] %></span>

                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.quote.total_weight') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder">
                    <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @recent_changes[:total_weight] %></span>
                  </span>
                </div>

                <div class="form-group row my-2">
                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.quote.total_volume') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @recent_changes[:total_volume] %></span>

                  <span class="col-3 col-form-label"><%= t('activerecord.attributes.quote.total_weight_volume') %>:</span>
                  <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @recent_changes[:total_chargeable_weight] %></span>
                </div>

                <div class="form-group row my-2">
                  <div class="col-12">
                    <h3><%= t('views.shared.text.commodities') %></h3>
                  </div>
                </div>

                <% @recent_changes[:maritime_quote_units].each do |commoditie| %>
                  <div class="form-group row my-2">
                    <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_quote_unit.number_units') %>:</span>
                    <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= commoditie[:number_units] %></span>

                    <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_quote_unit.height') %>:</span>
                    <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= commoditie[:height] %></span>
                  </div>
                  <div class="form-group row my-2">
                    <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_quote_unit.width') %>:</span>
                    <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= commoditie[:width] %></span>

                    <span class="col-3 col-form-label"><%= t('activerecord.attributes.maritime_quote_unit.length') %>:</span>
                    <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= commoditie[:length] %></span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support -->
  <%= javascript_include_tag 'smartadmin/notifications/sweetalert2/sweetalert2.bundle' %>
  <script>
  </script>
<% end %>