<!DOCTYPE html>
<%= render 'shared/copyright_header' %>
<html lang="en">
  <head>
    <%= render 'shared/head' %>
    <%#  Optional: page related CSS  %>
    <%= yield :head_block %>
    <link href="https://cdn.usebootstrap.com/bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style>
        .container-table100 {
            width: 100%;
            min-height: 100vh;
            background: #fff;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 33px 30px;
        }
        .wrap-table100 {
            width: 1170px;
        }

        .table100.ver1 {
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
            -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
            -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
            -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
            -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
        }
        .table100 {
            position: relative;
            padding-top: 60px;
        }
        .table100 {
            background-color: #fff;
        }
        .m-b-110 {
            margin-bottom: 110px;
        }

        .table100-head {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }
        table {
            width: 100%;
        }

        .table100.ver1 th {
            font-family: Lato-Bold;
            font-size: 18px;
            color: #fff;
            line-height: 1.4;
            background-color: #6c7ae0;
        }
        .table100-head th {
            padding-top: 18px;
            padding-bottom: 18px;
        }
        .column1 {
            width: 33%;
            padding-left: 40px;
        }
        th, td {
            font-weight: unset;
            padding-right: 10px;
        }

        .table100-body {
            max-height: 585px;
            overflow: auto;
        }
        .js-pscroll {
            position: relative;
            overflow: hidden;
        }
        .ps {
            overflow: hidden!important;
            overflow-anchor: none;
            -ms-overflow-style: none;
            touch-action: auto;
            -ms-touch-action: auto;
        }

        .table100.ver1 td {
            font-family: Lato-Regular;
            font-size: 15px;
            color: gray;
            line-height: 1.4;
        }
        .table100-body td {
            padding-top: 16px;
            padding-bottom: 16px;
        }
        .column1 {
            width: 33%;
            padding-left: 40px;
        }
        th, td {
            font-weight: unset;
            padding-right: 10px;
        }
    </style>
  </head>
  <body>
    <h1>Freightspot S.A de C.V</h1>
    <div class="row mt-4">
      <div class="col-xl-6">
        <table>
          <tr>
            <td><%= t('activerecord.attributes.quote.number') %>:</td>
            <td class="font-weight-bolder"><%= @quote.number %></td>
            <td><%= t('activerecord.attributes.quote.service_mode') %>:</td>
            <td class="font-weight-bolder"><%= @quote.freight_type.service_mode.name %></td>
            <td><%= t('activerecord.attributes.quote.freight_type') %>:</td>
            <td class="font-weight-bolder"><%= t("enums.quotes.freight_type.#{@quote.freight_type.name}") %></td>
          </tr>
          <tr class="mt-4">
            <td><%= t('activerecord.attributes.quote.operation_type') %>:</td>
            <td class="font-weight-bolder"><%= @quote.export_or_import? %></td>
            <td><%= t('activerecord.attributes.maritime_rate.cargo_type') %>:</td>
            <td class="font-weight-bolder"><%= @quote.maritime_rate.cargo_type.name %></td>
            <td><%= t('activerecord.attributes.maritime_rate.shipping_line') %>:</td>
            <td class="font-weight-bolder"><%= @quote.maritime_rate.shipping_line.name %></td>
          </tr>
          <tr class="mt-4">
            <td><%= t('activerecord.attributes.maritime_rate.transit_time') %>:</td>
            <td class="font-weight-bolder"><%= @quote.maritime_rate.transit_time %></td>
            <td><%= t('activerecord.attributes.quote.free_day_of_delay') %>:</td>
            <td class="font-weight-bolder"><%= @quote.maritime_rate.free_days %></td>
            <% if @quote.incoterm %>
              <td><%= t('activerecord.attributes.quote.incoterm') %>:</td>
              <td class="font-weight-bolder"><%= @quote.incoterm.code %></td>
            <% end %>
          </tr>
          <tr class="mt-4">
            <td><%= t('activerecord.attributes.maritime_rate.origin') %>:</td>
            <td class="font-weight-bolder"><%= @quote.maritime_rate.origin.name %></td>
            <td><%= t('activerecord.attributes.maritime_rate.destination') %>:</td>
            <td class="font-weight-bolder"><%= @quote.maritime_rate.destination.name %></td>
            <td><%= t('activerecord.attributes.quote.expired_at') %>:</td>
            <td class="font-weight-bolder"><%= @quote.maritime_rate.rate_validity_end.strftime("%d-%m-%Y") %></td>
          </tr>
          <tr class="mt-4">
            <td><%= t('activerecord.attributes.maritime_rate.departure_date') %>:</td>
            <td class="font-weight-bolder"><%= @quote.maritime_rate.departure_date.strftime("%d-%m-%Y") %></td>
            <td><%= t('activerecord.attributes.maritime_quote.number_of_transshipments') %>:</td>
            <td class="font-weight-bolder"><%= route_or_scale?(@quote.maritime_rate.transshipments.size) %></td>
            <td><%= t('activerecord.attributes.maritime_quote.status') %>:</td>
            <td class="font-weight-bolder">
              <span class="col-3 col-form-label control-plaintext font-weight-bolder">
                <span class="badge <%= badge_quote_status(@quote.status) %>"><%= t("enums.quote.status.#{@quote.status}") %></span>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <h3 class="mt-4"><%= t('views.shared.text.commodities') %></h3>
    <div class="row mt-4">
      <div class="col-xl-6">
        <table>
          <tr>
            <% if @quote.maritime_rate.freight_type.code == 'FCL' %>
              <td><%= t('activerecord.attributes.quote.total_containers') %>:</td>
              <td class="font-weight-bolder"><%= @quote.total_pieces %></td>
            <% else %>
              <td><%= t('activerecord.attributes.quote.total_pieces') %>:</td>
              <td class="font-weight-bolder"><%= @quote.total_pieces %></td>
            <% end %>
            <td><%= t('activerecord.attributes.quote.total_weight') %>:</td>
            <td class="font-weight-bolder"><%= @quote.total_weight %></td>
            <td><%= t('activerecord.attributes.quote.total_chargeable_weight') %>:</td>
            <td class="font-weight-bolder"><%= @quote.total_chargeable_weight %></td>
            <td><%= t('activerecord.attributes.quote.total_volume') %>:</td>
            <td class="font-weight-bolder"><%= @quote.total_volume %></td>
            <td><%= t('activerecord.attributes.quote.total_cost') %>:</td>
            <td class="font-weight-bolder"><%= number_to_currency(@quote.total_cost) %></td>
          </tr>
        </table>
      </div>
    </div>
    <h3 class="mt-4"><%= t('views.customer.quotes.new.optional_services') %></h3>
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100 ver1 m-b-110">
          <div class="table100-head">
            <table>
              <thead>
              <tr class="row100 head">
                <th class="cell100 column1"><%= t('views.shared.text.services') %></th>
                <th class="cell100 column2"><%= t('views.shared.text.cost') %></th>
              </tr>
              </thead>
            </table>
          </div>
          <div class="table100-body js-pscroll ps ps--active-y">
            <table>
              <tbody>
                <% @quote.quote_optional_services.each do |optional_service| %>
                  <tr class="row100 body">
                    <td class="cell100 column1"><%= optional_service.optional_service.name_label %></td>
                    <td class="cell100 column2"><%=  optional_service.charge.nil? ? "Por definir" : number_to_currency(optional_service.charge)%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="ps__rail-x" style="left: 0px; bottom: -580.8px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 580.8px; height: 585px; right: 5px;"><div class="ps__thumb-y" tabindex="0" style="top: 291px; height: 293px;"></div></div></div>
        </div>
      </div>
    </div>
  </body>
</html>
