<%= simple_form_for [:admin, @tariff_rate] do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :hs_code, placeholder: t('activerecord.attributes.tariff_rate.hs_code') %>
    </div>
    <div class="col-md-6">
      <%= f.input :nico, placeholder: t('activerecord.attributes.tariff_rate.nico') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :description, placeholder: t('activerecord.attributes.tariff_rate.description') %>
    </div>
    <div class="col-md-6">
      <%= f.input :umt, placeholder: t('activerecord.attributes.tariff_rate.umt') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :import_tax, placeholder: t('activerecord.attributes.tariff_rate.import_tax') %>
    </div>
    <div class="col-md-6">
      <%= f.input :export_tax, placeholder: t('activerecord.attributes.tariff_rate.export_tax') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>
