<%
  content_for(:title, t('views.admin.roles.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.tariff_rates'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-anchor'></i>  <%= t('views.sidebar.tariff_rates') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12 col-xl-12">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.tariff_rates.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_tariff_rates_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
          <%= link_to({ action: :destroy, id: @tariff_rate.id }, class: "btn btn-primary btn-sm ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
            <%= t('views.shared.buttons.destroy') %>
          <% end %>
          <%= link_to edit_admin_tariff_rate_path(@tariff_rate.id), class: 'btn btn-info btn-sm ml-2' do %>
            <%= t('views.shared.buttons.edit') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="frame-wrap p-0 border-0 m-0">
            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.tariff_rate.hs_code') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @tariff_rate.hs_code %></span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.tariff_rate.nico') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @tariff_rate.nico %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.tariff_rate.description') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @tariff_rate.description %></span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.tariff_rate.umt') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @tariff_rate.umt %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.tariff_rate.import_tax') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @tariff_rate.import_tax %>°</span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.tariff_rate.export_tax') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @tariff_rate.export_tax %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.container.created_at') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @tariff_rate.created_at %>°</span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.container.updated_at') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @tariff_rate.updated_at %>°</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>