<div class="modal fade product-modal" id="product_form" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('views.admin.products.new.add_product') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <%= simple_form_for [:customer, Product.new]  do |f| %>
        <div class="modal-body">
            <div class="form-group row">
              <div class="col-xl-12">
                <%= f.input :name, class: "form-control" %>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success waves-effect waves-themed"><%= t('views.shared.buttons.save') %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>