<div id="panel-2" class="panel" data-panel-fullscreen="false">
  <div class="panel-hdr">
    <h2><%= t("views.dashboard.customer.my_statistics.count_by_freight_type") %></h2>
  </div>
  <div class="panel-container show">
    <div class="panel-content poisition-relative">
      <div id="chart"></div>
    </div>
  </div>
</div>


