<div class="page-logo">
	<a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
		<%= image_tag 'logo-f.png' %>
		<span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"><%= Rails.configuration.app_flavor_subscript %></span>
		<% if Rails.configuration.app_shortcut_modal %>
			<i class="<%= Rails.configuration.icon_prefix %> fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
		<% end %>
	</a>
</div>
