.nested-fields
  = f.hidden_field :id
  = f.hidden_field :phoneable_id
  = f.hidden_field :_destroy
  = f.hidden_field :code
  = f.hidden_field :phoneable_type, value: phoneable_type
  = f.hidden_field :principal, value: true
  = f.hidden_field :type_phone, value: type_phone
  .row
    .col-12#country-code
      = f.input :number, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: 'country-code-tel form-control-lg' }, label: t('activerecord.attributes.phone.mobile_number')
javascript:
    $(document).ready(function () {
        const input = $(".country-code-tel");
        input.intlTelInput({
            formatOnInit: true,
            separateDialCode: false,
            placeholderNumberType: 'MOBILE',
            initialCountry: "mx",
            nationalMode: false,
            hiddenInput: "full",
        });
    });