<div class="modal fade" id="shared-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title">Title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-container"></div>
      </div>
      <div class="modal-footer">
        <button id="btn_close_modal" type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal"><%= t('views.shared.buttons.cancel') %></button>
        <button id="btn_no_modal" type="button" style="display: none;" class="btn btn-danger font-weight-bold" data-dismiss="modal"> No </button>
        <button id="btn_submit_modal" type="button" class="btn btn-success font-weight-bold">Save changes</button>
        <button id="btn_yes_modal" style="display: none;" type="button" class="btn btn-success font-weight-bold" ><%= t('views.shared.buttons.yes') %></button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>

  <script>
      $(document).ready(function() {

      });

  </script>
<% end %>