<ul id="js-nav-menu" class="nav-menu">
  <% role = Role.find_by_code('super') %>
  <% if current_user.role.code == role.code %>
    <% SidebarEntry.all.each do |entry| %>
      <% if entry[:group_title].present? %>
        <li class="nav-title"><%= entry[:group_title]%></li>
      <% end %>
      <%= render partial: 'shared/nav_sub_entry', collection: entry[:children], as: :sub_entry, locals: {parents: []} %>
    <% end %>
  <% else %>
    <% (SidebarEntry.all.filter { |entry| entry[:group_title] != 'Super Admin'}).each do |entry| %>
      <% if entry[:group_title].present? %>
        <li class="nav-title"><%= entry[:group_title]%></li>
      <% end %>
      <%= render partial: 'shared/nav_sub_entry', collection: entry[:children], as: :sub_entry, locals: {parents: []} %>
    <% end %>
  <% end %>
</ul>
