<%#  Infocard  %>
<div class="info-card" style="background-color: #222">
	<%= image_tag "smartadmin/demo/avatars/#{Rails.configuration.avatar}", class: 'profile-image rounded-circle', alt: Rails.configuration.user %>
	<div class="info-card-text">
		<a href="#" class="d-flex align-items-center text-white">
			<span class="text-truncate text-truncate-sm d-inline-block">
				<%= current_user.contact.name unless current_user.contact.blank? %>
				<%= current_user.employee.name unless current_user.employee.blank? %>
			</span>
		</a>
		<span class="d-inline-block text-truncate text-truncate-sm">
      <%= current_user.contact.country unless current_user.contact.blank? %>
      <%= current_user.employee.origin unless current_user.employee.blank? %>
    </span>
	</div>
	<!--%= image_tag 'smartadmin/card-backgrounds/cover-2-lg.png', class: 'cover', alt: 'cover' %-->
	<a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
		<i class="<%= Rails.configuration.icon_prefix %> fa-angle-down"></i>
	</a>
</div>
