<% if Rails.configuration.app_header %>
<!-- BEGIN Page Header -->
<header class="page-header" role="banner">

	<!-- we need this logo when user switches to nav-function-top -->
	<%= render 'shared/logo' %>

	<% if Rails.configuration.app_layout_shortcut %>
	<!-- DOC: nav menu layout change shortcut -->
	<div class="hidden-md-down dropdown-icon-menu position-relative">
		<a href="#" class="header-btn btn js-waves-off" data-action="toggle" data-class="nav-function-hidden" title="Hide Navigation">
			<i class="ni ni-menu"></i>
		</a>
		<ul>
			<li>
				<a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-minify" title="Minify Navigation">
					<i class="ni ni-minify-nav"></i>
				</a>
			</li>
			<li>
				<a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-fixed" title="Lock Navigation">
					<i class="ni ni-lock-nav"></i>
				</a>
			</li>
		</ul>
	</div>
	<% end %>
		
	<!-- DOC: mobile button appears during mobile width -->
	<div class="hidden-lg-up">
		<a href="#" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
			<i class="ni ni-menu"></i>
		</a>
	</div>

	<div class="search">
		<%= form_tag admin_page_page_search_path, method: :get, role: 'search', class: 'app-forms hidden-xs-down', autocomplete: 'off' do %>
			
			<input type="text" id="search-field" placeholder="Search for anything" class="form-control" tabindex="1">
			<a href="#" onclick="return false;" class="btn-danger btn-search-close js-waves-off d-none" data-action="toggle" data-class="mobile-search-on">
				<i class="<%= Rails.configuration.icon_prefix %> fa-times"></i>
			</a>
		<% end %>
	</div>

	<div class="ml-auto d-flex">
		
		<!-- activate app search icon (mobile) -->
		<div class="hidden-sm-up">
			<a href="#" class="header-icon" data-action="toggle" data-class="mobile-search-on" data-focus="search-field" title="Search">
				<i class="<%= Rails.configuration.icon_prefix %> fa-search"></i>
			</a>
		</div>

		<% if Rails.configuration.layout_settings %>
		<!-- app settings -->
		<div class="hidden-md-down">
			<a href="#" class="header-icon" data-toggle="modal" data-target=".js-modal-settings">
				<i class="<%= Rails.configuration.icon_prefix %> fa-cog"></i>
			</a>
		</div>	
		<% end %>

		<!-- app shortcuts -->
		<div>
			<a href="#" class="header-icon" data-toggle="dropdown" title="My Apps">
				<i class="<%= Rails.configuration.icon_prefix %> fa-cube"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-animated w-auto h-auto">
				<%= render 'shared/dropdown_app' %>
			</div>
		</div>

		<% if Rails.configuration.chat_interface %>
		<!-- app message -->
		<a href="#" class="header-icon" data-toggle="modal" data-target=".js-modal-messenger">
			<i class="<%= Rails.configuration.icon_prefix %> fa-globe"></i>
			<span class="badge badge-icon">!</span>
		</a>
		<% end %>

		<!-- app notification -->
		<div>
			<a href="#" class="header-icon" data-toggle="dropdown" title="notifications">
				<i class="<%= Rails.configuration.icon_prefix %> fa-bell"></i>
				<span class="badge badge-icon"><%= current_user.notifications.unread.count %></span>
			</a>
			<div class="dropdown-menu dropdown-menu-animated dropdown-xl">
				<%= render 'shared/dropdown_notification' %>
			</div>
		</div>

		<!-- app user menu -->
		<div>
			<a href="#" data-toggle="dropdown" title="<%= Rails.configuration.email %>" class="header-icon d-flex align-items-center justify-content-center ml-2">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar.service_url, class: 'profile-image rounded-circle', alt: 'Avatar' %>
        <% else %>
          <%= image_tag Rails.configuration.default, class: 'profile-image rounded-circle', alt: 'Dr. Codex Lantern' %>
        <% end %>
				<!-- you can also add username next to the avatar with the codes below:
				<span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">Me</span>
				<i class="ni ni-chevron-down hidden-xs-down"></i> -->
			</a>
			<div class="dropdown-menu dropdown-menu-animated dropdown-lg">
				<%= render 'shared/dropdown_menu' %>
			</div>
		</div>

	</div>

</header>
<!-- END Page Header -->
<% end %>
