<div class="nested-fields mb-2">
  <%= f.hidden_field :id %>
  <div class="row d-flex flex-row">
    <div class="col-xl-3">
      <%= f.input :title %>
    </div>
    <div class="col-xl-3">
      <%= f.input :category, placeholder: t('activerecord.attributes.feature_improvement.category'), prompt: t('views.shared.prompt.category'), input_html: { class: 'form-control' } %>
    </div>
    <div class="col-xl-3">
      <%= f.input :description %>
    </div>
    <div class="col-xl-3">
      <%= link_to_remove_association f, {:style=>'position: relative; top:30px;', :class => "btn btn-outline-primary btn-sm btn-icon"} do %>
        <i class="<%= Rails.configuration.icon_prefix %> fa-trash"></i>
      <% end %>
    </div>
  </div>
</div>