<%= simple_form_for [:admin, @changelog] do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :version_number, placeholder: t('activerecord.attributes.changelog.version_number') %>
    </div>

    <div class="col-md-6">
      <%= f.input :released_at, as: :date, html5: true, placeholder: t('activerecord.attributes.changelog.released_at') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <%= f.input :description, placeholder: t('activerecord.attributes.changelog.description') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <h3 class="form-label"><%= t('activerecord.models.feature_improvement.other') %></h3>
    </div>
    <div class="col-md-4 links">
      <%= link_to_add_association f, :feature_improvements, data: { association_insertion_node: '.feature-improvements', association_insertion_method: :append }, class: 'btn btn-info btn-icon' do %>
        <i class="fal fa-plus"></i>
      <% end %>
    </div>
    <div class="col-md-5"></div>
  </div>
  <div class="feature-improvements">
    <%= f.simple_fields_for :feature_improvements do |feature_improvement| %>
      <%= render 'admin/changelogs/feature_improvement_fields', f: feature_improvement %>
    <% end %>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>