<%
  content_for(:title, t('views.admin.changelog.new.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.changelog'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-code'></i> <%= t('views.sidebar.changelog') %>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.changelog.new.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_changelogs_path, class: 'btn btn-secondary btn-sm' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <!-- form start -->
          <%= render 'form', button: t('views.shared.buttons.save') %>
          <!-- form end -->
        </div>
      </div>
    </div>
  </div>
</div>