<%
  content_for(:title, t('views.admin.changelog.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.changelog'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-code'></i>  <%= t('views.sidebar.changelog') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.changelog.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_changelogs_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
          <%= link_to({ action: :destroy, id: @changelog.id }, class: "btn btn-primary btn-sm ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
            <%= t('views.shared.buttons.destroy') %>
          <% end %>
          <%= link_to edit_admin_changelog_path(@changelog.id), class: 'btn btn-info btn-sm ml-2' do %>
            <%= t('views.shared.buttons.edit') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="row justify-content-center">
            <div class="offset-1 col-xl-11 col-sm-12">
              <div class="d-flex flex-column mb-6 ">
                <h1 class="text-gray-900 fw-bold mb-2 letter-spacing" style="font-size: 1.75rem; font-family: Inter,Helvetica,sans-serif;">
                  Freightspot v<%= @changelog.version_number %> - <%= @changelog.released_at.nil? ? '' : @changelog.released_at.strftime("%d %b, %Y") %>
                </h1>
                <span class="text-gray-600 fw-semibold fs-6"><%= @changelog.description %></span>
              </div>
              <% @changelog.feature_improvements.each do |feature| %>
                <div class="mb-5 mb-lg-10">
                  <h3 class="text-gray-800 fs-4 fw-bold mb-5">
                    <%= t("enums.feature_improvement.category.#{feature.category}") %>
                  </h3>
                  <ul class="list-style-none mb-0">
                    <li class="py-2">
                      <span class="d-flex align-items-start">
                        <span class="bullet bullet-dot bg-gray-600 w-6px h-6px me-5" style="margin-top: 0.55rem"></span>
                        <span>
                          <span class="fs-6 text-gray-700 fw-semibold">
                            <span class="changelog-label"><%= feature.title %></span>
                            <span><%= feature.description %></span>
                          </span>
                          <span></span>
                        </span>
                      </span>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>