<div class="features-area features-style-2">
  <div class="container">
    <div class="section-title text-center">
      <span>We Provide the Best</span>
      <h2>Our Awesome Features</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="features-item features-item-2">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="feature-wrap">
              <div class="features-icon features-icon2">
                <i class="fas fa-plane fa-2x"></i>
              </div>
              <div class="features-text">
                <h3>First Air Freight</h3>
                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="feature-wrap">
              <div class="features-icon feature-icon3">
                <i class="fas fa-shipping-fast fa-2x"></i>
              </div>
              <div class="features-text">
                <h3>First Ground Shipping</h3>
                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="features-item">
          <div class="feature-img">
            <%= image_tag 'freightspot/features/1.png' %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-item">
          <div class="col-lg-12 col-md-6 col-sm-12">
            <div class="feature-wrap">
              <div class="features-icon">
                <i class="fas fa-ship fa-2x"></i>
              </div>
              <div class="features-text">
                <h3>Quickest Cargo</h3>
                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-6 col-sm-12">
            <div class="feature-wrap">
              <div class="features-icon">
                <i class="fas fa-shipping-timed fa-2x"></i>
              </div>
              <div class="features-text">
                <h3>Timely Delivery</h3>
                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>