<!-- Bnner Section -->
<section class="banner-section">
  <div class="background-text">
    <div data-parallax='{"x": 100}'>
      <div class="text-1">transida</div>
      <div class="text-2">transida</div>
    </div>
  </div>
</section>
<!-- End Bnner Section -->