<div class="blog-area blog-style-2">
  <div class="container">
    <div class="col-l2">
      <div class="section-title section-title-3 text-center">
        <span>Stay With Our Blog</span>
        <h2>Our Latest News</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="blog-item">
          <div class="blog-img">
            <%= image_tag 'freightspot/blog/4.jpg' %>
            <div class="blog-s-text">
              <div class="blog-content">
                <h3>We can ensure you about the safe delevery</h3>
              </div>
              <div class="blog-content-sub blog-content-sub-2">
                <ul>
                  <li><a href="#">Business</a></li>
                  <li>October 13, 2018</li>
                </ul>
              </div>
            </div>
            <div class="blog-text">
              <div class="blog-content blog-content2">
                <h3><a href="blog-details.html">We can ensure you about the safe delevery</a></h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</p>
                <a href="blog-details.html">Read more...</a>
              </div>
              <div class="blog-content-sub blog-content-sub-2">
                <ul>
                  <li><a href="#">Business</a></li>
                  <li>October 13, 2018</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="blog-item">
          <div class="blog-img">
            <%= image_tag 'freightspot/blog/5.jpg' %>
            <div class="blog-s-text">
              <div class="blog-content">
                <h3>We can ensure you about the safe delevery</h3>
              </div>
              <div class="blog-content-sub blog-content-sub-2">
                <ul>
                  <li><a href="#">Business</a></li>
                  <li>October 13, 2018</li>
                </ul>
              </div>
            </div>
            <div class="blog-text">
              <div class="blog-content blog-content2">
                <h3><a href="blog-details.html">We can ensure you about the safe delevery</a></h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</p>
                <a href="blog-details.html">Read more...</a>
              </div>
              <div class="blog-content-sub blog-content-sub-2">
                <ul>
                  <li><a href="#">Business</a></li>
                  <li>October 13, 2018</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="blog-item">
          <div class="blog-img">
            <%= image_tag 'freightspot/blog/6.jpg' %>
            <div class="blog-s-text">
              <div class="blog-content">
                <h3>We can ensure you about the safe delevery</h3>
              </div>
              <div class="blog-content-sub blog-content-sub-2">
                <ul>
                  <li><a href="#">Business</a></li>
                  <li>October 13, 2018</li>
                </ul>
              </div>
            </div>
            <div class="blog-text">
              <div class="blog-content blog-content2">
                <h3><a href="blog-details.html">We can ensure you about the safe delevery</a></h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</p>
                <a href="blog-details.html">Read more...</a>
              </div>
              <div class="blog-content-sub blog-content-sub-2">
                <ul>
                  <li><a href="#">Business</a></li>
                  <li>October 13, 2018</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>