<div class='form-group mt-4' id='delivery_address' style="display: none;">
  <div class="row mt-2">
    <h4 class="title-m">Direccion para Entrega en Destino</h4>
  </div>
  <%= f.simple_fields_for :deliveries do |delivery| %>
    <div class="row">
      <%= delivery.input :street, placeholder: t('activerecord.attributes.delivery.street') %>
      <%= delivery.input :interior_number, placeholder: t('activerecord.attributes.delivery.interior_number'), input_html: { class: 'ml-2' } %>
      <%= delivery.input :outdoor_number, placeholder: t('activerecord.attributes.delivery.outdoor_number'), input_html: { class: 'ml-4' } %>
    </div>
    <div class="row">
      <%= delivery.input :colony, placeholder: t('activerecord.attributes.delivery.colony') %>
      <%= delivery.input :zip_code, placeholder: t('activerecord.attributes.delivery.zip_code'), input_html: { class: 'ml-2' } %>
      <%= delivery.input :city, placeholder: t('activerecord.attributes.delivery.city'), input_html: { class: 'ml-4' } %>
    </div>
    <div class="row">
      <%= delivery.input :state, placeholder: t('activerecord.attributes.delivery.state') %>
      <%= delivery.input :country, placeholder: t('activerecord.attributes.delivery.country'), input_html: { class: 'ml-2' } %>
    </div>
  <% end %>
</div>