<div class="col-sm-12 col-md-6 hide-element" id="fcl">
  <label class="form-label text-white" for="validationCustom03"><%= t('views.localhost.form.request_quote.quantity') %>/<%= t('views.localhost.form.request_quote.container') %> <span class="text-danger"> *</span></label>
  <div class="input-group my-group">
    <input type="number" class="form-control" name="quantity" placeholder="<%= t('views.localhost.form.request_quote.quantity') %>">
    <select class="custom-select" name="container_id" id="container_id">
      <option value=""><%= t('views.localhost.form.request_quote.container') %></option>
      <%= @containers.each do |container| %>
        <option value="<%= container.id %>"><%= container.code %></option>
      <% end %>
    </select>
    <div class="invalid-feedback">
      <%= t('views.localhost.form.request_quote.validation.container') %>
    </div>
  </div>
</div>