<div class="footer-area">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 footer-t">
          <div class="footer-logo">
            <%= image_tag 'logo.png', alt: '' %>
          </div>
          <p>There are many variations of Lorem passages of Lorem Ipsum available, but the majority</p>
          <p>By injected humour, or randomised words</p>
          <div class="social">
            <ul class="d-flex links-footer">
              <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 footer-t">
          <div class="footer-link">
            <h3>Quick Link</h3>
            <ul class="links-footer">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Location</a></li>
              <li><a href="#">Testimonial</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 footer-b">
          <div class="Recent-News-area">
            <h3>Recent News</h3>
            <div class="resent-sub">
              <p>There are many variations of passages of Lorem</p>
              <span><i class="fa fa-clock-o" aria-hidden="true"></i> Octobor 10, 2018</span>
            </div>
            <p>There are many variations of passages of Lorem</p>
            <span><i class="fa fa-clock-o" aria-hidden="true"></i> Octobor 10, 2018</span>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="footer-widget instagram">
            <h3>Instagram</h3>
            <ul class="d-flex">
              <li>
                <a href="#">
                  <%= image_tag 'freightspot/instagram/1.jpg' %>
                </a>
              </li>
              <li>
                <a href="#">
                  <%= image_tag 'freightspot/instagram/2.jpg' %>
                </a>
              </li>
              <li>
                <a href="#">
                  <%= image_tag 'freightspot/instagram/3.jpg' %>
                </a>
              </li>
              <li>
                <a href="#">
                  <%= image_tag 'freightspot/instagram/4.jpg' %>
                </a>
              </li>
              <li>
                <a href="#">
                  <%= image_tag 'freightspot/instagram/5.jpg' %>
                </a>
              </li>
              <li>
                <a href="#">
                  <%= image_tag 'freightspot/instagram/6.jpg' %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-content">
        <div class="row">
          <div class="col-12">
            <span>© Copyrights 2018. All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>