<%= form_tag search_rates_welcome_index_path, method: :get, class: 'needs-validation', novalidate: true do %>
  <div class="form-row form-group">
    <div class="col-sm-12 col-md-3 mb-3">
      <label class="form-label text-white" for="validationCustom03"><%= t('views.localhost.form.request_quote.origin') %> <span class="text-danger"> *</span></label>
      <select class="custom-select" id="origin_id" required="" name="origin_id">
        <option value=""><%= t('views.localhost.form.request_quote.origin') %></option>
        <%= @origin_ports.each do |port| %>
          <option value="<%= port.id %>"><%= port.name %></option>
        <% end %>
      </select>
      <div class="invalid-feedback">
        <%= t('views.localhost.form.request_quote.validation.origin') %>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-3">
      <label class="form-label text-white" for="validationCustom03"><%= t('views.localhost.form.request_quote.destination') %> <span class="text-danger"> *</span></label>
      <select class="custom-select" required="" name="destination_id" id="destination_id">
        <option value=""><%= t('views.localhost.form.request_quote.destination') %></option>
        <%= @destination_ports.each do |port| %>
          <option value="<%= port.id %>"><%= port.name %></option>
        <% end %>
      </select>
      <div class="invalid-feedback">
        <%= t('views.localhost.form.request_quote.validation.destination') %>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-3">
      <label class="form-label text-white" for="validationCustom05"><%= t('views.localhost.form.request_quote.freight_type') %> <span class="text-danger"> *</span></label>
      <select class="custom-select" required="" name="freight_type_id" id="freight_type_id">
        <option value=""><%= t('views.localhost.form.request_quote.freight_type') %></option>
        <%= @freight_types.each do |freight_type| %>
          <option value="<%= freight_type.id %>"><%= freight_type.code %></option>
        <% end %>
      </select>
      <div class="invalid-feedback">
        <%= t('views.localhost.form.request_quote.validation.freight_type') %>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-3">
      <button class="btn btn-primary ml-auto" type="submit"><%= t('views.shared.buttons.quote') %></button>
    </div>

    <%= render 'fcl' %>
    <%= render 'lcl' %>
  </div>
<% end %>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });


        }, false);
    })();

    $(document).ready(function () {
        $('#origin_id').on('change', function () {
            console.log("DADSADASDASD");
            $.ajax({
                url: "/welcome/get_destination_ports/" + $(this).val(),
                type: "get",
                success: function (data) {
                    console.log("encontro");
                    console.log(data);
                    var select = document.getElementById('destination_id');
                    // Add options
                    $(select).empty();
                    for (var i in data) {
                        $(select).append('<option value=' + data[i].id + '>' + data[i].name + '</option>');
                    }
                },
                error: function (data) {
                    console.log("no encontro");
                    console.log(data);
                }
            });
        });
        $('#freight_type_id').on('change', function () {
            console.log($(this).val());
            console.log($("#freight_type_id option:selected" ).text());
            let freight_type = $("#freight_type_id option:selected" ).text();
            if (freight_type == 'FCL') {
                $("#fcl").removeClass('hide-element');
                $("#lcl").addClass('hide-element');

                $('#length').val('');
                $('#width').val('');
                $('#height').val('');
                $('#weight').val('');
            } else {
                $("#fcl").addClass('hide-element');
                $("#lcl").removeClass('hide-element');

                $('#quantity').val('');
            }
        });
    });
</script>