<%= form_with url: "/requests/quote", html: {  } do |form| %>
  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label :origin, t('views.localhost.form.request_quote.origin'), class: '' %>
      <%= form.text_field :origin, class: 'form-control', placeholder: t('views.localhost.form.request_quote.origin') %>
    </div>
    <div class="col-md-3">
      <%= form.label :destination, t('views.localhost.form.request_quote.destination'), class: '' %>
      <%= form.text_field :destination, class: 'form-control', placeholder: t('views.localhost.form.request_quote.destination') %>
    </div>
  </div>

  <%= form.submit "Search" %>
<% end %>