<div class="col-sm-12 col-md-8 hide-element" id="lcl">
  <label class="form-label text-white" for="validationCustom03"><%= t('views.localhost.form.request_quote.dimensions') %> <span class="text-danger"> *</span></label>
  <div class="input-group">
    <div class="input-group-append">
      <input type="text" class="form-control" name="length" id="length" placeholder="<%= t('views.localhost.form.request_quote.length') %>" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <input type="text" class="form-control" name="width" id="width" placeholder="<%= t('views.localhost.form.request_quote.width') %>" aria-describedby="basic-addon2">
      <input type="text" class="form-control" name="height" id="height" placeholder="<%= t('views.localhost.form.request_quote.height') %>" aria-describedby="basic-addon2">
      <input type="text" class="form-control" name="weight" id="weight" placeholder="<%= t('views.localhost.form.request_quote.weight') %>" aria-describedby="basic-addon2">
    </div>
  </div>
</div>