<div class="modal-header justify-content-center row">
  <div class="text-center">
    <h4 class="title title-m text-uppercase"><%= t('devise.sessions.new.sign_in') %></h4>
    <span class="text-center" style="color: #0b2e13;"><%= t('views.shared.text.create_account') %>
      <button class="btn btn-link" id="loginButton" onclick="registerButtonFunction()"><%= t('views.shared.text.register') %></button>
            </span>
  </div>
  <div id="display_errors">
  </div>
</div>

<%= simple_form_for :user, url: user_session_path, html: { id: :login_quote_contact_email }, remote: true do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="modal-body">
    <div>
      <%= f.input :email, label: false, placeholder: t('activerecord.attributes.user.email'), input_html: { class: "form-control form-control-lg" } %>
    </div>
    <div id="email_cant_be_blank" class="error-form"></div>
    <div>
      <%= f.input :password, label: false, placeholder: t('activerecord.attributes.user.password'), input_html: { class: "form-control form-control-lg" } %>
    </div>
    <div id="password_can't_be_blank" class="error-form"></div>
    <br>
    <div id="email_or_password_is_invalid" class="error-form"></div>

  </div>
  <div class="modal-footer">
    <div class="container my-3">
      <%= f.submit t('devise.sessions.new.sign_in'), id: 'contactButton', class: 'btn btn-success btn-pills btn-block waves-effect waves-themed' %>
    </div>
  </div>
<% end %>