<!-- masthead -->
<header id="masthead" class="site-header clearfix">
  <div class="header-main clearfix">
    <div class="container mobile_relative">
      <div class="row">
        <div class="site-logo col-md-3 col-sm-6 col-xs-6">
          <a href="index.html" class="logo">
            <img src="images/logo-light.png" alt="CargoHub" class="logo-light show-logo">
            <img src="images/logo.png" alt="CargoHub" class="logo-dark hide-logo">
          </a>
          <h1 class="site-title"><a href="#">CargoHub</a></h1>
          <h2 class="site-description">Just another Steel Themes Sites site</h2>
        </div>
        <div class="site-menu col-md-9 col-sm-6 col-xs-6">
          <nav id="site-navigation" class="main-nav primary-nav nav">
            <ul class="menu">
              <li class="active has-children"><a href="index.html" class="dropdown-toggle">Home</a>
                <ul class="sub-menu">
                  <li><a href="index.html">Home Page 1</a></li>
                  <li><a href="home-page-2.html">Home Page 2</a></li>
                  <li><a href="home-page-3.html">Home Page 3</a></li>
                  <li><a href="home-page-4.html">Home Page 4</a></li>
                </ul>
              </li>
              <li class="has-children"><a href="services.html" class="dropdown-toggle">Services</a>
                <ul class="sub-menu">
                  <li><a href="services.html">All Services</a></li>
                  <li><a href="road-freight-forwarding.html">Road Freight Forwarding</a></li>
                  <li><a href="ocean-freight-forwarding.html">Ocean Freight Forwarding</a></li>
                  <li><a href="air-freight-forwarding.html">Air Freight Forwarding</a></li>
                  <li><a href="warehousing.html">Warehousing</a></li>
                  <li><a href="door-to-door-delivery.html">Door to Door Delivery</a></li>
                  <li><a href="ground-transport.html">Ground Transport</a></li>
                  <li><a href="worldwide-transport.html">Worldwide Transport</a></li>
                  <li><a href="cargo-service.html">Cargo Service</a></li>
                  <li><a href="packaging-storage.html">Packaging &#038; Storage</a></li>
                </ul>
              </li>
              <li class="has-children"><a href="#" class="dropdown-toggle">Pages</a>
                <ul class="sub-menu">
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="faqs.html">FAQS</a></li>
                  <li><a href="our-prices.html">Our Prices</a></li>
                  <li><a href="testimonials.html">Testimonials</a></li>
                </ul>
              </li>
              <li class="has-children"><a href="gallery.html" class="dropdown-toggle">Gallery</a>
                <ul class="sub-menu">
                  <li><a href="gallery-column-4.html">Gallery Four Columns</a></li>
                  <li><a href="gallery-column-3.html">Gallery Three Columns</a></li>
                  <li><a href="gallery.html">Gallery Two Columns</a></li>
                  <li><a href="gallery-single.html">Gallery Single</a></li>
                </ul>
              </li>
              <li class="has-children"><a href="#" class="dropdown-toggle">Features</a>
                <ul class="sub-menu">
                  <li><a href="request-a-quote.html">Request A Quote</a></li>
                  <li><a href="track-your-shipment.html">Track Your Shipment</a></li>
                </ul>
              </li>
              <li class="has-children"><a href="blog.html" class="dropdown-toggle">News</a>
                <ul class="sub-menu">
                  <li><a href="blog-column-2.html">Blog Two Columns</a></li>
                  <li><a href="blog-column-3.html">Blog Three Columns</a></li>
                  <li><a href="blog-column-4.html">Blog Four Columns</a></li>
                  <li><a href="blog-sidebar.html">Blog With Sidebar</a></li>
                  <li><a href="blog-single.html">Blog Single Post</a></li>
                </ul>
              </li>
              <li><a href="contact.html">Contact</a></li>
              <li class="extra-menu-item menu-item-button-link">
                <a href="request-a-quote.html" class="fh-btn btn">Get A Quote</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <a href="#" class="navbar-toggle">
        <span class="navbar-icon">
          <span class="navbars-line"></span>
        </span>
      </a>
    </div>
  </div>

</header>

<!-- masthead end -->