<!-- Modal -->
<div id="my_modal_content">
  <div class="modal fade contact_us" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content h-100 border-0 shadow-0 bg-fusion-800">


        <div id="register_div">
          <%= render 'register_form' %>
        </div>
        <div id="sign_in_div" style="display: none;">
          <%= render 'login_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :scripts_block do %>
  <!-- REQUIRED CDN  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css"
        crossorigin="anonymous"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js" crossorigin="anonymous"></script>

  <script>
      var input = document.querySelector("#quote_contact_email_phone");
      window.intlTelInput(input, {
          separateDialCode: true,
          customPlaceholder: function (
              selectedCountryPlaceholder,
              selectedCountryData
          ) {
              return "e.g. " + selectedCountryPlaceholder;
          },
      });

      $(document).ready(function () {

          $('#contactButton').removeAttr('data-disable-with');

          $('#login_quote_contact_email').submit(function () {
              $('#preloader').show();
              $.ajax({
                  url: $('#login_quote_contact_email').attr('action'),
                  type: 'POST',
                  data: $('#login_quote_contact_email').serialize(),
                  success: function (response) {
                      $('.contact_us').modal('toggle');
                      $('#preloader').remove();
                      $("#welcome-rates").removeClass("rates_blur");
                      location.reload();
                  }, error: function (request, error) {
                      console.log(request);
                      $('#preloader').remove();
                      document.getElementById('user_email').required = false;
                      document.getElementById('user_password').required = false;
                      mensajes = document.getElementsByClassName('error-form');
                      for (var k in mensajes) {
                          mensajes[k].innerHTML = "";
                      }
                      $('input[type="text"]').each(function () {
                          var input = $(this);
                          input[0].required = false;
                      });
                      user = document.getElementById('user_email');
                      password = document.getElementById('user_password')
                      if (user.value == null || user.value == "") {
                          document.getElementById('user_email').required = true;
                          document.getElementById("email_cant_be_blank").innerHTML = "<%= t('views.shared.errors.email_cant_be_blank') %>";
                      }
                      if (password.value == null || password.value == "") {
                          document.getElementById('user_password').required = true;
                          document.getElementById("password_can't_be_blank").innerHTML = "<%= t('views.shared.errors.password_cant_be_blank') %>";
                      }
                      switch (request.responseText) {
                          case "Invalid Email or password.":
                              document.getElementById('email_or_password_is_invalid').innerHTML = "<%= t('views.shared.errors.email_or_password_is_invalid') %>";
                              element = document.getElementById('user_email');
                              document.getElementById('user_password').required = true;
                              element.required = true
                              break;
                          case "Correo Electrónico o password inválido(s)":
                              document.getElementById('email_or_password_is_invalid').innerHTML = "<%= t('views.shared.errors.email_or_password_is_invalid') %>";
                              element = document.getElementById('user_email');
                              document.getElementById('user_password').required = true;
                              element.required = true
                              break;
                          default:
                              break;
                      }
                  }
              });
              return false;
          });


          $("#new_quote_contact_email").submit(function () {
              $('#preloader').show();
              $.ajax({
                  url: $(this).attr('action'),
                  type: 'POST',
                  data: $(this).serialize(),
                  dataType: "json",
                  encode: true,
                  success: function (data) {
                      console.log(data);
                      if (data) {
                          $('#preloader').remove();

                          mensajes = document.getElementsByClassName('error-form');
                          for (var k in mensajes) {
                              mensajes[k].innerHTML = "";
                          }
                          $('input[type="text"]').each(function () {
                              var input = $(this);
                              input[0].required = false;
                          });

                          for (var k in data) {
                              switch (data[k]) {
                                  case ("email_can't_be_blank"):
                                      document.getElementById(data[k]).innerHTML = "<%= t('views.shared.errors.email_cant_be_blank') %>";
                                      element = document.getElementById('quote_contact_email_email');
                                      element.required = true
                                      break;
                                  case ("correo_electrónico_no_puede_estar_en_blanco"):
                                      document.getElementById("email_can't_be_blank").innerHTML = "<%= t('views.shared.errors.email_cant_be_blank') %>";
                                      element = document.getElementById('quote_contact_email_email');
                                      element.required = true
                                      break;
                                  case "company_can't_be_blank":
                                      document.getElementById(data[k]).innerHTML = "<%= t('views.shared.errors.company_cant_be_blank') %>";
                                      element = document.getElementById('quote_contact_email_company');
                                      element.required = true
                                      break;
                                  case "empresa_no_puede_estar_en_blanco":
                                      document.getElementById("company_can't_be_blank").innerHTML = "<%= t('views.shared.errors.company_cant_be_blank') %>";
                                      element = document.getElementById('quote_contact_email_company');
                                      element.required = true
                                      break;
                                  case "first_name_can't_be_blank":
                                      document.getElementById(data[k]).innerHTML = "<%= t('views.shared.errors.first_name_cant_be_blank') %>";
                                      element = document.getElementById('quote_contact_email_first_name');
                                      element.required = true
                                      break;
                                  case "nombre_no_puede_estar_en_blanco":
                                      document.getElementById("first_name_can't_be_blank").innerHTML = "<%= t('views.shared.errors.first_name_cant_be_blank') %>";
                                      element = document.getElementById('quote_contact_email_first_name');
                                      element.required = true
                                      break;
                                  case "last_name_can't_be_blank":
                                      document.getElementById(data[k]).innerHTML = "<%= t('views.shared.errors.last_name_cant_be_blank') %>";
                                      element = document.getElementById('quote_contact_email_last_name');
                                      element.required = true
                                      break;
                                  case "apellidos_no_puede_estar_en_blanco":
                                      document.getElementById("last_name_can't_be_blank").innerHTML = "<%= t('views.shared.errors.last_name_cant_be_blank') %>";
                                      element = document.getElementById('quote_contact_email_last_name');
                                      element.required = true
                                      break;
                                  case "phone_can't_be_blank":
                                      document.getElementById(data[k]).innerHTML = "<%= t('views.shared.errors.phone_cant_be_blank') %>";
                                      element = document.getElementById('quote_contact_email_phone');
                                      element.required = true
                                      break;
                                  case "teléfono_no_puede_estar_en_blanco":
                                      document.getElementById("phone_can't_be_blank").innerHTML = "<%= t('views.shared.errors.phone_cant_be_blank') %>";
                                      element = document.getElementById('quote_contact_email_phone');
                                      element.required = true
                                      break;
                                  case "email_is_invalid":
                                      document.getElementById(data[k]).innerHTML = "<%= t('views.shared.errors.email_is_invalid') %>";
                                      element = document.getElementById('quote_contact_email_email');
                                      element.required = true
                                      break;
                                  case "correo_electrónico_es_inválido":
                                      document.getElementById("email_is_invalid").innerHTML = "<%= t('views.shared.errors.email_is_invalid') %>";
                                      element = document.getElementById('quote_contact_email_email');
                                      element.required = true
                                      break;
                                  default:
                                      break;
                              }
                          }
                          $('#display_errors').show();

                      } else {
                          $('.contact_us').modal('toggle');
                          $('#preloader').remove();
                          $("#welcome-rates").removeClass("rates_blur");
                          location.reload();
                      }
                  }
              });

              return false;

          })
          ;
      });

      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
          'use strict';
          window.addEventListener('load', function () {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function (form) {
                  form.addEventListener('submit', function (event) {
                      if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                      }
                      form.classList.add('was-validated');
                  }, false);
              });
          }, false);
      })();

      function loginButtonFunction() {
          $("#register_div").hide();
          $("#sign_in_div").show();
      }

      function registerButtonFunction() {
          $("#sign_in_div").hide();
          $("#register_div").show();
      }
  </script>
<% end %>