<div class="pricing-area">
  <div class="container">
    <div class="section-title text-center">
      <span>We Give You The Best</span>
      <h2>Our Pricing Plan</h2>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-4 col-l2 col-md-6 col-sm-6">
            <div class="price-item">
              <div class="pricing-header">
                <h3>Free</h3>
                <span>Per Mile</span>
              </div>
              <div class="pricing-table">
                <div class="price-sub-header">
                  <h4>$120</h4>
                </div>
                <ul>
                  <li>3000 kg load</li>
                  <li>125 kg / pallet</li>
                  <li>24/7 support</li>
                  <li>Free Packaging</li>
                  <li>Warehousing</li>
                </ul>
                <div class="pricing-footer">
                  <div class="btns">
                    <div class="btn-style btn-style-4"><a href="#">Order Now</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-l2 col-md-6 col-sm-6">
            <div class="price-item">
              <div class="pricing-header">
                <h3>Basaic</h3>
                <span>Per Mile</span>
              </div>
              <div class="pricing-table">
                <div class="price-sub-header">
                  <h4>$250</h4>
                </div>
                <ul>
                  <li>3000 kg load</li>
                  <li>125 kg / pallet</li>
                  <li>24/7 support</li>
                  <li>Free Packaging</li>
                  <li>Warehousing</li>
                </ul>
                <div class="pricing-footer">
                  <div class="btns">
                    <div class="btn-style btn-style-4"><a href="#">Order Now</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-l2 col-md-6 col-sm-6">
            <div class="price-item">
              <div class="pricing-header">
                <h3>Premium</h3>
                <span>Per Mile</span>
              </div>
              <div class="pricing-table">
                <div class="price-sub-header">
                  <h4>$250</h4>
                </div>
                <ul>
                  <li>3000 kg load</li>
                  <li>125 kg / pallet</li>
                  <li>24/7 support</li>
                  <li>Free Packaging</li>
                  <li>Warehousing</li>
                </ul>
                <div class="pricing-footer">
                  <div class="btns">
                    <div class="btn-style btn-style-4"><a href="#">Order Now</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>