<div class="modal-header justify-content-center row">
  <div class="text-center">
    <h4 class="title title-m text-uppercase"><%= t('views.shared.text.create_account') %></h4>
    <span class="text-center" style="color: #0b2e13;"><%= t('views.shared.text.already_account') %>
      <button class="btn btn-link" id="loginButton" onclick="loginButtonFunction()"><%= t('devise.sessions.new.sign_in') %></button>
            </span>
  </div>
  <div id="display_errors">
  </div>
</div>
<%= simple_form_for @quote_contact_email, html: { class: "needs-validation" }, html: { multipart: true, novalidate: true },  remote: true do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :origin_id, @origin.id %>
  <%= hidden_field_tag :destination_id, @destination.id %>
  <%= hidden_field_tag :freight_type_id,  @freight_type %>
  <div class="modal-body">
    <div class="form-group">
      <div class="text-center">
        <%= image_tag 'quoteReady.png' %>
      </div>
      <div class="div-contact-us ">
        <h2 class="modal-contact-us" style="text-align: center;"><%= t('views.shared.text.contact_us') %></h2>
      </div>
      <div class="form-group">

        <div>
          <%= f.input :first_name, placeholder: t('activerecord.attributes.quote_contact_email.first_name'), label: false, input_html: { class: "form-control" } %>
        </div>
        <div id="first_name_can't_be_blank" class="error-form"></div>
        <div>
          <%= f.input :last_name, placeholder: t('activerecord.attributes.quote_contact_email.last_name'), label: false, input_html: { class: "form-control" } %>
        </div>
        <div id="last_name_can't_be_blank" class="error-form"></div>
        <div>
          <%= f.input :company, placeholder: t('activerecord.attributes.quote_contact_email.company'), label: false, input_html: { class: "form-control" } %>
        </div>
        <div id="company_can't_be_blank" class="error-form"></div>
        <div class=" left">
          <%= f.input :email, placeholder: t('activerecord.attributes.quote_contact_email.email'), label: false, input_html: { class: "form-control" } %>
        </div>
        <div id="email_can't_be_blank" class="error-form"></div>
        <div id="email_is_invalid" class="error-form"></div>

        <div class=" left">
          <%= f.input :phone, placeholder: t('activerecord.attributes.quote_contact_email.phone'), label: false, input_html: { class: "form-control", style: "margin-top: 35px; " } %>
        </div>
        <div id="phone_can't_be_blank" class="error-form"></div>


      </div>

    </div>
  </div>
  <div class="modal-footer">
    <div class="container my-3">
      <%= f.submit t('views.shared.text.view_quote_price'), id: 'contactButton', class: 'btn btn-success btn-pills btn-block waves-effect waves-themed' %>
    </div>
  </div>
<% end %>