
<div class="inner-form">
  <div class="input-field fouth-wrap mt-2">
    <div class="icon-wrap">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
      </svg>
    </div>
    <select data-trigger="" name="origin_id">
      <option value=""><%= t('views.localhost.form.request_quote.origin') %></option>
      <%= @origin_ports.each do |port| %>
        <% if port.name == @origin.name %>
          <option selected value="<%= port.id %>"><%= port.name %></option>
        <% else %>
          <option value="<%= port.id %>"><%= port.name %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <div class="input-field fouth-wrap mt-2">
    <div class="icon-wrap">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
      </svg>
    </div>
    <select data-trigger="" name="destination_id">
      <option value=""><%= t('views.localhost.form.request_quote.destination') %></option>
      <%= @destination_ports.each do |port| %>
        <% if port.name == @destination.name %>
          <option selected value="<%= port.id %>"><%= port.name %></option>
        <% else %>
          <option value="<%= port.id %>"><%= port.name %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <div class="input-field fouth-wrap mt-2">
    <div class="icon-wrap">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
      </svg>
    </div>
    <select data-trigger="" name="freight_type_id" id="freight_type_id">
      <option value=""><%= t('views.localhost.form.request_quote.freight_type') %></option>
      <%= @freight_types.each do |port| %>
        <% if port.name == @freight_type.name %>
          <option selected value="<%= port.id %>"><%= port.code %></option>
        <% else %>
          <option value="<%= port.id %>"><%= port.code %></option>
        <% end %>
      <% end %>
    </select>
  </div>


  <div class="input-field fifth-wrap mt-2">
    <button class="btn btn-primary ml-auto" type="submit"><%= t('views.shared.buttons.quote') %></button>
  </div>
  <br>
</div>

<div class="inner-form hide-element" id="lcl-search">
  <div class="input-field fouth-wrap">
    <input name="length" id="length" type="text" placeholder="<%= t('views.localhost.form.request_quote.length') %>" value="<%= @length %>">
  </div>
  <div class="input-field fouth-wrap">
    <input name="width" id="width" type="text" placeholder="<%= t('views.localhost.form.request_quote.width') %>" value="<%= @width %>">
  </div>
  <div class="input-field fouth-wrap">
    <input name="height" id="height" type="text" placeholder="<%= t('views.localhost.form.request_quote.height') %>" value="<%= @height %>">
  </div>
  <div class="input-field fouth-wrap">
    <input name="weight" id="weight" type="text" placeholder="<%= t('views.localhost.form.request_quote.weight') %>" value="<%= @weight %>">
  </div>
</div>

<div class="inner-form hide-element" id="fcl-search">
  <div class="input-field fouth-wrap">
    <input name="quantity" id="quantity" type="text" placeholder="<%= t('views.localhost.form.request_quote.quantity') %>" value="<%= @quantity %>">
  </div>


  <div class="input-field fouth-wrap">
    <select data-trigger="" name="container_id" id="container_id">
      <option value=""><%= t('views.localhost.form.request_quote.container') %></option>
      <%= @containers.each do |container| %>
        <% if @container.nil? %>
          <option value="<%= container.id %>"><%= container.name %></option>
        <% else %>
          <% if container.name == @container.name %>
            <option selected value="<%= container.id %>"><%= container.name %></option>
          <% else %>
            <option value="<%= container.id %>"><%= container.name %></option>
          <% end %>
        <% end %>
      <% end %>
    </select>
  </div>
</div>


<% content_for :scripts_block do %>
  <%= javascript_include_tag 'freightspot/dependency/jQuery/jquery' %>
  <%= javascript_include_tag 'freightspot/miscellaneous/bootstrap/bootstrap.min' %>

  <script type="text/javascript">
      $(document).ready(function () {
          $('#freight_type_id').on('change', function () {
              let freight_type = $("#freight_type_id option:selected" ).text();
              if (freight_type == 'FCL') {
                  $("#fcl-search").removeClass("hide-element");
                  $("#lcl-search").addClass("hide-element");
                  $('#length').val('');
                  $('#width').val('');
                  $('#height').val('');
                  $('#weight').val('');
              } else {
                  $("#fcl-search").addClass("hide-element");
                  $("#lcl-search").removeClass("hide-element");
                  $('#quantity').val('');
                  console.log($("#container_id option:selected"))
              }
          });
      });
  </script>
<% end %>