<div class="team-area team-area-2">
  <div class="container">
    <div class="col-l2">
      <div class="section-title text-center">
        <span>We Are With You</span>
        <h2>Our Team Members</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team-single">
          <div class="team-img">
            <%= image_tag 'freightspot/team/1.jpg' %>
            <div class="social-1st">
              <ul class="links-footer">
                <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-in" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content">
            <h4>Elizabeth Bannet</h4>
            <span>Logistic Maneger</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team-single">
          <div class="team-img">
            <%= image_tag 'freightspot/team/2.jpg' %>
            <div class="social-1st">
              <ul class="links-footer">
                <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-in" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content">
            <h4>Johnthan Rok</h4>
            <span>Packeging Maneger</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="team-single">
          <div class="team-img">
            <%= image_tag 'freightspot/team/3.jpg' %>
            <div class="social-1st">
              <ul class="links-footer">
                <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-in" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content">
            <h4>Simon D’soza</h4>
            <span>Logistic Maneger</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>