<!-- Welcome sec -->
<div class="welcomesec secpadd">
  <div class="container">
    <div class="fh-section-title clearfix  text-center version-dark paddbtm20">
      <h2>Welcome to Cargo <span class="main-color">Hub</span></h2>
    </div>
    <p class="haeadingpara text-center paddbtm40">Cargo HUB is more than logistics.
      <br/> We can also optimize your packaging, manage your materials sourcing, and so much more.</p>

    <div class="welservices row">
      <div class="col-md-4 col-sm-6">
        <div class="fh-icon-box icon-type-theme_icon style-1 version-dark hide-button icon-left">
          <span class="fh-icon"><i class="fas fa-plane"></i></span>
          <h4 class="box-title"><a href="#">Air Freight Forwarding</a></h4>
          <div class="desc">
            <p>As a leader in global air freight forwarding, OIA Global excels in providing tailored transportation</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="fh-icon-box icon-type-theme_icon style-1 version-dark hide-button icon-left">
          <span class="fh-icon"><i class="fas fa-ship"></i></span>
          <h4 class="box-title"><a href="#">Ocean Freight Forwarding</a></h4>
          <div class="desc">
            <p>Ocean Freight plays perhaps the most vital role in most transportation and supply chain solutions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="fh-icon-box icon-type-theme_icon style-1 version-dark hide-button icon-left">
          <span class="fh-icon"><i class="flaticon-transport-5"></i></span>
          <h4 class="box-title"><a href="#">Road Freight Forwarding</a></h4>
          <div class="desc">
            <p>Cargo are transported at some stage of their journey along the world’s roads where we give you a reassuring presence.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Welcome sec   end-->