<% content_for :head_block do %>
  <!-- page related CSS below -->
  <%= stylesheet_link_tag 'smartadmin/formplugins/select2/select2.bundle', media: 'screen, print' %>
<% end %>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background-image: url('<%= image_path 'freightspot/banner/image-2.jpg' %>');">
    <div class="container">
      <h1 class="display-3 text-white">Hello, world!</h1>
      <p class="text-white">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="service-area service-s2">
    <div class="container">
      <div class="col-l2">
        <div class="section-title text-center">
          <span>We Provide the Best</span>
          <h2>Our Service</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="service-item">
            <div class="service-single">
              <div class="service-icon">
                <i class="fas fa-truck-container fa-2x"></i>
              </div>
              <h2>Land Transport</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, obcaecati.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="service-item">
            <div class="service-single">
              <div class="service-icon">
                <i class="fas fa-ship fa-2x"></i>
              </div>
              <h2>Sea Freight</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, obcaecati.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="service-item">
            <div class="service-single">
              <div class="service-icon">
                <i class="fas fa-plane fa-2x"></i>
              </div>
              <h2>Air Freight</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, obcaecati.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="service-item">
            <div class="service-single">
              <div class="service-icon">
                <i class="fas fa-forklift fa-2x"></i>
              </div>
              <h2>Logistic Solutions</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, obcaecati.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="service-item">
            <div class="service-single">
              <div class="service-icon">
                <i class="fas fa-shipping-fast fa-2x"></i>
              </div>
              <h2>Packaging and Store</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, obcaecati.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="service-item">
            <div class="service-single">
              <div class="service-icon">
                <i class="fas fa-warehouse-alt fa-2x"></i>
              </div>
              <h2>Warehousing</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @origin_ports.size != 0 && @destination_ports.size != 0 && @freight_types.size != 0 %>
    <section class="track-section" style="background-position: center center; background-repeat: no-repeat; background-color: #323E48">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="track">
              <h3>Get a Quote</h3>
              <div class="tracking-form">

                <%= render 'form_rates' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <%= render 'awesome_features' %>
  <%= render 'pricing' %>
  <%= render 'team_member' %>
  <%= render 'blog' %>
  <%= render 'newsletter' %>
</main>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
  <script>
      $(document).ready(function () {
          $(function() {
              $('#origin_port').select2({
                  placeholder: "<%= I18n.t('views.localhost.form.request_quote.origin') %>",
                  allowClear: true
              });
              $('#destination_port').select2({
                  placeholder: "<%= I18n.t('views.localhost.form.request_quote.destination') %>",
                  allowClear: true
              });

              'use strict';
              window.addEventListener('load', function() {
                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.getElementsByClassName('needs-validation');
                  // Loop over them and prevent submission
                  var validation = Array.prototype.filter.call(forms, function(form) {
                      form.addEventListener('submit', function(event) {
                          if (form.checkValidity() === false) {
                              event.preventDefault();
                              event.stopPropagation();
                          }
                          form.classList.add('was-validated');
                      }, false);
                  });
              }, false);
          });
      });
  </script>
<% end %>
