<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>

  <%= stylesheet_link_tag 'freightspot/bootstrap', media: 'screen, print' %>
  <%= stylesheet_link_tag 'freightspot/home/optional_services', media: 'screen, print' %>
  <%= stylesheet_link_tag 'freightspot/home/rates.css', media: 'screen, print' %>
<% end %>

<main class="main_content mt-5">
  <section class="container">
    <div class="row">
      <article class="m_filter">
        <%= simple_form_for @quote, html: { id: 'optionalServicesForm', class: 'm_booking_form'} do |f| %>
          <%= f.hidden_field :total_cost, id: 'total_cost_form' %>
          <%= f.hidden_field :id, value: @quote.id %>
          <%= hidden_field_tag :resource, @quote.id %>
          <%= hidden_field_tag :resource_name, 'MaritimeQuote' %>
          <%= f.hidden_field :frequency, value: @quote.frequency %>
          <%= f.hidden_field :freight_type, value: @quote.freight_type.code %>
          <%= hidden_field_tag :origin_country, @quote.maritime_rate.origin.country.code %>
          <!-- OPTIONAL SERVICES SECTION START -->
          <div id="optional-services"	class="div_section">
            <h1 class="title-xxl"><%= t('views.home.step2.title') %></h1>
            <h2 class="title-s"><%= t('views.home.step2.instructions') %></h2>
            <div class="mt-5"></div>
            <% @optional_services.each do |category, services| %>
              <div class="form-group row">
                <div class="col-xl-12">
                  <h2 class="title-m"><%= t("views.customer.maritime_quotes.optional_services.category.#{category}") %></h2>
                </div>
                <div class="checkbox-list">
                  <%= f.collection_check_boxes :optional_service_ids, services, :id, :name, :item_wrapper_class => 'custom-control' do |optional_service| %>
                    <div class="form-check">
                      <%= optional_service.label class: "form-check-label" do %>
                        <%= optional_service.check_box(class: 'form-check-input') + t("views.customer.maritime_quotes.optional_services.text.#{optional_service.text}") %>
                      <% end %>
                    </div>
                    <% if optional_service.text == 'insured_merchandise' %>
                      <div class="flex row align-items-end" id='merchandise' style="display: none;">
                        <div>
                        <%= f.input :declared_value, placeholder: t('activerecord.attributes.maritime_quote.declared_value') %>
                        </div>
                        <div class="align-items-center">
                        <label>USD</label>
                        </div>
                      </div>
                    <% end %>
                    <% if optional_service.text == 'in_transite' %>
                      <div class='form-group' id='customs_clearance_div' style="display: none;">
                        <label class='col-6 font-weight-boldest align-middle'> Aduana </label>
                        <select id='customsClearance' class="select2">
                          <option> Selecciona la aduana </option>
                          <option> Veracruz </option>
                          <option> Manzanillo </option>
                          <option> Otro </option>
                        </select>
                      </div>
                    <% end %>
                    <% if optional_service.text == 'collection_at_origin' %>
                      <%= render 'pickup', f: f %>
                    <% end %>
                    <% if optional_service.text == 'delivery_at_destination' %>
                      <%= render 'delivery', f: f %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <!-- OPTIONAL SERVICES SECTION END -->

          <div class="action_bar">
            <div class="step_button-block">
              <%= f.button :submit, t('views.shared.buttons.finish'), class: 'btn btn-success', style: "float: right!important;" %>
            </div>
          </div>
        <% end %>

      </article>
      <aside class="m_summary quote_summary_section">
        <h3 class="title-m mainColor"><%= t('views.home.step2.summary') %></h3>
        <table data-table-summary="" class="m_table_summary quote_summary quote_summary-holder">
          <thead>
            <tr>
              <td colspan="2" class="text-uppercase"><%= t("activerecord.attributes.maritime_quote.number") %></td>
              <td class="text-right font-weight-bold"><%= @quote.number %></td>
            </tr>
            <tr>
              <td colspan="2" class="text-uppercase"><%= t("activerecord.attributes.maritime_quote.pol") %></td>
              <td class="text-right font-weight-bold"><%= @rate.origin.name %></td>
            </tr>
            <tr>
              <td colspan="2" class="text-uppercase"><%= t("activerecord.attributes.maritime_quote.number_of_transshipments") %></td>
              <td class="text-right font-weight-bold"><%= @rate.port_via%></td>
            </tr>
            <tr>
              <td colspan="2" class="text-uppercase"><%= t("activerecord.attributes.maritime_quote.pod") %></td>
              <td class="text-right font-weight-bold"><%= @rate.destination.name %></td>
            </tr>
            <tr>
              <td colspan="2" class="text-uppercase"><%= t("views.customer.quotes.new.transite_time") %></td>
              <td class="text-right font-weight-bold"><%= "#{@rate.transit_time.to_s} #{t('views.shared.text.days')}" %></td>
            </tr>
            <tr>
              <td colspan="2" class="text-uppercase"><%= t("activerecord.attributes.maritime_rate.departure_date") %></td>
              <td class="text-right font-weight-bold"><%= @rate.departure_date.strftime("%d-%m-%Y") %></td>
            </tr>
            <tr>
              <td colspan="2" class="text-uppercase"><%= t("activerecord.attributes.maritime_rate.freight_type") %></td>
              <td class="text-right font-weight-bold"><%= @rate.freight_type.code %></td>
            </tr>
            <tr>
              <td colspan="2" class="text-uppercase"><%= t("activerecord.attributes.maritime_rate.cargo_type") %></td>
              <td class="text-right font-weight-bold"><%= @rate.cargo_type.name %></td>
            </tr>
          </thead>
        </table>
        <div class="quote_price_section mt-2">
          <h3 class="title-m mainColor"><%= t('views.customer.maritime_quotes.optional_services.summary.price_breakdown') %></h3>
          <table id="priceBreakDown" data-table-summary="" class="m_table_summary quote_summary quote_price-holder">
            <tbody id="prices">
              <tr>
                <td class="text-uppercase"><%= t('views.customer.maritime_quotes.optional_services.summary.freight_us') %></td>
                <td class="text-right font-weight-bold quote_amount"><%= number_to_currency(@quote.maritime_rate.freight_rate, unit: '$', format: '%u %n') %></td>
              </tr>
            </tbody>
          </table>
          <table id="priceBreakDownFooter" data-table-summary="" class="mt-2 m_table_summary quote_summary quote_summary-holder">
            <tfoot>
              <tr>
                <th class="text-uppercase"><%= t("views.customer.quotes.new.subtotal") %></th>
                <td id="total_cost" class="total text-right font-weight-bold"><%= number_to_currency(@total_cost, unit: '$', format: '%u %n') %></td>
              </tr>
            </tfoot>
          </table>
          <div class="d-block text-muted fs-md"><%= t('views.shared.text.temporal_cost') %></div>
        </div>
      </aside>
    </div>
  </section>
</main>
<% content_for :scripts_block do %>
  <script>
      $(document).ready(function () {
          $('input[type="checkbox"]').each(function () {
              if ($('#origin_country').value != 'MX') {
                  $('input[id="collection_at_origin-id"]').disabled
              }
          });

          $("input[type='checkbox']").click(function () {
              let is_checked = document.getElementById("maritime_quote_optional_service_ids_" + this.value).checked;
              $.ajax({
                  url: "/maritime_quotes/optional_service/" + $(this).val(),
                  type: "get",
                  success: function (data) {
                      if (is_checked) {
                          if (data['name'] == 'insured_merchandise') {
                              $("#merchandise").show();
                              $("#prices").append("" +
                                  "<tr id=" + data['name'] + ">" +
                                    "<td class='text-uppercase'><%= t("views.customer.maritime_quotes.optional_services.summary.insurance") %></td>" +
                                    "<td class='text-right font-weight-bold quote_amount' id='insure_merchandise_cost'> $ " + data['cost'] + "</td>" +
                                  "</tr>" +
                                  "");
                          } else {
                              if (data['name'] == 'collection_at_origin') {
                                  $("#pickup_address").show();
                              }
                              if (data['name'] == 'delivery_at_destination') {
                                  $("#delivery_address").show();
                              }
                              if (data['cost'] == 0.0) {
                                  $("#prices").append("" +
                                      "<tr id=" + data['name'] + ">" +
                                        "<td class='text-uppercase'>"+ data['name_label'] +"</td>" +
                                        "<td class='text-right font-weight-bold quote_amount' id='customs_clearance_cost'><%= t('views.shared.text.to_define') %></td>" +
                                      "</tr>" +
                                      "");
                              } else {
                                  $("#prices").append("" +
                                      "<tr id=" + data['name'] + ">" +
                                        "<td class='text-uppercase'>"+ data['name_label'] +"</td>" +
                                        "<td class='text-right font-weight-bold quote_amount'>" + data['cost'] + "</td>" +
                                      "</tr>" +
                                      "");
                              }
                          }
                          addTotalCost(data['cost']);
                      } else {
                          if (data['name'] == 'collection_at_origin') {
                              $("#pickup_address").hide();
                          }
                          if (data['name'] == 'delivery_at_destination') {
                              $("#delivery_address").hide();
                          }
                          if (data['name'] == 'insured_merchandise') {
                              $("#merchandise").hide();
                              document.getElementById('maritime_quote_declared_value').value = 0.00
                              data['cost'] = Number.parseFloat(document.getElementById('insure_merchandise_cost').innerText.slice(2).replace(',', ''))
                          }

                          let div = document.getElementById(data['name']);
                          div.remove();
                          subtractTotalCost(data['cost']);
                      }
                  },
                  error: function (data) {
                      console.log("Error");
                  }
              });

              const input_merchandise = document.querySelector('input#maritime_quote_declared_value');
              input_merchandise.addEventListener('change', updateValueMerchandise);

              function updateValueMerchandise(e) {
                  var cost_merchandise = parseFloat(document.getElementById('maritime_quote_declared_value').value);
                  var insure_cost = (0.5 / 100) * cost_merchandise;
                  if (insure_cost <= 75.00) {
                      insure_cost = 75.00;
                  }
                  console.log("update");
                  console.log(document.getElementById('insure_merchandise_cost').innerText.slice(2).replace(',', ''));
                  subtractTotalCost(Number.parseFloat(document.getElementById('insure_merchandise_cost').innerText.slice(2).replace(',', '')))
                  document.getElementById('insure_merchandise_cost').innerHTML = "$ " + insure_cost;
                  addTotalCost(insure_cost);
              }
          });

          function addTotalCost(cost) {
              var total_cost = Number.parseFloat(document.getElementById('total_cost').innerText.slice(2).replace(',', ''));
              total_cost += parseFloat(cost);
              document.getElementById('total_cost').innerHTML = "$ " + total_cost;
              document.getElementById('total_cost_form').value = total_cost;
          }

          function subtractTotalCost(cost) {
              console.log("Substract");
              console.log(cost);
              var total_cost = Number.parseFloat(document.getElementById('total_cost').innerText.slice(2).replace(',', ''));
              console.log("total_cost");
              console.log(total_cost);
              total_cost -= parseFloat(cost);
              document.getElementById('total_cost').innerHTML = "$ " + total_cost;
              document.getElementById('total_cost_form').value = total_cost;
          }
      });
  </script>
<% end %>