<div class="f-content bg-freightspot" style="padding: 0px;">
  <div class="f-content__wrap">
    <header data-booted="true" class="f-content__wrap" style="margin-top: 0px; transform: translateY(0px); left: 0px; right:0px;">
      <div class="toolbar">
        <div class="layout">
          <div class="container-fluid">
            <%= form_tag welcome_request_quote_path, id: 'searchQuoteForm' do %>
              <div class="form-row form-group pa-0 ma-0">
                <div class="pa-0 ma-0 pb-2 col-md-3 col-12 mt-4">
                  <label class="form-label text-white" for="validationCustom03"><%= t('views.localhost.form.request_quote.origin') %><span class="text-danger">*</span></label>
                  <%= select :quote, :origin, options_for_select(@ports.collect {|port| [port.name, port.id]}, @origin.id), {}, { disabled: false, class: 'custom-select', data: { 'live-search': "true" } } %>
                </div>
                <div class="pa-0 ma-0 pb-2 col-md-3 col-12 mt-4">
                  <label class="form-label text-white" for="validationCustom03"><%= t('views.localhost.form.request_quote.destination') %><span class="text-danger">*</span></label>
                  <%= select :quote, :destination, options_for_select(@ports.collect {|port| [port.name, port.id]}, @destination.id), {}, { disabled: false, class: 'custom-select', data: { 'live-search': "true" } } %>
                </div>
                <div class="pa-0 ma-0 pb-2 col-md-3 col-12 mt-4">
                  <label class="form-label text-white" for="validationCustom03"><%= t('views.localhost.form.request_quote.service_mode') %><span class="text-danger">*</span></label>
                  <%= select :quote, :service_mode, options_for_select(@service_modes.collect {|service_mode| [service_mode.name, service_mode.id]}, @service_mode_id), {}, { disabled: false, class: 'custom-select', data: { 'live-search': "true" } } %>
                </div>
                <div class="pa-0 ma-0 pb-2 col-md-3 col-12 mt-4">
                  <label class="form-label text-white" for="validationCustom03"><%= t('views.localhost.form.request_quote.freight_type') %><span class="text-danger">*</span></label>
                  <%= select :quote, :freight_type, options_for_select(@freight_types.collect {|freight_type| [freight_type.name, freight_type.id] }), { prompt: t('views.shared.prompt.freight_type') }, { class: 'custom-select', data: { 'live-search': "true" } } %>
                </div>
                <div class="pa-0 ma-0 pb-2 col-md-3 col-12 mt-2 mb-4">
                  <label class="form-label text-white" for="validationCustom03"><%= t('views.localhost.form.request_quote.incoterm') %><span class="text-danger">*</span></label>
                  <%= select :quote, :incoterm, options_for_select(@incoterms.collect {|incoterm| [incoterm.code, incoterm.id] }), { prompt: t('views.shared.prompt.incoterm') }, { class: 'custom-select', data: { 'live-search': "true" } } %>
                </div>
                <div class="pa-0 ma-0 pb-2 col-md-3 col-12 mb-4" style="margin-top: 2.4rem">
                  <button id="searchQuote" class="btn btn-primary ml-auto" type="submit"><%= t('views.shared.buttons.quote') %></button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
<div id="maritime_quotes">
  <main class="v-content" style="padding: 0px;" data-booted="true">
    <div class="v-content__wrap">
      <div class="container fill-height container--fluid">
        <div class="row align-center justify-center">
          <div align="center" justify="center" class="pt-6 pb-2 col-md-auto col">
            <div class="v-responsive v-image noResults" style="width: 80px;">
              <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
              <div class="v-image__image v-image__image--contain" style="background-image: url(&quot;https://cdn.icontainers.com/rate-engine/a8710812/img/NoResultsSeagull.bfa2294.svg&quot;); background-position: center center;"></div>
              <div class="v-responsive__content"></div>
            </div>
            <hr role="separator" aria-orientation="horizontal" class="mt-0 mx-12 v-divider theme--light">
            <div class="display-1 font-weight-bold pt-6 accent--text">
              Use search <span class="secondary--text">filters to </span>list rates.
            </div>
            <div class="pt-6 accent--text">Try changing the route and/or cargo type.</div>
            <div class="accent--text">If it doesn´t work, contact us and one of our partners will contact you.</div>
          </div>
        </div>
        <div class="row align-center justify-center">
          <div align="center" justify="center" class="pt-6 pb-12 col-md-4 col"></div>
        </div>
      </div>
    </div>
  </main>
</div>
<% content_for :scripts_block do %>
  <%= javascript_include_tag 'freightspot/dependency/jQuery/jquery' %>
  <%= javascript_include_tag 'freightspot/miscellaneous/bootstrap/bootstrap.min' %>
  <!-- datatble responsive bundle contains:
    + jquery.dataTables.js
    + dataTables.bootstrap4.js
    + dataTables.autofill.js
    + dataTables.buttons.js
    + buttons.bootstrap4.js
    + buttons.html5.js
    + buttons.print.js
    + buttons.colVis.js
    + dataTables.colreorder.js
    + dataTables.fixedcolumns.js
    + dataTables.fixedheader.js
    + dataTables.keytable.js
    + dataTables.responsive.js
    + dataTables.rowgroup.js
    + dataTables.rowreorder.js
    + dataTables.scroller.js
    + dataTables.select.js
    + datatables.styles.app.js
    + datatables.styles.buttons.app.js -->
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <script>
    console.log("Aqui se abrira una modal");
  </script>
<% end %>