<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'freightspot/home/search_rates', media: 'screen, print' %>
  <%= stylesheet_link_tag 'freightspot/home/rates', media: 'screen, print' %>
  <%= javascript_include_tag 'freightspot/dependency/jQuery/jquery' %>
<% end %>

<%= form_tag search_rates_welcome_index_path, method: :get, class: 'needs-validation', novalidate: true do %>
  <%= render 'section_form' %>
<% end %>

<%= render 'welcome/modal' %>
<div id="maritime_quotes">
  <% unless @rates.blank? %>
    <div class="js">
    <div id="preloader" style="display: none;"></div>
    </div>
    <div class="container-fluid rates_blur" id="welcome-rates">
      <%= render 'rates' %>
    </div>
  <% else %>
    <main class="v-content" style="padding: 0px;" data-booted="true">
      <div class="v-content__wrap">
        <div class="container fill-height container--fluid">
          <div class="row align-center justify-center">
            <div align="center" justify="center" class="pt-6 pb-2 col-md-auto col">
              <div class="v-responsive v-image noResults" style="width: 80px;">
                <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                <div class="v-image__image v-image__image--contain" style="background-image: url(&quot;https://cdn.icontainers.com/rate-engine/a8710812/img/NoResultsSeagull.bfa2294.svg&quot;); background-position: center center;"></div>
                <div class="v-responsive__content"></div>
              </div>
              <hr role="separator" aria-orientation="horizontal" class="mt-0 mx-12 v-divider theme--light">
              <div class="display-1 font-weight-bold pt-6 accent--text">
                Use search <span class="secondary--text">filters to </span>list rates.
              </div>
              <div class="pt-6 accent--text">Try changing the route and/or cargo type.</div>
              <div class="accent--text">If it doesn´t work, contact us and one of our partners will contact you.</div>
            </div>
          </div>
          <div class="row align-center justify-center">
            <div align="center" justify="center" class="pt-6 pb-12 col-md-4 col"></div>
          </div>
        </div>
      </div>
    </main>
  <% end %>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'freightspot/dependency/jQuery/jquery' %>
  <%= javascript_include_tag 'freightspot/miscellaneous/bootstrap/bootstrap.min' %>
  <%= javascript_include_tag 'freightspot/formplugins/choices/choices' %>
  <%= javascript_include_tag 'freightspot/formplugins/intlTelInput/intlTelInput' %>

  <script type="text/javascript">
      var firstElement = document.getElementById('demo-1');
      $(document).ready(function () {
          not_current_user = '<%= current_user.nil? %>';
          if (not_current_user === "true") {
              $("#welcome-rates").addClass("rates_blur");
              $(window).load(function() {
                  $('.contact_us').modal('show');
              });
          } else {
              $("#welcome-rates").removeClass("rates_blur");
          }

          let freight_type = $("#freight_type_id option:selected" ).text();
          if (freight_type == 'FCL') {
              $("#fcl-search").removeClass('hide-element');
              $("#lcl-search").addClass('hide-element');
          } else {
              $("#fcl-search").addClass('hide-element');
              $("#lcl-search").removeClass('hide-element');
          }
      });

      const choices = new Choices('[data-trigger]',
          {
              searchEnabled: false,
              itemSelectText: '',
          });
  </script>
<% end %>