<%
  content_for(:title, 'Layout Options')
  content_for(:category_1, 'Theme Modes')
%>

<% content_for :heading do %>
  Theme Settings: <span class='fw-300'>Theme Modes (beta)</span>
<% end %>

<% content_for :pagedescription do %>
  Mix and match modes with <span class='fw-500 color-info-700'>skins</span> to create an unique look
<% end %>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/theme-demo', media: 'screen, print' %>
<% end %>

<div class="alert alert-primary alert-dismissible">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">
			<i class="<%= Rails.configuration.icon_prefix %> fa-times"></i>
		</span>
	</button>
	<div class="d-flex flex-start w-100">
		<div class="mr-2 hidden-sm-down">
			<span class="icon-stack icon-stack-lg">
				<i class="base-14 icon-stack-3x color-primary-400"></i>
				<i class="base-14 icon-stack-2x color-primary-600 opacity-70"></i>
				<i class="<%= Rails.configuration.icon_prefix %> fa-cog icon-stack-1x text-white opacity-90"></i>
			</span>
		</div>
		<div class="d-flex flex-fill">
			<div class="flex-fill">
				<span class="h5">Why beta?</span>
				<p>
					This is a brand new technique we are introducing which uses CSS variables to infiltrate color options. While this has been working nicely on modern browsers without much issues, some users <strong>may still face issues on Internet Explorer </strong>. Until these issues are resolved or Internet Explorer improves, this feature will remain in Beta. 
				</p>
				
					If you are migrating from version 4+ to 4.5, there will be some DOM changes in the <code>head</code> section of the template, in order to get this new feature working.
				
			</div>
		</div>
	</div>
</div>
<div class="row">

	<div class="col-sm-12 col-lg-6 col-xl-6">
		<div class="card mb-g">
			<div class="card-body">
				<h4 class="mb-g mt-2 text-center">
					Layout <strong>"Light Mode"</strong> <br>
					<small>
						Change overlay CSS to light mode, enabling lots of whitespace color
						<code>.mod-skin-light</code>
					</small>
				</h4>
				<div class="demo-window rounded mb-g shadow-1 m-auto" style="max-width:650px">
					<div class="demo-window-content">
						<!-- content -->
						<%= image_tag 'smartadmin/demo/modes/mode-light-lg.png', class: 'img-fluid', alt: 'Light Mode' %>
					</div>
				</div>
				<p class="text-center">
					Set mode by JavaScript <code>setlayout.mode('light')</code>
				</p>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-lg-6 col-xl-6">
		<div class="card mb-g">
			<div class="card-body">
				<h4 class="mb-g mt-2 text-center">
					Layout <strong>"Dark Mode"</strong> <br>
					<small>
						Dark Mode blocks blue light from the screen, making it easier on the eye
						<code>.mod-skin-dark</code>
					</small>
				</h4>
				<div class="demo-window rounded mb-g shadow-1 m-auto" style="max-width:650px">
					<div class="demo-window-content">
						<!-- content -->
						<%= image_tag 'smartadmin/demo/modes/mode-dark-lg.png', class: 'img-fluid', alt: 'Dark Mode' %>
					</div>
				</div>
				<p class="text-center">
					Set mode by JavaScript <code>setlayout.mode('dark')</code>
				</p>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-lg-6 col-xl-6">
		<div class="card mb-g">
			<div class="card-body">
				<h4 class="mb-g mt-2 text-center">
					Layout <strong>"Default Mode"</strong> <br>
					<small>
						Default color mode comes prepackged as a standard color pattern
						<code>.mod-skin-default</code>
					</small>
				</h4>
				<div class="demo-window rounded mb-g shadow-1 m-auto" style="max-width:650px">
					<div class="demo-window-content">
						<!-- content -->
						<%= image_tag 'smartadmin/demo/modes/mode-default-lg.png', class: 'img-fluid', alt: 'Default Mode' %>
					</div>
				</div>
				<p class="text-center">
					Set mode by JavaScript <code>setlayout.mode('default')</code>
				</p>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-lg-6 col-xl-6">
		<div class="card mb-g">
			<div class="card-body">
				<h4 class="mb-g mt-2 text-center">
					Layout <strong>"Glass Mode" (coming soon)</strong> <br>
					<small>
						An optical illusion to shocase elements over a glass
						<code>.mod-skin-glass</code>
					</small>
				</h4>
				<div class="demo-window rounded mb-g shadow-1 m-auto" style="max-width:650px">
					<div class="demo-window-content">
						<!-- content -->
						<%= image_tag 'smartadmin/demo/modes/mode-glass-lg.png', class: 'img-fluid', alt: 'Glass Mode (coming soon)' %>
					</div>
				</div>
				<p class="text-center">
					Set mode by JavaScript <code>setlayout.mode('glass')</code>
				</p>
			</div>
		</div>
	</div>

</div>
