<% unless @rates.blank? %>
  <br>
  <% unless @minimal_cost.blank? %>
    <div class="row mb-2">
      <div class="col-xl-12">
        <%= render 'card_minimal_cost', rate: @minimal_cost %>
      </div>
    </div>
  <% end %>
  <% unless @cost_benefit.blank? %>
    <div class="row mb-2">
      <div class="col-xl-12">
        <%= render 'card_best_cost', rate: @cost_benefit %>
      </div>
    </div>
  <% end %>
  <% @rates.each do |rate| %>
    <%= render 'card_rates', rate: rate %>
  <% end %>
<% else %>
<% end %>