<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'freightspot/request_quote', media: 'screen, print' %>
<% end %>


<div class="container-fluid">
  <%= render 'rates' %>
</div>