<%= simple_form_for @address, url: url_for(controller: 'admin/suppliers', action: 'update_address'), html: {id: 'form_address'}, remote: true do |f|%>
  <%= render 'admin/suppliers/addresses/form' , f: f%>
<%  end %>
