

<%= simple_form_for @maritime_fcl_rate, url: url_for(controller: 'admin/maritime_fcl_rates', action: :create) do |f| %>
  <div class="form-group row">
    <div class="col-md-4">
      <%= f.association :origin, prompt: t('views.shared.prompt.origin_port') %>
    </div>
    <div class="col-md-4">
      <%= f.association :destination, prompt: t('views.shared.prompt.destination') %>
    </div>
    <div class="col-md-4">
      <%= f.association :shipper, prompt: t('views.shared.prompt.shipper') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <%= f.association :shipping_line, prompt: t('views.shared.prompt.shipping_line') %>
    </div>
    <div class="col-md-4">
      <%= f.association :container, prompt: t('views.shared.prompt.container') %>
    </div>
    <div class="col-md-4">
      <%= f.association :cargo_type, prompt: t('views.shared.prompt.cargo_type') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <%= f.input :transit_time, placeholder: t('activerecord.attributes.maritime_rate.transit_time') %>
    </div>
    <div class="col-md-4">
      <%= f.input :rate_validity_start, as: :date, html5: true, placeholder: t('activerecord.attributes.maritime_rate.rate_validity_start') %>
    </div>
    <div class="col-md-4">
      <%= f.input :rate_validity_end, as: :date, html5: true, placeholder: t('activerecord.attributes.maritime_rate.rate_validity_end') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <%= f.input :departure_date, as: :date, html5: true, placeholder: t('activerecord.attributes.maritime_rate.departure_date') %>
    </div>
    <div class="col-md-4">
      <%= f.input :freight_rate, placeholder: t('activerecord.attributes.maritime_rate.freight_rate') %>
    </div>
    <div class="col-md-4">
      <%= f.association :currency, prompt: t('views.shared.prompt.currency') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <%= f.input :free_days, placeholder: t('activerecord.attributes.maritime_rate.free_days') %>
    </div>
    <div class="col-md-4">
      <%= f.input :guarantee_letter, placeholder: t('activerecord.attributes.maritime_rate.guarantee_letter') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <%= f.input :remarks, placeholder: t('activerecord.attributes.maritime_rate.remarks') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>