<%
  content_for(:title, t('views.sidebar.maritime_fcl_rates'))
  content_for(:category_1, 'Dashboard')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-ship'></i> <%= t('views.sidebar.maritime_fcl_rates') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/dropzone/dropzone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/datagrid/datatables/datatables.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.maritime_fcl_rates.index.title') %></h2>
        <div class="panel-toolbar">
          <button type="button" class="btn btn-sm btn-warning mr-2" data-toggle="modal" data-target=".import-rate">
            <span class="text-white"><%= t('views.shared.buttons.import') %></span>
          </button>
          <%= link_to new_admin_maritime_fcl_rate_path, class: 'btn btn-success btn-sm' do %>
            <%= t('views.shared.buttons.new') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <!-- datatable start -->
          <table id="dt-basic-maritime_fcl_rates" class="table table-bordered table-hover table-striped w-100">
            <thead>
            <tr>
              <th><%= t('activerecord.attributes.maritime_rate.shipping_line')%></th>
              <th><%= t('activerecord.attributes.maritime_rate.origin')%></th>
              <th><%= t('activerecord.attributes.maritime_rate.destination')%></th>
              <th><%= t('activerecord.attributes.maritime_rate.cargo_type')%></th>
              <th><%= t('activerecord.attributes.maritime_rate.freight_rate')%></th>
              <th><%= t('activerecord.attributes.maritime_rate.rate_validity')%></th>
              <th><%= t('activerecord.attributes.maritime_rate.departure_date')%></th>
            </tr>
            </thead>
            <tbody>
            <% @maritime_fcl_rates.each do |maritime_rate| %>
              <tr>
                <td><%= link_to maritime_rate.shipping_line.name, admin_maritime_fcl_rate_path(maritime_rate.id) %></td>
                <td class="text-center">
                  <%= flag_icon(maritime_rate.origin.country.code.downcase) %>
                  <%= maritime_rate.origin.identifier %>
                </td>
                <td class="text-center">
                  <%= flag_icon(maritime_rate.destination.country.code.downcase) %>
                  <%= maritime_rate.destination.identifier %>
                </td>
                <td class="text-center">
                  <% unless maritime_rate.cargo_type.nil? %>
                    <%= maritime_rate.cargo_type.name %>
                  <% end %>
                </td>
                <td class="text-center"><%= number_to_currency(maritime_rate.freight_rate) %></td>
                <td class="text-center"><%= "#{maritime_rate.rate_validity_start.strftime("%d-%m-%Y")} al #{maritime_rate.rate_validity_end.strftime("%d-%m-%Y")}"%></td>
                <td class="text-center"><%= maritime_rate.departure_date.strftime("%d-%m-%Y") %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <!-- datatable end -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Right -->
<div class="modal fade import-rate" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-right">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4">
          <i class="fas fa-file-upload"></i> <%= t('views.shared.text.rates_upload') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card mb-5">
          <div class="card-body p-3">
            <%= link_to download_sample_admin_maritime_fcl_rates_path do %>
              <span><i class="fas fa-file-download"></i> <%= t('views.shared.buttons.download_sample') %></span>
            <% end %>
          </div>
        </div>
        <div class="card mb-g">
          <div class="card-body p-3">
            <h5 class="text-danger"><%= t('views.shared.text.upload_excel') %></h5>
            <div class="text-left fw-400 ">
              <div class="fs-sm d-flex align-items-center">
                <%= form_tag import_admin_maritime_fcl_rates_path, multipart: true do %>
                  <div class="form-group mb-0">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="file" name="file">
                      <label class="custom-file-label" for="file">Choose file</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success waves-effect waves-themed mt-2"><%= t('views.shared.buttons.import') %></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t('views.shared.buttons.close') %></button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Right Small -->

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <%= javascript_include_tag 'smartadmin/formplugins/dropzone/dropzone' %>

  <script>
      $(document).ready( function () {
          // "myAwesomeDropzone" is the camelized version of the HTML element's ID
          Dropzone.options.myAwesomeDropzone = {
              paramName: "file", // The name that will be used to transfer the file
              maxFilesize: 2, // MB
              headers: {
                  'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
              },
              success: function (response) {
                  eval(response.xhr.response);
                  console.log("2w2");
              }
          };

          console.log($("#my-awesome-dropzone"));
          $("#my-awesome-dropzone").on("success", function(file, responseText) {
              console.log("ASDASDasd");
          });

          $('#dt-basic-maritime_fcl_rates').dataTable({
              responsive: true,
              dom:
              /*  --- Layout Structure
                --- Options
                l  -  length changing input control
                f  -  filtering input
                t  -  The table!
                i  -  Table information summary
                p  -  pagination control
                r  -  processing display element
                B  -  buttons
                R  -  ColReorder
                S  -  Select

                --- Markup
                < and >        - div element
                <"class" and >    - div with a class
                <"#id" and >    - div with an ID
                <"#id.class" and >  - div with an ID and a class

                --- Further reading
                https://datatables.net/reference/option/dom
                --------------------------------------
               */
                  "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                  "<'row'<'col-sm-12'tr>>" +
                  "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
              buttons: [
                  {
                      extend:    'colvis',
                      text:      "<%= I18n.t('views.shared.datatables.text.column_visibility') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.column_visibility') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'csvHtml5',
                      text:      "<%= I18n.t('views.shared.datatables.text.csv') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.csv') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'copyHtml5',
                      text:      "<%= I18n.t('views.shared.datatables.text.copy') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.copy') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'print',
                      text:      "<%= I18n.t('views.shared.datatables.text.print') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.print') %>",
                      className: 'btn-outline-default'
                  }

              ]
          });

          // Uppy

          // Uppy
      });
  </script>
<% end %>
