<%
  content_for(:title, t('views.admin.maritime_fcl_rates.new.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.maritime_fcl_rates'))
%>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/select2/select2.bundle', media: 'screen, print' %>
<% end %>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-ship'></i> <%= t('views.sidebar.maritime_fcl_rates') %>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.maritime_fcl_rates.new.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_maritime_fcl_rates_path, class: 'btn btn-secondary btn-sm' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <!-- form start -->
          <%= render 'form', button: t('views.shared.buttons.save') %>
          <!-- form end -->
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
  <%= javascript_include_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker' %>

  <script>

  </script>
<% end %>