<%
  content_for(:title, t('views.admin.maritime_fcl_rates.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:title, t('views.sidebar.maritime_fcl_rates'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-ship'></i> <%= t('views.sidebar.maritime_fcl_rates') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12 col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.maritime_fcl_rates.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_maritime_fcl_rates_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-xl-12 order-lg-1 order-xl-1">
    <div class="card mb-g">
      <div class="row row-grid no-gutters">
        <div class="col-12">
          <div class="p-3">
            <h2 class="mb-0 fs-xl">
              <%= @maritime_fcl_rate.shipping_line.name %>
            </h2>
          </div>
        </div>

        <div class="col-12">
          <div class="p-3">
            <h5 class="text-danger">
              <%= @maritime_fcl_rate.departure_date.strftime("%d-%m-%Y") %>
              <small class="mt-0 mb-3 text-muted">
                <%= t('activerecord.attributes.maritime_rate.departure_date') %>: <%= @maritime_fcl_rate.departure_date.strftime("%d-%m-%Y") %>
              </small>
              <small class="mt-0 mb-3 text-muted">
                <%= t('activerecord.attributes.maritime_rate.rate_validity_start') %>: <%= @maritime_fcl_rate.rate_validity_start.strftime("%d-%m-%Y") %>
              </small>
              <small class="mt-0 mb-3 text-muted">
                <%= t('activerecord.attributes.maritime_rate.rate_validity_end') %>: <%= @maritime_fcl_rate.rate_validity_end.strftime("%d-%m-%Y") %>
              </small>
              <small class="mt-0 mb-3 text-muted">
                <%= t('activerecord.attributes.maritime_rate.number_of_transshipments') %>: <%= @maritime_fcl_rate.number_of_transshipments %>
              </small>
              <% if @maritime_fcl_rate.number_of_transshipments != 0 %>
                <%= count = 0 %>
                <% @maritime_fcl_rate.transshipments.each do |transshipment| %>
                  <% count += 1 %>
                  <small class="mt-0 mb-3 text-muted">
                    <%= t('activerecord.attributes.maritime_rate.transshipment') + count.to_s %>: <%= transshipment.port.name %>
                  </small>
                <% end %>

              <% end %>
              <span class="badge badge-danger fw-n position-absolute pos-top pos-right mt-3 mr-3">Delayed</span>
            </h5>
            <div class="row fs-b fw-300">
              <div class="col text-left">
                <%= flag_icon(@maritime_fcl_rate.origin.country.code.downcase) %>
                <%= @maritime_fcl_rate.origin.name %>
              </div>
              <div class="col text-right">
                <%= flag_icon(@maritime_fcl_rate.destination.country.code.downcase) %>
                <%= @maritime_fcl_rate.destination.name %>
              </div>
            </div>
            <div class="progress progress-xs d-flex mb-2 mt-1">
              <span class="progress-bar bg-danger-500 progress-bar-striped" role="progressbar" style="width: 26%" aria-valuenow="26" aria-valuemin="0" aria-valuemax="100"></span>
            </div>
            <div class="fw-300 mb-3">
              <div class="row">
                <div class="col">
                  <%= "#{@maritime_fcl_rate.free_days}" "#{t('views.shared.text.days')}"%>
                </div>
                <div class="col text-right text-danger">
                  <%= @maritime_fcl_rate.freight_rate %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>