<%= f.simple_fields_for :maritime_quote_units do |quote_unit| %>
  <%= render 'customer/maritime_fcl_quotes/quote_containers_fields', f: quote_unit %>
<% end %>
<div class="links">
  <%= link_to_add_association t('views.shared.buttons.add'), f, :maritime_quote_units, partial: 'customer/maritime_fcl_quotes/quote_containers_fields' %>
</div>
