<%= f.hidden_field :organization_id, value: 1 %>
<%= f.hidden_field :quoted_at, value: Time.now %>
<%= f.hidden_field :client_id, value: @client.id %>
<%= f.hidden_field :id, value: @quote.id %>
<%= f.hidden_field :freight_type_id, value: @quote.freight_type ? @quote.freight_type.id :  FreightType.find_by(code: "FCL").id%>

<% unless @origin_ports.blank? %>
  <div class="form-group row align-items-center">
    <div class="col-3">
      <span class="col-form-label col-12 col-lg-4 form-label text-md-right"><%= t('activerecord.attributes.maritime_quote.origin') %></span>
    </div>
    <div class="col-md-8">
      <%= f.collection_select :origin_route_id, @origin_ports, :id, :name, input_html: { include_blank: true, class: 'form-control ', data: { placeholder: 'Select a state...', 'live-search': "true" } } %>
    </div>
  </div>
  <div class="form-group row align-items-center">
    <div class="col-3">
      <span class="col-form-label col-12 col-lg-4 form-label text-md-right"><%= t('activerecord.attributes.maritime_quote.destination') %></span>
    </div>
    <div class="col-md-8">
      <%= f.collection_select :destination_route_id, @destination_ports, :id, :name, input_html: { include_blank: true, class: 'form-control', data: { 'live-search': "true" } } %>
    </div>
  </div>
<% else %>
  <div class="form-group row align-items-center">
    <div class="col-3">
    </div>
    <div class="col-md-8">
      <div class="alert alert-danger alert-dismissible fade show">
        <div class="d-flex align-items-center">
          <div class="alert-icon width-8">
                  <span class="icon-stack icon-stack-xl">
                    <i class="base-7 icon-stack-3x color-danger-400"></i>
                    <i class="fal fa-times icon-stack-2x text-white"></i>
                  </span>
          </div>
          <div class="flex-1 pl-1">
                  <span class="h2">
                    <%= "#{t('views.customer.quotes.new.ports')} #{t('views.shared.text.not_found')}" %>
                  </span>
            <br>
            <%= "#{t('views.shared.text.not_records')} de #{t('views.customer.quotes.new.ports').downcase} #{t('views.shared.text.avalaible')}." %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>
<!--  <div><span><h6>Aqui va el mapa</h6></span></div>-->
<br>

<div class="form-group row align-items-start" id="charge_detail">
  <div class="col-md-3" style="top:30px;">
    <span class="col-form-label col-12 col-lg-4 form-label text-md-right"><%= t('views.customer.quotes.new.full_container') %></span>
  </div>
  <div class="col-md-9">
    <div id="fcl_container_div" class="fcl_container_div">
      <%= render 'customer/maritime_fcl_quotes/fcl_container_div', f: f %>
    </div>
    <div id="lcl_container_div" style="display: none;">
      <%= render 'customer/maritime_fcl_quotes/lcl_container_div', f: f %>
    </div>
  </div>

</div>




<div class="form-group row">
  <div class="col-md-4"></div>
  <div class="col-md-8 text-right">
    <% unless @origin_ports.blank? %>
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    <% end %>
  </div>
</div>


<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
  <script>
      $(document).ready(function () {
          $('#maritime_quote_origin_route_id').select2({
              placeholder: "<%= t('activerecord.attributes.maritime_quote.origin') %>",
              allowClear: true
          });
          $('#maritime_quote_destination_route_id').select2({
              placeholder: "<%= t('activerecord.attributes.maritime_quote.destination') %>",
              allowClear: true
          });
          $('#maritime_quote_maritime_quote_units_attributes_0_product_id').select2();
          $('#maritime_quote_maritime_quote_units_attributes_0_packaging_type_id').select2();

          $('#maritime_quote_origin_route_id').on('change', function () {
              // change origin ports select
              $.ajax({
                  url: "/customer/quotes/get_destination_ports/" + $(this).val(),
                  type: "get",
                  success: function (data) {
                      var select = document.getElementById('maritime_quote_destination_route_id');
                      for (let i = select.options.length; i >= 0; i--) {
                          select.remove(i);
                      }
                      // Add options
                      for (var i in data) {
                          $(select).append('<option value=' + data[i].id + '>' + data[i].name + '</option>');
                      }
                  },
                  error: function (data) {
                  }
              });
          });

      });


  </script>
<% end %>