<% unless @maritime_fcl_quote.blank? %>
  <div class="row">
    <% @maritime_fcl_quote.optional_services.each do |optional_service| %>
      <label class="col-xl-9 col-lg-9 col-form-label"><%= optional_service.name_label %></label>
    <% end %>
  </div>
<% end %>