<div class='form-group' id='pickup_address' style="display: none;">
  <div class="row mt-2">
    <h4 class="title-m">Direccion para Recolección en Entrega</h4>
  </div>
  <%= f.simple_fields_for :pickups do |pickup| %>
    <div class="row">
      <%= pickup.input :street, placeholder: t('activerecord.attributes.pickup.street') %>
      <%= pickup.input :interior_number, placeholder: t('activerecord.attributes.pickup.interior_number'), input_html: { class: 'ml-2' } %>
      <%= pickup.input :outdoor_number, placeholder: t('activerecord.attributes.pickup.outdoor_number'), input_html: { class: 'ml-4' } %>
    </div>
    <div class="row">
      <%= pickup.input :colony, placeholder: t('activerecord.attributes.pickup.colony') %>
      <%= pickup.input :zip_code, placeholder: t('activerecord.attributes.pickup.zip_code'), input_html: { class: 'ml-2' } %>
      <%= pickup.input :city, placeholder: t('activerecord.attributes.pickup.city'), input_html: { class: 'ml-4' } %>
    </div>
    <div class="row">
      <%= pickup.input :state, placeholder: t('activerecord.attributes.pickup.state') %>
      <%= pickup.input :country, placeholder: t('activerecord.attributes.pickup.country'), input_html: { class: 'ml-2' } %>
    </div>
  <% end %>
</div>