<div class="col-xl-12" >
  <div class="nested-fields" >
    <%= f.hidden_field :id %>

    <div class="row d-flex flex-row" id="<%= f.index %>">
      <div class="col">
        <%= f.input :length %>
      </div>
      <div class="col">
        <%= f.input :height %>
      </div>
      <div class="col">
        <%= f.input :width %>
      </div>
      <div class="col">
        <%= f.input :volume, disabled: true %>
      </div>
      <div class="col">
        <%= f.input :weight %>
      </div>
      <div class="col">
        <%= link_to_remove_association f, {:style=>'position: relative; top:30px;', :class => "btn btn-outline-primary btn-sm btn-icon"} do %>
          <i class="<%= Rails.configuration.icon_prefix %> fa-trash"></i>
        <% end %>
      </div>
    </div>
    <br>
  </div>
</div>

<script>

    $(document).ready(function () {
        $("input[type='number']").change(function () {
            var x = document.getElementById(this.id).parentNode.parentElement.parentElement.id
            var volume = 0.0
            var pieces = document.getElementById("maritime_quote_maritime_quote_units_attributes_" + x + "_number_units").value;
            var length = document.getElementById("maritime_quote_maritime_quote_units_attributes_" + x + "_length").value;
            var width = document.getElementById("maritime_quote_maritime_quote_units_attributes_" + x + "_width").value;
            var weight = document.getElementById("maritime_quote_maritime_quote_units_attributes_" + x + "_weight").value;
            var height = document.getElementById("maritime_quote_maritime_quote_units_attributes_" + x + "_height").value;
            volume = parseFloat(pieces) * (parseFloat(length) * parseFloat(width) * parseFloat(height));
            document.getElementById("maritime_quote_maritime_quote_units_attributes_" + x + "_volume").value = volume;
        });

    });

</script>