<div class="col-xl-12">
  <div class="nested-fields">
      <div class="row d-flex flex-row">
        <div class="col">
          <%= f.association :container, :collection => @containers, :label_method => :code, :value_method => :id, label: t('activerecord.attributes.maritime_quote.container'), prompt: t("views.shared.prompt.container") %>
        </div>
        <div class="col">
          <%= f.input :number_units , index: f.index  %>
        </div>
        <div class="col">
          <%= link_to_remove_association f, { :style => 'position: relative; top:30px;', :class => "btn btn-outline-primary btn-sm btn-icon" } do %>
            <i class="<%= Rails.configuration.icon_prefix %> fa-trash"></i>
          <% end %>
        </div>
      </div>
    <br>
  </div>
</div>