.table-responsive
  table.table style="border-spacing: 2px;"
    tbody#rates-minimal-cost
      - unless @minimal_cost.blank?
        div.ribbon.ribbon-left.ribbon-ver
          .ribbon-target.bg-warning style=("top: 45px; left: -2px;")
            i.fa.fa-star.text-white
        tr
          td.table-bordered-best-tariffs
            p.text-center = t('activerecord.attributes.tariff.service_mode')
            p.text-center
              i class="orange-fs fa-2x fal fa-ship"
          td.table-bordered-best-tariffs
            p.text-center = t('activerecord.attributes.tariff.shipper')
            p.text-center
              i.fal.fa-2x.fa-truck
          td.table-bordered-best-tariffs
            p.text-center = t('activerecord.attributes.rate.origin_port')
            p.text-center
              i.fal.fa-2x.orange-fs.fa-anchor.mr-1
            p.text-center
              b = @minimal_cost.origin.name
            td.table-bordered-best-tariffs
              p.text-center = t('activerecord.attributes.rate.discharge_port')
              p.text-center
                i.fal.fa-2x.orange-fs.fa-anchor.mr-1
              p.text-center
                b = @minimal_cost.destination.name
          / td.table-bordered-best-tariffs
          /   p.text-center = t('activerecord.attributes.rate.frequency')
          /   p.text-center
          /     b = t("enums.rate.frequency.#{@minimal_cost.frequency}")
          td.table-bordered-best-tariffs
            p.text-center = t('activerecord.attributes.rate.transite_time')
            p.text-center
              b = "#{@minimal_cost.transit_time.to_s} #{t('views.shared.text.days')}"
          td.table-bordered-best-tariffs
            p.text-center = t('activerecord.attributes.rate.minimal_cost')
            p.text-center
              b = number_to_currency(@minimal_cost.freight_rate, unit: '$', format: '%u %n')
          td.table-bordered-best-tariffs style="vertical-align:middle; background: #26C281 ;"
            = link_to t('views.shared.buttons.select'), wizard_path(:optional_services, rate_id: @minimal_cost.id, quote_id: @quote.id), class: 'link-color font-weight-bold font-size-h3'
        tr style="height: 0.5em;"