<div class="col-xl-4">
  <div id="c_<%= @cost_benefit.id %>" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags="<%= @cost_benefit.shipping_line.name.downcase %>">
    <table class="card-body p-0 collapse show">
      <div class="p-3">
        <tbody>
        <tr>
          <td><%= @cost_benefit.shipping_line.name %></td>
          <td><%= @cost_benefit.shipper.name unless @cost_benefit.shipper.nil? %></td>
          <td class="text-center">
            <%= flag_icon(@cost_benefit.origin.country.code.downcase) %>
            <%= @cost_benefit.origin.identifier %>
          </td>
          <td class="text-center">
            <%= flag_icon(@cost_benefit.destination.country.code.downcase) %>
            <%= @cost_benefit.destination.identifier %>
          </td>
          <td class="text-center">
            <% "#{@cost_benefit.transit_time.to_s} #{t('views.shared.text.days')}" %>
          </td>
          <td class="text-center"><%= number_to_currency(@cost_benefit.freight_rate, unit: '$', format: '%u %n') %></td>
          <td class="text-center">
            <%= link_to t('views.shared.buttons.custom_your_shipment'), wizard_path(:optional_services, rate_id: @cost_benefit.id, quote_id: @quote.id), class: 'btn btn-lg btn-info' %>
          </td>
        </tr>
        </tbody>
      </div>
    </table>
  </div>
</div>

<% content_for :scripts_block do %>

  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <script>
      $(document).ready(function () {
      });
  </script>
<% end %>