<div class="row">
  <div class="col-xl-6">
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.maritime_rate.shipping_line')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @quote.maritime_rate.shipping_line.name %>
    </label></div>
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.maritime_rate.origin')}:" %>
        </b></label>
      <label class="col-xl-9 col-lg-9 col-form-label">
        <%= flag_icon(@quote.maritime_rate.origin.country.code.downcase) %>
        <%= @quote.maritime_rate.origin.identifier %>
      </label></div>
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.maritime_rate.destination')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label">
      <%= flag_icon(@quote.maritime_rate.destination.country.code.downcase) %>
      <%= @quote.maritime_rate.destination.identifier %>
    </label></div>
  </div>
  <div class="col-xl-6">
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.maritime_rate.cargo_type')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label">
      <% unless @quote.maritime_rate.cargo_type.nil? %>
        <%= @quote.maritime_rate.cargo_type.name %>
      <% end %>
    </label></div>
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.maritime_rate.freight_rate')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"> <%= number_to_currency(@quote.maritime_rate.freight_rate) %>
    </label></div>
  </div>
</div>