<table id="dt-rate-minimal-cost" class="table table-bordered table-hover table-striped w-100">
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.maritime_rate.shipping_line') %></th>
    <th><%= t('activerecord.attributes.maritime_rate.origin') %></th>
    <th><%= t('activerecord.attributes.maritime_rate.destination') %></th>
    <th><%= t('activerecord.attributes.maritime_rate.cargo_type') %></th>
    <th><%= t('activerecord.attributes.maritime_rate.freight_rate') %></th>
  </tr>
  </thead>
  <tbody>
  <% unless @minimal_cost.blank? %>
  <tr>
    <td><%= @minimal_cost.shipping_line.name %></td>
    <td class="text-center">
      <%= flag_icon(@minimal_cost.origin.country.code.downcase) %>
      <%= @minimal_cost.origin.identifier %>
    </td>
    <td class="text-center">
      <%= flag_icon(@minimal_cost.destination.country.code.downcase) %>
      <%= @minimal_cost.destination.identifier %>
    </td>
    <td class="text-center">
      <% unless @minimal_cost.cargo_type.nil? %>
        <%= @minimal_cost.cargo_type.name %>
      <% end %>
    </td>
    <td class="text-center"><%= number_to_currency(@minimal_cost.freight_rate) %></td>
    <td class="table-bordered-best-tariffs" style="vertical-align:middle; background: #26C281 ;">
      <%= link_to t('views.shared.buttons.select'), wizard_path(:optional_services, rate_id: @minimal_cost.id, quote_id: @quote.id), class: 'link-color font-weight-bold font-size-h3'%>
    </td>
  </tr>
    <% end %>
  </tbody>

</table>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <script>
      $(document).ready( function () {
      });
  </script>
<% end %>