<table id="dt-maritime_fcl_rates" class="table table-bordered table-hover table-striped w-100">
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.maritime_rate.shipping_line') %></th>
    <th><%= t('activerecord.attributes.maritime_rate.origin') %></th>
    <th><%= t('activerecord.attributes.maritime_rate.destination') %></th>
    <th><%= t('activerecord.attributes.maritime_rate.cargo_type') %></th>
    <th><%= t('activerecord.attributes.maritime_rate.freight_rate') %></th>
  </tr>
  </thead>
  <tbody>
  <% @maritime_fcl_rates.each do |maritime_rate| %>
    <tr>
      <td><%= maritime_rate.shipping_line.name %></td>
      <td class="text-center">
        <%= flag_icon(maritime_rate.origin.country.code.downcase) %>
        <%= maritime_rate.origin.identifier %>
      </td>
      <td class="text-center">
        <%= flag_icon(maritime_rate.destination.country.code.downcase) %>
        <%= maritime_rate.destination.identifier %>
      </td>
      <td class="text-center">
        <% unless maritime_rate.cargo_type.nil? %>
          <%= maritime_rate.cargo_type.name %>
        <% end %>
      </td>
      <td class="text-center"><%= number_to_currency(maritime_rate.freight_rate) %></td>
      <td class="table-bordered-best-tariffs" style="vertical-align:middle; background: #26C281 ;">
        <%= link_to t('views.shared.buttons.select'), wizard_path(:optional_services, rate_id: maritime_rate.id, quote_id: @quote.id), class: 'link-color font-weight-bold font-size-h3'%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <script>
      $(document).ready( function () {

      });
  </script>
<% end %>