<div class="row">
  <div class="col-xl-6">
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.maritime_quote.operation_type')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @quote.operation_type %>
    </label></div>
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.maritime_quote.incoterm')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @quote.incoterm.code unless @quote.incoterm.blank? %>
    </label></div>
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.maritime_quote.service_type')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @quote.service_type %>
    </label></div>
  </div>
  <div class="col-xl-6">
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.maritime_quote.origin')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @quote.maritime_rate.origin.name %>
    </label></div>
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.maritime_quote.destination')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @quote.maritime_rate.destination.name %>
    </label></div>
  </div>
</div>