  <% @quote.maritime_quote_units do |maritime_quote_unit| %>
    <div class="row">
      <div class="col-xl-6">
        <div class="row">
          <label class="col-xl-3 col-lg-3 col-form-label text-right">
            <b><%= "#{t('activerecord.attributes.maritime_quote.operation_type')}:" %>
            </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= maritime_quote_unit.product.name %>
        </label></div>
        <div class="row">
          <label class="col-xl-3 col-lg-3 col-form-label text-right">
            <b><%= "#{t('activerecord.attributes.maritime_quote.incoterm')}:" %>
            </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= maritime_quote_unit.package_type %>
        </label></div>
      </div>
      <div class="col-xl-6">
        <div class="row">
          <label class="col-xl-3 col-lg-3 col-form-label text-right">
            <b><%= "#{t('activerecord.attributes.maritime_quote.origin')}:" %>
            </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= maritime_quote_unit.length %>
        </label></div>
        <div class="row">
          <label class="col-xl-3 col-lg-3 col-form-label text-right">
            <b><%= "#{t('activerecord.attributes.maritime_quote.destination')}:" %>
            </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= maritime_quote_unit.height %>
        </label></div>
        <div class="row">
          <label class="col-xl-3 col-lg-3 col-form-label text-right">
            <b><%= "#{t('activerecord.attributes.maritime_quote.service_type')}:" %>
            </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= maritime_quote_unit.width %>
        </label></div>
        <div class="row">
          <label class="col-xl-3 col-lg-3 col-form-label text-right">
            <b><%= "#{t('activerecord.attributes.maritime_quote.service_type')}:" %>
            </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= maritime_quote_unit.weight %>
        </label></div>
        <div class="row">
          <label class="col-xl-3 col-lg-3 col-form-label text-right">
            <b><%= "#{t('activerecord.attributes.maritime_quote.service_type')}:" %>
            </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= maritime_quote_unit.volume %>
        </label></div>
      </div>
    </div>
  <% end %>