<%
  content_for(:title, t('views.sidebar.maritime_fcl_quotes'))
  content_for(:category_1, 'Dashboard')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-ship'></i> <%= t('views.sidebar.maritime_fcl_quotes') %>
<% end %>


<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/dropzone/dropzone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/datagrid/datatables/datatables.bundle', media: 'screen, print' %>
<% end %>

<% unless @maritime_fcl_quotes.blank? %>
  <div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.customer.quotes.index.subtitle') %></h2>
        <div class="panel-toolbar">
          <%= link_to new_customer_maritime_fcl_quote_path, class: 'btn btn-success btn-sm' do %>
            <%= t('views.shared.buttons.new') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">

          <!-- datatable start -->
          <table id="dt-basic-maritime_fcl_rates" class="table table-bordered table-hover table-striped w-100">
            <thead>
            <tr>
              <th><%= t('activerecord.attributes.maritime_quote.shipping_line')%></th>
              <th><%= t('activerecord.attributes.maritime_quote.origin')%></th>
              <th><%= t('activerecord.attributes.maritime_quote.destination')%></th>
              <th><%= t('activerecord.attributes.maritime_quote.cargo_type')%></th>
              <th><%= t('activerecord.attributes.maritime_quote.freight_rate')%></th>
            </tr>
            </thead>
            <tbody>
            <% @maritime_fcl_quotes.each do |maritime_quote| %>
              <% unless maritime_quote.maritime_rate.nil? %>
              <tr>
                <td><%= maritime_quote.maritime_rate.shipping_line.name %></td>
                <td class="text-center">
                  <%= flag_icon(maritime_quote.maritime_rate.origin.country.code.downcase)%>
                  <%= maritime_quote.maritime_rate.origin.identifier %>
                </td>
                <td class="text-center">
                  <%= flag_icon(maritime_quote.maritime_rate.destination.country.code.downcase) %>
                  <%= maritime_quote.maritime_rate.destination.identifier %>
                </td>
                <td class="text-center">
                  <% unless maritime_quote.maritime_rate.cargo_type.nil? %>
                    <%= maritime_quote.maritime_rate.cargo_type.name %>
                  <% end %>
                </td>
                <td class="text-center"><%= number_to_currency(maritime_quote.maritime_rate.freight_rate) %></td>
              </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
          <!-- datatable end -->

        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
  <div class="alert alert-danger alert-dismissible fade show">
    <div class="d-flex align-items-center">
      <div class="alert-icon width-8">
        <span class="icon-stack icon-stack-xl">
          <i class="base-7 icon-stack-3x color-danger-400"></i>
          <i class="fal fa-times icon-stack-2x text-white"></i>
        </span>
      </div>

      <div class="flex-1 pl-1">
        <span class="h2">
          <%= "#{t('activerecord.models.maritime_quote.other')} #{t('views.shared.text.not_found')}" %>
        </span>
        <br>
        <%= "#{t('views.shared.text.not_records')} de #{t('activerecord.models.maritime_quote.other').downcase}." %>
      </div>
    </div>
  </div>
<% end %>
<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <%= javascript_include_tag 'smartadmin/formplugins/dropzone/dropzone' %>

  <script>

  </script>
<% end %>
