<%
  content_for(:title, t('views.customer.quotes.new.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('activerecord.models.maritime_quote.other'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-users'></i>  <%= t('activerecord.models.maritime_quote.other') %>
<% end %>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker', media: 'screen, print' %>
  <!-- page related CSS below -->
  <%= stylesheet_link_tag 'smartadmin/formplugins/select2/select2.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.customer.quotes.new.subtitle') %></h2>
        <div class="panel-toolbar">
          <%= link_to customer_maritime_fcl_quotes_path, class: 'btn btn-secondary btn-sm' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <!-- form start -->
          <%= simple_form_for @quote, url: url_for(controller: 'customer/maritime_fcl_quotes', action: 'create') do |f| %>
            <%= render 'form', f: f, button: t('views.shared.buttons.next') %>
          <% end %>
          <!-- form end -->
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
  <%= javascript_include_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker' %>

  <script>
      $('#user_employee_attributes_origin').select2();

      // Class definition
      var controls = {
          leftArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-left" style="font-size: 1.25rem"></i>',
          rightArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-right" style="font-size: 1.25rem"></i>'
      }

      var runDatePicker = function () {
          // input group layout
          $('#user_employee_attributes_join_date').datepicker({
              todayHighlight: true,
              orientation: "bottom left",
              templates: controls
          });
          $('#user_employee_attributes_birth_date').datepicker({
              todayHighlight: true,
              orientation: "bottom left",
              templates: controls
          });
      }

      $(document).ready(function () {
          runDatePicker();
      });

  </script>
<% end %>
