<%
  content_for(:title, t('views.customer.quotes.new.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('activerecord.models.maritime_quote.other'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-users'></i>  <%= t('activerecord.models.maritime_quote.other') %>
<% end %>

<% content_for :head_block do %>

<% end %>

<div class="d-flex flex-row">
  <div class="col-xl-8">
    <div id="panel-1" class="panel">
      <div class="panel-hdr justify-content-between">
        <h1><%= t('views.customer.quotes.new.optional_services') %></h1>
        <div class="panel-toolbar">
          <%= link_to t('views.shared.buttons.back'), :back, class: 'btn btn-secondary btn-sm' %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <subtitle class="title-s"><%= t('views.home.step2.instructions') %></subtitle>

          <%= simple_form_for @quote, html: { id: 'optional_service_form' }, url: wizard_path do |f| %>
            <%= f.hidden_field :id, value: @quote.id %>
            <%= hidden_field_tag :resource, @quote.id %>
            <%= hidden_field_tag :resource_name, 'MaritimeQuote' %>
            <%= f.hidden_field :frequency, value: @quote.frequency %>
            <%= f.hidden_field :freight_type, value: @quote.freight_type.code %>
            <%= hidden_field_tag :origin_country, @quote.maritime_rate.origin.country.code %>
            <!-- form start -->

            <% @optional_services.each do |category, services| %>
              <div class="row ">
                <div class="frame-wrap demo" id="prueba">
                  <div class="form-group row">
                    <div class="col-xl-12">
                      <h3 class="title-m"><%= t("views.customer.maritime_quotes.optional_services.category.#{category}") %></h3>
                    </div>

                    <div class="checkbox-list">
                      <%= f.collection_check_boxes :optional_service_ids, services, :id, :name, :item_wrapper_class => 'custom-control' do |optional_service| %>
                        <div class="form-check">
                          <%= optional_service.label { optional_service.check_box value: optional_service.text } %>
                          <%= optional_service.label { t('views.customer.maritime_quotes.optional_services.text.' + optional_service.text) } %>
                        </div>
                          <% if optional_service.text == 'insured_merchandise' %>
                          <div class="flex row align-items-end" id='merchandise' style="display: none;">
                            <div>
                              <%= f.input :declared_value, placeholder: t('activerecord.attributes.maritime_quote.declared_value') %>
                            </div>
                            <div class="align-items-center">
                              <label>USD</label>
                            </div>
                          </div>
                        <% end %>
                        <% if optional_service.text == 'in_transite' %>
                          <div class='form-group' id='customs_clearance_div' style="display: none;">
                            <label class='col-6 font-weight-boldest align-middle'> Aduana </label>
                            <select id='customsClearance' class="select2">
                              <option> Selecciona la aduana</option>
                              <option> Veracruz</option>
                              <option> Manzanillo</option>
                              <option> Otro</option>
                            </select>
                          </div>
                        <% end %>
                        <% if optional_service.text == 'collection_at_origin' %>
                          <%= render 'pickup', f: f %>
                        <% end %>
                        <% if optional_service.text == 'delivery_at_destination' %>
                          <%= render 'delivery', f: f %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <!-- form end -->
            <%= f.hidden_field :total_cost, id: 'total_cost_form' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div id="panel-1" class="panel">
      <div class="panel-hdr bg-primary-700 bg-success-gradient">
        <h2>
          <b><%= "#{t('views.customer.quotes.new.summary')} #{@quote.number}" %></b>
        </h2>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="form-group row my-2">
            <span class="col-2 col-form-label"><%= t("activerecord.attributes.maritime_quote.pol") %>:</span>
            <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @quote.maritime_rate.origin.name %></span>

            <span class="col-2 col-form-label"><%= t("activerecord.attributes.maritime_quote.pod") %>:</span>
            <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @quote.maritime_rate.destination.name %></span>
          </div>
          <div class="form-group row my-2">
            <span class="col-2 col-form-label"><%= t("activerecord.attributes.maritime_rate.departure_date") %>:</span>
            <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @quote.maritime_rate.departure_date.strftime("%d-%m-%Y") %></span>

            <span class="col-2 col-form-label"><%= t("activerecord.attributes.maritime_rate.freight_type") %>:</span>
            <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @quote.freight_type.code %></span>
          </div>
          <div class="form-group row my-2">
            <span class="col-3 col-form-label"><%= t("activerecord.attributes.maritime_rate.cargo_type") %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.maritime_rate.cargo_type.name %></span>
            <span class="col-3 col-form-label"><%= t("views.customer.quotes.new.transite_time") %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"> <%= "#{@quote.maritime_rate.transit_time.to_s} #{t('views.shared.text.days')}" %></span>
          </div>
          <div class="form-group row my-2">
            <span class="col-3 col-form-label"><%= t("views.customer.quotes.new.frequency") %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.frequency %></span>
          </div>

          <div role="separator" class="dropdown-divider"></div>
          <div class="form-group row">
            <span class="col-6 col-form-label"><%= t("views.customer.quotes.new.prices") %>:</span>
          </div>
          <div id="prices">
            <div class="form-group row">
              <span class="col-6 col-form-label"><%= t("views.customer.quotes.new.freight_rate") %>:</span>
              <span class="col-6 col-form-label control-plaintext font-weight-bolder text-right"><%= number_to_currency(@freight_rate, unit: '$', format: '%u %n',  :locale => 'en', precision: 2) %></span>
              <span class="hide-element" id="minimal_cost"><%= @quote.maritime_rate.freight_rate %></span>
            </div>
          </div>

          <div role="separator" class="dropdown-divider"></div>

          <div class="form-group row">
            <span class="col-6 col-form-label"><%= t("views.customer.quotes.new.subtotal") %>:</span>
            <span class="total col-6 col-form-label control-plaintext font-weight-bolder text-right" id="total_cost"><%= number_to_currency(@total_cost, unit: '$', format: '%u %n',  :locale => 'en', precision: 2) %></span>
            <div class="col-12 col-form-label d-block text-muted fs-md"><%= t('views.shared.text.temporal_cost') %></div>
          </div>

          <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-8 text-right">
              <button type="button" onclick="submitOptionalServicesForm()" class="btn btn-success waves-effect waves-themed"><%= t('views.shared.buttons.quote') %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <script>
      $(document).ready(function () {
          $('input[type="checkbox"]').each(function () {
              if ($('#origin_country').value != 'MX') {
                  $('input[id="collection_at_origin-id"]').disabled
              }
          });
          $("input[type='checkbox']").click(function () {
              let is_checked = document.getElementById("maritime_quote_optional_service_ids_" + this.value).checked;
              $.ajax({
                  url: "/maritime_quotes/optional_service/" + $(this).val(),
                  type: "get",
                  success: function (data) {
                      if (is_checked) {
                          if (data['name'] == 'insured_merchandise') {
                              $("#merchandise").show();
                              $("#prices").append("" +
                                  "<div class='row' id=" + data['name'] + ">" +
                                  "<span class='col-6 col-form-label'><%= t("views.customer.maritime_quotes.optional_services.summary.insurance") %></span>" +
                                  "<span  class='col-6 col-form-label control-plaintext font-weight-bolder text-right' id='insure_merchandise_cost'> $ " +
                                  parseFloat(data['cost']).toFixed(2) + "<span>" +
                                  "</div>" +
                                  "");
                          } else {
                              if (data['name'] == 'collection_at_origin') {
                                  $("#pickup_address").show();
                              }
                              if (data['name'] == 'delivery_at_destination') {
                                  $("#delivery_address").show();
                              }
                              if (data['cost'] == 0.0) {
                                  $("#prices").append("" +
                                      "<div class='row' id=" + data['name'] + ">" +
                                      "<span class='col-6 col-form-label'>"+ data['name_label'] +"</span>" +
                                      "<span class='col-6 col-form-label control-plaintext font-weight-bolder text-right' id='customs_clearance_cost'><%= t('views.shared.text.to_define') %></span>" +
                                      "</div>" +
                                      "");
                              } else {
                                  $("#prices").append("" +
                                      "<div class='row' id=" + data['name'] + ">" +
                                      "<span class='col-6 col-form-label'>"+ data['name_label'] +"</span>" +
                                      "<span class='col-6 col-form-label control-plaintext font-weight-bolder text-right'>" +
                                      parseFloat(data['cost']).toFixed(2) + "</span>" +
                                      "</div>" +
                                      "");
                              }
                          }
                          addTotalCost(data['cost']);
                      } else {
                          if (data['name'] == 'collection_at_origin') {
                              $("#pickup_address").hide();
                          }
                          if (data['name'] == 'delivery_at_destination') {
                              $("#delivery_address").hide();
                          }
                          if (data['name'] == 'insured_merchandise') {
                              $("#merchandise").hide();
                              document.getElementById('maritime_quote_declared_value').value = 0.00
                              data['cost'] = Number.parseFloat(document.getElementById('insure_merchandise_cost').innerText.slice(2).replace(',', ''))
                          }

                          let div = document.getElementById(data['name']);
                          div.remove();
                          subtractTotalCost(data['cost']);
                      }
                  },
                  error: function (data) {
                      console.log("Error");
                  }
              });

              const input_merchandise = document.querySelector('input#maritime_quote_declared_value');
              input_merchandise.addEventListener('change', updateValueMerchandise);

              function updateValueMerchandise(e) {
                  var cost_merchandise = parseFloat(document.getElementById('maritime_quote_declared_value').value);
                  var insure_cost = (0.5 / 100) * cost_merchandise;
                  if (insure_cost <= 75.00) {
                      insure_cost = 75.00;
                  }
                  subtractTotalCost(Number.parseFloat(document.getElementById('insure_merchandise_cost').innerText.slice(2).replace(',', '')))
                  document.getElementById('insure_merchandise_cost').innerHTML = "$ " + parseFloat(insure_cost).toFixed(2);
                  addTotalCost(insure_cost);
              }
          });

          function addTotalCost(cost) {
              var total_cost = Number.parseFloat(document.getElementById('total_cost').innerText.slice(2).replace(',', ''));
              total_cost += parseFloat(cost);
              document.getElementById('total_cost').innerHTML = "$ " + parseFloat(total_cost).toFixed(2);
              document.getElementById('total_cost_form').value = total_cost;
          }

          function subtractTotalCost(cost) {
              var total_cost = Number.parseFloat(document.getElementById('total_cost').innerText.slice(2).replace(',', ''));
              total_cost -= parseFloat(cost);
              document.getElementById('total_cost').innerHTML = "$ " + parseFloat(total_cost).toFixed(2);
              document.getElementById('total_cost_form').value = total_cost;
          }
      });

      function submitOptionalServicesForm(){
          document.forms['optional_service_form'].submit();
      }
  </script>
<% end %>
