<%
  content_for(:title, t('views.customer.quotes.new.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('activerecord.models.maritime_quote.other'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-user-headset'></i> <%= t('views.sidebar.maritime_fcl_quotes.other') %>
<% end %>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/theme-demo', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker', media: 'screen, print' %>

  <!-- page related CSS below -->
  <%= stylesheet_link_tag 'smartadmin/formplugins/select2/select2.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.customer.quotes.new.summary') %></h2>
        <div class="panel-toolbar">
          <%= link_to t('views.shared.buttons.back'), :back, class: 'btn btn-secondary btn-sm' %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <!-- form start -->
          <div class="accordion accordion-hover mt-5" id="accordion-maritime-fcl-quote-route">
            <div class="card">
              <div class="card-header">
                <a href="javascript:void(0);" class="card-title" data-toggle="collapse" data-target="#collapse-maritime-fcl-quote-route" aria-expanded="true">
                  <i class="<%= Rails.configuration.icon_prefix %> fa-id-card width-2 fs-xl"></i>
                  <%= t('views.customer.quotes.routes.title') %>
                  <span class="ml-auto">
            <span class="collapsed-reveal">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-up fs-xl"></i>
            </span>
            <span class="collapsed-hidden">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-down fs-xl"></i>
            </span>
          </span>
                </a>
              </div>
              <div id="collapse-maritime-fcl-quote-route" class="collapse show" data-parent="#accordion-maritime-fcl-quote-route">
                <div class="card-body">
                  <%= render 'customer/maritime_fcl_quotes/route_detail' %>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion accordion-hover mt-5" id="accordion-maritime-fcl-quote-rate">
            <div class="card">
              <div class="card-header">
                <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#collapse-maritime-fcl-quote-rate" aria-expanded="false">
                  <i class="<%= Rails.configuration.icon_prefix %> fa-map-marked width-2 fs-xl"></i>
                  <%= t('views.customer.quotes.tariffs.title') %>
                  <span class="ml-auto">
            <span class="collapsed-reveal">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-up fs-xl"></i>
            </span>
            <span class="collapsed-hidden">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-down fs-xl"></i>
            </span>
          </span>
                </a>
              </div>
              <div id="collapse-maritime-fcl-quote-rate" class="collapse" data-parent="#accordion-maritime-fcl-quote-rate">
                <div class="card-body">
                  <%= render 'customer/maritime_fcl_quotes/rate_detail' %>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion accordion-hover mt-5" id="accordion-maritime-fcl-quote-unit">
            <div class="card">
              <div class="card-header">
                <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#collapse-maritime-fcl-quote-unit" aria-expanded="false">
                  <i class="<%= Rails.configuration.icon_prefix %> fa-user-friends width-2 fs-xl"></i>
                  <%= t('views.customer.quotes.quote_units.title') %>
                  <span class="ml-auto">
            <span class="collapsed-reveal">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-up fs-xl"></i>
            </span>
            <span class="collapsed-hidden">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-down fs-xl"></i>
            </span>
          </span>
                </a>
              </div>
              <div id="collapse-maritime-fcl-quote-unit" class="collapse" data-parent="#accordion-maritime-fcl-quote-unit">
                <div class="card-body">
                  <%= render 'customer/maritime_fcl_quotes/unit_detail' %>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion accordion-hover mt-5" id="accordion-maritime-fcl-quote-optional-services">
            <div class="card">
              <div class="card-header">
                <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#collapse-maritime-fcl-quote-optional-services" aria-expanded="false">
                  <i class="<%= Rails.configuration.icon_prefix %> fa-analytics width-2 fs-xl"></i>
                  <%= t('views.customer.quotes.optional_services.title') %>
                  <span class="ml-auto">
            <span class="collapsed-reveal">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-up fs-xl"></i>
            </span>
            <span class="collapsed-hidden">
              <i class="<%= Rails.configuration.icon_prefix %> fa-chevron-down fs-xl"></i>
            </span>
          </span>
                </a>
              </div>
              <div id="collapse-maritime-fcl-quote-optional-services" class="collapse" data-parent="#accordion-maritime-fcl-quote-optional-services">
                <div class="card-body">
                  <%= render 'customer/maritime_fcl_quotes/optional_services_detail' %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-8 text-right">
              <%= link_to t('views.shared.buttons.finish'), Wicked::FINISH_STEP, class: 'btn btn-success waves-effect waves-themed' %>
            </div>
          </div>
          <!-- form end -->
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
  <%= javascript_include_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker' %>

  <script>
      // Class definition
      var controls = {
          leftArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-left" style="font-size: 1.25rem"></i>',
          rightArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-right" style="font-size: 1.25rem"></i>'
      }


      function checkValue(value, arr) {
          var status = false;

          for (var i = 0; i < arr.length; i++) {
              var name = arr[i];
              if (name == value) {
                  status = true;
                  break;
              }
          }
          return status;
      }

      $(document).ready(function () {
      });

  </script>
<% end %>


