<%
  content_for(:title, t('views.customer.quotes.new.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('activerecord.models.maritime_quote.other'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-users'></i>  <%= t('activerecord.models.maritime_quote.other') %>
<% end %>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/ion-rangeslider/ion-rangeslider', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div>
      <div class="panel-hdr">
        <h2></h2>
        <div class="panel-toolbar">
          <%= link_to t('views.shared.buttons.back'), new_customer_quote_path(id: @quote.id), class: 'btn btn-secondary btn-sm' %>
        </div>
      </div>
<!--      <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('<%= t('views.shared.text.scales') %>')"> Escalas </button>
        <button class="btn" onclick="filterSelection('<%= t('views.shared.text.direct') %>')"> Directo</button>
      </div>-->
      <% unless @maritime_fcl_rates.blank? %>
        <div class="js">
          <div id="preloader" style="display: none;"></div>
        </div>

        <div class="container-fluid rates_blur" id="welcome-rates">
            <br>
            <% unless @minimal_cost.blank? %>
            <div class="row mb-2">
              <div class="col-xl-12">
              <%= render 'customer/quotes/rate_card', rate: @minimal_cost[:maritime_rate] , type: "cheap", ribbon: :minimal_cost , rate_ids: @minimal_cost[:rate_ids]%>
              </div>
            </div>
            <% end %>
            <% unless @cost_benefit.blank? %>
            <div class="row mb-2">
              <div class="col-xl-12">
              <%= render 'customer/quotes/rate_card', rate: @cost_benefit[:maritime_rate], type: "fast", ribbon: :cost_benefit, rate_ids: @cost_benefit[:rate_ids] %>
              </div>
            </div>
            <% end %>
            <% @maritime_fcl_rates.each  do |maritime_rate| %>
            <div class="row mb-2">
              <div class="col-xl-12">
               <%= render 'customer/quotes/rate_card', rate: maritime_rate[:maritime_rate], type: "normal", ribbon: :normal_tariff ,  rate_ids: maritime_rate[:rate_ids]%>
              </div>
            </div>
            <% end %>
      </div>
      <% end %>
    </div>
      <% if @maritime_fcl_rates.blank? %>
        <div class="alert alert-danger alert-dismissible fade show">
          <div class="d-flex align-items-center">
            <div class="alert-icon width-8">
                  <span class="icon-stack icon-stack-xl">
                    <i class="base-7 icon-stack-3x color-danger-400"></i>
                    <i class="fal fa-times icon-stack-2x text-white"></i>
                  </span>
            </div>
            <div class="flex-1 pl-1">
                  <span class="h2">
                    <%= "#{t('activerecord.models.rate.other')} #{t('views.shared.text.not_found')}" %>
                  </span>
              <br>
              <%= "#{t('views.shared.text.not_records')} de #{t('activerecord.models.rate.other').downcase}." %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
  <%= javascript_include_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker' %>
  <%= javascript_include_tag 'smartadmin/formplugins/ion-rangeslider/ion-rangeslider' %>

  <script>

      $(function () {
          $('[data-toggle="popover"]').popover()

      })

      /*filterSelection('all')*/

      function filterSelection(c) {
          alert(c);
          var x, i;
          x = document.getElementsByClassName("filterDiv");
          if (c == "all") c = "";
          // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
          for (i = 0; i < x.length; i++) {
              console.log(x[i]);
              w3RemoveClass(x[i], "show");
              if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
          }
      }

      // Show filtered elements
      function w3AddClass(element, name) {
          var i, arr1, arr2;
          arr1 = element.className.split(" ");
          arr2 = name.split(" ");
          for (i = 0; i < arr2.length; i++) {
              if (arr1.indexOf(arr2[i]) == -1) {
                  element.className += " " + arr2[i];
              }
          }
      }

      // Hide elements that are not selected
      function w3RemoveClass(element, name) {
          var i, arr1, arr2;
          arr1 = element.className.split(" ");
          arr2 = name.split(" ");
          for (i = 0; i < arr2.length; i++) {
              while (arr1.indexOf(arr2[i]) > -1) {
                  arr1.splice(arr1.indexOf(arr2[i]), 1);
              }
          }
          element.className = arr1.join(" ");
      }

      // Add active class to the current control button (highlight it)
      var btnContainer = document.getElementById("myBtnContainer");
      var btns = btnContainer.getElementsByClassName("btn");
      for (var i = 0; i < btns.length; i++) {
          btns[i].addEventListener("click", function() {
              var current = document.getElementsByClassName("active");
              current[0].className = current[0].className.replace(" active", "");
              this.className += " active";
          });
      }


  </script>
<% end %>
