<%
  content_for(:title, t('views.sidebar.logs'))
  content_for(:category_1, 'Dashboard')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-line-columns'></i> <%= t('views.sidebar.logs') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>

  <%= stylesheet_link_tag 'smartadmin/datagrid/datatables/datatables.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.logs.index.title') %></h2>
        <div class="panel-toolbar">
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <!-- datatable start -->
          <table id="dt-basic-logs" class="table table-bordered table-hover table-striped w-100">
            <thead>
              <tr>
                <th><%= t('activerecord.attributes.log.id')%></th>
                <th><%= t('activerecord.attributes.log.auditable_id')%></th>
                <th><%= t('activerecord.attributes.log.auditable_type')%></th>
                <th><%= t('activerecord.attributes.log.username')%></th>
                <th><%= t('activerecord.attributes.log.remote_address')%></th>
                <th><%= t('activerecord.attributes.log.action')%></th>
                <th><%= t('activerecord.attributes.log.created_at')%></th>
              </tr>
            </thead>
            <tbody>
              <% @logs.each do |log| %>
                <tr>
                  <td><%= link_to log.id, admin_log_path(log.id) %></td>
                  <td><%= log.auditable_id %></td>
                  <td><%= log.auditable_type %></td>
                  <% unless log.user_id.nil? %>
                    <% user = User.find(log.user_id) %>
                    <td><%= user.username %></td>
                  <% else %>
                    <td>Sistema</td>
                  <% end %>
                  <td><%= log.remote_address %></td>
                  <td><%= log.action %></td>
                  <td><%= log.created_at.strftime("%d-%m-%Y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <!-- datatable end -->
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <!-- datatble responsive bundle contains:
    + jquery.dataTables.js
    + dataTables.bootstrap4.js
    + dataTables.autofill.js
    + dataTables.buttons.js
    + buttons.bootstrap4.js
    + buttons.html5.js
    + buttons.print.js
    + buttons.colVis.js
    + dataTables.colreorder.js
    + dataTables.fixedcolumns.js
    + dataTables.fixedheader.js
    + dataTables.keytable.js
    + dataTables.responsive.js
    + dataTables.rowgroup.js
    + dataTables.rowreorder.js
    + dataTables.scroller.js
    + dataTables.select.js
    + datatables.styles.app.js
    + datatables.styles.buttons.app.js -->
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <script>
      $(document).ready( function () {
          $('#dt-basic-logs').dataTable({
              responsive: true,
              dom:
              /*  --- Layout Structure
                --- Options
                l  -  length changing input control
                f  -  filtering input
                t  -  The table!
                i  -  Table information summary
                p  -  pagination control
                r  -  processing display element
                B  -  buttons
                R  -  ColReorder
                S  -  Select

                --- Markup
                < and >        - div element
                <"class" and >    - div with a class
                <"#id" and >    - div with an ID
                <"#id.class" and >  - div with an ID and a class

                --- Further reading
                https://datatables.net/reference/option/dom
                --------------------------------------
               */
                  "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                  "<'row'<'col-sm-12'tr>>" +
                  "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
              buttons: [
                  {
                      extend:    'colvis',
                      text:      "<%= I18n.t('views.shared.datatables.text.column_visibility') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.column_visibility') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'csvHtml5',
                      text:      "<%= I18n.t('views.shared.datatables.text.csv') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.csv') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'copyHtml5',
                      text:      "<%= I18n.t('views.shared.datatables.text.copy') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.copy') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'print',
                      text:      "<%= I18n.t('views.shared.datatables.text.print') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.print') %>",
                      className: 'btn-outline-default'
                  }

              ]
          });
      });
  </script>
<% end %>
