<%
  content_for(:title, t('views.admin.logs.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.logs'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-line-columns'></i>  <%= t('views.sidebar.logs') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12 col-xl-12">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.logs.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_logs_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
          <% if @log.action == 'destroy' %>
            <%= link_to restore_admin_log_path(@log.id), class: 'btn btn-info btn-sm ml-2' do %>
              <%= t('views.shared.buttons.restore') %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="frame-wrap p-0 border-0 m-0">
            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.log.id') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @log.id %></span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.log.auditable_id') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @log.auditable_id %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.log.auditable_type') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @log.auditable_type  %></span>


              <span class="col-2 col-form-label"><%= t('activerecord.attributes.log.username') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder">
                <% unless @log.user_id.nil? %>
                  <% user = User.find(@log.user_id) %>
                  <%= user.username %>
                <% else %>
                  Sistema
                <% end %>
              </span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.log.remote_address') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @log.remote_address %>°</span>

              <span class="col-2 col-form-label"><%= t('activerecord.attributes.log.action') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @log.action %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.log.created_at') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @log.created_at %>°</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
