<div class="col-sm-6 col-xl-2">
  <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
    <div class="">
      <h3 class="display-4 d-block l-h-n m-0 fw-500">
        <%= @quote.total_pieces %>
        <small class="m-0 l-h-n"><%= t('views.customer.maritime_quotes.containers') %></small>
      </h3>
    </div>
    <i class="<%= Rails.configuration.icon_prefix %> fa-puzzle-piece position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1" style="font-size:6rem"></i>
  </div>
</div>
<div class="col-sm-6 col-xl-2">
  <div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
    <div class="">
      <h3 class="display-4 d-block l-h-n m-0 fw-500">
        <%= number_to_currency(@quote.total_cost) %>
        <small class="m-0 l-h-n"><%= t('activerecord.attributes.quote.total_cost') %></small>
      </h3>
    </div>
    <i class="<%= Rails.configuration.icon_prefix %> fa-globe position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
  </div>
</div>