<div class="form-group row align-items-start ">
  <div class="col-md-12">
    <h1 class="form-label"><%= t('activerecord.attributes.quote.commodities') %></h1>
  </div>
  <div class="col-md-3">
    <h4 class="form-label"><%= t('activerecord.attributes.quote_concept.pieces') %></h4>
  </div>
  <div class="col-md-3">
    <h4 class="form-label"><%= t('activerecord.attributes.quote_concept.units') %></h4>
  </div>
  <div class="col-md-3">
    <h4 class="form-label"><%= t('activerecord.attributes.quote_concept.weight') %></h4>
  </div>
  <div class="col-md-3">
    <h4 class="form-label"><%= t('activerecord.attributes.quote_concept.volume') %></h4>
  </div>

  <br>
  <% @quote.maritime_quote_units.each do |quote_unit| %>
    <div class="col-md-3">
      <%= quote_unit.number_units %>
    </div>
    <div class="col-md-3">
      <%= quote_unit.length %> x <%= quote_unit.height %> x <%= quote_unit.width %>
    </div>
    <div class="col-md-3">
      <%= quote_unit.volume %>
    </div>
    <div class="col-md-3">
      <%= quote_unit.weight %>
    </div>
  <% end %>
</div>