<div class="form-group row align-items-start ">
  <div class="col-md-12">
    <h1 class="form-label"><%= t('activerecord.attributes.quote.commodities') %></h1>
  </div>
  <div class="col-md-3">
    <h4 class="form-label"><%= t('activerecord.attributes.maritime_quote_unit.number') %></h4>
  </div>
  <div class="col-md-3">
    <h4 class="form-label"><%= t('activerecord.attributes.maritime_quote.container') %></h4>
  </div>
  <div class="col-md-6">
    <h4 class="form-label"><%= t('activerecord.attributes.maritime_quote_unit.description') %></h4>
  </div>
  <br>
  <% @quote.maritime_quote_units.each do |quote_unit| %>
    <div class="col-md-3">
      <%= quote_unit.number_units %>
    </div>
    <div class="col-md-3">
      <%= quote_unit.container.name %>
    </div>
    <div class="col-md-6">
      <%= quote_unit.container.description %>
    </div>
  <% end %>
</div>