<div class="form-group row align-items-start">
  <div class="col-md-3" style="top:30px;">
    <span class="col-form-label col-12 col-lg-4 form-label text-md-right"><%= t('activerecord.attributes.quote.description') %></span>
  </div>
  <div class="col-md-9" id="maritime_quote_units" >
    <%= f.fields_for :maritime_quote_units do |quote_unit| %>
      <%= render 'shared/quotes/quote_unit_fields', f: quote_unit %>
    <% end %>
    <div class="links">
      <%= link_to_add_association t('views.shared.buttons.add'), f, :maritime_quote_units,
                                  partial: 'shared/quotes/quote_unit_fields' %>
    </div>
  </div>
</div>