<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'js-login', novalidate: true}) do |f| %>
  <div class="form-group">
    <%= f.label :email, "Email", class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", placeholder: "your email", required: true %>
    <div class="invalid-feedback">No, you missed this one.</div>
    <div class="help-block">Your unique email to the app</div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "form-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg", placeholder: "password", required: true %>
    <div class="invalid-feedback">Sorry, you missed this one.</div>
    <div class="help-block">Your password</div>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="form-group text-left">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :remember_me, class: "custom-control-input" %>
        <%= f.label :remember_me, class: "custom-control-label" %>
      </div>
    </div>
  <% end %>
  <div class="row no-gutters">
    <div class="col-lg-6 pl-lg-1 my-2">
      <%= f.button t('.sign_in'), type: "submit", id: "js-login-btn", class: "btn btn-info btn-block btn-lg" %>
    </div>
  </div>
<% end %>

<script>
    $( "#js-login-btn" ).on( "click", function() {
        // alert( "Handler for `click` called." );

        // Fetch form to apply custom Bootstrap validation
        var form = $("#js-login")

        if (form[0].checkValidity() === false) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.addClass('was-validated');
        // Perform ajax submit here...
    } );
</script>
