<%= simple_form_for [:admin, @role] do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :name, placeholder: t('activerecord.attributes.role.name') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>
