<%
  content_for(:title, t('views.admin.roles.assign.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.roles'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-lock'></i>  <%= t('views.sidebar.roles') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>

  <%= stylesheet_link_tag 'smartadmin/notifications/toastr/toastr', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12 col-xl-6">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.roles.assign.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_role_path(@role.id), class: 'btn btn-primary btn-sm' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <h3 class="frame-heading"><%= @role.name %></h3>
          <div class="frame-wrap p-0 border-0 m-0">
            <table class="table m-0 table-bordered">
              <thead>
                <tr>
                  <th>
                    <%= "#{t('activerecord.models.system_module.other')}/#{t('activerecord.models.access.other')}" %>
                  </th>
                  <% prepare_hash %>
                  <% @access_order = Access.all.order("id ASC") %>
                  <% @access_order.each do |access| %>
                    <th class="text-center">
                      <%= t("views.admin.access.#{access.name.downcase}") %>
                    </th>
                  <% end %>
                </tr>
              </thead>

              <tbody>
                <% access = @access_order.all.pluck(:id) %>
                <% SystemModule.all.each do |sm| %>
                  <tr>
                    <input type="hidden" name="role_id" class= 'role_id' value= <%= @role.id %> >
                    <th>
                      <%= t("activerecord.models.#{squish(sm.name)}.other") %>
                    </th>
                    <td class="text-center">
                      <label class="checkbox checkbox-inline">
                        <input type="checkbox"  <%= 'checked' if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[0])) %>  value= '<%= access[0] %> : <%= sm.id  %>' >
                        <span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="checkbox checkbox-inline">
                        <input type="checkbox"  <%= 'checked' if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[1])) %>  value= '<%= access[1] %> : <%= sm.id  %>' >
                        <span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="checkbox checkbox-inline">
                        <input type="checkbox"  <%= 'checked' if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[2])) %>  value= '<%= access[2] %> : <%= sm.id  %>' >
                        <span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="checkbox checkbox-inline">
                        <input type="checkbox"  <%= 'checked' if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[3])) %>  value= '<%= access[3] %> : <%= sm.id  %>' >
                        <span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="checkbox checkbox-inline">
                        <input type="checkbox"  <%= 'checked' if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[4])) %>  value= '<%= access[4] %> : <%= sm.id  %>' >
                        <span></span>
                      </label>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/notifications/toastr/toastr' %>

  <script>

      $(document).ready(function () {

          $(':checkbox').on('change', function() {
              var $this = $(this);
              var ids = $this.val();
              var id_array = ids.split(':');
              var system_module_id = id_array[1];
              var access_id = id_array[0];
              var role_id = $('.role_id').val();
              var url;
              console.log(system_module_id.trim());
              console.log(access_id.trim());
              console.log(role_id.trim());

              if (this.checked) {
                  url = "/admin/access_roles/add_access/" + role_id.trim() + "/" + access_id.trim() + "/" + system_module_id.trim();
              } else {
                  url = "/admin/access_roles/remove_access/" + role_id.trim() + "/" + access_id.trim() + "/" + system_module_id.trim();
              }
              console.log(url);
              $.ajax({
                  url: url,
                  type: "get",
                  success: function (data) {
                      if (data.type == 'success') {
                          toastr.success(data.response)
                      } else {
                          toastr.error(data.response)
                      }
                  },
                  error: function (data) {
                      console.log(data);
                  }
              })
          });
      });
  </script>
<% end %>