<%
  content_for(:title, t('views.admin.roles.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.roles'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-lock'></i>  <%= t('views.sidebar.roles') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12 col-xl-6">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.roles.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_roles_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
          <%= link_to({ action: :destroy, id: @role.id }, class: "btn btn-primary btn-sm ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
            <%= t('views.shared.buttons.destroy') %>
          <% end %>
          <%= link_to assign_admin_role_path(@role.id), class: 'btn btn-warning btn-sm ml-2 text-white' do %>
            <%= t('views.shared.buttons.assign') %>
          <% end %>
          <%= link_to edit_admin_role_path(@role.id), class: 'btn btn-info btn-sm ml-2' do %>
            <%= t('views.shared.buttons.edit') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <h3 class="frame-heading"><%= @role.name %></h3>
          <div class="frame-wrap p-0 border-0 m-0">
            <table class="table m-0 table-bordered">
              <thead>
                <tr>
                  <th>
                    <%= "#{t('activerecord.models.system_module.other')}/#{t('activerecord.models.access.other')}" %>
                  </th>
                  <% prepare_hash %>
                  <% @access_order = Access.all.order("id ASC") %>
                  <% @access_order.each do |access| %>
                    <th class="text-center">
                      <%= t("views.admin.access.#{access.name.downcase}") %>
                    </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% access = @access_order.all.pluck(:id) %>
                <% SystemModule.all.each do |sm| %>
                  <tr>
                    <th>
                      <%= t("activerecord.models.#{squish(sm.name)}.other") %>
                    </th>
                    <td class="text-center">
                      <%  if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[0])) %>
                        <i class="fas fa-check" style="color: green"></i>
                      <%  else %>
                        <i class="fas fa-times" style="color: red"></i>
                      <%  end %>
                    </td>
                    <td class="text-center">
                      <%  if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[1])) %>
                        <i class="fas fa-check" style="color: green"></i>
                      <%  else %>
                        <i class="fas fa-times" style="color: red"></i>
                      <%  end %>
                    </td>
                    <td class="text-center">
                      <%  if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[2])) %>
                        <i class="fas fa-check" style="color: green"></i>
                      <%  else %>
                        <i class="fas fa-times" style="color: red"></i>
                      <%  end %>
                    </td>
                    <td class="text-center">
                      <%  if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[3])) %>
                        <i class="fas fa-check" style="color: green"></i>
                      <%  else %>
                        <i class="fas fa-times" style="color: red"></i>
                      <%  end %>
                    </td>
                    <td class="text-center">
                      <%  if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[4])) %>
                        <i class="fas fa-check" style="color: green"></i>
                      <%  else %>
                        <i class="fas fa-times" style="color: red"></i>
                      <%  end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>