<%
  content_for(:title, t('views.sidebar.billings'))
  content_for(:category_1, 'Dashboard')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-calendar-day'></i> <%= t('views.sidebar.billings') %>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h1>Coming Soon</h1>
      </div>
    </div>
  </div>
</div>