<% unless @addresses.blank? %>
  <div class="row">
    <div class="col-xl-12">
      <div class="border-faded bg-faded p-3 mb-g d-flex">
        <input type="text" id="js-filter-addresses" name="filter-addresses" class="form-control shadow-inset-2 form-control-lg" placeholder="<%= t('views.shared.text.filter_addresses') %>">
        <div class="btn-group btn-group-lg btn-group-toggle hidden-lg-down ml-3" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="addressesview" id="grid" checked="" value="grid"><i class="fas fa-table"></i>
          </label>
          <label class="btn btn-default">
            <input type="radio" name="addressesview" id="table" value="table"><i class="fas fa-th-list"></i>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="js-addresses">
    <% @addresses.each do |address| %>
      <div class="col-xl-4">
        <div id="c_<%= address.id %>" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags="<%= address.name.downcase %>">
          <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
            <div class="d-flex flex-row align-items-center">
              <span class="status status-success mr-3">
                <span class="rounded-circle profile-image d-block " style="background-image: url('<%= image_path 'smartadmin/demo/avatars/avatar-m.png' %>'); background-size: cover;"></span>
              </span>
              <div class="info-card-text flex-1">
                <a href="javascript:void(0);" class="fs-xl text-truncate text-truncate-lg text-info" data-toggle="dropdown" aria-expanded="false">
                  <%= address.name %>
                  <i class="<%= Rails.configuration.icon_prefix %> fa-angle-down d-inline-block ml-1 fs-md"></i>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" onclick="showAddressButton(<%= address.id %>)"><%= t('views.shared.buttons.show')  %></a>
                  <a class="dropdown-item" onclick="editAddressButton(<%= address.id %>)" > <%= t('views.shared.buttons.edit') %></a>
                  <a class="dropdown-item" onclick="deleteAddressButton(<%= address.id %>)"><%= t('views.shared.buttons.delete') %></a>
                </div>
                <span class="text-truncate text-truncate-xl">.</span>
              </div>
              <button class="js-expand-btn btn btn-sm btn-default d-none" data-toggle="collapse" data-target="#c_1 > .card-body + .card-body" aria-expanded="false">
                <span class="collapsed-hidden">+</span>
                <span class="collapsed-reveal">-</span>
              </button>
            </div>
          </div>
          <div class="card-body p-0 collapse show">
            <div class="p-3">
              <a href="tel:+13174562564" class="mt-1 d-block fs-sm fw-400 text-dark">
                <i class="fas fa-mobile-alt text-muted mr-2"></i> <%= address.landline %>
              </a>
              <address class="fs-sm fw-400 mt-4 text-muted">
                <i class="fas fa-map-pin mr-2"></i> <%= address.full_information %> </address>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-danger alert-dismissible fade show">
    <div class="d-flex align-items-center">
      <div class="alert-icon width-8">
        <span class="icon-stack icon-stack-xl">
          <i class="base-7 icon-stack-3x color-danger-400"></i>
          <i class="fal fa-times icon-stack-2x text-white"></i>
        </span>
      </div>

      <div class="flex-1 pl-1">
        <span class="h2">
          <%= "#{t('activerecord.models.address.other')} #{t('views.shared.text.not_found')}" %>
        </span>
        <br>
        <%= "#{t('views.shared.text.not_records')} de #{t('activerecord.models.address.other').downcase}." %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts_block do %>
  <script>
      function editAddressButton(address_id){
          $.ajax({
              method: "GET",
              url: "/admin/clients/"+  $("#client_id").val() + "/edit_address",
              data: {address_id: address_id},
              success: function (data) {
              },
              error: function (data) {
              }
          });
      }

      function deleteAddressButton(address_id){
          var confirmation = confirm("¿Esta seguro de eliminar esta dirección?");
          if (confirmation) {
              $.ajax({
                  method: "DELETE",
                  url: "/admin/clients/" + $("#client_id").val() + "/destroy_address",
                  data: {address_id: address_id},
                  success: function (result) {
                      console.log("si se elimino");
                      $('#v-pills-addresses-information-tab').trigger("click");
                      console.log(result);
                  },
                  error: function (data) {
                  }
              });
          }
      }
      function showAddressButton(address_id){
          $.ajax({
              method: "GET",
              url: "/admin/clients/" + $("#client_id").val() + "/show_address",
              data: {address_id: address_id},
              success: function (result) {

              },
              error: function (data) {
              }
          });
      }
  </script>
<% end %>