<div id="c_1" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags=<%= address.name.truncate(15) %>>
  <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
    <div class="d-flex flex-row align-items-center">
      <span class="mr-3">
        <i class="fal fa-map-marker-alt"></i>
      </span>
      <div class="info-card-text flex-1">
        <a href="javascript:void(0);" class="fs-xl text-truncate text-truncate-lg text-info" data-toggle="dropdown" aria-expanded="false">
          <%= address.name.truncate(15) %>
          <i class="<%= Rails.configuration.icon_prefix %> fa-angle-down d-inline-block ml-1 fs-md"></i>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" onclick="showAddressButton(<%= address.id %>)"><%= t('views.shared.buttons.show')  %></a>
          <a class="dropdown-item" onclick="editAddressButton(<%= address.id %>)" > <%= t('views.shared.buttons.edit') %></a>
          <a class="dropdown-item" onclick="deleteAddressButton(<%= address.id %>)"><%= t('views.shared.buttons.delete') %></a>

        </div>
      </div>
      <button class="js-expand-btn btn btn-sm btn-default d-none" data-toggle="collapse" data-target="#c_1 > .card-body + .card-body" aria-expanded="false">
        <span class="collapsed-hidden">+</span>
        <span class="collapsed-reveal">-</span>
      </button>
    </div>
  </div>
  <div class="card-body p-0 collapse show">
    <div class="p-3">
      <span  class="fs-sm fw-400 mt-4 text-muted">
        <i class="fal fa-city mr-2"></i><%= address.city unless !address.city %></span>
      <address class="fs-sm fw-400 mt-4 text-muted">
        <i class="fal fa-map-pin mr-2"></i> <%= address.street_with_number + ", " + address.zip_code%> </address>
      <span  class="fs-sm fw-400 mt-4 text-muted">
        <i class="fal fa-flag mr-2"></i><%= address.country %></span>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <script>
      function editAddressButton(address_id){
          $.ajax({
              method: "GET",
              url: "/admin/clients/"+  $("#client_id").val() + "/edit_address",
              data: {address_id: address_id},
              success: function (data) {
              },
              error: function (data) {
              }
          });
      }

      function deleteAddressButton(address_id){
          var confirmation = confirm("¿Esta seguro de eliminar esta dirección?");
          if (confirmation) {
              $.ajax({
                  method: "DELETE",
                  url: "/admin/clients/" + $("#client_id").val() + "/destroy_address",
                  data: {address_id: address_id},
                  success: function (result) {
                      console.log("si se elimino");
                      $('#v-pills-addresses-information-tab').trigger("click");
                      console.log(result);
                  },
                  error: function (data) {
                  }
              });
          }
      }
      function showAddressButton(address_id){
        $.ajax({
            method: "GET",
            url: "/admin/clients/" + $("#client_id").val() + "/show_address",
            data: {address_id: address_id},
            success: function (result) {

            },
            error: function (data) {
            }
        });
      }
  </script>
<% end %>