<%= f.hidden_field :addressable_type, value: 'Client' %>
<%= f.hidden_field :addressable_id, value: @client.id%>
<%= hidden_field_tag :address_id, @address.id%>
<%= hidden_field_tag :is_contact, @is_contact%>
<%= hidden_field_tag :id, @client.id%>
<div class="row">
  <div class=" col-md-12 col-sm-12">
    <%= f.input :name, placeholder: t('activerecord.attributes.address.name') %>
  </div>
</div>
<div class="row">
  <div class=" col-md-6 col-sm-12 mt-2">
    <%= f.input :street, placeholder: t('activerecord.attributes.address.street') %>
  </div>
  <div class=" col-md-3 col-sm-12 mt-2">
    <%= f.input :interior_number, placeholder: t('activerecord.attributes.address.interior_number') %>
  </div>
  <div class=" col-md-3 col-sm-12 mt-2">
    <%= f.input :outdoor_number, placeholder: t('activerecord.attributes.address.outdoor_number') %>
  </div>
</div>
<div class="row">
  <div class=" col-md-4 col-sm-12 mt-2">
    <%= f.input :country do %>
      <%= f.select :country, options_for_select(Country.all.collect {|c| [c.name, c.name]}, @address.country), { prompt: t('views.shared.prompt.country') }, { class: 'form-control', data: { 'live-search': "true" } } %>
    <% end %>
  </div>
  <div class=" col-md-4 col-sm-12 mt-2">
    <%= f.association :state, placeholder: t('views.shared.prompt.state') %>
  </div>
  <div class=" col-md-4 col-sm-12 mt-2">
    <%= f.input :zip_code, placeholder: t('activerecord.attributes.address.zip_code') %>
  </div>
</div>
<div class=" form-group row">
  <div class=" col-md-4 col-sm-12 mt-2">
    <%= f.input :city, placeholder:  t('activerecord.attributes.address.city') %>
  </div>
  <div class=" col-md-4 col-sm-12 mt-2 hide-element" id="colony">
    <%= f.input :colony, placeholder: t('activerecord.attributes.address.colony'), class: "type: hidden;" %>
  </div>
  <div class=" col-md-4 col-sm-12 mt-2">
    <%= f.label :assign_type_ids, t("activerecord.attributes.address.assign_type_ids") %>
    <%= f.select :address_type_ids, options_for_select(AddressType.all.collect {|st| [t("enums.address.type_address.#{st.name}"), st.id]}, @address.address_type_ids), { prompt: t('views.admin.clients.shared.prompt.type_address') }, { class: 'form-control', multiple: 'multiple' } %>
  </div>
</div>
