<%= f.hidden_field :contactable_type, value: 'Client' %>
<%= f.hidden_field :contactable_id, value: @client.id%>
<%= hidden_field_tag :contact_id, @contact.id %>
<%= hidden_field_tag :is_contact, true %>

<div class="form-group row">
  <div class="col-md-12">
    <%=f.input :name, placeholder: t('activerecord.attributes.contact.name'), input_html: { title: t('views.admin.suppliers.instructions.first_name'), data: { toggle: "tooltip", placement: "top" } } %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6">
    <%=f.input :email, placeholder: t('activerecord.attributes.contact.email') %>
  </div>
  <div class="col-md-6 col-sm-12">
    <%=f.label :birth_date, t('activerecord.attributes.employee.birth_date') %>
    <div class="input-group">
      <%=f.text_field :birth_date, class: 'form-control', placeholder: t('activerecord.attributes.employee.birth_date')%>
      <div class="input-group-append">
      <span class="input-group-text fs-xl">
        <i class="<%= Rails.configuration.icon_prefix %> fa-calendar"></i>
      </span>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6">
    <%=f.input :area, placeholder: t('activerecord.attributes.contact.area') %>
  </div>
  <div class="col-md-6">
    <%=f.input :job, placeholder: t('activerecord.attributes.contact.job') %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-6" id="addresses_list">
    <%= f.label :address, t('activerecord.attributes.contact.address.not_abbr') %>
    <%= render 'admin/clients/contacts/addresses_list_contact', action_controller: 'add_contact' %>
  </div>
</div>
