<div class="row">
  <div class="col-xl-6">
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.contact.name')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @contact.name %>
    </label></div>
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.contact.email')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @contact.email %>
    </label></div>
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.contact.area')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @contact.area %>
    </label></div>
  </div>
  <div class="col-xl-6">
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.contact.job')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @contact.job %>
    </label></div>
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.contact.birth_date')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @contact.birth_date.nil? ? '' : @contact.birth_date.strftime("%d-%m-%Y") %>
    </label></div>
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.contact.principal')}:" %>
        </b></label><span class="col-xl-9 col-lg-9 col-form-label">
        <% if @contact.principal == true
        %><span class="svg-icon svg-icon-md svg-icon-warning">
          <%= render "shared/icons/star" %>
        </span><% else
    %><span class="svg-icon svg-icon-md svg-icon-secondary">
        <%= render "shared/icons/half_star" %>
      </span><% end %></span></div>
  </div>
</div>
<div class="row">
  <div class="col-xl-6">
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.contact.address.not_abbr')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @contact.full_address %>
    </label></div>
  </div>
  <div class="col-xl-6">
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.models.phone.one')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label">
      <% if @contact.extension != ""
      %><%= @contact.phone_with_extension %>
        <% elsif @contact.country_code != ""
        %><%= @contact.phone_with_country_code %>
      <% end %></label></div>
  </div>
</div>