<%= simple_form_for [:admin, @document] do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :name, placeholder: t('activerecord.attributes.document.name') %>
    </div>
    <div class="col-md-6">
      <%= f.input :document_type, placeholder: t('activerecord.attributes.document.document_type') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :phase, placeholder: t('activerecord.attributes.document.phase') %>
    </div>
    <div class="col-md-6">
      <%= f.input :variable, placeholder: t('activerecord.attributes.document.variable') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :obligatory %>
    </div>
    <div class="col-md-6">
      <%= f.input :active %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-12">Portal</label>
    <div class="col-xl-12">
      <div class="frame-wrap">
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= f.check_box :client, { class: "custom-control-input" } %>
          <label class="custom-control-label" for="document_client"><%= t('activerecord.attributes.document.client') %></label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= f.check_box :supplier, { class: "custom-control-input" } %>
          <label class="custom-control-label" for="document_supplier"><%= t('activerecord.attributes.document.supplier') %></label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>
