<%
  content_for(:title, t('views.admin.documents.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.documents'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-folders'></i>  <%= t('views.sidebar.documents') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12 col-xl-6">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.documents.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_documents_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
          <%= link_to({ action: :destroy, id: @document.id }, class: "btn btn-primary btn-sm ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
            <%= t('views.shared.buttons.destroy') %>
          <% end %>
          <%= link_to edit_admin_document_path(@document.id), class: 'btn btn-info btn-sm ml-2' do %>
            <%= t('views.shared.buttons.edit') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="frame-wrap p-0 border-0 m-0">
            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.document.name') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @document.name %></span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.document.document_type') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @document.document_type %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.document.phase') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @document.phase %></span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.document.obligatory') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @document.obligatory == false ? t('views.shared.buttons.no') : t('views.shared.buttons.yes') %></span>
            </div>

            <div class="form-group row my-2">
              <label class="col-2 col-form-label"><%= t('activerecord.attributes.document.client') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @document.client == false ? t('views.shared.buttons.no') : t('views.shared.buttons.yes') %></span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.document.supplier') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @document.supplier == false ? t('views.shared.buttons.no') : t('views.shared.buttons.yes') %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.container.created_at') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @document.created_at %>°</span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.container.updated_at') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @document.updated_at %>°</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>