<%
  content_for(:title, t('views.admin.bookings.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.bookings'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-file-invoice-dollar'></i>  <%= t('views.sidebar.bookings') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>

  <%= stylesheet_link_tag 'smartadmin/notifications/sweetalert2/sweetalert2.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
  <%= render 'customer/bookings/detail' %>
</div>

<div class="row">
  <%= render 'customer/bookings/commodities' %>
</div>