<%= simple_form_for [:admin, @custom] do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :code, placeholder: t('activerecord.attributes.custom.code') %>
    </div>
    <div class="col-md-6">
      <%= f.input :custom, placeholder: t('activerecord.attributes.custom.custom') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.association :service_mode, placeholder: t('activerecord.attributes.custom.service_mode'), prompt: t('views.shared.prompt.service_mode') %>
    </div>
    <div class="col-md-6" id="rate">
      <%= f.input :rate, placeholder: t('activerecord.attributes.custom.rate') %>
    </div>
  </div>

  <div class="form-group row hide-element" id="fcl">
    <div class="col-md-6 " id="fcl_expo_rate">
      <%= f.input :fcl_expo_rate, placeholder: t('activerecord.attributes.custom.fcl_expo_rate') %>
    </div>
    <div class="col-md-6 " id="fcl_impo_rate">
      <%= f.input :fcl_impo_rate, placeholder: t('activerecord.attributes.custom.fcl_impo_rate') %>
    </div>
  </div>
  <div class="form-group row hide-element" id="lcl">
    <div class="col-md-6 " id="lcl_expo_rate">
      <%= f.input :lcl_expo_rate, placeholder: t('activerecord.attributes.custom.lcl_expo_rate') %>
    </div>
    <div class="col-md-6 " id="lcl_impo_rate">
      <%= f.input :lcl_impo_rate, placeholder: t('activerecord.attributes.custom.lcl_impo_rate') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :active? %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>

<% content_for :scripts_block do %>
  <script>
      console.log("dsfdscf")
      $(document).ready(function () {
          console.log("Data:")
          service_mode = $("#custom_service_mode_id option:selected").text();
          console.log(service_mode);
          if (service_mode == 'Servicios Marítimos') {
              $("#fcl").removeClass('hide-element');
              $("#lcl").removeClass('hide-element');
              $("#rate").addClass('hide-element');
          } else {
              $("#fcl").addClass('hide-element');
              $("#lcl").addClass('hide-element');
              $("#rate").removeClass('hide-element');
          }

          console.log($("#custom_service_mode_id"));
          $("#custom_service_mode_id").change(function () {
              service_mode = $("#custom_service_mode_id option:selected").text();
              console.log(service_mode);
              if (service_mode == 'Servicios Marítimos') {
                  $("#fcl").removeClass('hide-element');
                  $("#lcl").removeClass('hide-element');
                  $("#rate").addClass('hide-element');
              } else {
                  $("#custom_fcl_expo_rate").val('');
                  $("#custom_fcl_impo_rate").val('');
                  $("#custom_lcl_expo_rate").val('');
                  $("#custom_lcl_impo_rate").val('');
                  $("#fcl").addClass('hide-element');
                  $("#lcl").addClass('hide-element');
                  $("#rate").removeClass('hide-element');
              }
          })
      });
  </script>
<% end %>
