<%
  content_for(:title, t('views.admin.customs.edit.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.customs'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fab fa-intercom'></i> <%= t('views.sidebar.customs') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>

<% end %>

<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.customs.edit.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_custom_path(@custom.id), class: 'btn btn-secondary btn-sm' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <!-- form start -->
          <%= render 'form', button: t('views.shared.buttons.update') %>
          <!-- form end -->
        </div>
      </div>
    </div>
  </div>
</div>