<%
  content_for(:title, t('views.admin.customs.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.customs'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fab fa-intercom'></i> <%= t('views.sidebar.customs') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12 col-xl-12">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.customs.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_customs_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
          <%= link_to({ action: :destroy, id: @custom.id }, class: "btn btn-primary btn-sm ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
            <%= t('views.shared.buttons.destroy') %>
          <% end %>
          <%= link_to edit_admin_custom_path(@custom.id), class: 'btn btn-info btn-sm ml-2' do %>
            <%= t('views.shared.buttons.edit') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="frame-wrap p-0 border-0 m-0">
            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.custom.id') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @custom.id %></span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.custom.code') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @custom.code %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.custom.custom') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @custom.custom  %></span>
              <% if @custom.service_mode.name !=  "Servicios Marítimos" %>
                <span class="col-2 col-form-label"><%= t('activerecord.attributes.custom.rate') %>:</span>
                <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= number_to_currency @custom.rate  %></span>
              <% end %>
            </div>
            <% if @custom.service_mode.name ==  "Servicios Marítimos" %>
              <div class="form-group row my-2">
                <span class="col-2 col-form-label"><%= t('activerecord.attributes.custom.fcl_expo_rate') %>:</span>
                <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= number_to_currency @custom.fcl_expo_rate  %></span>
                <span class="col-2 col-form-label"><%= t('activerecord.attributes.custom.fcl_impo_rate') %>:</span>
                <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= number_to_currency @custom.fcl_impo_rate %></span>
              </div>
              <div class="form-group row my-2">
                <span class="col-2 col-form-label"><%= t('activerecord.attributes.custom.lcl_expo_rate') %>:</span>
                <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= number_to_currency @custom.lcl_expo_rate  %></span>
                <span class="col-2 col-form-label"><%= t('activerecord.attributes.custom.lcl_impo_rate') %>:</span>
                <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= number_to_currency @custom.lcl_impo_rate %></span>
              </div>
            <% end %>
            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.custom.created_at') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @custom.created_at %>°</span>


              <span class="col-2 col-form-label"><%= t('activerecord.attributes.custom.updated_at') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @custom.updated_at %>°</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
