<div class="form-group row d-flex justify-content-between mb-3">
  <div class="col-md-2">
    <%= f.input :name, placeholder: t('activerecord.attributes.container_dimension.name'), input_html: { readonly: true } %>
  </div>
  <div class="col-md-2">
    <%= f.input :metric_value, placeholder: t('activerecord.attributes.container_dimension.metric_value') %>
  </div>
  <div class="col-md-2">
    <%= f.association :metric_measurement, prompt: t('views.shared.prompt.unit'), label_method: :code %>
  </div>
  <div class="col-md-2 ">
    <%=  f.input :imperial_value, placeholder: t('activerecord.attributes.container_dimension.imperial_value') %>
  </div>
  <div class="col-md-2">
    <%= f.association :imperial_measurement, prompt: t('views.shared.prompt.unit'), label_method: :code %>
  </div>
</div>