<%= simple_form_for [:admin, @container] do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :code, placeholder: t('activerecord.attributes.container.code') %>
    </div>
    <div class="col-md-6">
      <%= f.input :name, placeholder: t('activerecord.attributes.container.name') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <%= f.input :description, placeholder: t('activerecord.attributes.container.description') %>
    </div>
  </div>
  <hr>

  <h5 class="frame-heading"><%= t('activerecord.models.container_dimension.other') %></h5>
  <div id='container_dimensions'>
    <%= f.simple_fields_for :container_dimensions do |container_dimension|%>
      <%= render 'admin/containers/container_dimension_fields', f: container_dimension %>
    <% end %>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>
