<%
  content_for(:title, t('views.admin.containers.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.containers'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-container-storage'></i>  <%= t('views.sidebar.containers') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12 col-xl-6">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.containers.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_containers_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
          <%= link_to({ action: :destroy, id: @container.id }, class: "btn btn-primary btn-sm ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
            <%= t('views.shared.buttons.destroy') %>
          <% end %>
          <%= link_to edit_admin_container_path(@container.id), class: 'btn btn-info btn-sm ml-2' do %>
            <%= t('views.shared.buttons.edit') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="frame-wrap p-0 border-0 m-0">
            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.container.code') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @container.code %></span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.container.name') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @container.name %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.container.description') %>:</span>
              <span class="col-10 col-form-label control-plaintext font-weight-bolder"><%= @container.description %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.container.created_at') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @container.created_at %>°</span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.container.updated_at') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @container.updated_at %>°</span>
            </div>

            <hr>
            <h5 class="frame-heading"><%= t('activerecord.models.container_dimension.other') %></h5>

            <table class="table table-striped m-0">
              <thead>
                <tr>
                  <th> <%= t('activerecord.attributes.container_dimension.name') %></th>
                  <th> <%= t('activerecord.attributes.container_dimension.metric_measurement') %></th>
                  <th> <%= t('activerecord.attributes.container_dimension.imperial_measurement') %></th>
                </tr>
              </thead>
              <tbody>
                <% @container.container_dimensions.each  do |container_dimension|%>
                  <tr>
                    <td>
                      <%= container_dimension.name %>
                    </td>
                    <td>
                      <%= container_dimension.metric_value.to_s + " " + (container_dimension.metric_measurement.nil? ? '' : container_dimension.metric_measurement.code)%>
                    </td>
                    <td>
                      <%= container_dimension.imperial_value.to_s + " " + (container_dimension.imperial_measurement.nil? ? '' : container_dimension.imperial_measurement.code) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>