<% unless @senders.blank?
  @senders.each_slice(3) do |group| %>
    <div class="row mb-2">
      <% group.each do |sender| %>
        <div class="col-md-4">
          <%= render 'admin/clients/senders/sender', sender: sender %>
        </div>
      <% end %>
    </div>
 <% end %>
<% else %>
  <div class="not-register">
    <%= "#{t('views.shared.text.not_records')} de #{t('activerecord.models.sender.other')}." %>
  </div>
<% end %>