<%= simple_form_for @sender, url: url_for(controller: 'admin/clients', action: 'update_sender'), html: {id: 'form_sender'}, remote: true do |f|%>
  <%= render 'admin/clients/senders/form' , f: f%>
<%  end %>
