<%= f.hidden_field :senderable_type, value: 'Client' %>
<%= f.hidden_field :senderable_id, value: @client.id%>
<%= hidden_field_tag :sender_id, @sender.id %>
<%= hidden_field_tag :is_sender, true %>
<%= hidden_field_tag :id %>

<div class="form-group row">
  <div class="col-md-6">
    <%=f.input :name, placeholder: t('activerecord.attributes.sender.name'), input_html: { title: t('views.admin.suppliers.instructions.first_name'), data: { toggle: "tooltip", placement: "top" } } %>
  </div>
  <div class="col-md-6">
    <%=f.input :rfc, placeholder: t('activerecord.attributes.sender.rfc') %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-6">
    <%=f.input :email, placeholder: t('activerecord.attributes.sender.email') %>
  </div>
  <div class="col-md-6">
    <%= f.input :contact, maxlength: 50, input_html: { class: 'form-control-sm'},placeholder: t('activerecord.attributes.sender.contact')%>
  </div>
</div>

<div class="form-group row">
  <div class=" col-md-4 col-sm-12 mt-2">
    <%= f.label :sender_type_ids, t("activerecord.attributes.sender.sender_type_ids") %>
    <%= f.select :sender_type_ids, options_for_select(SenderType.all.collect { |st| [st.name, st.id] }, @sender.sender_type_ids), {}, { class: 'form-control', multiple: 'multiple' }%>
  </div>
</div>
