<div id="c_1" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags=<%= sender.name.truncate(15) %>>
  <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
    <div class="d-flex flex-row align-items-center">
      <span class="mr-3">
        <i class="fas fa-truck-loading"></i>
      </span>
      <div class="info-card-text flex-1">
        <a href="javascript:void(0);" class="fs-xl text-truncate text-truncate-lg text-info" data-toggle="dropdown" aria-expanded="false">
          <%= sender.name.truncate(15) %>
          <i class="<%= Rails.configuration.icon_prefix %> fa-angle-down d-inline-block ml-1 fs-md"></i>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" onclick="showSenderButton(<%= sender.id %>)"> <%= t('views.shared.buttons.show') %></a>
          <a class="dropdown-item" onclick="editSenderButton(<%= sender.id %>)"> <%= t('views.shared.buttons.edit') %></a>
          <a class="dropdown-item" onclick="deleteSenderButton(<%= sender.id %>)"><%= t('views.shared.buttons.delete') %></a>

        </div>
      </div>
      <button class="js-expand-btn btn btn-sm btn-default d-none" data-toggle="collapse" data-target="#c_1 > .card-body + .card-body" aria-expanded="false">
        <span class="collapsed-hidden">+</span>
        <span class="collapsed-reveal">-</span>
      </button>
    </div>
  </div>
  <div class="card-body p-0 collapse show">
    <div class="p-3">
      <span class="fs-sm fw-400 mt-4 text-muted">
        <i class="fal fa-mailbox mr-2"></i> <%= sender.email.truncate(15) %> </span>
      <span class="fs-sm fw-400 mt-4 text-muted">
        <i class="fal fa-id-card mr-2"></i> <%= sender.rfc %> </span>
      <span class="fs-sm fw-400 mt-4 text-muted">
        <i class="fal fa-flag mr-2"></i><%=
        if sender.extension != ""
          sender.phone_with_extension
        elsif sender.country_code != ""
          sender.phone_with_country_code
        end %>
      </span>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <script>
      function editSenderButton(sender_id) {
          $.ajax({
              method: "GET",
              url: "/admin/clients/" + $("#client_id").val() + "/edit_sender",
              data: {sender_id: sender_id},
              success: function (data) {
                  console.log(data);
              },
              error: function (data) {
              }
          });
      }

      function deleteSenderButton(sender_id) {
          var confirmation = confirm("¿Esta seguro de eliminar el remitente?");
          if (confirmation) {
              $.ajax({
                  method: "DELETE",
                  url: "/admin/clients/" + $("#client_id").val() + "/destroy_sender",
                  data: {sender_id: sender_id},
                  success: function (result) {
                      console.log("si se elimino");
                      $('#v-pills-senders-information-tab').trigger("click");
                      console.log(result);
                  },
                  error: function (data) {
                  }
              });
          }
      }

      function showSenderButton(sender_id){
          $.ajax({
              method: "GET",
              url: "/admin/clients/" + $("#client_id").val() + "/show_sender",
              data: {sender_id: sender_id},
              success: function (result) {

              },
              error: function (data) {
              }
          });
      }
  </script>
<% end %>