<div class="row">
  <div class="col-xl-6">
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.sender.name')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @sender.name %>
    </label></div>
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.sender.rfc')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @sender.rfc %>
    </label></div>
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.sender.email')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @sender.email %>
    </label></div>
  </div>
  <div class="col-xl-6">
    <div class="row">
      <label class="col-xl-3 col-lg-3 col-form-label text-right">
        <b><%= "#{t('activerecord.attributes.sender.contact')}:" %>
        </b></label><label class="col-xl-9 col-lg-9 col-form-label"><%= @sender.contact %>
    </label></div>
  </div>
</div>
