<!-- contacts -->
<div class="card mb-g">
  <div class="row row-grid no-gutters">
    <div class="col-12">
      <div class="p-3">
        <h2 class="mb-0 fs-xl">
          <%= t('views.shared.contacts') %>
        </h2>
      </div>
    </div>
    <div class="col-4">
      <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
        <span class="profile-image rounded-circle d-block m-auto" style="background-image: url('<%= image_path 'smartadmin/demo/avatars/avatar-b.png' %>'); background-size: cover;"></span>
        <span class="d-block text-truncate text-muted fs-xs mt-1">Oliver Kopyov</span>
      </a>
    </div>
    <div class="col-12">
      <div class="p-3 text-center">
        <a href="javascript:void(0);" class="btn-link font-weight-bold">View all</a>
      </div>
    </div>
  </div>
</div>