<%
  content_for(:title, 'Profile')
  content_for(:category_1, 'Page Views')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-plus-circle'></i>  Profile
<% end %>

<% content_for :pagedescription do %>
  Profile layout
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-6 col-xl-3 order-lg-1 order-xl-1">
    <!-- profile summary -->
    <div class="card mb-g rounded-top">
      <div class="row no-gutters row-grid">
        <div class="col-12">
          <div class="d-flex flex-column align-items-center justify-content-center p-4">
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar.service_url, class: 'rounded-circle shadow-2 img-thumbnail', alt: 'Avatar' %>
            <% else %>
              <%= image_tag Rails.configuration.default, class: 'rounded-circle shadow-2 img-thumbnail', alt: 'Dr. Codex Lantern' %>
            <% end %>
            <h5 class="mb-0 fw-700 text-center mt-3">
              <%= @user.employee.name %>
              <small class="text-muted mb-0"><%= @user.employee.department.name %></small>
            </h5>
            <div class="mt-4 text-center demo">
              <a href="javascript:void(0);" class="fs-xl" style="color:#3b5998">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#38A1F3">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#db3236">
                <i class="fab fa-google-plus"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#0077B5">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#000000">
                <i class="fab fa-reddit-alien"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#00AFF0">
                <i class="fab fa-skype"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#0063DC">
                <i class="fab fa-flickr"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="p-3 text-center">
            <a href="javascript:void(0);" class="btn-link font-weight-bold">Follow</a> <span class="text-primary d-inline-block mx-3">&#9679;</span>
            <a href="javascript:void(0);" class="btn-link font-weight-bold">Message</a> <span class="text-primary d-inline-block mx-3">&#9679;</span>
            <a href="javascript:void(0);" class="btn-link font-weight-bold">Connect</a>
          </div>
        </div>
      </div>
    </div>
    <%= render 'contacts' %>
  </div>
  <div class="col-lg-12 col-xl-6 order-lg-3 order-xl-2">
    <div class="card border mb-g">
      <div class="card-body pl-4 pt-4 pr-4 pb-0">
        <div class="d-flex flex-column">
          <div class="border-0 flex-1 position-relative shadow-top">
            <div class="pt-2 pb-1 pr-0 pl-0 rounded-0 position-relative" tabindex="-1">
              <span class="profile-image rounded-circle d-block position-absolute" style="background-image: url('<%= image_path "smartadmin/demo/avatars/#{Rails.configuration.avatar}" %>'); background-size: cover;"></span>
              <div class="pl-5 ml-5">
                <textarea class="form-control border-0 p-0 fs-xl bg-transparent" rows="4" placeholder="What's on your mind Codex?..."></textarea>
              </div>
            </div>
          </div>
          <div class="height-8 d-flex flex-row align-items-center flex-wrap flex-shrink-0">
            <a href="javascript:void(0);" class="btn btn-icon fs-xl width-1 mr-1" data-toggle="tooltip" data-original-title="More options" data-placement="top">
              <i class="<%= Rails.configuration.icon_prefix %> fa-ellipsis-v-alt color-fusion-300"></i>
            </a>
            <a href="javascript:void(0);" class="btn btn-icon fs-xl mr-1" data-toggle="tooltip" data-original-title="Attach files" data-placement="top">
              <i class="<%= Rails.configuration.icon_prefix %> fa-paperclip color-fusion-300"></i>
            </a>
            <a href="javascript:void(0);" class="btn btn-icon fs-xl mr-1" data-toggle="tooltip" data-original-title="Insert photo" data-placement="top">
              <i class="<%= Rails.configuration.icon_prefix %> fa-camera color-fusion-300"></i>
            </a>
            <button class="btn btn-info shadow-0 ml-auto">Post</button>
          </div>
        </div>

      </div>
    </div>
    <!-- post comment -->
    <div class="card mb-g">
      <div class="card-body pb-0 px-4">
        <div class="d-flex flex-row pb-3 pt-2  border-top-0 border-left-0 border-right-0">
          <div class="d-inline-block align-middle status status-success mr-3">
            <span class="profile-image rounded-circle d-block" style="background-image: url('<%= image_path 'smartadmin/demo/avatars/avatar-e.png' %>'); background-size: cover;"></span>
          </div>
          <h5 class="mb-0 flex-1 text-dark fw-500">
            Dr. John Cook PhD
            <small class="m-0 l-h-n">
              Human Resources & Psychiatry Division
            </small>
          </h5>
          <span class="text-muted fs-xs opacity-70">
					3 hours
					</span>
        </div>
        <div class="pb-3 pt-2 border-top-0 border-left-0 border-right-0 text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </div>
        <div class="d-flex align-items-center demo-h-spacing py-3">
          <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
            <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>2 Likes</span>
          </a>
          <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
            <i class="<%= Rails.configuration.icon_prefix %> fa-comment fs-xs mr-1"></i> <span>2 Comments</span>
          </a>
        </div>
      </div>
      <div class="card-body py-0 px-4 border-faded border-right-0 border-bottom-0 border-left-0">
        <div class="d-flex flex-column align-items-center">
          <!-- comment -->
          <div class="d-flex flex-row w-100 py-4">
            <div class="d-inline-block align-middle status status-sm status-success mr-3">
              <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image: url('<%= image_path 'smartadmin/demo/avatars/avatar-c.png' %>'); background-size: cover;"></span>
            </div>
            <div class="mb-0 flex-1 text-dark">
              <div class="d-flex">
                <a href="javascript:void(0);" class="text-dark fw-500">
                  Test name
                </a><span class="text-muted fs-xs opacity-70 ml-auto">
								15 minutes
								</span>
              </div>
              <p class="mb-0">
                Excellent work, looking forward to it.
              </p>
            </div>
          </div>
          <hr class="m-0 w-100">
          <!-- comment end -->
          <!-- comment -->
          <div class="d-flex flex-row w-100 py-4">
            <div class="d-inline-block align-middle status status-sm status-success mr-3">
              <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image: url('<%= image_path 'smartadmin/demo/avatars/avatar-admin.png' %>'); background-size: cover;"></span>
            </div>
            <div class="mb-0 flex-1 text-dark">
              <div class="d-flex">
                <a href="javascript:void(0);" class="text-dark fw-500">
                  <%= Rails.configuration.user %>
                </a><span class="text-muted fs-xs opacity-70 ml-auto">
								3 minutes
								</span>
              </div>
              <p class="mb-0">
                Congrats mate!
              </p>
              <div class="pl-0 d-flex flex-row w-100 pb-0 pt-4">
                <div class="d-inline-block align-middle status status-sm status-success mr-3">
                  <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image: url('<%= image_path 'smartadmin/demo/avatars/avatar-e.png' %>'); background-size: cover;"></span>
                </div>
                <div class="mb-0 flex-1 text-dark">
                  <div class="d-flex">
                    <a href="javascript:void(0);" class="text-dark fw-500">
                      Dr. John Cook PhD
                    </a><span class="text-muted fs-xs opacity-70 ml-auto">
										30 seconds
										</span>
                  </div>
                  <p class="mb-0">
                    Thanks!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr class="m-0 w-100">
          <!-- comment end -->
          <!-- add comment -->
          <div class="py-3 w-100">
            <textarea class="form-control border-0 p-0 bg-transparent" rows="2" placeholder="add a comment..."></textarea>
          </div>
          <!-- add comment end -->
        </div>
      </div>
    </div>
    <!-- post comment - end -->
    <!-- post picture -->
    <div class="card mb-g">
      <div class="card-body pb-0 px-4">
        <div class="d-flex flex-row pb-3 pt-2  border-top-0 border-left-0 border-right-0">
          <div class="d-inline-block align-middle status status-success mr-3">
            <span class="profile-image rounded-circle d-block" style="background-image: url('<%= image_path "smartadmin/demo/avatars/#{Rails.configuration.avatar}" %>'); background-size: cover;"></span>
          </div>
          <h5 class="mb-0 flex-1 text-dark fw-500">
            <%= Rails.configuration.user %>
            <small class="m-0 l-h-n">
              Chief of Surgery
            </small>
          </h5>
          <span class="text-muted fs-xs opacity-70">
					1 day
					</span>
        </div>
        <div class="pb-3 pt-2 border-top-0 border-left-0 border-right-0 text-muted">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <%= image_tag 'smartadmin/demo/gallery/46.jpg', class: 'img-fluid', alt: '' %>
        </div>
        <div class="d-flex align-items-center demo-h-spacing py-3">
          <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
            <i class="<%= Rails.configuration.icon_prefix %> fa-heart fs-xs mr-1"></i> <span>37 Likes</span>
          </a>
          <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
            <i class="<%= Rails.configuration.icon_prefix %> fa-comment fs-xs mr-1"></i> <span>1 Comment</span>
          </a>
        </div>
      </div>
      <div class="card-body py-0 px-4 border-faded border-right-0 border-bottom-0 border-left-0">
        <div class="d-flex flex-column align-items-center">
          <!-- comment -->
          <div class="d-flex flex-row w-100 py-4">
            <div class="d-inline-block align-middle status status-sm status-success mr-3">
              <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image: url('<%= image_path 'smartadmin/demo/avatars/avatar-h.png' %>'); background-size: cover;"></span>
            </div>
            <div class="mb-0 flex-1 text-dark">
              <div class="d-flex">
                <a href="javascript:void(0);" class="text-dark fw-500">
                  Sarah McBrook
                </a><span class="text-muted fs-xs opacity-70 ml-auto">
								10 minutes
								</span>
              </div>
              <p class="mb-0">
                Nice shot! When are you going again?
              </p>
            </div>
          </div>
          <hr class="m-0 w-100">
          <!-- comment end -->
          <!-- add comment -->
          <div class="py-3 w-100">
            <textarea class="form-control border-0 p-0 bg-transparent" rows="2" placeholder="add a comment..."></textarea>
          </div>
          <!-- add comment end -->
        </div>
      </div>
    </div>
    <!-- post picture - end -->
    <!-- post article -->
    <div class="card mb-g">
      <div class="card-body pb-0 px-4">
        <div class="d-flex flex-row pb-3 pt-2  border-top-0 border-left-0 border-right-0">
          <div class="d-inline-block align-middle status status-success mr-3">
            <span class="profile-image rounded-circle d-block" style="background-image: url('<%= image_path "smartadmin/demo/avatars/#{Rails.configuration.avatar}" %>'); background-size: cover;"></span>
          </div>
          <h5 class="mb-0 flex-1 text-dark fw-500">
            <%= Rails.configuration.user %>
            <small class="m-0 l-h-n">
              Chief of Surgery
            </small>
          </h5>
          <span class="text-muted fs-xs opacity-70">
					2 days
					</span>
        </div>
        <div class="pb-3 pt-2 border-top-0 border-left-0 border-right-0 text-muted">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          <!-- URL post -->
          <div class="d-flex overflow-hidden rounded w-100 border">
            <div class="row no-gutters">
              <div class="col-2 col-sm-3" style="background-image: url('<%= image_path 'smartadmin/demo/profile/article-healthyfood.png' %>'); background-size: cover;"></div>
              <div class="col">
                <div class="bg-faded flex-1 p-4 h-100">
                  <h6 class="text-dark fw-500">
                    Healthy food
                  </h6>
                  <p class="m-0">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center demo-h-spacing py-3">
          <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
            <i class="<%= Rails.configuration.icon_prefix %> fa-heart fs-xs mr-1"></i> <span>1 Likes</span>
          </a>
          <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
            <i class="<%= Rails.configuration.icon_prefix %> fa-comment fs-xs mr-1"></i> <span>0 Comments</span>
          </a>
        </div>
      </div>
      <div class="card-body py-0 px-4 border-faded border-right-0 border-bottom-0 border-left-0">
        <div class="d-flex flex-column align-items-center">
          <!-- add comment -->
          <div class="py-3 w-100">
            <textarea class="form-control border-0 p-0 bg-transparent" rows="2" placeholder="add a comment..."></textarea>
          </div>
          <!-- add comment end -->
        </div>
      </div>
    </div>
    <!-- post article - end -->
  </div>
  <div class="col-lg-6 col-xl-3 order-lg-2 order-xl-3">
    <!-- add : -->
    <div class="card mb-2">
      <div class="card-body">
          <div class="d-flex flex-row align-items-center">
            <div class='icon-stack display-3 flex-shrink-0'>
              <i class="<%= Rails.configuration.icon_prefix %> fa-circle icon-stack-3x opacity-100 color-primary-400"></i>
              <i class="fas fa-key icon-stack-1x opacity-100 color-primary-500"></i>
            </div>
            <div class="ml-3">
            <strong>
              <%= t('views.shared.change_password') %>
            </strong>
          </div>
          </div>
        <br>
          <div>
            <%= simple_form_for @user, url: admin_profile_path(@user),  html: { class: "mt-3", id: 'form_user' , multipart: true, novalidate: true} , method: :patch do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%=f.input :email, input_html: { readonly: true }  %>

                <%= f.input :password,
                            hint: "leave it blank if you don't want to change it",
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :current_password,
                            hint: "we need your current password to confirm your changes",
                            required: true,
                            input_html: { autocomplete: "current-password" } %>
              </div>
              <div class="row">
                <div class="col-md-12 bg-light text-right">
                  <%= f.submit 'data', class: 'btn btn-success hide-element', id: 'btnPersonalInformation'%>
                </div>
              </div>
            <% end %>


          </div>
        <button id="updatePassword" onclick="updatePasswordButton()" class="btn btn-success btn-sm ml-2"> <%= t('views.shared.buttons.update')%></button>
      </div>
    </div>
  </div>

</div>

<% content_for :scripts_block do %>
  <script>
      function updatePasswordButton(){
          document.forms['form_user'].submit();
      }
  </script>
<% end %>
