<div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
	<div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
		<span class="mr-2">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar.service_url, class: 'rounded-circle profile-image', alt: 'Avatar' %>
      <% else %>
        <%= image_tag Rails.configuration.default, class: 'rounded-circle profile-image', alt: 'Dr. Codex Lantern' %>
      <% end %>
		</span>
		<div class="info-card-text">
			<div class="fs-lg text-truncate text-truncate-lg"><%#= current_user.employee.name %></div>
			<span class="text-truncate text-truncate-md opacity-80"><%= current_user.email %></span>
		</div>
	</div>
</div>
<div class="dropdown-divider m-0"></div>
<%= link_to edit_customer_profile_path(current_user.id), class: 'dropdown-item fw-500 pt-3 pb-3' do %>
  <span data-i18n="dropdwn.settings"><%= t('views.header.profile')  %></span>
<% end %>

<!--<a href="#" class="dropdown-item" data-action="app-reset">
	<span data-i18n="drpdwn.reset_layout"><%#= t('views.header.reset_layout') %></span>
</a>
<a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
	<span data-i18n="drpdwn.settings"><%#= t('views.header.settings') %></span>
</a>-->
<div class="dropdown-divider m-0"></div>

<!--<a href="#" class="dropdown-item" data-action="app-fullscreen">
	<span data-i18n="drpdwn.fullscreen"><%#= t('views.header.fullscreen') %></span>
	<i class="float-right text-muted fw-n">F11</i>
</a>
<a href="#" class="dropdown-item" data-action="app-print">
	<span data-i18n="drpdwn.print"><%#= t('views.header.print') %></span>
	<i class="float-right text-muted fw-n">Ctrl + P</i>
</a>-->
<!--<div class="dropdown-multilevel dropdown-multilevel-left">
	<div class="dropdown-item">
    <%#= t('views.header.language') %>
	</div>
	<div class="dropdown-menu">
		<a href="#?lang=fr" class="dropdown-item" data-action="lang" data-lang="fr">Français</a>
		<a href="#?lang=en" class="dropdown-item active" data-action="lang" data-lang="en">English (US)</a>
		<a href="#?lang=es" class="dropdown-item" data-action="lang" data-lang="es">Español</a>
		<a href="#?lang=ru" class="dropdown-item" data-action="lang" data-lang="ru">Русский язык</a>
		<a href="#?lang=jp" class="dropdown-item" data-action="lang" data-lang="jp">日本語</a>
		<a href="#?lang=ch" class="dropdown-item" data-action="lang" data-lang="ch">中文</a>
	</div>
</div>-->
<div class="dropdown-divider m-0"></div>
<%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item fw-500 pt-3 pb-3' do %>
  <span data-i18n="drpdwn.page-logout"><%= t('views.shared.user_profile.signout') %></span>
	<span class="float-right fw-n">&commat;<%= current_user.username %></span>
<% end %>
