<% if Rails.configuration.app_sidebar %>
<!-- BEGIN Left Aside -->
<aside class="page-sidebar">

	<%= render 'shared/logo' %>

	<!-- BEGIN PRIMARY NAVIGATION -->
	<nav id="js-primary-nav" class="primary-nav" role="navigation">

		<%= render 'shared/nav_filter' %>
		<%= render 'shared/nav_info_card' %>	
		<%= render 'shared/customer/nav' %>
		<%= render 'shared/nav_filter_msg' %>
	</nav>
	<!-- END PRIMARY NAVIGATION -->

	<!-- NAV FOOTER -->
	<%= render 'shared/nav_footer' %>
	<!-- END NAV FOOTER -->

</aside>
<!-- END Left Aside -->
<% end %>
