:root {
    --fspot-text-muted: #A1A5B7;
    --fspot-gray-100: #F9F9F9;
    --fspot-gray-100-rgb: 249,249,249;
    --fspot-gray-200: #F4F4F4;
    --fspot-gray-200-rgb: 244,244,244;
    --fspot-gray-300: #E1E3EA;
    --fspot-gray-300-rgb: 225,227,234;
    --fspot-gray-400: #B5B5C3;
    --fspot-gray-400-rgb: 181,181,195;
    --fspot-gray-500: #A1A5B7;
    --fspot-gray-500-rgb: 161,165,183;
    --fspot-gray-600: #7E8299;
    --fspot-gray-600-rgb: 126,130,153;
    --fspot-gray-700: #5E6278;
    --fspot-gray-700-rgb: 94,98,120;
    --fspot-gray-800: #3F4254;
    --fspot-gray-800-rgb: 63,66,84;
    --fspot-gray-900: #181C32;
    --fspot-gray-900-rgb: 24,28,50;
    --fspot-light: #F9F9F9;
    --fspot-primary: #0095e8;
    --fspot-secondary: #E1E3EA;
    --fspot-success: #47BE7D;
    --fspot-info: #7239ea;
    --fspot-warning: #ffc700;
    --fspot-danger: #f1416c;
    --fspot-dark: #181C32;
    --fspot-primary-active: #009ef7;
    --fspot-secondary-active: #B5B5C3;
    --fspot-light-active: #F4F4F4;
    --fspot-success-active: #50cd89;
    --fspot-info-active: #5014d0;
    --fspot-warning-active: #f1bc00;
    --fspot-danger-active: #d9214e;
    --fspot-dark-active: #131628;
    --fspot-primary-light: #f1faff;
    --fspot-secondary-light: #F9F9F9;
    --fspot-success-light: #e8fff3;
    --fspot-info-light: #f8f5ff;
    --fspot-warning-light: #fff8dd;
    --fspot-danger-light: #fff5f8;
    --fspot-dark-light: #F4F4F4;
    --fspot-primary-inverse: #ffffff;
    --fspot-secondary-inverse: #5E6278;
    --fspot-light-inverse: #7E8299;
    --fspot-success-inverse: #ffffff;
    --fspot-info-inverse: #ffffff;
    --fspot-warning-inverse: #ffffff;
    --fspot-danger-inverse: #ffffff;
    --fspot-dark-inverse: #ffffff;
    --fspot-light-rgb: 249,249,249;
    --fspot-primary-rgb: 0,149,232;
    --fspot-secondary-rgb: 225,227,234;
    --fspot-success-rgb: 71,190,125;
    --fspot-info-rgb: 114,57,234;
    --fspot-warning-rgb: 255,199,0;
    --fspot-danger-rgb: 241,65,108;
    --fspot-dark-rgb: 24,28,50;
    --fspot-text-white: #ffffff;
    --fspot-text-primary: #0095e8;
    --fspot-text-secondary: #E1E3EA;
    --fspot-text-light: #F9F9F9;
    --fspot-text-success: #47BE7D;
    --fspot-text-info: #7239ea;
    --fspot-text-warning: #ffc700;
    --fspot-text-danger: #f1416c;
    --fspot-text-dark: #181C32;
    --fspot-text-muted: #A1A5B7;
    --fspot-text-gray-100: #F9F9F9;
    --fspot-text-gray-200: #F4F4F4;
    --fspot-text-gray-300: #E1E3EA;
    --fspot-text-gray-400: #B5B5C3;
    --fspot-text-gray-500: #A1A5B7;
    --fspot-text-gray-600: #7E8299;
    --fspot-text-gray-700: #5E6278;
    --fspot-text-gray-800: #3F4254;
    --fspot-text-gray-900: #181C32;
    --fspot-border-color: #F4F4F4;
    --fspot-bullet-bg-color: #474761;
}

.body-changelog {
    font-size: 13px!important;
    font-weight: 400;
    font-family: Inter,Helvetica,sans-serif;
}
.letter-spacing {
    letter-spacing: -.02em
}

.fw-semibold {
    font-weight: 500!important
}

.fw-bold {
    font-weight: 600!important
}

.text-gray-600 {
    color: var(--fspot-text-gray-600)!important
}

.text-gray-700 {
    color: var(--fspot-text-gray-700)!important
}

.text-gray-800 {
    color: var(--fspot-text-gray-800)!important
}

.text-gray-900 {
    color: var(--fspot-text-gray-900)!important
}

.changelog-label {
    color: var(--fspot-danger);
    margin-right: 0.3rem;
}

/******************** Fontsize::Begin ********************/
.fs-1 {
    font-size: calc(1.3rem + .6vw)!important
}

.fs-2 {
    font-size: calc(1.275rem + .3vw)!important
}

.fs-3 {
    font-size: calc(1.26rem + .12vw)!important
}

.fs-4 {
    font-size: 1.25rem!important
}

.fs-5 {
    font-size: 1.15rem!important
}

.fs-6 {
    font-size: 1.075rem!important
}

.fs-7 {
    font-size: .95rem!important
}

.fs-8 {
    font-size: .85rem!important
}

.fs-9 {
    font-size: .75rem!important
}

.fs-10 {
    font-size: .5rem!important
}

.fs-sm {
    font-size: .95rem!important
}

.fs-base {
    font-size: 1rem!important
}

.fs-lg {
    font-size: 1.075rem!important
}

.fs-fluid {
    font-size: 100%!important
}

.fs-2x {
    font-size: calc(1.325rem + .9vw)!important
}

.fs-2qx {
    font-size: calc(1.35rem + 1.2vw)!important
}

.fs-2hx {
    font-size: calc(1.375rem + 1.5vw)!important
}

.fs-2tx {
    font-size: calc(1.4rem + 1.8vw)!important
}

.fs-3x {
    font-size: calc(1.425rem + 2.1vw)!important
}

.fs-3qx {
    font-size: calc(1.45rem + 2.4vw)!important
}

.fs-3hx {
    font-size: calc(1.475rem + 2.7vw)!important
}

.fs-3tx {
    font-size: calc(1.5rem + 3vw)!important
}

.fs-4x {
    font-size: calc(1.525rem + 3.3vw)!important
}

.fs-4qx {
    font-size: calc(1.55rem + 3.6vw)!important
}

.fs-4hx {
    font-size: calc(1.575rem + 3.9vw)!important
}

.fs-4tx {
    font-size: calc(1.6rem + 4.2vw)!important
}

.fs-5x {
    font-size: calc(1.625rem + 4.5vw)!important
}

.fs-5qx {
    font-size: calc(1.65rem + 4.8vw)!important
}

.fs-5hx {
    font-size: calc(1.675rem + 5.1vw)!important
}

.fs-5tx {
    font-size: calc(1.7rem + 5.4vw)!important
}

.fs-6x {
    font-size: calc(1.725rem + 5.7vw)!important
}

.fs-6qx {
    font-size: calc(1.75rem + 6vw)!important
}

.fs-6hx {
    font-size: calc(1.775rem + 6.3vw)!important
}

.fs-6tx {
    font-size: calc(1.8rem + 6.6vw)!important
}

.fs-7x {
    font-size: calc(1.825rem + 6.9vw)!important
}

.fs-7qx {
    font-size: calc(1.85rem + 7.2vw)!important
}

.fs-7hx {
    font-size: calc(1.875rem + 7.5vw)!important
}

.fs-7tx {
    font-size: calc(1.9rem + 7.8vw)!important
}
/******************** Fontsize::End ********************/

/******************** Breakpoints::Begin ********************/
@media (min-width: 992px) {
    .mb-lg-10 {
        margin-bottom: 2.5rem!important;
    }
}
/******************** Breakpoints::End ********************/

.bullet {
    display: inline-block;
    background-color: var(--fspot-bullet-bg-color);
    border-radius: 6px;
    width: 8px;
    height: 4px;
    flex-shrink: 0
}

.bullet-dot {
    width: 4px;
    height: 4px;
    border-radius: 100%!important
}

.bullet-vertical {
    width: 4px;
    height: 8px
}

.bullet-line {
    width: 5px;
    height: 1px;
    border-radius: 0
}

.w-1px {
    width: 1px!important
}

.w-2px {
    width: 2px!important
}

.w-3px {
    width: 3px!important
}

.w-4px {
    width: 4px!important
}

.w-5px {
    width: 5px!important
}

.w-6px {
    width: 6px!important
}

.w-7px {
    width: 7px!important
}

.w-8px {
    width: 8px!important
}

.w-9px {
    width: 9px!important
}

.w-10px {
    width: 10px!important
}

.w-15px {
    width: 15px!important
}

.w-20px {
    width: 20px!important
}

.w-25px {
    width: 25px!important
}

.w-30px {
    width: 30px!important
}

.w-35px {
    width: 35px!important
}

.w-40px {
    width: 40px!important
}

.w-45px {
    width: 45px!important
}

.w-50px {
    width: 50px!important
}

.w-55px {
    width: 55px!important
}

.w-60px {
    width: 60px!important
}

.w-65px {
    width: 65px!important
}

.w-70px {
    width: 70px!important
}

.w-75px {
    width: 75px!important
}

.w-80px {
    width: 80px!important
}

.w-85px {
    width: 85px!important
}

.w-90px {
    width: 90px!important
}

.w-95px {
    width: 95px!important
}

.w-100px {
    width: 100px!important
}

.w-125px {
    width: 125px!important
}

.w-150px {
    width: 150px!important
}

.w-175px {
    width: 175px!important
}

.w-200px {
    width: 200px!important
}

.w-225px {
    width: 225px!important
}

.w-250px {
    width: 250px!important
}

.w-275px {
    width: 275px!important
}

.w-300px {
    width: 300px!important
}

.w-325px {
    width: 325px!important
}

.w-350px {
    width: 350px!important
}

.w-375px {
    width: 375px!important
}

.w-400px {
    width: 400px!important
}

.w-425px {
    width: 425px!important
}

.w-450px {
    width: 450px!important
}

.w-475px {
    width: 475px!important
}

.w-500px {
    width: 500px!important
}

.w-550px {
    width: 550px!important
}

.w-600px {
    width: 600px!important
}

.w-650px {
    width: 650px!important
}

.w-700px {
    width: 700px!important
}

.w-750px {
    width: 750px!important
}

.w-800px {
    width: 800px!important
}

.w-850px {
    width: 850px!important
}

.w-900px {
    width: 900px!important
}

.w-950px {
    width: 950px!important
}

.w-1000px {
    width: 1000px!important
}

.h-auto {
    height: auto!important
}

.h-1px {
    height: 1px!important
}

.h-2px {
    height: 2px!important
}

.h-3px {
    height: 3px!important
}

.h-4px {
    height: 4px!important
}

.h-5px {
    height: 5px!important
}

.h-6px {
    height: 6px!important
}

.h-7px {
    height: 7px!important
}

.h-8px {
    height: 8px!important
}

.h-9px {
    height: 9px!important
}

.h-10px {
    height: 10px!important
}

.h-15px {
    height: 15px!important
}

.h-20px {
    height: 20px!important
}

.h-25px {
    height: 25px!important
}

.h-30px {
    height: 30px!important
}

.h-35px {
    height: 35px!important
}

.h-40px {
    height: 40px!important
}

.h-45px {
    height: 45px!important
}

.h-50px {
    height: 50px!important
}

.h-55px {
    height: 55px!important
}

.h-60px {
    height: 60px!important
}

.h-65px {
    height: 65px!important
}

.h-70px {
    height: 70px!important
}

.h-75px {
    height: 75px!important
}

.h-80px {
    height: 80px!important
}

.h-85px {
    height: 85px!important
}

.h-90px {
    height: 90px!important
}

.h-95px {
    height: 95px!important
}

.h-100px {
    height: 100px!important
}

.h-125px {
    height: 125px!important
}

.h-150px {
    height: 150px!important
}

.h-175px {
    height: 175px!important
}

.h-200px {
    height: 200px!important
}

.h-225px {
    height: 225px!important
}

.h-250px {
    height: 250px!important
}

.h-275px {
    height: 275px!important
}

.h-300px {
    height: 300px!important
}

.h-325px {
    height: 325px!important
}

.h-350px {
    height: 350px!important
}

.h-375px {
    height: 375px!important
}

.h-400px {
    height: 400px!important
}

.h-425px {
    height: 425px!important
}

.h-450px {
    height: 450px!important
}

.h-475px {
    height: 475px!important
}

.h-500px {
    height: 500px!important
}

.h-550px {
    height: 550px!important
}

.h-600px {
    height: 600px!important
}

.h-650px {
    height: 650px!important
}

.h-700px {
    height: 700px!important
}

.h-750px {
    height: 750px!important
}

.h-800px {
    height: 800px!important
}

.h-850px {
    height: 850px!important
}

.h-900px {
    height: 900px!important
}

.h-950px {
    height: 950px!important
}

.h-1000px {
    height: 1000px!important
}

.me-0 {
    margin-right: 0!important
}

.me-1 {
    margin-right: .25rem!important
}

.me-2 {
    margin-right: .5rem!important
}

.me-3 {
    margin-right: .75rem!important
}

.me-4 {
    margin-right: 1rem!important
}

.me-5 {
    margin-right: 1.25rem!important
}

.me-6 {
    margin-right: 1.5rem!important
}

.me-7 {
    margin-right: 1.75rem!important
}

.me-8 {
    margin-right: 2rem!important
}

.me-9 {
    margin-right: 2.25rem!important
}

.me-10 {
    margin-right: 2.5rem!important
}

.me-11 {
    margin-right: 2.75rem!important
}

.me-12 {
    margin-right: 3rem!important
}

.me-13 {
    margin-right: 3.25rem!important
}

.me-14 {
    margin-right: 3.5rem!important
}

.me-15 {
    margin-right: 3.75rem!important
}

.me-16 {
    margin-right: 4rem!important
}

.me-17 {
    margin-right: 4.25rem!important
}

.me-18 {
    margin-right: 4.5rem!important
}

.me-19 {
    margin-right: 4.75rem!important
}

.me-20 {
    margin-right: 5rem!important
}

.me-auto {
    margin-right: auto!important
}

.badge-incoming {
    color: #fff;
    background-color: #009688;
}

.badge-enhanced {
    color: #fff;
    background-color: #82b1ff;
}

.badge-fixed {
    color: #fff;
    background-color: #d32f2f;
}

.badge-updated {
    color: #fff;
    background-color: #fbc02d;
}