.nav-pills .nav-link {
    border-radius: 0.42rem; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #3699FF; }

.nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    padding: 0.75rem 1.5rem;
    color: #7E8299; }
.nav .nav-link .nav-text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 1rem;
    color: #7E8299;
    font-weight: 400;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav .nav-link .nav-icon {
    line-height: 0;
    color: #7E8299;
    width: 2rem; }
.nav .nav-link .nav-icon:before {
    line-height: 0; }
.nav .nav-link .nav-icon i {
    color: #B5B5C3;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    font-size: 1.25rem; }
.nav .nav-link .nav-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #B5B5C3; }
.nav .nav-link .nav-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease; }
.nav .nav-link .label {
    margin-left: 0.25rem; }
.nav .nav-link.disabled {
    opacity: 0.6; }

.nav .show > .nav-link,
.nav .nav-link:hover:not(.disabled),
.nav .nav-link.active {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    color: #3699FF; }
.nav .show > .nav-link .nav-text,
.nav .nav-link:hover:not(.disabled) .nav-text,
.nav .nav-link.active .nav-text {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    color: #3699FF; }
.nav .show > .nav-link .nav-icon i,
.nav .nav-link:hover:not(.disabled) .nav-icon i,
.nav .nav-link.active .nav-icon i {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    color: #3699FF; }
.nav .show > .nav-link .nav-icon .svg-icon svg g [fill],
.nav .nav-link:hover:not(.disabled) .nav-icon .svg-icon svg g [fill],
.nav .nav-link.active .nav-icon .svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #3699FF; }
.nav .show > .nav-link .nav-icon .svg-icon svg:hover g [fill],
.nav .nav-link:hover:not(.disabled) .nav-icon .svg-icon svg:hover g [fill],
.nav .nav-link.active .nav-icon .svg-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease; }
.nav .show > .nav-link:after,
.nav .nav-link:hover:not(.disabled):after,
.nav .nav-link.active:after {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    color: #3699FF; }

.nav.nav-bold .nav-item .nav-link {
    font-weight: 500; }
.nav.nav-bold .nav-item .nav-link .nav-text {
    font-weight: 500; }

.nav.nav-bolder .nav-item .nav-link {
    font-weight: 600; }
.nav.nav-bolder .nav-item .nav-link .nav-text {
    font-weight: 600; }

.nav.nav-boldest .nav-item .nav-link {
    font-weight: 700; }
.nav.nav-boldest .nav-item .nav-link .nav-text {
    font-weight: 700; }

.nav.nav-tabs-metronic .nav-item {
    margin-right: 0.25rem; }
.nav.nav-tabs-metronic .nav-item:last-child {
    margin-right: 0; }

.nav.nav-tabs-metronic .nav-link .nav-text {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0; }

.nav.nav-tabs-metronic.nav-tabs-line .nav-item {
    margin: 0 0 -1px 0; }

.nav.nav-tabs-metronic.nav-tabs-line .nav-link {
    border: 0;
    border-bottom: 1px solid transparent;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    padding: 0.85rem 0;
    margin: 0 1rem; }
.nav-item:first-child .nav.nav-tabs-metronic.nav-tabs-line .nav-link {
    margin-left: 0; }
.nav-item:last-child .nav.nav-tabs-metronic.nav-tabs-line .nav-link {
    margin-right: 0; }

.nav.nav-tabs-metronic.nav-tabs-line .nav-item:first-child .nav-link {
    margin-left: 0; }

.nav.nav-tabs-metronic.nav-tabs-line .nav-item:last-child .nav-link {
    margin-right: 0; }

.nav.nav-tabs-metronic.nav-tabs-line .nav-link:hover:not(.disabled),
.nav.nav-tabs-metronic.nav-tabs-line .nav-link.active,
.nav.nav-tabs-metronic.nav-tabs-line .show > .nav-link {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #3699FF;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }

.nav.nav-tabs-metronic.nav-tabs-line.nav-tabs-line-2x {
    border-bottom-width: 2px; }
.nav.nav-tabs-metronic.nav-tabs-line.nav-tabs-line-2x .nav-item {
    margin-bottom: -2px; }
.nav.nav-tabs-metronic.nav-tabs-line.nav-tabs-line-2x .nav-link {
    border-bottom: 2px solid transparent; }
.nav.nav-tabs-metronic.nav-tabs-line.nav-tabs-line-2x .nav-link:hover:not(.disabled),
.nav.nav-tabs-metronic.nav-tabs-line.nav-tabs-line-2x .nav-link.active,
.nav.nav-tabs-metronic.nav-tabs-line.nav-tabs-line-2x .show > .nav-link {
    border-bottom: 2px solid #3699FF; }


.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs-metronic .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav-tabs-metronic .nav-link:hover, .nav-tabs-metronic .nav-link:focus {
    border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.07) transparent;
}

.nav-tabs-metronic .nav-link.disabled {
    color: #868e96;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs-metronic .nav-link.active,
.nav-tabs-metronic .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #fff;
}

.nav-tabs-metronic .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav.nav-pills.nav-fill .nav-item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.nav.nav-pills.nav-fill .nav-link {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
.nav.nav-pills.nav-fill .nav-link .nav-text {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0; }
.nav.nav-pills.nav-fill .nav-link .nav-icon {
    margin-right: 0.25rem; }

.nav.nav-pills .nav-item {
    margin-right: 0.25rem; }

.nav.nav-pills .nav-link {
    color: #B5B5C3;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav.nav-pills .nav-link .nav-text {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav.nav-pills .nav-link .nav-icon i {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav.nav-pills .nav-link:after {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }

.nav.nav-pills .show > .nav-link,
.nav.nav-pills .nav-link.active {
    color: #ffffff;
    background-color: #3699FF;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav.nav-pills .show > .nav-link .nav-text,
.nav.nav-pills .nav-link.active .nav-text {
    color: #ffffff;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav.nav-pills .show > .nav-link .nav-icon i,
.nav.nav-pills .nav-link.active .nav-icon i {
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav.nav-pills .show > .nav-link .nav-icon .svg-icon svg g [fill],
.nav.nav-pills .nav-link.active .nav-icon .svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: rgba(255, 255, 255, 0.8); }
.nav.nav-pills .show > .nav-link .nav-icon .svg-icon svg:hover g [fill],
.nav.nav-pills .nav-link.active .nav-icon .svg-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease; }
.nav.nav-pills .show > .nav-link:after,
.nav.nav-pills .nav-link.active:after {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    color: rgba(255, 255, 255, 0.8); }

.nav.nav-pills.nav-primary .show > .nav-link,
.nav.nav-pills.nav-primary .nav-link:hover:not(.active) {
    color: #0082CB !important;
    background-color: transparent; }
.nav.nav-pills.nav-primary .show > .nav-link .nav-text,
.nav.nav-pills.nav-primary .nav-link:hover:not(.active) .nav-text {
    color: #0082CB !important; }
.nav.nav-pills.nav-primary .show > .nav-link .nav-icon i,
.nav.nav-pills.nav-primary .nav-link:hover:not(.active) .nav-icon i {
    color: #0082CB !important; }
.nav.nav-pills.nav-primary .show > .nav-link .nav-icon .svg-icon svg g [fill],
.nav.nav-pills.nav-primary .nav-link:hover:not(.active) .nav-icon .svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #0082CB !important; }
.nav.nav-pills.nav-primary .show > .nav-link .nav-icon .svg-icon svg:hover g [fill],
.nav.nav-pills.nav-primary .nav-link:hover:not(.active) .nav-icon .svg-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease; }
.nav.nav-pills.nav-primary .show > .nav-link:after,
.nav.nav-pills.nav-primary .nav-link:hover:not(.active):after {
    color: #0082CB !important; }

.nav.nav-pills.nav-primary .nav-link.active {
    color: #FFFFFF;
    background-color: #0082CB !important; }
.nav.nav-pills.nav-primary .nav-link.active .nav-text {
    color: #FFFFFF; }
.nav.nav-pills.nav-primary .nav-link.active .nav-icon i {
    color: #FFFFFF; }
.nav.nav-pills.nav-primary .nav-link.active .nav-icon .svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #FFFFFF !important; }
.nav.nav-pills.nav-primary .nav-link.active .nav-icon .svg-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease; }
.nav.nav-pills.nav-primary .nav-link.active:after {
    color: #FFFFFF; }















/**** changelog ****/
.nav-pills .nav-link-changelog {
    border-radius: 0.42rem; }

.nav-pills .nav-link-changelog.active,
.nav-pills .show > .nav-link-changelog {
    color: #3f4254;
    background-color: #f9f9f9; }

.nav .nav-link-changelog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    padding: 0.75rem 1.5rem;
    color: #7E8299; }
.nav .nav-link-changelog .nav-text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 1rem;
    color: #7E8299;
    font-weight: 400;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav .nav-link-changelog .nav-icon {
    line-height: 0;
    color: #7E8299;
    width: 2rem; }
.nav .nav-link-changelog .nav-icon:before {
    line-height: 0; }
.nav .nav-link-changelog .nav-icon i {
    color: #B5B5C3;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    font-size: 1.25rem; }
.nav .nav-link-changelog .nav-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #B5B5C3; }
.nav .nav-link-changelog .nav-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease; }
.nav .nav-link-changelog .label {
    margin-left: 0.25rem; }
.nav .nav-link-changelog.disabled {
    opacity: 0.6; }

.nav .show > .nav-link-changelog,
.nav .nav-link-changelog:hover:not(.disabled),
.nav .nav-link-changelog.active {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    color: #3699FF; }
.nav .show > .nav-link-changelog .nav-text,
.nav .nav-link-changelog:hover:not(.disabled) .nav-text,
.nav .nav-link-changelog.active .nav-text {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    color: #3699FF; }
.nav .show > .nav-link-changelog .nav-icon i,
.nav .nav-link-changelog:hover:not(.disabled) .nav-icon i,
.nav .nav-link-changelog.active .nav-icon i {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    color: #3699FF; }
.nav .show > .nav-link-changelog .nav-icon .svg-icon svg g [fill],
.nav .nav-link-changelog:hover:not(.disabled) .nav-icon .svg-icon svg g [fill],
.nav .nav-link-changelog.active .nav-icon .svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #3699FF; }
.nav .show > .nav-link-changelog .nav-icon .svg-icon svg:hover g [fill],
.nav .nav-link-changelog:hover:not(.disabled) .nav-icon .svg-icon svg:hover g [fill],
.nav .nav-link-changelog.active .nav-icon .svg-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease; }
.nav .show > .nav-link-changelog:after,
.nav .nav-link-changelog:hover:not(.disabled):after,
.nav .nav-link-changelog.active:after {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    color: #3699FF; }

.nav.nav-bold .nav-item .nav-link-changelog {
    font-weight: 500; }
.nav.nav-bold .nav-item .nav-link-changelog .nav-text {
    font-weight: 500; }

.nav.nav-bolder .nav-item .nav-link-changelog {
    font-weight: 600; }
.nav.nav-bolder .nav-item .nav-link-changelog .nav-text {
    font-weight: 600; }

.nav.nav-boldest .nav-item .nav-link-changelog {
    font-weight: 700; }
.nav.nav-boldest .nav-item .nav-link-changelog .nav-text {
    font-weight: 700; }

.nav.nav-tabs-metronic .nav-item {
    margin-right: 0.25rem; }
.nav.nav-tabs-metronic .nav-item:last-child {
    margin-right: 0; }

.nav.nav-tabs-metronic .nav-link-changelog .nav-text {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0; }

.nav.nav-tabs-metronic.nav-tabs-line .nav-item {
    margin: 0 0 -1px 0; }

.nav.nav-tabs-metronic.nav-tabs-line .nav-link-changelog {
    border: 0;
    border-bottom: 1px solid transparent;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    padding: 0.85rem 0;
    margin: 0 1rem; }
.nav-item:first-child .nav.nav-tabs-metronic.nav-tabs-line .nav-link-changelog {
    margin-left: 0; }
.nav-item:last-child .nav.nav-tabs-metronic.nav-tabs-line .nav-link-changelog {
    margin-right: 0; }

.nav.nav-tabs-metronic.nav-tabs-line .nav-item:first-child .nav-link-changelog {
    margin-left: 0; }

.nav.nav-tabs-metronic.nav-tabs-line .nav-item:last-child .nav-link-changelog {
    margin-right: 0; }

.nav.nav-tabs-metronic.nav-tabs-line .nav-link-changelog:hover:not(.disabled),
.nav.nav-tabs-metronic.nav-tabs-line .nav-link-changelog.active,
.nav.nav-tabs-metronic.nav-tabs-line .show > .nav-link-changelog {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #3699FF;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }

.nav.nav-tabs-metronic.nav-tabs-line.nav-tabs-line-2x {
    border-bottom-width: 2px; }
.nav.nav-tabs-metronic.nav-tabs-line.nav-tabs-line-2x .nav-item {
    margin-bottom: -2px; }
.nav.nav-tabs-metronic.nav-tabs-line.nav-tabs-line-2x .nav-link-changelog {
    border-bottom: 2px solid transparent; }
.nav.nav-tabs-metronic.nav-tabs-line.nav-tabs-line-2x .nav-link-changelog:hover:not(.disabled),
.nav.nav-tabs-metronic.nav-tabs-line.nav-tabs-line-2x .nav-link-changelog.active,
.nav.nav-tabs-metronic.nav-tabs-line.nav-tabs-line-2x .show > .nav-link-changelog {
    border-bottom: 2px solid #3699FF; }


.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs-metronic .nav-link-changelog {
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav-tabs-metronic .nav-link-changelog:hover, .nav-tabs-metronic .nav-link-changelog:focus {
    border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.07) transparent;
}

.nav-tabs-metronic .nav-link-changelog.disabled {
    color: #868e96;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs-metronic .nav-link-changelog.active,
.nav-tabs-metronic .nav-item.show .nav-link-changelog {
    color: #495057;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #fff;
}

.nav-tabs-metronic .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav.nav-pills.nav-fill .nav-item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.nav.nav-pills.nav-fill .nav-link-changelog {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
.nav.nav-pills.nav-fill .nav-link-changelog .nav-text {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0; }
.nav.nav-pills.nav-fill .nav-link-changelog .nav-icon {
    margin-right: 0.25rem; }

.nav.nav-pills .nav-item {
    margin-right: 0.25rem; }

.nav.nav-pills .nav-link-changelog {
    color: #B5B5C3;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav.nav-pills .nav-link-changelog .nav-text {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav.nav-pills .nav-link-changelog .nav-icon i {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav.nav-pills .nav-link-changelog:after {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }

.nav.nav-pills .show > .nav-link-changelog,
.nav.nav-pills .nav-link-changelog.active {
    color: #3f4254;
    background-color: #f9f9f9;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav.nav-pills .show > .nav-link-changelog .nav-text,
.nav.nav-pills .nav-link-changelog.active .nav-text {
    color: #ffffff;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav.nav-pills .show > .nav-link-changelog .nav-icon i,
.nav.nav-pills .nav-link-changelog.active .nav-icon i {
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }
.nav.nav-pills .show > .nav-link-changelog .nav-icon .svg-icon svg g [fill],
.nav.nav-pills .nav-link-changelog.active .nav-icon .svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: rgba(255, 255, 255, 0.8); }
.nav.nav-pills .show > .nav-link-changelog .nav-icon .svg-icon svg:hover g [fill],
.nav.nav-pills .nav-link-changelog.active .nav-icon .svg-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease; }
.nav.nav-pills .show > .nav-link-changelog:after,
.nav.nav-pills .nav-link-changelog.active:after {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    color: rgba(255, 255, 255, 0.8); }

.nav.nav-pills.nav-primary .show > .nav-link-changelog,
.nav.nav-pills.nav-primary .nav-link-changelog:hover:not(.active) {
    color: #0082CB !important;
    background-color: transparent; }
.nav.nav-pills.nav-primary .show > .nav-link-changelog .nav-text,
.nav.nav-pills.nav-primary .nav-link-changelog:hover:not(.active) .nav-text {
    color: #0082CB !important; }
.nav.nav-pills.nav-primary .show > .nav-link-changelog .nav-icon i,
.nav.nav-pills.nav-primary .nav-link-changelog:hover:not(.active) .nav-icon i {
    color: #0082CB !important; }
.nav.nav-pills.nav-primary .show > .nav-link-changelog .nav-icon .svg-icon svg g [fill],
.nav.nav-pills.nav-primary .nav-link-changelog:hover:not(.active) .nav-icon .svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #0082CB !important; }
.nav.nav-pills.nav-primary .show > .nav-link-changelog .nav-icon .svg-icon svg:hover g [fill],
.nav.nav-pills.nav-primary .nav-link-changelog:hover:not(.active) .nav-icon .svg-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease; }
.nav.nav-pills.nav-primary .show > .nav-link-changelog:after,
.nav.nav-pills.nav-primary .nav-link-changelog:hover:not(.active):after {
    color: #0082CB !important; }

.nav.nav-pills.nav-primary .nav-link-changelog.active {
    color: #FFFFFF;
    background-color: #0082CB !important; }
.nav.nav-pills.nav-primary .nav-link-changelog.active .nav-text {
    color: #FFFFFF; }
.nav.nav-pills.nav-primary .nav-link-changelog.active .nav-icon i {
    color: #FFFFFF; }
.nav.nav-pills.nav-primary .nav-link-changelog.active .nav-icon .svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #FFFFFF !important; }
.nav.nav-pills.nav-primary .nav-link-changelog.active .nav-icon .svg-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease; }
.nav.nav-pills.nav-primary .nav-link-changelog.active:after {
    color: #FFFFFF; }
/**** changelog ****/