/* common */
.ribbon-fs {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.ribbon-fs::before,
.ribbon-fs::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #0082cb;
}
.ribbon-fs span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #005cb9;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-align: center;
}

/* top left*/
.ribbon-fs-top-left {
    top: -10px;
    left: -10px;
}
.ribbon-fs-top-left::before,
.ribbon-fs-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-fs-top-left::before {
    top: 0;
    right: 0;
}
.ribbon-fs-top-left::after {
    bottom: 0;
    left: 0;
}
.ribbon-fs-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

/* top right*/
.ribbon-fs-top-right {
    top: -10px;
    right: -10px;
}
.ribbon-fs-top-right::before,
.ribbon-fs-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon-fs-top-right::before {
    top: 0;
    left: 0;
}
.ribbon-fs-top-right::after {
    bottom: 0;
    right: 0;
}
.ribbon-fs-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}

/* bottom left*/
.ribbon-fs-bottom-left {
    bottom: -10px;
    left: -10px;
}
.ribbon-fs-bottom-left::before,
.ribbon-fs-bottom-left::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.ribbon-fs-bottom-left::before {
    bottom: 0;
    right: 0;
}
.ribbon-fs-bottom-left::after {
    top: 0;
    left: 0;
}
.ribbon-fs-bottom-left span {
    right: -25px;
    bottom: 30px;
    transform: rotate(225deg);
}

/* bottom right*/
.ribbon-fs-bottom-right {
    bottom: -10px;
    right: -10px;
}
.ribbon-fs-bottom-right::before,
.ribbon-fs-bottom-right::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.ribbon-fs-bottom-right::before {
    bottom: 0;
    left: 0;
}
.ribbon-fs-bottom-right::after {
    top: 0;
    right: 0;
}
.ribbon-fs-bottom-right span {
    left: -25px;
    bottom: 30px;
    transform: rotate(-225deg);
}