<div id="panel-5" class="panel" data-panel-fullscreen="false">
  <div class="panel-hdr">
    <h2><%= t("views.dashboard.customer.my_statistics.count_by_status") %></h2>
  </div>
  <div class="panel-container show">
    <div class="panel-content poisition-relative">
      <div id="chartStatus"></div>
    </div>
  </div>
</div>


