<div id="panel-3" class="panel" data-panel-fullscreen="false">
  <div class="panel-hdr">
    <h2><%= t('views.dashboard.customer.my_statistics.count_by_month') %></h2>
  </div>
  <div class="panel-container show">
    <div class="panel-content poisition-relative">
      <div id="chartMonth"></div>
    </div>
  </div>
</div>