<div id="panel-4" class="panel" data-panel-fullscreen="false">
  <div class="panel-hdr">
    <h2><%= t("views.dashboard.customer.my_statistics.count_by_year") %></h2>
  </div>
  <div class="panel-container show">
    <div class="panel-content poisition-relative">
      <div id="chartYear"></div>
    </div>
  </div>
</div>


