<div id="panel-6" class="panel">
  <div class="panel-hdr">
    <h2><%= t('views.dashboard.customer.my_bookings.text') %></h2>
  </div>
  <div class="panel-container show">
    <div class="panel-content">
      <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
        <thead>
          <tr>
            <th><%= t('views.dashboard.customer.my_bookings.id') %></th>
            <th><%= t('views.dashboard.customer.my_bookings.route') %></th>
            <th><%= t('views.dashboard.customer.my_bookings.shipment_type') %></th>
            <th><%= t('views.dashboard.customer.my_bookings.created_at') %></th>
          </tr>
        </thead>
        <tbody>
          <% unless @bookings.blank? %>
            <% @bookings.each do |booking| %>
              <tr>
                <td><%= booking.maritime_quote.number %></td>
                <td><%= "#{booking.maritime_quote.maritime_rate.origin.name} - #{ booking.maritime_quote.maritime_rate.destination.name}" %></td>
                <td><%= booking.maritime_quote.freight_type.code %></td>
                <td><%= booking.created_at.strftime("%d-%m-%Y") %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4" class="text-center"><%= t('views.dashboard.customer.my_bookings.not_found') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- datatable end -->
    </div>
  </div>
</div>
