<div id="panel-1" class="panel">
  <div class="panel-hdr">
    <h2><%= t('views.dashboard.customer.my_quotes.text') %></h2>
  </div>
  <div class="panel-container show">
    <div class="panel-content">

      <table id="" class="table table-bordered table-hover table-striped w-100">
        <thead style="background-color: #0360bb; color: white;">
          <tr>
            <th><%= t('views.dashboard.customer.my_quotes.id')%></th>
            <th><%= t('views.dashboard.customer.my_quotes.route')%></th>
            <th><%= t('views.dashboard.customer.my_quotes.shipment_type')%></th>
            <th><%= t('views.dashboard.customer.my_quotes.created_at')%></th>
          </tr>
        </thead>
        <tbody>
          <% unless @quotes.blank? %>
            <% @quotes.each do |quote| %>
              <%
                origin = Port.find(quote.origin_route_id)
                destination = Port.find(quote.destination_route_id)
              %>
              <tr>
                <td><%= link_to quote.number, customer_quote_path(quote.id) %></td>
                <td><%= "#{origin.identifier}, #{origin.name}" " - #{destination.identifier}, #{destination.name}" %></td>
                <td><%= quote.freight_type.code %></td>
                <td><%= quote.created_at.nil? ? '' : quote.created_at.strftime("%d-%m-%Y") %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4" class="text-center"><%= t('views.dashboard.customer.my_quotes.not_found') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- datatable end -->


    </div>
  </div>
</div>


