<%
  content_for(:title, 'Analytics Dashboard')
  content_for(:category_1, 'Application Intel')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-dice-d20'></i> Analytics <span class='fw-300'>Dashboard</span>
<% end %>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/miscellaneous/reactions/reactions', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/miscellaneous/fullcalendar/fullcalendar.bundle', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/miscellaneous/jqvmap/jqvmap.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
  <%= form_tag(customer_change_language_path, method: :post) do %>
    <%= select_tag(:locale, options_for_select([%w[English en], %w[Español es]], I18n.locale.to_s)) %>
    <%= submit_tag('Change Language') %>
  <% end %>
  <div class="col-lg-12">
    <%= render 'customer/dashboard/my_quotes' %>
  </div>
  <div class="col-xl-6">
    <%= render 'customer/dashboard/count_by_freight_type' %>
  </div>
  <div class="col-xl-6">
    <%= render 'customer/dashboard/count_by_month' %>
  </div>
  <div class="col-xl-6">
    <%= render 'customer/dashboard/count_by_year' %>
  </div>
  <div class="col-xl-6">
    <%= render 'customer/dashboard/count_by_status' %>
  </div>
  <div class="col-lg-12">
    <%= render 'customer/dashboard/my_bookings' %>
  </div>
</div>

<% content_for :scripts_block do %>
  <script type="text/javascript">
      /* Activate smart panels */
      $('#js-page-content').smartPanel();

      $.ajax({
          method: "GET",
          url: "/customer/statistics/count_by_freight_type",
          success: function (data) {
              const series = [];
              const labels = [];
              data.forEach(element => series.push(element.freight_type_count));
              data.forEach(element => labels.push(element.name));
              const options = {
                  chart: {
                      type: 'donut'
                  },
                  series: series,
                  labels: labels,
                  noData: {
                      text: "<%= t("views.dashboard.customer.my_statistics.no_data") %>",
                      align: 'center',
                      verticalAlign: 'middle',
                      offsetX: 0,
                      offsetY: 0
                  }
              };

              const chart = new ApexCharts(document.querySelector("#chart"), options);

              chart.render();
          },
          error: function (data) {
          }
      });

      $.ajax({
          method: "GET",
          url: "/customer/statistics/count_by_month",
          success: function (data) {
              const series = [];
              const categories = [];
              Object.entries(data).forEach(([key, value]) => {
                  series.push(value);
                  categories.push(key);
              });
              const name = "<%= t("activerecord.models.maritime_quote.other") %>";

              var options = {
                  series: [{
                      name: name,
                      data: series
                  }],
                  chart: {
                      type: 'bar',
                      zoom: {
                          enabled: false
                      }
                  },
                  noData: {
                      text: "<%= t("views.dashboard.customer.my_statistics.no_data") %>",
                      align: 'center',
                      verticalAlign: 'middle',
                      offsetX: 0,
                      offsetY: 0
                  },
                  plotOptions: {
                      bar: {
                          borderRadius: 10,
                          dataLabels: {
                              position: 'top'
                          }
                      }
                  },
                  dataLabels: {
                      enabled: true,
                      formatter: function (val) {
                          return val;
                      },
                      offsetY: -20,
                      style: {
                          fontSize: '12px',
                          colors: ["#304758"]
                      }
                  },
                  stroke: {
                      curve: 'straight'
                  },
                  grid: {
                      row: {
                          colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                          opacity: 0.5
                      },
                  },
                  xaxis: {
                      categories: categories,
                  }
              };

              const chart = new ApexCharts(document.querySelector("#chartMonth"), options);

              chart.render();
          },
          error: function (data) {
          }
      });

      $.ajax({
          method: "GET",
          url: "/customer/statistics/count_by_year",
          success: function (data) {
              const series = [];
              const categories = [];
              Object.entries(data).forEach(([key, value]) => {
                  series.push(value);
                  categories.push(key);
              });
              const name = "<%= t("activerecord.models.maritime_quote.other") %>";

              var options = {
                  series: [{
                      name: name,
                      data: series
                  }],
                  chart: {
                      height: 350,
                      type: 'line',
                      zoom: {
                          enabled: false
                      }
                  },
                  noData: {
                      text: "<%= t("views.dashboard.customer.my_statistics.no_data") %>",
                      align: 'center',
                      verticalAlign: 'middle',
                      offsetX: 0,
                      offsetY: 0
                  },
                  dataLabels: {
                      enabled: false
                  },
                  stroke: {
                      curve: 'straight'
                  },
                  grid: {
                      row: {
                          colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                          opacity: 0.5
                      },
                  },
                  xaxis: {
                      categories: categories
                  }
              };

              const chart = new ApexCharts(document.querySelector("#chartYear"), options);

              chart.render();
          },
          error: function (data) {
          }
      });

      $.ajax({
          method: "GET",
          url: "/customer/statistics/count_by_status",
          success: function (data) {
              console.log("Successfull")
              console.log(data);

              const series = [];
              const categories = [];
              Object.entries(data).forEach(([key, value]) => {
                  series.push(value);
                  categories.push(key);
              });
              const name = "<%= t("activerecord.models.maritime_quote.other") %>";
              console.log("Categorias")
              console.log(categories);

              var options = {
                  series: series,
                  labels: categories,
                  colors: ['#868e96', '#de4040', '#1dc9b7', '#ffc241', '#2196F3', '#fd3995'],
                  dataLabels: {
                      enabled: true,
                      enabledOnSeries: undefined,
                      formatter: function (val, opts) {
                          return val
                      },

                  },
                  chart: {
                      type: 'pie',
                  },
                  noData: {
                      text: "<%= t("views.dashboard.customer.my_statistics.no_data") %>",
                      align: 'center',
                      verticalAlign: 'middle',
                      offsetX: 0,
                      offsetY: 0
                  },
                  responsive: [{
                      breakpoint: 480,
                      options: {
                          chart: {
                              width: 200
                          },
                          legend: {
                              position: 'bottom'
                          }
                      }
                  }]
              };

              const chart = new ApexCharts(document.querySelector("#chartStatus"), options);

              chart.render();
          },
          error: function (data) {
          }
      });
  </script>

  <!-- The order of scripts is irrelevant. Please check out the plugin pages for more details about these plugins below: -->
  <%= javascript_include_tag 'smartadmin/dependency/moment/moment' %>
  <%= javascript_include_tag 'smartadmin/miscellaneous/fullcalendar/fullcalendar.bundle' %>
  <%= javascript_include_tag 'smartadmin/statistics/sparkline/sparkline.bundle' %>
  <%= javascript_include_tag 'smartadmin/statistics/easypiechart/easypiechart.bundle' %>
  <%= javascript_include_tag 'smartadmin/statistics/flot/flot.bundle' %>
  <%= javascript_include_tag 'smartadmin/miscellaneous/jqvmap/jqvmap.bundle' %>

<% end %>
