<%
  content_for(:title, 'Analytics Dashboard')
  content_for(:category_1, 'Application Intel')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-chart-area'></i> Analytics <span class='fw-300'>Dashboard</span>
<% end %>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/miscellaneous/reactions/reactions', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/miscellaneous/fullcalendar/fullcalendar.bundle', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/miscellaneous/jqvmap/jqvmap.bundle', media: 'screen, print' %>
<% end %>

<% content_for :subheader_block do %>
  <div class="subheader-block d-lg-flex align-items-center">
    <div class="d-inline-flex flex-column justify-content-center mr-3">
      <span class="fw-300 fs-xs d-block opacity-50">
        <small>EXPENSES</small>
      </span>
      <span class="fw-500 fs-xl d-block color-primary-500">
        $47,000
      </span>
    </div>
    <span class="sparklines hidden-lg-down" sparkType="bar" sparkBarColor="#886ab5" sparkHeight="32px" sparkBarWidth="5px" values="3,4,3,6,7,3,3,6,2,6,4"></span>
  </div>
  <div class="subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
    <div class="d-inline-flex flex-column justify-content-center mr-3">
      <span class="fw-300 fs-xs d-block opacity-50">
        <small>MY PROFITS</small>
      </span>
      <span class="fw-500 fs-xl d-block color-danger-500">
        $38,500
      </span>
    </div>
    <span class="sparklines hidden-lg-down" sparkType="bar" sparkBarColor="#fe6bb0" sparkHeight="32px" sparkBarWidth="5px" values="1,4,3,6,5,3,9,6,5,9,7"></span>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div id="panel-1" class="panel panel-locked" data-panel-lock="false" data-panel-close="false" data-panel-fullscreen="false" data-panel-collapsed="false" data-panel-color="false" data-panel-locked="false" data-panel-refresh="false" data-panel-reset="false">
      <div class="panel-hdr">
        <h2><%= t('views.dashboard.customer.my_quotes.text') %></h2>
      </div>
      <div class="panel-container show">
        <div class="panel-content border-faded border-left-0 border-right-0 border-top-0">
          <div class="row no-gutters">
            <div class="col-lg-12 col-xl-12">
              <table id="" class="table table-bordered table-hover table-striped w-100">
                <thead>
                <tr>
                  <th><%= t('views.dashboard.customer.my_quotes.id')%></th>
                  <th><%= t('views.dashboard.customer.my_quotes.route')%></th>
                  <th><%= t('views.dashboard.customer.my_quotes.shipment_type')%></th>
                  <th><%= t('views.dashboard.customer.my_quotes.created_at')%></th>
                </tr>
                </thead>
                <tbody>
                  <% @quotes.each do |quote| %>
                    <tr>
                      <td><%= link_to quote.number, customer_quote_path(quote.id) %></td>
                      <td><%=  %></td>
                      <td><%= quote.freight_type.code %></td>
                      <td><%= quote.created_at.nil? ? '' : quote.created_at.strftime("%d-%m-%Y") %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div id="panel-2" class="panel" data-panel-fullscreen="false">
      <div class="panel-hdr">
        <h2><%= t('views.dashboard.customer.my_statistics.text') %></h2>
      </div>
      <div class="panel-container show">
        <div class="panel-content border-faded border-left-0 border-right-0 border-top-0">
          <div class="row no-gutters">
            <div class="col-lg-12 col-xl-12">
              <table id="" class="table table-bordered table-hover table-striped w-100">
                <thead>
                  <tr>
                    <th>Example 1</th>
                    <th>Example 2</th>
                    <th>Example 3</th>
                    <th>Example 4</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td>Example 1</td>
                    <td>Example 2</td>
                    <td>Example 3</td>
                    <td>Example 4</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div id="panel-4" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.dashboard.customer.my_bookings.text') %></h2>
      </div>
      <div class="panel-container show">
        <div class="panel-content border-faded border-left-0 border-right-0 border-top-0">
          <div class="row no-gutters">
            <div class="col-lg-12 col-xl-12">
              <table id="" class="table table-bordered table-hover table-striped w-100">
                <thead>
                  <tr>
                    <th><%= t('views.dashboard.customer.my_bookings.id')%></th>
                    <th><%= t('views.dashboard.customer.my_bookings.route')%></th>
                    <th><%= t('views.dashboard.customer.my_bookings.shipment_type')%></th>
                    <th><%= t('views.dashboard.customer.my_bookings.created_at')%></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="4" class="text-center"><%= t('views.dashboard.customer.my_bookings.not_found') %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <script type="text/javascript">
      /* Activate smart panels */
      $('#js-page-content').smartPanel();
  </script>

  <!-- The order of scripts is irrelevant. Please check out the plugin pages for more details about these plugins below: -->
  <%= javascript_include_tag 'smartadmin/dependency/moment/moment' %>
  <%= javascript_include_tag 'smartadmin/miscellaneous/fullcalendar/fullcalendar.bundle' %>
  <%= javascript_include_tag 'smartadmin/statistics/sparkline/sparkline.bundle' %>
  <%= javascript_include_tag 'smartadmin/statistics/easypiechart/easypiechart.bundle' %>
  <%= javascript_include_tag 'smartadmin/statistics/flot/flot.bundle' %>
  <%= javascript_include_tag 'smartadmin/miscellaneous/jqvmap/jqvmap.bundle' %>

<% end %>
