<div class="row">
  <div class="col-md-5">
    <h2 class="hidden-sm-down ml-1">

      <i class="fas fa-th-large"></i> <%= t('views.admin.users.show.tabs.account_information') %>
    </h2>
  </div>
  <div class="col-md-7 bg-light text-right">
    <%= link_to admin_users_path, class: 'btn btn-secondary btn-sm ml-2' do %>
      <%= t('views.shared.buttons.back') %>
    <% end %>
    <%= link_to({ action: :destroy, id: @user.id }, class: "btn btn-sm btn-primary ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
      <%= t('views.shared.buttons.destroy') %>
    <% end %>
  </div>
</div>
<%= simple_form_for [:admin, @user], html: { class: "mt-3", id: 'form_account' } do |f| %>
  <div class="form-group row">
    <%= f.label :username, t('activerecord.attributes.user.username'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :username, label: false, placeholder: t('activerecord.attributes.user.username') %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :email, t('activerecord.attributes.user.email'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :email, label: false, placeholder: t('activerecord.attributes.user.email') %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :rol, t('activerecord.attributes.user.rol'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :role, label: false, prompt: t('views.shared.prompt.role') %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :admin, t('activerecord.attributes.user.admin'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :admin, label: false %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :sign_in_count, t('activerecord.attributes.user.sign_in_count'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :sign_in_count, label: false, readonly: true, placeholder: t('activerecord.attributes.user.sign_in_count') %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :current_sign_in_at, t('activerecord.attributes.user.current_sign_in_at'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <div class="input-group">
        <%= f.text_field :current_sign_in_at, readonly: true, placeholder: t('activerecord.attributes.user.current_sign_in_at'), class: 'form-control datepicker-3' %>
        <div class="input-group-append">
            <span class="input-group-text fs-xl">
              <i class="<%= Rails.configuration.icon_prefix %> fa-calendar"></i>
            </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :last_sign_in_at, t('activerecord.attributes.user.last_sign_in_at'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <div class="input-group">
        <%= f.text_field :last_sign_in_at, readonly: true, placeholder: t('activerecord.attributes.user.last_sign_in_at'), class: 'form-control datepicker-3' %>
        <div class="input-group-append">
            <span class="input-group-text fs-xl">
              <i class="<%= Rails.configuration.icon_prefix %> fa-calendar"></i>
            </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :current_sign_in_ip, t('activerecord.attributes.user.current_sign_in_ip'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :current_sign_in_ip, label: false, readonly: true, placeholder: t('activerecord.attributes.user.current_sign_in_ip') %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :last_sign_in_ip, t('activerecord.attributes.user.last_sign_in_ip'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :last_sign_in_ip, label: false, readonly: true, placeholder: t('activerecord.attributes.user.last_sign_in_ip') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 bg-light text-right">
      <%= hidden_field_tag :form, 'Employee' %>
      <button class="btn btn-success"><%= t('views.shared.buttons.update') %></button>
    </div>
  </div>
<% end %>