<div class="row">
  <div class="col-md-5">
    <h2 class="hidden-sm-down ml-1">
      <i class="fas fa-user"></i></i> <%= t('views.admin.users.show.tabs.personal_information') %>
    </h2>
  </div>
  <div class="col-md-7 bg-light text-right">
    <%= link_to admin_users_path, class: 'btn btn-secondary btn-sm ml-2' do %>
      <%= t('views.shared.buttons.back') %>
    <% end %>
    <%= link_to({ action: :destroy, id: @user.id }, class: "btn btn-sm btn-primary ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
      <%= t('views.shared.buttons.destroy') %>
    <% end %>
  </div>
</div>
<%= simple_form_for [:admin, @user], html: { class: "mt-3", id: 'form_employee' } do |f| %>
  <%= f.simple_fields_for :employee do |ff| %>
    <div class="form-group row">
      <%= ff.label :name, t('activerecord.attributes.employee.name'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
      <div class="col-12 col-lg-8">
        <%= ff.input :name, label: false, placeholder: t('activerecord.attributes.employee.name') %>
      </div>
    </div>

    <div class="form-group row">
      <%= ff.label :department, t('activerecord.attributes.employee.department'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
      <div class="col-12 col-lg-8">
        <%= ff.association :department, label: false, prompt: t('views.shared.prompt.department') %>
      </div>
    </div>

    <div class="form-group row">
      <%= ff.label :job, t('activerecord.attributes.employee.job'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
      <div class="col-12 col-lg-8">
        <%= ff.input :job, label: false, placeholder: t('activerecord.attributes.employee.job') %>
      </div>
    </div>

    <div class="form-group row">
      <%= ff.label :origin, t('activerecord.attributes.employee.origin'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
      <div class="col-12 col-lg-8">
        <%= ff.select :origin, options_for_select(Country.all.collect {|c| [c.name, c.name]}, @user.employee.origin), {}, { class: 'form-control-sm', data: { 'live-search': "true" } } %>
      </div>
    </div>

    <div class="form-group row">
      <%= ff.label :city, t('activerecord.attributes.employee.city'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
      <div class="col-12 col-lg-8">
        <%= ff.input :city, label: false, placeholder: t('activerecord.attributes.employee.city') %>
      </div>
    </div>

    <div class="form-group row">
      <%= ff.label :birth_date, t('activerecord.attributes.employee.birth_date'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
      <div class="col-12 col-lg-8">
        <div class="input-group">
          <%= ff.text_field :birth_date, placeholder: t('activerecord.attributes.employee.birth_date'), class: 'form-control datepicker-2' %>
          <div class="input-group-append">
            <span class="input-group-text fs-xl">
              <i class="<%= Rails.configuration.icon_prefix %> fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <%= ff.label :join_date, t('activerecord.attributes.employee.join_date'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
      <div class="col-12 col-lg-8">
        <div class="input-group">
          <%= ff.text_field :join_date, placeholder: t('activerecord.attributes.employee.join_date'), class: 'form-control datepicker-2' %>
          <div class="input-group-append">
            <span class="input-group-text fs-xl">
              <i class="<%= Rails.configuration.icon_prefix %> fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <%= ff.label :phone, t('activerecord.attributes.employee.phone'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
      <div class="col-12 col-lg-8">
        <%= ff.input :phone, label: false, placeholder: t('activerecord.attributes.employee.phone') %>
      </div>
    </div>

    <div class="form-group row">
      <%= ff.label :extension, t('activerecord.attributes.employee.extension'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
      <div class="col-12 col-lg-8">
        <%= ff.input :extension, label: false, placeholder: t('activerecord.attributes.employee.extension') %>
      </div>
    </div>

    <div class="form-group row">
      <%= ff.label :mobile, t('activerecord.attributes.employee.mobile'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
      <div class="col-12 col-lg-8">
        <%= ff.input :mobile, label: false, placeholder: t('activerecord.attributes.employee.mobile') %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12 bg-light text-right">
      <%= hidden_field_tag :form, 'Employee' %>
      <button class="btn btn-success"><%= t('views.shared.buttons.update') %></button>
    </div>
  </div>
<% end %>