<%= simple_form_for [:admin, @user] do |f| %>
  <div class="form-group" data-uppy="user[avatar]">
    <%= f.label :avatar %>
    <div>
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, width: 200, data: { behavior: 'uppy-preview' } %>
      <% else %>
        <img class="rounded-circle shadow-2 img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpj0DBTVsaja01_xWh37bcutvpd7rh7zEd528HD0d_l6A73osY" width="200" data-behavior="uppy-preview" />
      <% end %>
    </div>

    <%= link_to t('views.shared.buttons.upload'), "#", data: { behavior: "uppy-trigger" } %>
  </div>

  <%= f.simple_fields_for :employee do |ff| %>
    <div class="form-group row">
      <div class="col-md-6 col-sm-12">
        <%= ff.input :name, placeholder: t('activerecord.attributes.employee.name') %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <%= ff.association :department, prompt: t('views.shared.prompt.department') %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= ff.input :job, placeholder: t('activerecord.attributes.employee.job') %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6 col-sm-12">
        <%= f.label :origin, t('activerecord.attributes.employee.origin') %>
        <%= ff.select :origin, options_for_select(Country.all.collect {|c| [c.name, c.name]}, @user.employee.origin), {}, { class: 'form-control', data: { 'live-search': "true" } } %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= ff.input :city, placeholder: t('activerecord.attributes.employee.city') %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6 col-sm-12">
        <%= ff.label :birth_date, t('activerecord.attributes.employee.birth_date') %>
        <div class="input-group">
          <%= ff.text_field :birth_date, class: 'form-control', placeholder: t('activerecord.attributes.employee.birth_date')%>
          <div class="input-group-append">
            <span class="input-group-text fs-xl">
              <i class="<%= Rails.configuration.icon_prefix %> fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= ff.label :join_date, t('activerecord.attributes.employee.join_date') %>
        <div class="input-group">
          <%= ff.text_field :join_date, class: 'form-control', placeholder: t('activerecord.attributes.employee.join_date') %>
          <div class="input-group-append">
            <span class="input-group-text fs-xl">
              <i class="<%= Rails.configuration.icon_prefix %> fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-3 col-sm-12">
        <%= ff.input :phone, placeholder: t('activerecord.attributes.employee.phone') %>
      </div>
      <div class="col-md-3 col-sm-12">
        <%= ff.input :extension, placeholder: t('activerecord.attributes.employee.extension') %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= ff.input :mobile, placeholder: t('activerecord.attributes.employee.mobile') %>
      </div>
    </div>
  <% end %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :username, placeholder: t('activerecord.attributes.user.username') %>
    </div>
    <div class="col-md-6">
      <%= f.input :email, placeholder: t('activerecord.attributes.user.email') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :password, type: 'password', placeholder: t('activerecord.attributes.user.password') %>
    </div>
    <div class="col-md-6">
      <%= f.input :password_confirmation, type: 'password', placeholder: t('activerecord.attributes.user.password_confirmation') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.association :role, prompt: t('views.shared.prompt.role') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>

<% content_for :scripts_block do %>
  <script>
      $(document).ready(function () {
          console.log(document.querySelector("[data-uppy]"));

          let element= document.querySelector("[data-uppy]");

          setupUppy(element);

          function setupUppy(element) {
              let trigger = element.querySelector('[data-behavior="uppy-trigger"]')
              let form = element.closest('form')
              let direct_upload_url = document.querySelector("meta[name='direct-upload-url']").getAttribute("content")
              let field_name = element.dataset.uppy

              trigger.addEventListener("click", (event) => event.preventDefault())

              let uppy = Uppy({
                  autoProceed: true,
                  allowMultipleUploads: false,
                  logger: Uppy.debugLogger,
                  restrictions: {
                      allowedFileTypes: ['image/*'],
                  }
              })

              uppy.use(ActiveStorageUpload, {
                  directUploadUrl: direct_upload_url
              })

              uppy.use(Dashboard, {
                  trigger: trigger,
                  closeAfterFinish: true,
              })

              uppy.use(GoogleDrive, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })
              uppy.use(Dropbox, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })
              uppy.use(Box, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })
              uppy.use(Instagram, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })
              uppy.use(Facebook, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })
              uppy.use(OneDrive, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })
              
              uppy.on('complete', (result) => {
                  // Rails.ajax
                  // or show a preview:
                  element.querySelectorAll('[data-pending-upload]').forEach(element => element.parentNode.removeChild(element))

                  result.successful.forEach(file => {
                      appendUploadedFile(element, file, field_name)
                      setPreview(element, file)
                  })

                  uppy.reset()
              })
          }

          function appendUploadedFile(element, file, field_name) {
              const hiddenField = document.createElement('input')

              hiddenField.setAttribute('type', 'hidden')
              hiddenField.setAttribute('name', field_name)
              hiddenField.setAttribute('data-pending-upload', true)
              hiddenField.setAttribute('value', file.response.signed_id)

              element.appendChild(hiddenField)
          }

          function setPreview(element, file) {
              let preview = element.querySelector('[data-behavior="uppy-preview"]')
              if (preview) {
                  let src = (file.preview) ? file.preview : "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpj0DBTVsaja01_xWh37bcutvpd7rh7zEd528HD0d_l6A73osY"
                  preview.src = src
              }
          }
      });
  </script>
<% end %>
