<div class="row">
  <div class="col-md-5">
    <h2 class="hidden-sm-down ml-1">

      <i class="fad fa-shield"></i> <%= t('views.admin.users.show.tabs.change_password') %>
    </h2>
  </div>
  <div class="col-md-7 bg-light text-right">
    <%= link_to admin_users_path, class: 'btn btn-secondary btn-sm ml-2' do %>
      <%= t('views.shared.buttons.back') %>
    <% end %>
    <%= link_to({ action: :destroy, id: @user.id }, class: "btn btn-sm btn-primary ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
      <%= t('views.shared.buttons.destroy') %>
    <% end %>
  </div>
</div>
<%= simple_form_for [:admin, @user], html: { class: "mt-3", id: 'form_password' } do |f| %>
  <div class="form-group row">
    <div class="col-12 col-lg-8">
      <%= f.hidden_field :username, label: false, placeholder: t('activerecord.attributes.user.username') %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password, t('activerecord.attributes.user.password'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :password, label: false, placeholder: t('activerecord.attributes.user.password') %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password_confirmation, t('activerecord.attributes.user.password_confirmation'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :password_confirmation, label: false, placeholder: t('activerecord.attributes.user.password_confirmation') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 bg-light text-right">
      <%= hidden_field_tag :form, 'Employee' %>
      <button class="btn btn-success"><%= t('views.shared.buttons.update') %></button>
    </div>
  </div>
<% end %>