<div class="row">
  <div class="col-md-5">
    <h2 class="hidden-sm-down ml-1">

      <i class="fab fa-buffer"></i> <%= t('views.admin.users.show.tabs.profile_overview') %>
    </h2>
  </div>
  <div class="col-md-7 bg-light text-right">
    <%= link_to admin_users_path, class: 'btn btn-secondary btn-sm ml-2' do %>
      <%= t('views.shared.buttons.back') %>
    <% end %>
    <%= link_to({ action: :destroy, id: @user.id }, class: "btn btn-sm btn-primary ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
      <%= t('views.shared.buttons.destroy') %>
    <% end %>
  </div>
</div>