<%
  content_for(:title, t('views.sidebar.users'))
  content_for(:category_1, 'Dashboard')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-id-card'></i> <%= t('views.sidebar.users') %>
<% end %>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/datagrid/datatables/datatables.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.users.index.subtitle') %></h2>
        <div class="panel-toolbar">
          <%= link_to new_admin_user_path, class: 'btn btn-success btn-sm' do %>
            <%= t('views.shared.buttons.new') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <!-- datatable start -->
          <table id="dt-basic-users" class="table table-bordered table-hover table-striped w-100">
            <thead>
              <tr>
                <th><%= t('activerecord.attributes.employee.name') %></th>
                <th><%= t('activerecord.attributes.user.email') %></th>
                <th><%= t('activerecord.attributes.employee.department') %></th>
                <th><%= t('activerecord.attributes.user.admin') %></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <% unless user.employee.nil? %>
                  <tr>
                    <td class="d-flex flex-row align-items-center">
                      <span class="mr-2 symbol">
                        <% if user.avatar.attached? %>
                          <%= image_tag user.avatar, class: 'profile-image rounded-circle', alt: 'Avatar' %>
                        <% else %>
                          <%= image_tag Rails.configuration.default, class: 'profile-image rounded-circle', alt: 'Dr. Codex Lantern' %>
                        <% end %>
                      </span>
                      <div class="info-card-text">
                        <div class="text-truncate text-truncate-lg">
                          <%= link_to user.employee.name, admin_user_path(user.id) %>
                        </div>
                        <span class="text-truncate text-truncate-md">
                          <%= user.username %>
                        </span>
                      </div>
                    </td>
                    <td><%= user.email %></td>
                    <td><%= user.employee.department.name %></td>
                    <td>
                      <% if user.admin %>
                        <i class="fal fa-star text-warning"></i>
                      <% else %>
                        <i class="fal fa-star-half"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <!-- datatable end -->
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <!-- datatble responsive bundle contains:
    + jquery.dataTables.js
    + dataTables.bootstrap4.js
    + dataTables.autofill.js
    + dataTables.buttons.js
    + buttons.bootstrap4.js
    + buttons.html5.js
    + buttons.print.js
    + buttons.colVis.js
    + dataTables.colreorder.js
    + dataTables.fixedcolumns.js
    + dataTables.fixedheader.js
    + dataTables.keytable.js
    + dataTables.responsive.js
    + dataTables.rowgroup.js
    + dataTables.rowreorder.js
    + dataTables.scroller.js
    + dataTables.select.js
    + datatables.styles.app.js
    + datatables.styles.buttons.app.js -->
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <script>
      $(document).ready( function () {
          $('#dt-basic-users').dataTable({
              responsive: true,
              dom:
              /*  --- Layout Structure
                --- Options
                l  -  length changing input control
                f  -  filtering input
                t  -  The table!
                i  -  Table information summary
                p  -  pagination control
                r  -  processing display element
                B  -  buttons
                R  -  ColReorder
                S  -  Select

                --- Markup
                < and >        - div element
                <"class" and >    - div with a class
                <"#id" and >    - div with an ID
                <"#id.class" and >  - div with an ID and a class

                --- Further reading
                https://datatables.net/reference/option/dom
                --------------------------------------
               */
                  "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                  "<'row'<'col-sm-12'tr>>" +
                  "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
              buttons: [
                  {
                      extend:    'colvis',
                      text:      "<%= I18n.t('views.shared.datatables.text.column_visibility') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.column_visibility') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'csvHtml5',
                      text:      "<%= I18n.t('views.shared.datatables.text.csv') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.csv') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'copyHtml5',
                      text:      "<%= I18n.t('views.shared.datatables.text.copy') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.copy') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'print',
                      text:      "<%= I18n.t('views.shared.datatables.text.print') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.print') %>",
                      className: 'btn-outline-default'
                  }

              ]
          });
      });
  </script>
<% end %>
