<%
  content_for(:title, t('views.admin.users.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.users'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-id-card'></i>  <%= t('views.sidebar.users') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>

  <%= stylesheet_link_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/select2/select2.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-4 col-xl-3 order-lg-1 order-xl-1">
    <div class="card mb-g rounded-top">
      <div class="row no-gutters row-grid">
        <div class="col-12">
          <div class="d-flex flex-column align-items-center justify-content-center p-4">
            <%= image_tag 'smartadmin/demo/avatars/avatar-admin-lg.png', class: 'rounded-circle shadow-2 img-thumbnail', alt: '' %>
            <h5 class="mb-0 fw-700 text-center mt-3">
              <%= @user.employee.name %>
              <small class="text-muted mb-0"><%= @user.email %></small>
            </h5>
            <div class="mt-4 text-center demo">
              <a href="javascript:void(0);" class="fs-xl" style="color:#3b5998">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#38A1F3">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#db3236">
                <i class="fab fa-google-plus"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#0077B5">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#000000">
                <i class="fab fa-reddit-alien"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#00AFF0">
                <i class="fab fa-skype"></i>
              </a>
              <a href="javascript:void(0);" class="fs-xl" style="color:#0063DC">
                <i class="fab fa-flickr"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12"></div>
        <div class="col-12">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-profile-summary-tab" data-toggle="pill" href="#v-pills-summary" role="tab" aria-controls="v-pills-summary" aria-selected="true">
              <i class="fab fa-buffer"></i>
              <span class="hidden-sm-down ml-1"><%= t('views.admin.users.show.tabs.profile_overview') %></span>
            </a>
            <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
              <i class="fas fa-user"></i>
              <span class="hidden-sm-down ml-1"><%= t('views.admin.users.show.tabs.personal_information') %></span>
            </a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
              <i class="fas fa-th-large"></i>
              <span class="hidden-sm-down ml-1"><%= t('views.admin.users.show.tabs.account_information') %></span>
            </a>
            <a class="nav-link" id="v-pills-password-tab" data-toggle="pill" href="#v-pills-password" role="tab" aria-controls="v-pills-password" aria-selected="false">
              <i class="fad fa-shield"></i>
              <span class="hidden-sm-down ml-1"><%= t('views.admin.users.show.tabs.change_password') %></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-xl-9 order-lg-11 order-xl-11">
    <div class="card mb-g rounded-top">
      <div class="card-body">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade" id="v-pills-summary" role="tabpanel" aria-labelledby="v-pills-profile-summary-tab">
            <%= render 'admin/users/profile_summary' %>
          </div>
          <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <%= render 'admin/users/employee' %>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <%= render 'admin/users/account' %>
          </div>
          <div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
            <%= render 'admin/users/password' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker' %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>

  <script>
      // Class definition
      var controls = {
          leftArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-left" style="font-size: 1.25rem"></i>',
          rightArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-right" style="font-size: 1.25rem"></i>'
      }

      var runDatePicker = function () {

          // join date
          $('.datepicker-1').datepicker({
              todayHighlight: true,
              orientation: "bottom left",
              templates: controls
          });


          // birth date
          $('.datepicker-2').datepicker({
              todayHighlight: true,
              orientation: "bottom left",
              templates: controls
          });

          // current sign in at
          $('.datepicker-3').datepicker({
              todayHighlight: true,
              orientation: "bottom left",
              templates: controls
          });
      }

      $(document).ready(function () {
          runDatePicker();
          $('#user_employee_attributes_origin').select2();
      });

  </script>
<% end %>