<%= simple_form_for [:admin, @team] do |f| %>
  <div class="form-group row align-items-start">
    <div class="col-md-6">
      <%= f.input :name, placeholder: t('activerecord.attributes.team.name') %>
    </div>
  </div>

  <div class="form-group row align-items-start">
    
    <div class="col-md-9">
      <%= f.simple_fields_for :team_members do |team_member| %>
        <%= render 'admin/teams/team_member_fields', f: team_member %>
      <% end %>
      <div class="links">
        <%= link_to_add_association t('views.shared.buttons.add'), f, :team_members,
                                    partial: 'admin/teams/team_member_fields' %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>

<% content_for :scripts_block do %>
  <script>
      $(document).ready(function () {
          $('#team_team_members_employee_id').select2();
      });
  </script>
<% end %>
