<div class="nested-fields">
  <%= f.hidden_field :id %>
  <div class="row">
    <div class="d-flex flex-row justify-content-start col-md-12">
      <div class="col-md-5">
        <%= f.association :employee, label: false %>
      </div>
      <div class="col-md-5">
        <%= f.input :role, label: false,  placeholder:  t('views.shared.prompt.role') %>
      </div>
      <div class="col-md-2">
        <%= link_to_remove_association f, {:style=>'position: relative; top:5px;', :class => "btn btn-outline-primary btn-sm btn-icon"} do %>
          <i class="<%= Rails.configuration.icon_prefix %> fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
  <br>
</div>