<%
  content_for(:title, t('views.admin.teams.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.teams'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-columns'></i>  <%= t('views.sidebar.teams') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'freightspot/admin/teams/style', media: 'screen, print' %>

  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.teams.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_teams_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
          <%= link_to({ action: :destroy, id: @team.id }, class: "btn btn-primary btn-sm ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
            <%= t('views.shared.buttons.destroy') %>
          <% end %>
          <%= link_to edit_admin_team_path(@team.id), class: 'btn btn-info btn-sm ml-2' do %>
            <%= t('views.shared.buttons.edit') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="frame-wrap p-0 border-0 m-0">
            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.team.name') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @team.name %></span>
            </div>

            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.container.created_at') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @team.created_at %>°</span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.container.updated_at') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @team.updated_at %>°</span>
            </div>

            <section id="team" class="team content-section">
              <div class="container">
                <div class="row text-center">
                  <div class="col-md-12">
                    <h2><%= t('activerecord.attributes.team.employee_ids') %></h2>
                  </div>
                  <div class="container">
                    <div class="row">
                      <% @team.employees.each do |e| %>
                        <div class="col-md-4">
                          <div class="team-member">
                            <figure>
                              <% if e.user.avatar.attached? %>
                                <%= image_tag user.avatar, class: 'img-responsive', alt: 'Avatar' %>
                              <% else %>
                                <%= image_tag Rails.configuration.default, class: 'img-responsive' %>
                              <% end %>
                            </figure>
                            <h4><%= e.name %></h4>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="container"></div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>