<%= simple_form_for [:admin, @criterium] do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :name, placeholder: t('activerecord.attributes.criterium.name') %>
    </div>
    <div class="col-md-6">
      <%= f.label :amount %>
      <%= render 'admin/criteria/currency', f: f %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :validity_start, t('activerecord.attributes.criterium.validity_start') %>
      <div class="input-group">
        <%= f.text_field :validity_start, class: 'form-control', placeholder: t('activerecord.attributes.criterium.validity_start')%>
        <div class="input-group-append">
            <span class="input-group-text fs-xl">
              <i class="<%= Rails.configuration.icon_prefix %> fa-calendar"></i>
            </span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= f.label :validity_end, t('activerecord.attributes.criterium.validity_end') %>
        <div class="input-group">
          <%= f.text_field :validity_end, class: 'form-control', placeholder: t('activerecord.attributes.criterium.validity_end')%>
          <div class="input-group-append">
            <span class="input-group-text fs-xl">
              <i class="<%= Rails.configuration.icon_prefix %> fa-calendar"></i>
            </span>
          </div>
        </div>
    </div>
  </div>
  <div class="custom-control custom-switch">
    <%= f.input_field :advanced_parameters, label: false, as: :boolean, class: 'custom-control-input' %>
    <%= f.label :advanced_parameters, class: 'custom-control-label' %>
  </div>
  <div id="ports" class="form-group row "  >
    <div class="col-md-6">
      <%= f.association :origin, prompt: t('views.shared.prompt.origin_port') %>
    </div>
    <div class="col-md-6">
      <%= f.association :destiny, prompt: t('views.shared.prompt.discharge_port')%>
    </div>
  </div>
  <div id="container" class="form-group row ">
    <div class="col-md-6">
      <%= f.association :container, prompt: t('views.shared.prompt.container') %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <%= f.input :remarks, placeholder: t('activerecord.attributes.criterium.remarks') %>
    </div>
  </div>


  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>
