<%
  content_for(:title, t('views.admin.criteria.new.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.criteria'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal ni ni-graph'></i> <%= t('views.sidebar.criteria') %>
<% end %>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker', media: 'screen, print' %>
  <!-- page related CSS below -->
  <%= stylesheet_link_tag 'smartadmin/formplugins/select2/select2.bundle', media: 'screen, print' %>

<% end %>


<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.criteria.new.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_criteria_path, class: 'btn btn-secondary btn-sm' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <!-- form start -->
          <%= render 'form', button: t('views.shared.buttons.save') %>
          <!-- form end -->
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
  <%= javascript_include_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker' %>

  <script>
      jQuery(document).ready(function () {
          const checked = document.getElementById('criterium_advanced_parameters').checked;
          console.log(checked);
          if (checked) {
              $("#ports").removeClass("hide-element");
              $("#container").removeClass("hide-element");
          } else {
              $("#ports").addClass("hide-element");
              $("#container").addClass("hide-element");
              $('#criterium_origin_id').val('');
              $('#criterium_destiny_id').val('');
              $('#criterium_container_id').val('');
          }
          $("#criterium_advanced_parameters").on("click", function () {
              console.log("click");
              const chk = document.getElementById('criterium_advanced_parameters').checked;
              console.log(chk);
              if (chk) {
                  $("#ports").removeClass("hide-element");
                  $("#container").removeClass("hide-element");
              } else {
                  $("#ports").addClass("hide-element");
                  $("#container").addClass("hide-element");
                  $('#criterium_origin_id').val('');
                  $('#criterium_destiny_id').val('');
                  $('#criterium_container_id').val('');
              }
          });
      });
      // Class definition
      var controls = {
          leftArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-left" style="font-size: 1.25rem"></i>',
          rightArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-right" style="font-size: 1.25rem"></i>'
      }

      var runDatePicker = function () {
          // input group layout
          $('#criterium_validity_start').datepicker({
              todayHighlight: true,
              orientation: "bottom left",
              templates: controls
          });
          $('#criterium_validity_end').datepicker({
              todayHighlight: true,
              orientation: "bottom left",
              templates: controls
          });
      }

      $(document).ready(function () {
          runDatePicker();
      });

  </script>
<% end %>
