<%
  content_for(:title, t('views.admin.criteria.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.criteria'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-percentage'></i>  <%= t('views.sidebar.criteria') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-lg-12 col-xl-6">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.criteria.show.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to admin_criteria_path, class: 'btn btn-secondary btn-sm ml-2' do %>
            <%= t('views.shared.buttons.back') %>
          <% end %>
          <%= link_to({ action: :destroy, id: @criterium.id }, class: "btn btn-primary btn-sm ml-2", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do %>
            <%= t('views.shared.buttons.destroy') %>
          <% end %>
          <%= link_to edit_admin_criterium_path(@criterium.id), class: 'btn btn-info btn-sm ml-2' do %>
            <%= t('views.shared.buttons.edit') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="frame-wrap p-0 border-0 m-0">
            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.criterium.name') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @criterium.name %></span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.criterium.amount') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @criterium.amount %></span>
            </div>
            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.criterium.validity_start') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @criterium.validity_start %></span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.criterium.validity_end') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @criterium.validity_end %></span>
            </div>
            <div class="form-group row my-2">
              <span class="col-2 col-form-label"><%= t('activerecord.attributes.criterium.origin') %>:</span>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @criterium.origin.name %>°</span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.criterium.destiny') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @criterium.destiny.name %>°</span>

              <label class="col-2 col-form-label"><%= t('activerecord.attributes.criterium.container') %>:</label>
              <span class="col-4 col-form-label control-plaintext font-weight-bolder"><%= @criterium.container.name %>°</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>