<%= simple_form_for @phone, url: url_for(controller: 'admin/clients', action: 'add_phone'),  html: { id: 'form_phone' }, remote: true do |f|%>
  <%= f.hidden_field :phoneable_type, value: 'Client' %>
  <%= f.hidden_field :phoneable_id, value: @client.id%>
  <%= f.hidden_field :code %>
  <%= hidden_field_tag :phone_id, @phone.id %>
  <div class="row">
    <div class="col-xl-4 col-sm-12 mt-2">
      <%= f.input :type_phone, prompt: t('views.shared.prompt.type_phone.large') %>
    </div>
    <div class="col-xl-4 col-sm-12 mt-2">
      <%= f.input :number, placeholder: t('activerecord.attributes.phone.number')%>
    </div>
    <div class="col-xl-2 col-sm-12 mt-2"  id="extension-code">
      <%= f.input :extension, placeholder:  t('activerecord.attributes.phone.extension')%>
    </div>
  </div>
<% end %>

<% content_for :scripts_block do %>

  <script>
      $(document).ready(function () {
          if ($('#phone_type_phone').val() === '') {
              console.log("ninguna opcion");
              $('#extension-code').addClass('hide-element');
              $('#phone_extension').val('');
          } else if ($('#phone_type_phone').val() === 'permanent') {
              // Telefono fijo
              console.log("telefono fijo");
              $('#extension-code').removeClass('hide-element');
          } else {
              // Telefono movil
              $('#extension-code').addClass('hide-element');
              if (!$("#extension-code").hasClass('hide-element')) {
                  $('#phone_extension').val('');
              }
          }

          $('#phone_type_phone').on('change', function() {
              if ($('#phone_type_phone').val() === '') {
                  console.log("ninguna opcion");
                  $('#extension-code').addClass('hide-element');
                  $('#phone_extension').val('');
              } else if ($('#phone_type_phone').val() === 'permanent') {
                  console.log("telefono fijo");
                  $('#extension-code').removeClass('hide-element');
              } else {
                  console.log('telefono movil');
                  $('#extension-code').addClass('hide-element');
                  if (!$("#extension-code").hasClass('hide-element')) {
                      $('#phone_extension').val('');
                  }
              }
          });
      });
  </script>
<% end %>