<div class="form-group row">
  <div class="col-md-6">
    <%= f.association :cfdi, prompt: t('views.shared.prompt.cfdi') %>
  </div>
  <div class="col-md-6">
    <%= f.association :way_pay, prompt: t('views.shared.prompt.way_pay') %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6">
    <%= f.association :payment_method, prompt: t('views.shared.prompt.payment_method'), label_method: :code %>
  </div>
</div>