<%= contact.hidden_field :id %>
<%= contact.hidden_field :contactable_id %>
<%= contact.hidden_field :contactable_type, value: 'Supplier' %>
<%= contact.hidden_field :principal, value: true %>

<div class="form-group row">
  <div class="col-md-12">
    <%= contact.input :name, placeholder: t('activerecord.attributes.contact.name'), input_html: { title: t('views.admin.suppliers.instructions.first_name'), data: { toggle: "tooltip", placement: "top" } } %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6">
    <%= contact.input :email, placeholder: t('activerecord.attributes.contact.email') %>
  </div>
  <div class="col-md-6 col-sm-12">
    <%= contact.label :birth_date, t('activerecord.attributes.employee.birth_date') %>
    <div class="input-group">
      <%= contact.text_field :birth_date, class: 'form-control', placeholder: t('activerecord.attributes.employee.birth_date')%>
      <div class="input-group-append">
        <span class="input-group-text fs-xl">
          <i class="<%= Rails.configuration.icon_prefix %> fa-calendar"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6">
    <%= contact.input :area, placeholder: t('activerecord.attributes.contact.area') %>
  </div>
  <div class="col-md-6">
    <%= contact.input :job, placeholder: t('activerecord.attributes.contact.job') %>
  </div>
</div>
<hr>
<div class="hide-element">
  <%= contact.simple_fields_for :addresses do |address| %>
    <%= address.hidden_field :id %>
    <%= address.hidden_field :addressable_id %>
    <%= address.hidden_field :addressable_type, value: 'Contact' %>
    <%= address.hidden_field :principal, value: true %>
    <%= address.hidden_field :address_type_ids, class: 'contact_address_type_ids' %>

    <div class="form-group row">
      <div class="col-md-6">
        <%= address.input :name, placeholder: t('activerecord.attributes.address.name'), input_html: { title: t('views.admin.suppliers.instructions.name'), data: { toggle: "tooltip", placement: "top" } } %>
      </div>
      <div class="col-md-6">
        <%= address.input :street, placeholder: t('activerecord.attributes.address.street'), input_html: { title: t('views.admin.suppliers.instructions.street'), data: { toggle: "tooltip", placement: "top" } } %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3">
        <%= address.input :interior_number, placeholder: t('activerecord.attributes.address.interior_number'), input_html: { title: t('views.admin.suppliers.instructions.interior_number'), data: { toggle: "tooltip", placement: "top" } } %>
      </div>
      <div class="col-md-3">
        <%= address.input :outdoor_number, placeholder: t('activerecord.attributes.address.outdoor_number') %>
      </div>
      <div class="col-md-6">
        <%= address.input :colony, placeholder: t('activerecord.attributes.address.colony') %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <%= address.input :zip_code, placeholder: t('activerecord.attributes.address.zip_code') %>
      </div>
      <div class="col-md-6">
        <%= address.input :city, placeholder: t('activerecord.attributes.address.city') %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <%= address.input :country do %>
          <%= address.select :country, options_for_select(Country.all.collect { |c| [c.name, c.name] }), { prompt: t('views.shared.prompt.country') }, { class: 'form-control', data: { 'live-search': "true" } } %>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= address.association :state, prompt: t('views.shared.prompt.state'), label_method: :name, value_method: :id, input_html: { class: 'form-control' } %>
      </div>
    </div>

    <% count = 0 %>
    <% phones = [] %>
    <% 2.times do %>
      <% phones << address.object.phones.build %>
    <% end %>
    <%= address.simple_fields_for :phones, phones do |phone| %>

      <%= phone.hidden_field :id %>
      <%= phone.hidden_field :phoneable_id %>
      <%= phone.hidden_field :phoneable_type, value: 'Address' %>
      <%= phone.hidden_field :code %>
      <%= phone.hidden_field :type_phone %>

      <div class="form-group row">
        <div class="col-md-4">
          <%= phone.input :number %>
        </div>
        <div class="col-md-4" id="extension_<%= count %>">
          <%= phone.input :extension, placeholder: t('activerecord.attributes.phone.extension') %>
        </div>
        <div class="col-md-4">
          <%= phone.input :principal, as: :boolean %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
