<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
<% end %>

<div id="contacts">
  <%= render 'admin/suppliers/contacts/accordion_contacts' %>
</div>
<div id="contact_form">
</div>

<% content_for :scripts_block do %>
  <script>

      function editContactButton(contact_id) {
          $.ajax({
              method: "GET",
              url: "/admin/suppliers/" + $("#supplier_id").val() + "/edit_contact",
              data: {contact_id: contact_id},
              success: function (data) {
              },
              error: function (data) {
              }
          });
      }

      function deleteContactButton(contact_id) {
          var confirmation = confirm("¿Esta seguro de eliminar el contacto?");
          if (confirmation) {
              $.ajax({
                  method: "DELETE",
                  url: "/admin/suppliers/" + $("#supplier_id").val() + "/destroy_contact",
                  data: {contact_id: contact_id},
                  success: function (result) {
                      console.log("si se elimino");
                      $('#v-pills-contacts-information-tab').trigger("click");
                      console.log(result);
                  },
                  error: function (data) {
                  }
              });
          }
      }

      function showContactButton(contact_id){
          $.ajax({
              method: "GET",
              url: "/admin/suppliers/" + $("#supplier_id").val() + "/show_contact",
              data: {contact_id: contact_id},
              success: function (result) {

              },
              error: function (data) {
              }
          });
      }

      $(document).ready(function () {
          console.log($('input[type=radio][name=contactsview]'));

          $('input[type=radio][name=contactsview]').change(function() {
              console.log("ENTRO");
              console.log(this.value);
              if (this.value == 'grid') {
                  $('#js-contacts .card').removeClassPrefix('mb-').addClass('mb-g');
                  $('#js-contacts .col-xl-12').removeClassPrefix('col-xl-').addClass('col-xl-4');
                  $('#js-contacts .js-expand-btn').addClass('d-none');
                  $('#js-contacts .card-body + .card-body').addClass('show');

              } else if (this.value == 'table') {
                  $('#js-contacts .card').removeClassPrefix('mb-').addClass('mb-1');
                  $('#js-contacts .col-xl-4').removeClassPrefix('col-xl-').addClass('col-xl-12');
                  $('#js-contacts .js-expand-btn').removeClass('d-none');
                  $('#js-contacts .card-body + .card-body').removeClass('show');
              }

          });

          //initialize filter
          initApp.listFilter($('#js-contacts'), $('#js-filter-contacts'));
      });
  </script>
<% end %>
