<div class="form-group row">
  <div class="col-md-6">
    <%= f.association :payment_term, label_method: :description, prompt: t('views.shared.prompt.payment_term') %>
  </div>
  <div class="col-md-6">
    <%= f.input :credit_limit %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6">
  </div>
</div>

<div class="form-group row">
  <div class="col-md-4">
    <div class="custom-control custom-switch">
      <%= f.input_field :authorized_credit, label: false, as: :boolean, class: 'custom-control-input' %>
      <%= f.label :authorized_credit, class: 'custom-control-label' %>
    </div>
  </div>
</div>
