<div class="row">
  <div class="col-md-5">
    <h2 class="hidden-sm-down ml-1">
      <i class="fab fa-buffer"></i> <%= t('views.admin.suppliers.show.tabs.credit.title') %>
    </h2>
    <span class="text-muted"><%t('views.admin.users.show.tab_panes.credit_information.subtitle')%></span>
  </div>

  <div class="col-md-7 bg-light text-right">
    <%= link_to admin_suppliers_path, class: 'btn btn-secondary btn-sm ml-2' do %>
      <%= t('views.shared.buttons.back') %>
    <% end %>
    <button id="updateCreditInformation" onclick="updateCreditInformationButton()" class="btn btn-success"> <%= t('views.shared.buttons.update')%></button>
  </div>
</div>

<%= simple_form_for [:admin, @supplier], html: { class: "mt-3", id: 'form_credit' } , method: :patch, remote: true do |f| %>
  <div class="form-group row">
    <%= f.label :payment_term, t('activerecord.attributes.supplier.payment_term'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :payment_term, label: false, label_method: :description, prompt: t('views.shared.prompt.payment_term'), input_html:{ class: 'form-control-lg' } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :credit_limit, t('activerecord.attributes.supplier.credit_limit'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :credit_limit, label: false, placeholder: t('activerecord.attributes.supplier.credit_limit'), input_html: { class: 'form-control-lg' } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :contract, t('activerecord.attributes.supplier.contract'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.file_field :contract, class: 'custom-file-input' %>
      <%= f.label t('views.shared.prompt.field'), class: "custom-file-label form-control-lg", data: {browse: t('views.shared.buttons.upload')} %>
    </div>
  </div>

  <% if @supplier.contract.attached? %>
    <div class="form-group row">
      <div class="col-xl-3 col-form-label text-right">
        <%#= link_to @supplier.contract.url, target: '_blank' do %>
        <%= "View Contract" %>
        <%# end %>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker' %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>

  <script>
      function updateCreditInformationButton(){
          document.forms['form_credit'].submit();
      }
  </script>
<% end %>