<ul class="nav nav-tabs-metronic nav-primary row row-paddingless m-0 p-0" role="tablist">

  <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
    <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center" data-toggle="tab" href="#tab_dashboard" role="tab">
      <span class="nav-icon py-2 w-auto">
        <span class="svg-icon svg-icon-3x">
          <%= render 'shared/icons/dashboard' %>
        </span>
      </span>
    </a>
  </li>

  <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
    <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center active" data-toggle="tab" href="#tab_general_data" role="tab">
      <span class="nav-icon py-2 w-auto">
        <span class="svg-icon svg-icon-3x">
          <%= render 'shared/icons/general' %>
        </span>
      </span>
    </a>
  </li>

  <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
    <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center" data-toggle="tab" href="#tab_quotes" role="tab">
      <span class="nav-icon py-2 w-auto">
        <span class="svg-icon svg-icon-3x">
          <%= render 'shared/icons/calculator' %>
        </span>
      </span>
    </a>
  </li>
</ul>
