<div class="modal fade" id="edit-contact-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title"><%= t("views.admin.contacts.edit.title") %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-edit-contact-container">
          <%= render 'admin/suppliers/contacts/edit_contact_form' %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_close_modal" type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal"><%= t('views.shared.buttons.cancel') %></button>
        <button id="btn_submit_modal" type="button" class="btn btn-success font-weight-bold" onclick="updateContactButton()"><%= t("views.shared.buttons.update") %></button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>

  <script>
      function updateContactButton() {
          $.ajax({
              type: "post",
              url: "/admin/suppliers/" + $("#supplier_id").val() + "/update_contact",
              data: {
                  contact: {
                      contactable_type: $('#edit-contact-modal #contact_contactable_type').val(),
                      contactable_id: $('#edit-contact-modal #contact_contactable_id').val(),
                      name: $('#edit-contact-modal #contact_name').val(),
                      email: $('#edit-contact-modal #contact_email').val(),
                      birth_date: $('#edit-contact-modal #contact_birth_date').val(),
                      area: $('#edit-contact-modal #contact_area').val(),
                      job: $('#edit-contact-modal #contact_job').val(),
                  },
                  contact_id: $('#edit-contact-modal #contact_id').val(),
              },
              success:  function (data) {
                  $('#v-pills-contacts-information-tab').trigger("click");
              }
          });
      }
  </script>
<% end %>