<div class="modal fade" id="edit-phone-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title"><%= t("views.admin.phones.edit.title") %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-edit-phone-container">
          <%= render 'admin/suppliers/phones/edit_phone_form' %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_close_modal" type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal"><%= t('views.shared.buttons.cancel') %></button>
        <button id="btn_submit_modal" type="button" class="btn btn-success font-weight-bold" onclick="updatePhoneButton()"><%= t("views.shared.buttons.update") %></button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>

  <script>
      function updatePhoneButton() {
          $.ajax({
              type: "post",
              url: "/admin/suppliers/" + $("#supplier_id").val() + "/update_phone",
              data: {
                  phone: {
                      phoneable_type: $('#edit-phone-modal #phone_phoneable_type').val(),
                      phoneable_id: $('#edit-phone-modal #phone_phoneable_id').val(),
                      code: $('#edit-phone-modal #phone_code').val(),
                      type_phone: $('#edit-phone-modal #phone_type_phone').val(),
                      number: $('#edit-phone-modal #phone_number').val(),
                      extension: $('#edit-phone-modal #phone_extension').val()
                  },
                  phone_id: $('#edit-phone-modal #phone_id').val()
              },
              success:  function (data) {

              }
          });
      }
  </script>
<% end %>