<div class="row">
  <%= render 'admin/suppliers/profile_aside' %>
  <div class="col-lg-8 col-xl-9 order-lg-11 order-xl-11">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-personal-information" role="tabpanel" aria-labelledby="v-pills-profile-summary-tab">
        <div class="card mb-g rounded-top">
          <div class="card-body" id="card-supplier">
            <%= render 'admin/suppliers/personal_information' %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="v-pills-credit-information" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <div class="card mb-g rounded-top">
          <div class="card-body">
            <%= render 'admin/suppliers/credit_information' %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="v-pills-addresses-information" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <div class="card mb-g rounded-top">
          <div class="card-body">
            <%= render 'admin/suppliers/addresses_information' %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-phones-information" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <div class="card mb-g rounded-top">
          <div class="card-body">
            <%= render 'admin/suppliers/phones_information' %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-contacts-information" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <%= render 'admin/suppliers/contacts_information' %>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker' %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>

  <script>
      // Class definition
      var controls = {
          leftArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-left" style="font-size: 1.25rem"></i>',
          rightArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-right" style="font-size: 1.25rem"></i>'
      }

      var runDatePicker = function () {

          // join date
          $('.datepicker-1').datepicker({
              todayHighlight: true,
              orientation: "bottom left",
              templates: controls
          });


          // birth date
          $('.datepicker-2').datepicker({
              todayHighlight: true,
              orientation: "bottom left",
              templates: controls
          });

          // current sign in at
          $('.datepicker-3').datepicker({
              todayHighlight: true,
              orientation: "bottom left",
              templates: controls
          });
      }

      $(document).ready(function () {
          runDatePicker();
          $('#supplier_employee_attributes_origin').select2();
      });

  </script>
<% end %>