<div class="modal fade" id="phones-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title"><%= t("views.admin.phones.new.title") %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="<%= Rails.configuration.icon_prefix %> fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-new-phone-container">
          <%= render 'admin/suppliers/phones/new_phone_form' %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_close_modal" type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal"><%= t('views.shared.buttons.cancel') %></button>
        <button id="btn_submit_modal" type="button" class="btn btn-success font-weight-bold" onclick="addNewPhones()"><%= t("views.shared.buttons.save") %></button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>

  <script>
      function addNewPhones() {
          $.ajax({
              type: "POST",
              url: "/admin/suppliers/" + $("#supplier_id").val() + "/add_phone",
              data: {
                  phone: {
                      phoneable_type: document.getElementById("phone_phoneable_type").value,
                      phoneable_id: document.getElementById("phone_phoneable_id").value,
                      code: document.getElementById("phone_code").value,
                      type_phone: document.getElementById("phone_type_phone").value,
                      number: document.getElementById("phone_number").value,
                      extension: document.getElementById("phone_extension").value,
                  }
              },
              success:  function (data) {
                  $('#v-pills-phones-information-tab').trigger("click");
                  $('#form_phone')[0].reset()
              }
          });
      }
  </script>
<% end %>