<div class="row">
  <div class="col-md-5">
    <h2 class="hidden-sm-down ml-1">
      <i class="fal fa-user-alt"></i> <%= t('views.admin.suppliers.show.tabs.personal.subtitle')%>
    </h2>
  </div>

  <div class="col-md-7 bg-light text-right">
    <%= link_to admin_suppliers_path, class: 'btn btn-secondary btn-sm ml-2' do %>
      <%= t('views.shared.buttons.back') %>
    <% end %>
    <% if @readonly %>
      <%#= link_to update_readonly_admin_supplier_path(@supplier.id, readonly: false), class: 'btn btn-secondary btn-sm ml-2', 'data-remote': true do %>
      <%#= t('views.shared.buttons.cancel') %>
      <%# end %>
      <button id="updatePersonalInformation" onclick="updatePersonalInformationButton()" class="btn btn-success btn-sm ml-2"> <%= t('views.shared.buttons.update')%></button>
    <% else %>
      <%#= link_to t('views.shared.buttons.edit'), update_readonly_admin_supplier_path(@supplier.id, readonly: true), id: 'editPersonalInformation', class: 'btn btn-success btn-sm ml-2', 'data-remote': true %>
      <button id="editPersonalInformation" onclick="editPersonalInformationButton(true)" class="btn btn-success btn-sm ml-2"> <%= t('views.shared.buttons.edit')%></button>
    <% end %>
  </div>
</div>
<%= simple_form_for [:admin, @supplier], html: { class: "mt-3", id: 'form_supplier' }, method: :patch, remote: true do |f| %>
  <%= f.hidden_field :id, value: @supplier.id %>
  <div class="form-group row">
    <%= f.label :name, t('activerecord.attributes.supplier.name'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :name, label: false, placeholder: t('activerecord.attributes.supplier.name'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :rfc, t('activerecord.attributes.supplier.rfc'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :rfc, label: false, placeholder: t('activerecord.attributes.supplier.rfc'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :website, t('activerecord.attributes.supplier.website'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.input :website, label: false, placeholder: t('activerecord.attributes.supplier.website'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :parent_entity, t('activerecord.attributes.supplier.parent_entity'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :parent_entity, label: false, prompt: t('views.admin.suppliers.shared.prompt.parent_entity'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :currency, t('activerecord.attributes.supplier.currency'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :currency, label: false, prompt: t('views.admin.suppliers.shared.prompt.currency'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12 col-lg-8">
      <h4 class="hidden-sm-down ml-1">
        <i class="fal fa-file-invoice"></i> <%= t('views.admin.users.show.tab_panes.personal_information.section3')%>
      </h4>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :cfdi, t('activerecord.attributes.supplier.cfdi'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :cfdi, label: false, prompt: t('views.admin.suppliers.shared.prompt.cfdi'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :way_pay, t('activerecord.attributes.supplier.way_pay'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :way_pay, label: false, prompt: t('views.admin.suppliers.shared.prompt-'), input_html: { disabled: !@readonly } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :payment_method, t('activerecord.attributes.supplier.payment_method'), class: 'col-form-label col-12 col-lg-4 form-label text-md-right' %>
    <div class="col-12 col-lg-8">
      <%= f.association :payment_method, label: false, prompt: t('views.admin.suppliers.shared.prompt.payment_method'), input_html: { disabled: !@readonly } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 bg-light text-right">
      <%= f.submit 'data', class: 'btn btn-success hide-element', id: 'btnPersonalInformation'%>
    </div>
  </div>
<% end %>

<% content_for :scripts_block do %>
  <script>
      function editPersonalInformationButton(readonly){
          $.ajax({
              method: "GET",
              url: "/admin/suppliers/"+  $("#supplier_id").val() + "/update_readonly/" + readonly,
          });
      }
      function updatePersonalInformationButton(){
          document.forms['form_supplier'].submit();
      }

  </script>
<% end %>