<div class="form-group row">
  <div class="col-md-6">
    <%= f.input :name, placeholder: t('activerecord.attributes.supplier.name'), input_html: { title: t('views.admin.suppliers.instructions.first_name'), data: { toggle: "tooltip", placement: "top" } } %>
  </div>
  <div class="col-md-6">
    <%= f.input :rfc, placeholder: t('activerecord.attributes.supplier.rfc') %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6">
    <%= f.input :website, placeholder: t('activerecord.attributes.supplier.website') %>
  </div>
  <div class="col-md-6">
    <%= f.association :currency, label_method: :code, prompt: t('views.shared.prompt.currency') %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-4 iata hide-element">
    <%= f.input :iata_code, placeholder: t('activerecord.attributes.supplier.iata_code') %>
  </div>
  <div class="col-md-4 caat hide-element">
    <%= f.input :caat_code, placeholder: t('activerecord.attributes.supplier.caat_code') %>
  </div>
  <div class="col-md-4 scac hide-element">
    <%= f.input :scac_number, placeholder: t('activerecord.attributes.supplier.scac_number') %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-12">
    <%= f.label :service_mode_ids %>
    <%= f.select :service_mode_ids, options_for_select(ServiceMode.all.collect {|st| [st.name, st.id]}, @supplier.service_mode_ids), {}, { class: '', multiple: true } %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-4">
    <div class="custom-control custom-switch">
      <%= f.input_field :advanced_parameters, label: false, as: :boolean, class: 'custom-control-input' %>
      <%= f.label :advanced_parameters, class: 'custom-control-label' %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="custom-control custom-switch">
      <%= f.input_field :has_credit, label: false, as: :boolean, class: 'custom-control-input' %>
      <%= f.label :has_credit, class: 'custom-control-label' %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="custom-control custom-switch">
      <%= f.input_field :carrier, label: false, as: :boolean, class: 'custom-control-input' %>
      <%= f.label :carrier, class: 'custom-control-label' %>
    </div>
  </div>
</div>

<div class="form-group row hide-element advanced-parameters">
  <div class="col-md-4">
    <%= f.association :parent_entity, prompt: t('views.admin.clients.shared.prompt.parent_entity'), input_html: { data: { 'live-search': "true" } } %>
  </div>
</div>