<% if @phone.errors.empty?  %>
  $("#phone_list").html("<%= j render :partial => 'admin/suppliers/phones/collection' %>");
  $("#phones-modal").modal("toggle");
<% else %>
  $("#modal-container").html("<%= j render partial: "admin/suppliers/phones/form", locals: { action_controller: 'add_phone'} %>");
<% end %>