<%
  content_for(:title, t('views.sidebar.suppliers'))
  content_for(:category_1, 'Dashboard')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-user-headset'></i> <%= t('views.sidebar.suppliers') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>

  <%= stylesheet_link_tag 'smartadmin/datagrid/datatables/datatables.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.admin.suppliers.index.title') %></h2>
        <div class="panel-toolbar">
          <%= link_to new_admin_supplier_path, class: 'btn btn-success btn-sm' do %>
            <%= t('views.shared.buttons.new') %>
          <% end %>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <!-- datatable start -->
          <table id="dt-basic-suppliers" class="table table-bordered table-hover table-striped w-100">
            <thead>
            <tr>
              <% @all_columns.each do |column_name| %>
                <th>
                  <%= t('activerecord.attributes.supplier.' + column_name.gsub("_id","")) %>
                </th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @suppliers.each do |supplier| %>
              <tr>
                <% @all_columns.each do |column_name| %>
                  <% if column_name == "name" %>
                    <td><%= link_to supplier.name, admin_supplier_path(supplier.id, readonly: false) %></td>
                  <%else %>
                    <% if column_name.include?('_id') %>
                      <td>
                        <%
                          atribute = column_name.split('_id')
                          string = atribute[0].camelize
                          model = string.constantize
                        %>
                        <% unless supplier[column_name].nil? %>
                          <% data = model.find(supplier[column_name].to_i) %>
                          <% if string.eql?('PaymentTerm') %>
                            <%= data.description %>
                          <% else %>
                            <%= data.name %>
                          <% end %>
                        <% end %>
                      </td>
                    <% elsif column_name == 'status' %>
                      <td><%= t("enums.client.status.#{supplier.status}") %></td>
                    <% elsif column_name == 'has_credit' %>
                      <td><%= t("views.globals.#{supplier.has_credit}") %></td>
                    <% elsif column_name == 'authorized_credit' %>
                      <td><%= t("views.globals.#{supplier.authorized_credit}") %></td>
                    <% elsif column_name == 'carrier' %>
                      <td><%= t("views.globals.#{supplier.carrier}") %></td>
                    <%else %>
                      <td><%= supplier[column_name] %></td>
                    <%end %>
                  <%end %>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
          <!-- datatable end -->
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :scripts_block do %>
  <!-- datatble responsive bundle contains:
    + jquery.dataTables.js
    + dataTables.bootstrap4.js
    + dataTables.autofill.js
    + dataTables.buttons.js
    + buttons.bootstrap4.js
    + buttons.html5.js
    + buttons.print.js
    + buttons.colVis.js
    + dataTables.colreorder.js
    + dataTables.fixedcolumns.js
    + dataTables.fixedheader.js
    + dataTables.keytable.js
    + dataTables.responsive.js
    + dataTables.rowgroup.js
    + dataTables.rowreorder.js
    + dataTables.scroller.js
    + dataTables.select.js
    + datatables.styles.app.js
    + datatables.styles.buttons.app.js -->
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <script>
      $(document).ready( function () {
          $('#dt-basic-suppliers').dataTable({
              responsive: true,
              dom:
              /*  --- Layout Structure
                --- Options
                l  -  length changing input control
                f  -  filtering input
                t  -  The table!
                i  -  Table information summary
                p  -  pagination control
                r  -  processing display element
                B  -  buttons
                R  -  ColReorder
                S  -  Select

                --- Markup
                < and >        - div element
                <"class" and >    - div with a class
                <"#id" and >    - div with an ID
                <"#id.class" and >  - div with an ID and a class

                --- Further reading
                https://datatables.net/reference/option/dom
                --------------------------------------
               */
                  "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                  "<'row'<'col-sm-12'tr>>" +
                  "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
              buttons: [
                  {
                      extend:    'colvis',
                      text:      "<%= I18n.t('views.shared.datatables.text.column_visibility') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.column_visibility') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'csvHtml5',
                      text:      "<%= I18n.t('views.shared.datatables.text.csv') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.csv') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'copyHtml5',
                      text:      "<%= I18n.t('views.shared.datatables.text.copy') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.copy') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'print',
                      text:      "<%= I18n.t('views.shared.datatables.text.print') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.print') %>",
                      className: 'btn-outline-default'
                  }

              ]
          });
      });
  </script>
<% end %>
