<%
  content_for(:title, t('views.admin.suppliers.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.suppliers'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-user-edit'></i> <%= t('views.sidebar.suppliers') %>
<% end %>

<% content_for :subheader_block do %>
  <%= render 'dashboard_header' %>
<% end %>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/theme-demo', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker', media: 'screen, print' %>

  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <!-- page related CSS below -->
  <%= stylesheet_link_tag 'smartadmin/formplugins/select2/select2.bundle', media: 'screen, print' %>

<% end %>

<div class="tab-content py-3">
  <div class="tab-pane fade" id="tab_dashboard" role="tabpanel">
    Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.
  </div>
  <div class="tab-pane fade show active" id="tab_general_data" role="tabpanel">
    <%= render 'admin/suppliers/general_data' %>
  </div>
  <div class="tab-pane fade" id="tab_quotes" role="tabpanel">
    <%= render 'admin/suppliers/quotes' %>
  </div>
</div>
<%= render 'new_address_modal' %>
<%= render 'edit_address_modal' %>
<%= render 'show_address_modal' %>

<%= render 'new_contact_modal' %>
<%= render 'edit_contact_modal' %>
<%= render 'show_contact_modal' %>

<%= render 'new_phone_modal' %>
<%= render 'edit_phone_modal' %>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
  <%= javascript_include_tag 'smartadmin/formplugins/bootstrap-datepicker/bootstrap-datepicker' %>

  <script>
      // Class definition
      var controls = {
          leftArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-left" style="font-size: 1.25rem"></i>',
          rightArrow: '<i class="<%= Rails.configuration.icon_prefix %> fa-angle-right" style="font-size: 1.25rem"></i>'
      }

      var runDatePicker = function () {
          // input group layout
          $('#contact_birth_date').datepicker({
              todayHighlight: true,
              orientation: "bottom left",
              templates: controls
          });
      }
      $(document).ready(function () {
          runDatePicker();
      });
  </script>
<% end %>