<% if @update == true %>
  $("#address_list").html("<%= j render :partial => 'admin/suppliers/addresses/accordion_addresses' %>");
  $("#edit-address-modal").modal("toggle");
<% else %>
  $("#modal-edit-address-container").html("<%= j render partial: "admin/suppliers/addresses/edit_address_form"%>");
<% end %>