<% if @phone.errors.empty?  %>
  $("#phone_list").html("<%= j render :partial => 'admin/suppliers/phones/collection' %>");
  $("#edit-phone-modal").modal("toggle");
<% else %>
  $("#modal-edit-phone-container").html("<%= j render partial: 'admin/suppliers/phones/edit_phone_form' %>");
<% end %>