<%= simple_form_for [:admin, @packaging_type] do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.input :code, placeholder: t('activerecord.attributes.packaging_type.code') %>
    </div>
    <div class="col-md-6">
      <%= f.input :name, placeholder: t('activerecord.attributes.packaging_type.name') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <%= f.input :definition, placeholder: t('activerecord.attributes.packaging_type.definition') %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
    </div>
  </div>
<% end %>
