<%
  content_for(:title, t('views.sidebar.maritime_lcl_quotes'))
  content_for(:category_1, 'Dashboard')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-ship'></i> <%= t('views.sidebar.maritime_lcl_quotes') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/formplugins/dropzone/dropzone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/datagrid/datatables/datatables.bundle', media: 'screen, print' %>
<% end %>

<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <%= javascript_include_tag 'smartadmin/formplugins/dropzone/dropzone' %>

  <script>

  </script>
<% end %>
