<div class="panel-container show">
  <div class="panel-content">
    <!-- datatable start -->
    <table id="dt-basic-phones" class="table table-bordered table-hover table-striped w-100">
      <thead>
      <tr>
        <th><%= t('activerecord.attributes.phone.name') %></th>
        <th><%= t('activerecord.attributes.phone.number') %></th>
        <th><%= t('activerecord.attributes.phone.type_phone') %></th>
        <th><%= t('views.shared.tags.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @phones.each do |phone| %>
        <%if phone %>
          <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="symbol symbol-50 symbol-light">
              <span class="symbol-label symbol-warning">
              <% if phone.principal == true %>
                <span class="svg-icon svg-icon-md svg-icon-warning">
                  <%= render "shared/icons/star" %>
                </span>
              <% else %>
                <span class="svg-icon svg-icon-md svg-icon-secondary">
                  <%= render 'shared/icons/half_star'%>
                </span>
              <% end %>
              </span>
            </div>
              <div class="ml-3">
                <span class="text-dark-75 font-weight-bold line-height-sm d-block pb-2">
                  <%= phoneable_type(phone) %>
                </span>
                <span class="text-muted text-hover-primary">
                  <%= phone_type(phone.phoneable_type) %>
                </span>
              </div>
            </div>
          </td>
          <td><%= phone.type_phone == 'mobile' ? phone.number : phone.full_extension_phone %> </td>
          <td><%= t("enums.phone.type_phone.#{phone.type_phone}") %></td>
          <td nowrap="nowrap">
            <% if phone.phoneable_type == 'Supplier'%>
              <button id='editPhone' onclick="editPhoneButton(<%= phone.id %>)" class="btn btn-sm btn-clean btn-icon">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <i class="fas fa-edit"></i>
                </span>
              </button>
            <% end %>
            <% unless  phone.principal %>
              <%= link_to destroy_phone_admin_supplier_path(id: @supplier.id, phone_id: phone.id), class: 'btn btn-sm btn-clean btn-icon', remote: true, method: :delete, data: {confirm: 'Are you sure?'} do %>
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <i class="fas fa-trash"></i>
                </span>
                <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <!-- datatable end -->
  </div>
</div>
<% content_for :scripts_block do %>
  <script>
    function editPhoneButton(phone_id){
        alert("dddddd");
    $.ajax({
    method: "GET",
    url: "/admin/suppliers/"+  $("#supplier_id").val() + "/edit_phone",
    data: {phone_id: phone_id},
    success: function (data) {
    },
    error: function (data) {
    }
    });
    }
  </script>
<% end %>