<%= simple_form_for @phone, url: url_for(controller: 'admin/suppliers', action: 'update_phone'), html: {id: 'form_phone'}, remote: true do |f|%>
  <%= render 'admin/suppliers/phones/form' , f: f%>
<%  end %>
