<div class="col-lg-6">
  <div id="panel-2" class="panel" data-panel-fullscreen="false">
    <div class="panel-hdr">
      <h2><%= t('views.shared.text.comments') %></h2>
    </div>
    <div class="panel-container show">
      <div class="panel-content p-0">
        <div class="d-flex flex-column">
          <div class="bg-subtlelight-fade custom-scroll" style="height: 244px">
            <div class="h-100" id="comments">
              <% quote_comments = @quote.quote_comments.order("created_at DESC") %>
              <% unless @quote.quote_comments.blank? %>
                <%= render quote_comments %>
              <% else %>
                <h1 class="text-center mt-2"><%= t('views.shared.text.not_comments') %></h1>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 bg-faded">
        <%= render 'admin/quotes/comment_form' %>
      </div>
    </div>
  </div>
</div>