<div class="col-lg-12">
  <div id="panel-2" class="panel" data-panel-fullscreen="false">
    <div class="panel-hdr">
      <h2><%= t('views.shared.text.commodities') %></h2>
    </div>
    <div class="panel-container show">
      <div class="panel-content">
        <div class="row">
          <div class="col-sm-6 col-xl-4">
            <div class="p-3 bg-info-300 rounded overflow-hidden position-relative text-white mb-g">
              <% if @quote.maritime_rate.freight_type.code == 'FCL' %>
                <div class="">
                  <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    <%= @quote.total_pieces %>
                    <small class="m-0 l-h-n"><%= t('activerecord.attributes.quote.total_containers') %></small>
                  </h3>
                </div>
                <i class="<%= Rails.configuration.icon_prefix %> fa-container-storage position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1" style="font-size:6rem"></i>
              <% else %>
                <div class="">
                  <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    <%= @quote.total_pieces %>
                    <small class="m-0 l-h-n"><%= t('activerecord.attributes.quote.total_pieces') %></small>
                  </h3>
                </div>
                <i class="<%= Rails.configuration.icon_prefix %> fa-boxes-alt position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1" style="font-size:6rem"></i>
            <% end %>
            </div>
          </div>
          <% if @quote.maritime_rate.freight_type.code == 'LCL' %>
            <div class="col-sm-6 col-xl-4">
              <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
                <div class="">
                  <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    <%= @quote.total_weight %>
                    <small class="m-0 l-h-n"><%= t('activerecord.attributes.quote.total_weight') %></small>
                  </h3>
                </div>
                <i class="<%= Rails.configuration.icon_prefix %> fa-balance-scale position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
                <div class="">
                  <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    <%= @quote.total_chargeable_weight %>
                    <small class="m-0 l-h-n"><%= t('activerecord.attributes.quote.total_chargeable_weight') %></small>
                  </h3>
                </div>
                <i class="<%= Rails.configuration.icon_prefix %> fa-balance-scale position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="p-3 bg-primary-200 rounded overflow-hidden position-relative text-white mb-g">
                <div class="">
                  <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    <%= @quote.total_volume %>
                    <small class="m-0 l-h-n"><%= t('activerecord.attributes.quote.total_volume') %></small>
                  </h3>
                </div>
                <i class="<%= Rails.configuration.icon_prefix %> fa-cube position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6" style="font-size: 8rem;"></i>
              </div>
            </div>
          <% end %>

          <div class="col-sm-6 col-xl-4">
            <div class="p-3 bg-success-200 rounded overflow-hidden position-relative text-white mb-g">
              <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                  <%= number_to_currency(@quote.total_cost) %>
                  <small class="m-0 l-h-n"><%= t('activerecord.attributes.quote.total_cost') %></small>
                </h3>
              </div>
              <i class="<%= Rails.configuration.icon_prefix %> fa-dollar-sign position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n2" style="font-size: 6rem;"></i>
            </div>
          </div>
        </div>
        <% if @quote.maritime_rate.freight_type.code == 'LCL' %>
          <div class="row">
            <div class="col-xl-12">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th><%= t('activerecord.attributes.quote_concept.pieces') %></th>
                    <th><%= t('activerecord.attributes.quote_concept.length') %></th>
                    <th><%= t('activerecord.attributes.quote_concept.height') %></th>
                    <th><%= t('activerecord.attributes.quote_concept.width') %></th>
                    <th><%= t('activerecord.attributes.quote_concept.volume') %></th>
                    <th><%= t('activerecord.attributes.quote_concept.weight') %></th>
                  </tr>
                  <tbody>
                    <% @quote.maritime_quote_units.each do |quote_unit| %>
                      <tr>
                        <td><%= quote_unit.number_units %></td>
                        <td><%= quote_unit.length %></td>
                        <td><%= quote_unit.height %></td>
                        <td><%= quote_unit.width %></td>
                        <td><%= quote_unit.volume %></td>
                        <td><%= quote_unit.weight %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>