<%= simple_form_for [:admin, @quote, @comment], remote: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :maritime_quote_id, value: @quote.id %>
  <%= f.input :body, label: false, placeholder: 'Write a reply', input_html: { rows: 3, class: "rounded-top border-bottom-left-radius-0 border-bottom-right-radius-0 border" } %>
  <div class="d-flex align-items-center py-2 px-2 bg-white border border-top-0 rounded-bottom">
    <div class="btn-group dropup">
    </div>
    <button type="button" class="btn btn-icon fs-lg">
    </button>
    <div class="custom-control custom-checkbox custom-control-inline ml-auto hidden-sm-down">
    </div>
    <button class="btn btn-primary btn-sm ml-auto ml-sm-0">
      <%= t('views.shared.buttons.send') %>
    </button>
  </div>
<% end %>

<% content_for :scripts_block do %>
  <script>
      $(document).ready(function () {
          $(".quote_comment_body").removeClass( "form-group" );
          document.querySelector('#new_quote_comment').addEventListener('submit', (e) => {
              const dataQuoteForm = Object.fromEntries(new FormData(e.target).entries());
              let quote_id = "<%= @quote.id %>";
              console.log(dataQuoteForm);
              $.ajax({
                  url: " /admin/maritime_quotes/" + quote_id + "/quote_comments",
                  type: "post",
                  data: dataQuoteForm,
                  success: function (data) {
                      console.log("success");
                      $("#quote_comment_body").val('');
                      console.log(data.id)
                  },
                  error: function (data) {
                      console.log("error");
                  }
              });
          });
      });
  </script>
<% end %>