<%= simple_form_for @quote, url: url_for(controller: 'admin/quotes', action: 'update') do |f| %>
  <%= f.hidden_field :organization_id, value: 1 %>
  <%= f.hidden_field :quoted_at, value: Time.now %>
  <%= f.hidden_field :freight_type_id, value: FreightType.find_by(code: "FCL").id %>

  <div class="panel-container show">
    <div class="panel-content align-items-center">
      <div class="form-group row align-items-start">
        <div class="col-sm-12 col-md-6">
          <%= f.input :description %>
        </div>
        <div class="col-md-12 mt-4">
          <h3 class="form-label"><%= t('activerecord.attributes.quote.commodities') %></h3>
        </div>
        <div id="maritime_quote_units" >
          <%=  f.simple_fields_for :maritime_quote_units do |quote_unit| %>
            <%= render 'admin/quotes/quote_unit_fields', f: quote_unit %>
          <% end %>
        </div>
        <div class="col-xl-12 links">
          <%= link_to_add_association t('views.shared.buttons.add'), f, :maritime_quote_units, partial: 'quote_unit_fields' %>
        </div>
      </div>
      <div id="maritime_quote_optional_services" class="col-sm-12 col-md-6">
        <%= render 'optional_services_form', f: f %>
      </div>
      <div class="form-group row">
        <div class="col-md-4"></div>
        <div class="col-md-8 text-right">
          <button type="submit" class="btn btn-success waves-effect waves-themed"><%= button %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts_block do %>
  <script>
  </script>
<% end %>