<% @quote.quote_optional_services.each_with_index do |quote_optional_services, index| %>
  <%= f.fields_for :quote_optional_services_attributes, index: index do |optional_service_form| %>
    <div class="form-group row align-items-start">
      <% if quote_optional_services.charge.nil? %>
        <%= optional_service_form.hidden_field :id, value: quote_optional_services.id %>
        <div class="col-md-4 ">
          <span><%= quote_optional_services.optional_service.name_label %></span>
        </div>
        <div class="col-md-4">
          <%= optional_service_form.text_field :charge, class: 'form-control' %>
        </div>
        <% if quote_optional_services.optional_service.name === 'collection_at_origin' %>
          <div class="d-block text-muted fs-md">
            <!--%= @quote.collection_address %-->
          </div>
        <% end %>
        <% if quote_optional_services.optional_service.name === 'delivery_at_destination' %>
          <div class="d-block text-muted fs-md">
            <!--%= @quote.delivery_address %-->
          </div>
        <% end %>
        <br/>
      <% end %>
      <% if quote_optional_services.optional_service.name == 'customs_clearance' %>
        <div class="col-md-4">
          <%= f.select :incoterm_id, @incoterms.collect {|incoterm| [incoterm.code, incoterm.id] }, { prompt: t('views.shared.prompt.incoterm') }, { class: 'custom-select', data: { 'live-search': "true" } }  %>
        </div>
    <% end %>

    </div>
  <% end %>
<% end %>


<% content_for :scripts_block do %>
  <%= javascript_include_tag 'smartadmin/formplugins/select2/select2.bundle' %>
  <script>
      $(document).ready(function () {

          $(".incotermSelect").select2();
      });
  </script>
<% end %>


