<% content_for :head_block do %>
  <%= stylesheet_link_tag 'freightspot/admin/quotes/user_activity', media: 'screen, print' %>
<% end %>

<div class="col-lg-6">
  <div id="panel-2" class="panel" data-panel-fullscreen="false">
    <div class="panel-hdr">
      <h2><%= t('views.customer.quotes.new.optional_services') %></h2>
    </div>
    <div class="panel-container show">
      <div class="panel-content">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th><%= t('views.shared.text.services') %></th>
                <th><%= t('views.shared.text.cost') %></th>
              </tr>
            </thead>
            <tbody>
              <% @quote.quote_optional_services.each do |optional_service| %>
                <tr>
                  <td><%= optional_service.optional_service.name_label %></td>
                  <td><%=  optional_service.charge.nil? ? "Por definir" : number_to_currency(optional_service.charge)%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>