<% @quote.quote_comments.each do |comment| %>
  <div class="d-flex flex-row px-3 pt-3 pb-2">
    <!-- profile photo : lazy loaded -->
    <span class="status status-danger">
      <% if comment.user.avatar.attached? %>
        <span class="profile-image rounded-circle d-inline-block" style="background-image: url('<%= image_path comment.user.avatar %>')"></span>
      <% else %>
        <span class="profile-image rounded-circle d-inline-block" style="background-image: url('<%= image_path 'smartadmin/demo/avatars/avatar-m.png' %>')"></span>
      <% end %>
    </span>
    <!-- profile photo end -->
    <div class="ml-3">

      <a href="javascript:void(0);" title="Lisa Hatchensen" class="d-block fw-700 text-dark">
        <% unless comment.user.employee.blank? %>
          <%= comment.user.employee.name %>
        <% else %>
          <%= comment.user.contact.name %>
        <% end %>
      </a>
      <div class="d-block text-muted fs-sm">
        <%= time_ago_in_words(comment.created_at).capitalize %>
      </div>

      <%= comment.body %>
      <!-- file download -->
      <div class="d-flex mt-3 flex-wrap">
        <div class="btn-group mr-1 mt-1" role="group" aria-label="Button group with nested dropdown ">
          <button type="button" class="btn btn-default btn-xs btn-block px-1 py-1 fw-500" data-action="toggle">
              <span class="d-block text-truncate text-truncate-sm">
                <i class="<%= Rails.configuration.icon_prefix %> fa-file-pdf mr-1 color-danger-700"></i> Report-2013-demographic-repo
              </span>
          </button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-default btn-xs dropdown-toggle px-2 js-waves-off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu p-0 fs-xs" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item px-3 py-2" href="#">Forward</a>
              <a class="dropdown-item px-3 py-2" href="#">Open</a>
              <a class="dropdown-item px-3 py-2" href="#">Delete</a>
            </div>
          </div>
        </div>
        <div class="btn-group mr-1 mt-1" role="group" aria-label="Button group with nested dropdown ">
          <button type="button" class="btn btn-default btn-xs btn-block px-1 py-1 fw-500" data-action="toggle">
            <span class="d-block text-truncate text-truncate-sm">
              <i class="<%= Rails.configuration.icon_prefix %> fa-file-pdf mr-1 color-danger-700"></i> Bloodworks Patient 34124BA
            </span>
          </button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop2" type="button" class="btn btn-default btn-xs dropdown-toggle px-2 js-waves-off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu p-0 fs-xs" aria-labelledby="btnGroupDrop2">
              <a class="dropdown-item px-3 py-2" href="#">Forward</a>
              <a class="dropdown-item px-3 py-2" href="#">Open</a>
              <a class="dropdown-item px-3 py-2" href="#">Delete</a>
            </div>
          </div>
        </div>

      </div>
      <!-- file download end -->
    </div>
  </div>
<% end %>