<div class="col-xl-12">
  <div class="nested-fields">
    <%= f.hidden_field :id %>

    <div class="row d-flex flex-row">
      <div class="col">
        <%= f.input :number_units %>
      </div>
      <div class="col">
        <%= f.input :length %>
      </div>
      <div class="col">
        <%= f.input :height %>
      </div>
      <div class="col">
        <%= f.input :width %>
      </div>
<!--      <div class="col">
        <%#= f.input :volume, disabled: true %>
      </div>-->
      <div class="col">
        <%= f.input :weight %>
      </div>
      <div class="col">
        <%= link_to_remove_association f, {:style=>'position: relative; top:30px;', :class => "btn btn-outline-primary btn-sm btn-icon"} do %>
          <i class="<%= Rails.configuration.icon_prefix %> fa-trash"></i>
        <% end %>
      </div>
    </div>
    <br>
  </div>
</div>