<div class="col-lg-12">
  <!--Basic tables-->
  <div id="panel-1" class="panel">
    <div class="panel-hdr">
      <h2><%= t('views.admin.quotes.show.title') %></h2>
      <div class="panel-toolbar">
        <%= link_to admin_quotes_path, class: 'btn btn-secondary btn-sm ml-2' do %>
          <%= t('views.shared.buttons.back') %>
        <% end %>
        <% if current_user.admin? %>
          <% if @quote.status != 'authorized' || current_user.super? %>
            <button class="btn btn-primary btn-sm ml-2" onclick="deleteQuote(<%= @quote.id %>)"> <%= t('views.shared.buttons.destroy') %></button>
          <% end %>
          <% if @quote.status != 'authorized' || current_user.super? %>
            <%= link_to edit_admin_quote_path(@quote.id), class: 'btn btn-info btn-sm ml-2' do %>
              <%= t('views.shared.buttons.edit') %>
            <% end %>
          <% end %>
          <% if @quote.status != 'authorized' || current_user.super?%>
            <% unless @quote.some_optional_service_nil? %>
              <%= link_to authorize_admin_quote_path(@quote.id), class: 'btn btn-success btn-sm ml-2' do %>
                <%= t('views.shared.buttons.authorize') %>
              <% end %>
            <% end %>
          <% end %>
          <% if (@quote.status != 'authorized' and @quote.status != 'declined') || current_user.super?%>
            <button class="btn btn-warning btn-sm ml-2" onclick="declinedQuote(<%= @quote.id %>)"> <%= t('views.shared.buttons.decline') %></button>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="panel-container show">
      <div class="panel-content">
        <div class="frame-wrap p-0 border-0 m-0">
          <div class="form-group row my-2">
            <span class="col-1 col-form-label"><%= t('activerecord.attributes.quote.number') %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.number %></span>

            <label class="col-1 col-form-label"><%= t('activerecord.attributes.quote.service_mode') %>:</label>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.freight_type.service_mode.name %></span>

            <label class="col-1 col-form-label"><%= t('activerecord.attributes.quote.freight_type') %>:</label>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= t("enums.quotes.freight_type.#{@quote.freight_type.name}") %></span>
          </div>

          <div class="form-group row my-2">
            <span class="col-1 col-form-label"><%= t('activerecord.attributes.quote.operation_type') %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.export_or_import? %></span>

            <span class="col-1 col-form-label"><%= t('activerecord.attributes.maritime_rate.cargo_type') %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.maritime_rate.cargo_type.name %></span>

            <label class="col-1 col-form-label"><%= t('activerecord.attributes.maritime_rate.shipping_line') %>:</label>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.maritime_rate.shipping_line.name %></span>
          </div>

          <div class="form-group row my-2">
            <span class="col-1 col-form-label"><%= t('activerecord.attributes.maritime_rate.transit_time') %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.maritime_rate.transit_time %></span>

            <span class="col-1 col-form-label"><%= t('activerecord.attributes.quote.free_day_of_delay') %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.maritime_rate.free_days %></span>
            <% if @quote.incoterm %>
              <span class="col-1 col-form-label"><%= t('activerecord.attributes.quote.incoterm') %>:</span>
              <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.incoterm.code %></span>
            <% end %>
          </div>

          <div class="form-group row my-2">
            <span class="col-1 col-form-label"><%= t('activerecord.attributes.maritime_rate.origin') %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.maritime_rate.origin.name %></span>

            <span class="col-1 col-form-label"><%= t('activerecord.attributes.maritime_rate.destination') %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.maritime_rate.destination.name %></span>

            <label class="col-1 col-form-label"><%= t('activerecord.attributes.quote.expired_at') %>:</label>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.maritime_rate.rate_validity_end.strftime("%d-%m-%Y") %></span>

          </div>

          <div class="form-group row my-2">

            <span class="col-1 col-form-label"><%= t('activerecord.attributes.maritime_rate.departure_date') %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.maritime_rate.departure_date.strftime("%d-%m-%Y") %></span>

            <span class="col-1 col-form-label"><%= t('activerecord.attributes.maritime_quote.number_of_transshipments') %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= route_or_scale?(@quote.maritime_rate.transshipments.size) %></span>

            <span class="col-1 col-form-label"><%= t('activerecord.attributes.maritime_quote.status') %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder">
                <span class="badge <%= badge_quote_status(@quote.status) %>"><%= t("enums.quote.status.#{@quote.status}") %></span>
              </span>
          </div>

          <div class="form-group row my-2">
            <span class="col-1 col-form-label"><%= t('views.admin.quotes.shared.contact') %>:</span>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= "#{@quote.client.principal_contact.first_name} #{@quote.client.principal_contact.last_name}" %></span>

            <label class="col-1 col-form-label"><%= t('activerecord.attributes.contact.email') %>:</label>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.client.principal_contact.email %></span>

            <label class="col-1 col-form-label"><%= t('activerecord.attributes.quote_contact_email.phone') %>:</label>
            <span class="col-3 col-form-label control-plaintext font-weight-bolder"><%= @quote.client.principal_contact.principal_phone.number %></span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>