<div class="form-group row align-items-start">
  <div class="col-md-3" style="top:30px;">
    <span class="col-form-label col-12 col-lg-4 form-label text-md-right"><%= t('activerecord.attributes.quote.description') %></span>
  </div>
  <div class="col-md-9">
    <% @quote.maritime_quote_units.each do |quote_unit| %>
      <div class="row align-items-center">
        <div class="row col-md-4">
          <div class="col-md-6">
            <%= quote_unit.product.name %>

          </div>
          <div class="col-md-6">
            <%= quote_unit.packaging_type.name %>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-start col-md-8">
          <div class="col">
            <%= quote_unit.length %>
          </div>
          <div class="col">
            <%= quote_unit.height %>
          </div>
          <div class="col">
            <%= quote_unit.width %>
          </div>
          <div class="col">
            <%= quote_unit.volume %>
          </div>
          <div class="col">
            <%= quote_unit.weight %>
          </div>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>