<%
  content_for(:title, t('views.sidebar.quotes'))
  content_for(:category_1, 'Dashboard')
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-file-invoice-dollar'></i> <%= t('views.sidebar.quotes') %>
<% end %>


<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>

  <%= stylesheet_link_tag 'smartadmin/datagrid/datatables/datatables.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2><%= t('views.customer.quotes.index.subtitle') %></h2>
        <div class="panel-toolbar">
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <!-- datatable start -->
          <table id="dt-basic-quotes" class="table table-bordered table-hover table-striped w-100">
            <thead>
              <tr>
              <th><%= t('activerecord.attributes.maritime_quote.number') %></th>
              <th><%= t('activerecord.attributes.client.name') %></th>
              <th><%= t('activerecord.attributes.maritime_quote.origin') %></th>
              <th><%= t('activerecord.attributes.maritime_quote.destination') %></th>
              <th><%= t('activerecord.attributes.maritime_quote.service_type') %></th>
              <th><%= t('activerecord.attributes.quote.total_cost') %></th>
              <th><%= t('activerecord.attributes.maritime_quote.created_at') %></th>
              <th><%= t('activerecord.attributes.maritime_quote.updated_at') %></th>
              <th><%= t('activerecord.attributes.maritime_quote.status') %></th>
            </tr>
            </thead>
            <tbody>
              <% @quotes.each do |quote| %>
                <% unless quote.maritime_rate.nil? %>
                  <tr>
                    <td><%= link_to quote.number, admin_quote_path(quote.id) %></td>
                    <td><%= quote.client.name %></td>
                    <td class="text-center">
                      <%= flag_icon(quote.maritime_rate.origin.country.code.downcase) %>
                      <%= quote.maritime_rate.origin.name.capitalize %>
                    </td>
                    <td class="text-center">
                      <%= flag_icon(quote.maritime_rate.destination.country.code.downcase) %>
                      <%= quote.maritime_rate.destination.name.capitalize %>
                    </td>
                    <td class="text-center"><%= quote.freight_type.code %></td>
                    <td class="text-center"><%= number_to_currency(quote.total_cost) %></td>
                    <td class="text-center"><%= quote.created_at.nil? ? '' : quote.created_at.strftime("%d-%m-%Y") %></td>
                    <td class="text-center"><%= quote.created_at.nil? ? '' : quote.updated_at.strftime("%d-%m-%Y") %></td>
                    <td><span class="badge <%= badge_quote_status(quote.status) %>"><%= t("enums.quote.status.#{quote.status}") %></span></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <!-- datatable end -->
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts_block do %>
  <!-- datatble responsive bundle contains:
  + jquery.dataTables.js
  + dataTables.bootstrap4.js
  + dataTables.autofill.js
  + dataTables.buttons.js
  + buttons.bootstrap4.js
  + buttons.html5.js
  + buttons.print.js
  + buttons.colVis.js
  + dataTables.colreorder.js
  + dataTables.fixedcolumns.js
  + dataTables.fixedheader.js
  + dataTables.keytable.js
  + dataTables.responsive.js
  + dataTables.rowgroup.js
  + dataTables.rowreorder.js
  + dataTables.scroller.js
  + dataTables.select.js
  + datatables.styles.app.js
  + datatables.styles.buttons.app.js -->
  <%= javascript_include_tag 'smartadmin/datagrid/datatables/datatables.bundle' %>
  <script>
      $(document).ready( function () {
          $('#dt-basic-quotes').dataTable({
              responsive: true,
              dom:
              /*  --- Layout Structure
                --- Options
                l  -  length changing input control
                f  -  filtering input
                t  -  The table!
                i  -  Table information summary
                p  -  pagination control
                r  -  processing display element
                B  -  buttons
                R  -  ColReorder
                S  -  Select

                --- Markup
                < and >        - div element
                <"class" and >    - div with a class
                <"#id" and >    - div with an ID
                <"#id.class" and >  - div with an ID and a class

                --- Further reading
                https://datatables.net/reference/option/dom
                --------------------------------------
               */
                  "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                  "<'row'<'col-sm-12'tr>>" +
                  "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
              buttons: [
                  {
                      extend:    'colvis',
                      text:      "<%= I18n.t('views.shared.datatables.text.column_visibility') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.column_visibility') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'csvHtml5',
                      text:      "<%= I18n.t('views.shared.datatables.text.csv') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.csv') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'copyHtml5',
                      text:      "<%= I18n.t('views.shared.datatables.text.copy') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.copy') %>",
                      className: 'btn-outline-default'
                  },
                  {
                      extend:    'print',
                      text:      "<%= I18n.t('views.shared.datatables.text.print') %>",
                      titleAttr: "<%= I18n.t('views.shared.datatables.titleAttr.print') %>",
                      className: 'btn-outline-default'
                  }

              ]
          });
      });
  </script>
<% end %>
