<%
  content_for(:title, t('views.admin.quotes.show.title'))
  content_for(:category_1, 'Dashboard')
  content_for(:category_2, t('views.sidebar.quotes'))
%>

<% content_for :heading do %>
  <i class='subheader-icon fal fa-file-invoice-dollar'></i>  <%= t('views.sidebar.quotes') %>
<% end %>

<% content_for :head_block do %>
  <!-- Optional: page related CSS-->
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
  <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>

  <%= stylesheet_link_tag 'smartadmin/notifications/sweetalert2/sweetalert2.bundle', media: 'screen, print' %>
<% end %>

<div class="row">
  <%= render 'admin/quotes/quote_detail' %>
</div>
<div class="row">
  <%= render 'admin/quotes/commodities_detail' %>
</div>
<div class="row">
  <%= render 'admin/quotes/optional_services' %>
  <%= render 'admin/quotes/activity_registers' %>
</div>
<div class="row">
  <%= render 'admin/quotes/comments' %>
</div>

<% content_for :scripts_block do %>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support -->
  <%= javascript_include_tag 'smartadmin/notifications/sweetalert2/sweetalert2.bundle' %>
  <script>
    function declinedQuote(quote_id) {
        var swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-primary",
                cancelButton: "btn btn-danger mr-2"
            },
            buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({
                  title: "¿Esta seguro que desea rechazar la cotización?",
                  text: "Ingrese la razón de rechazo",
                  type: "warning",
                  input: "text",
                  inputAttributes: {
                      autocapitalize: "off"
                  },
                  showCancelButton: true,
                  confirmButtonText: "Rechazar",
                  showLoaderOnConfirm: true,
              }).then(function (result) {
                  if (result.value) {
                      $.ajax({
                          url: "/admin/quotes/" + quote_id + "/declined",
                          type: "post",
                          data: {
                              maritime_quote:
                                  {
                                      reason_of_declined: result.value,
                                      status: "declined"
                                  }
                              },
                          success: function () {
                              swalWithBootstrapButtons.fire(
                                  "<%= t('views.shared.text.declined') %>",
                                  "<%= t('activerecord.models.quote.one') %> <%= t('views.shared.text.successfully_declined') %>.",
                                  "success"
                              );
                          },
                          error: function (result) {
                          }
                      });
                  }else if (
                      // Read more about handling dismissals
                      result.dismiss === Swal.DismissReason.cancel
                  ) {
                      swalWithBootstrapButtons.fire(
                          "<%= t('views.shared.text.cancelled') %>",
                          "<%= t('activerecord.models.quote.one')%> <%= t('views.shared.text.not_declined') %>",
                          "error"
                      );
                  }
              });
      }
    function deleteQuote(quote_id) {
        var swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-primary",
                cancelButton: "btn btn-danger mr-2"
            },
            buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({
            title: "<%= t('views.shared.text.do_you_want_to_delete') %>",
            text: "<%= t('views.shared.text.add_delete_reason') %>",
            type: "warning",
            input: "text",
            inputAttributes: {
                autocapitalize: "off"
            },
            showCancelButton: true,
            confirmButtonText: "<%= t('views.shared.buttons.destroy') %>",
            showLoaderOnConfirm: true,
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    url: "/admin/quotes/" + quote_id,
                    method: "DELETE",
                    data: {
                        quote_id: quote_id,
                        destroy_reason: result.value
                    },
                    success: function () {
                        swalWithBootstrapButtons.fire(
                            "<%= t('views.shared.text.deleted') %>",
                            "<%= t('activerecord.models.quote.one') %> <%= t('views.shared.text.successfully_removed') %>.",
                            "success"
                        );
                    },
                    error: function (result) {
                    }
                });
            }else if (
                // Read more about handling dismissals
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    "<%= t('views.shared.text.cancelled') %>",
                    "<%= t('activerecord.models.quote.one')%> <%= t('views.shared.text.not_deleted') %>",
                    "error"
                );
            }
        });
    }
  </script>
<% end %>