<!DOCTYPE html>
<%= render 'shared/copyright_header' %>
<html lang="en">
  <head>
    <%= render 'shared/head' %>

    <%#  Optional: page related CSS  %>
    <%= yield :head_block %>

    <%= stylesheet_link_tag 'freightspot/bootstrap', media: 'screen, print' %>
    <%= stylesheet_link_tag 'freightspot/theme', media: 'screen, print' %>
    <%= stylesheet_link_tag 'freightspot/style', media: 'screen, print' %>
    <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
    <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
    <%= stylesheet_link_tag 'smartadmin/fa-regular', media: 'screen, print' %>
    <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
    <%= javascript_include_tag 'freightspot/dependency/jQuery/jquery' %>
    <style>
        .pricing-header:before {
            background: url('<%= image_path 'freightspot/features/pricing.png' %>') no-repeat center center / cover;
        }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
  </head>

  <!-- BEGIN Body -->
  <!-- Possible Classes

    * 'header-function-fixed'         - header is in a fixed at all times
    * 'nav-function-fixed'            - left panel is fixed
    * 'nav-function-minify'        - skew nav to maximize space
    * 'nav-function-hidden'           - roll mouse on edge to reveal
    * 'nav-function-top'              - relocate left pane to top
    * 'mod-main-boxed'                - encapsulates to a container
    * 'nav-mobile-push'               - content pushed on menu reveal
    * 'nav-mobile-no-overlay'         - removes mesh on menu reveal
    * 'nav-mobile-slide-out'          - content overlaps menu
    * 'mod-bigger-font'               - content fonts are bigger for readability
    * 'mod-high-contrast'             - 4.5:1 text contrast ratio
    * 'mod-color-blind'               - color vision deficiency
    * 'mod-pace-custom'               - preloader will be inside content
    * 'mod-clean-page-bg'             - adds more whitespace
    * 'mod-hide-nav-icons'            - invisible navigation icons
    * 'mod-disable-animation'         - disables css based animations
    * 'mod-hide-info-card'            - hides info card from left panel
    * 'mod-lean-subheader'            - distinguished page header
    * 'mod-nav-link'                  - clear breakdown of nav links

    >>> more settings are described inside documentation page >>>
  -->
  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-freightspot">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'logo.png' %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false"><%= t('views.navbar.why_we') %></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#"><%= t('views.navbar.our_vision') %></a>
              <a class="dropdown-item" href="#"><%= t('views.navbar.our_platform') %></a>
              <a class="dropdown-item" href="#"><%= t('views.navbar.service_model') %></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false"><%= t('views.navbar.services') %></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#"><%= t('views.navbar.sea_freight') %></a>
              <a class="dropdown-item" href="#"><%= t('views.navbar.air_freight') %></a>
              <a class="dropdown-item" href="#"><%= t('views.navbar.land_freight') %></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false"><%= t('views.navbar.means') %></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">

              <a class="dropdown-item" href="#"><%= t('views.navbar.blog') %></a>
              <a class="dropdown-item" href="#"><%= t('views.navbar.helpdesk') %></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false"><%= t('views.navbar.our_company') %></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#"><%= t('views.navbar.our_history') %></a>
              <a class="dropdown-item" href="#"><%= t('views.navbar.job_bank') %></a>
              <a class="dropdown-item" href="#"><%= t('views.navbar.contact') %></a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div id="div-user">
        <% if !current_user %>
          <%= link_to 'Login', 'users/sign_in', class: 'btn btn-freightspot ml-2' %>
        <% else %>
          <a href="#" data-toggle="dropdown" title="<%= Rails.configuration.email %>" class="header-icon d-flex align-items-center justify-content-center ml-2">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar.service_url, class: 'profile-image rounded-circle', alt: 'Avatar' %>
            <% else %>
              <%= image_tag Rails.configuration.default, class: 'profile-image rounded-circle', alt: 'Dr. Codex Lantern' %>
            <% end %>
            <!-- you can also add username next to the avatar with the codes below:
            <span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">Me</span>
            <i class="ni ni-chevron-down hidden-xs-down"></i> -->
          </a>
          <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
            <%= render 'shared/home/section_avatar' %>
          </div>

          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
    <%= render 'welcome/footer' %>
    <a href="#" class="back-to-top" style="display: inline;"><i class="fas fa-angle-double-up"></i></a>
  </body>
  <!-- END Body -->
  <%= javascript_include_tag 'freightspot/dependency/jQuery/jquery' %>
  <%= javascript_include_tag 'freightspot/miscellaneous/bootstrap/bootstrap.min' %>

  <%= yield :scripts_block %>

</html>
