<!DOCTYPE html>
<%= render 'shared/copyright_header' %>
<html lang="en">
  <head>
    <%= render 'shared/head' %>

    <%#  Optional: page related CSS  %>
    <%= yield :head_block %>
  </head>
  <body>
    <%
      content_for(:title, 'Login')
    %>

    <% content_for :head_block do %>
    <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>
      <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
    <% end %>

    <div class="page-wrapper auth">
      <div class="page-inner bg-brand-gradient">
        <div class="page-content-wrapper bg-transparent m-0">
          <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
            <div class="d-flex align-items-center container p-0">
              <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
                <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                  <%= image_tag 'logo-f.png', alt: "#{Rails.configuration.app} WebApp", aria: {roledescription: 'logo'} %>
                </a>
              </div>
            </div>
          </div>
          <div class="flex-1" style="background: url('<%= image_path 'smartadmin/svg/pattern-1.svg' %>') no-repeat center bottom fixed; background-size: cover;">
            <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
              <div class="row">
                <div class="col col-md-6 col-lg-7 hidden-sm-down">
                  <h2 class="fs-xxl fw-500 mt-4 text-white">
                    The simplest UI toolkit for developers &amp; programmers
                    <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60">
                      Presenting you with the next level of innovative UX design and engineering. The most modular toolkit available with over 600+ layout permutations. Experience the simplicity of <%= Rails.configuration.app %>, everywhere you go!
                    </small>
                  </h2>
                  <a href="#" class="fs-lg fw-500 text-white opacity-70">Learn more &gt;&gt;</a>
                  <div class="d-sm-flex flex-column align-items-center justify-content-center d-md-block">
                    <div class="px-0 py-1 mt-5 text-white fs-nano opacity-50">
                      Find us on social media
                    </div>
                    <div class="d-flex flex-row opacity-70">
                      <a href="#" class="mr-2 fs-xxl text-white">
                        <i class="fab fa-facebook-square"></i>
                      </a>
                      <a href="#" class="mr-2 fs-xxl text-white">
                        <i class="fab fa-twitter-square"></i>
                      </a>
                      <a href="#" class="mr-2 fs-xxl text-white">
                        <i class="fas fa-google-plus-square"></i>
                      </a>
                      <a href="#" class="mr-2 fs-xxl text-white">
                        <i class="fab fa-linkedin"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
                  <h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
                    Secure login
                  </h1>
                  <div class="card p-4 rounded-plus bg-faded">
                    <%= yield %>
                  </div>
                </div>
              </div>
              <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                <%= Rails.configuration.copyright_inverse %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% content_for :scripts_block do %>
      <script>
          $( "#js-login-btn" ).on( "click", function() {

              // Fetch form to apply custom Bootstrap validation
              var form = $("#js-login")

              if (form[0].checkValidity() === false) {
                  event.preventDefault()
                  event.stopPropagation()
              }

              form.addClass('was-validated');
              // Perform ajax submit here...
          });
      </script>
    <% end %>
  </body>
</html>
