<!DOCTYPE html>
<%= render 'shared/copyright_header' %>
<html lang="en">
<head>
  <%= render 'shared/head' %>

  <%#  Optional: page related CSS  %>
  <%= yield :head_block %>
</head>
<body>
<%
  content_for(:title, 'Login')
%>

<% content_for :head_block do %>
  <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
<% end %>

<div class="page-wrapper auth">
  <div class="page-inner bg-brand-gradient">
    <div class="page-content-wrapper bg-transparent m-0">
      <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
        <div class="d-flex align-items-center container p-0">

          <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
            <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
              <%= image_tag 'logo-f.png', alt: "#{Rails.configuration.app} WebApp", aria: {roledescription: 'logo'} %>
            </a>
          </div>
        </div>
      </div>
      <div class="flex-1" style="background: url('<%= image_path 'smartadmin/svg/pattern-1.svg' %>') no-repeat center bottom fixed; background-size: cover;">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
              <div class="card p-4 rounded-plus bg-faded">
                <%= yield %>
              </div>
            </div>
          </div>
          <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
            <%= Rails.configuration.copyright_inverse %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
