<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' %>
    <%#  Optional: page related CSS  %>
    <%= yield :head_block %>

    <%= stylesheet_link_tag 'freightspot/styles', media: 'screen, print' %>
    <%= stylesheet_link_tag 'smartadmin/fa-brands', media: 'screen, print' %>
    <%= stylesheet_link_tag 'smartadmin/fa-duotone', media: 'screen, print' %>
    <%= stylesheet_link_tag 'smartadmin/fa-regular', media: 'screen, print' %>
    <%= stylesheet_link_tag 'smartadmin/fa-solid', media: 'screen, print' %>


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
  </head>

  <!-- BEGIN Body -->
  <!-- Possible Classes

    * 'header-function-fixed'         - header is in a fixed at all times
    * 'nav-function-fixed'            - left panel is fixed
    * 'nav-function-minify'        - skew nav to maximize space
    * 'nav-function-hidden'           - roll mouse on edge to reveal
    * 'nav-function-top'              - relocate left pane to top
    * 'mod-main-boxed'                - encapsulates to a container
    * 'nav-mobile-push'               - content pushed on menu reveal
    * 'nav-mobile-no-overlay'         - removes mesh on menu reveal
    * 'nav-mobile-slide-out'          - content overlaps menu
    * 'mod-bigger-font'               - content fonts are bigger for readability
    * 'mod-high-contrast'             - 4.5:1 text contrast ratio
    * 'mod-color-blind'               - color vision deficiency
    * 'mod-pace-custom'               - preloader will be inside content
    * 'mod-clean-page-bg'             - adds more whitespace
    * 'mod-hide-nav-icons'            - invisible navigation icons
    * 'mod-disable-animation'         - disables css based animations
    * 'mod-hide-info-card'            - hides info card from left panel
    * 'mod-lean-subheader'            - distinguished page header
    * 'mod-nav-link'                  - clear breakdown of nav links

    >>> more settings are described inside documentation page >>>
  -->
  <body>
    <%= yield %>
  </body>
  <!-- END Body -->

<%= yield :scripts_block %>
</html>
